[2017-10-17 13:16] abdouskamel commented on #1769
Thank you, so i'll create a folder in selection-algorithms ?

[2017-10-17 13:17] AdiChat commented on #1770
@Nufflee `C#` is warmly welcomed at *Cosmos*.

We do have have `C#` contributions but it needs some time to dominate over other languages at *Cosmos* 😄

[2017-10-17 13:23] tbhaxor commented on #1711
@AdiChat bro my prev pull req is not merged and closed
I m not unable to create a new PR

[2017-10-17 13:29] abdouskamel commented on #1769
Thank you, i've made a pull request.

[2017-10-17 13:39] lamar-frankie opened #1774 "Design Patterns"
Hi, I'm Frank. I really like this project and I want to contribute. Would you consider adding a section for Design Patterns?

[2017-10-17 13:41] amankh99 commented on #181
@AdiChat , Please review this backtracking part of edit distance of O(m*n) space complexty. [pull request](https://github.com/OpenGenus/cosmos/pull/1773)

[2017-10-17 13:46] AdiChat commented on #1774
Yes. Design patterns are certainly important and we would love to have a section dedicated to it 👍

[2017-10-17 13:57] AdiChat commented on #1711
Use topic branches. We will merge soon 👍

[2017-10-17 14:02] karanchawla opened #1776 "Add union of rectangles"
Given rectangles with heights and start and end points, find their union. Will add a sweep algorithm based approach in cpp by today evening.

[2017-10-17 14:26] tbhaxor commented on #1711
Ohk i will create topic branches on local and merge with master thnx bro :+1:

[2017-10-17 14:45] d3vil0p3r commented on #1744
Adding one in C/C++ to the same folder `code/cryptography/morse_cipher/` 👍

[2017-10-17 14:47] d3vil0p3r commented on #1744
Implementing this in C/C++ to the same folder `code/cryptography/morse_cipher/` 👍

[2017-10-17 14:56] AdiChat commented on #314
Sure 👍

[2017-10-17 15:13] karanchawla opened #1784 "Min size sub array with the same degree as the original array"
Given a non-empty array of non-negative integers nums, the degree of this array is defined as the maximum frequency of any one of its elements.

The task is to find the smallest possible length of a (contiguous) subarray of nums, that has the same degree as nums.

For e.g:
[code]

Adding a PR for CPP version for this using unordered_map.

[2017-10-17 15:19] AdiChat commented on #1380
Sure @accakks Go for it 👍

[2017-10-17 15:24] karanchawla commented on #1784
Please review https://github.com/OpenGenus/cosmos/pull/1785

[2017-10-17 15:44] tbhaxor opened #1788 "create fcfs in any language"
create code fof FCFS (first come first serve) algo in any language at **code/operating_system/first_come_first_serve**

@AdiChat  bro i am adding in `python3` and `csharp` in branch _OS_fcfs_

## What is FCFS?
_The first come, first served (commonly called FIFO ‒ first in, first out) process scheduling algorithm is the simplest process scheduling algorithm. It is rarely used in modern operating sy

[2017-10-17 15:50] #1403 closed

[2017-10-17 16:33] kefirski opened #1794 "Linear search Swift fix"
For now Swift linear search is quite strange, since we are searching for element in array and then try to find it with `.index` method again

[2017-10-17 16:45] kefirski opened #1796 "Haskell Factorial implementation"
I think that we have to add Factorial for Haskell

[2017-10-17 17:02] #1796 closed

[2017-10-17 17:09] kefirski opened #1799 "Scala Factorial"
We should add Scala factorial

[2017-10-17 17:28] arnavb opened #1804 "Code of Conduct"
**This is a(n)...**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal

**Details:**

According to [Github](https://github.com/OpenGenus/cosmos/community), this repository is not yet at community standards since we do not have a code of conduct. Should we add one?

[2017-10-17 17:47] kefirski opened #1807 "Haskell greatest in Number"
Need to add haskell implementation

[2017-10-17 17:54] kefirski opened #1810 "Haskell Smallest digit"
Need Haskell version of this algo

[2017-10-17 18:04] kefirski opened #1815 "Haskell num digits"
Need haskell implementation

[2017-10-17 18:13] yashkgp opened #1817 "Randomized Quick sort in c"
Implementation of randomized quick sort in c

[2017-10-17 18:18] yashkgp commented on #1817
Can i work on this Issue? @AdiChat

[2017-10-17 18:21] AdiChat commented on #1817
Sure. Go for it 👍

[2017-10-17 18:21] AdiChat commented on #1804
Yes. We must add it 👍

[2017-10-17 18:59] arnavb commented on #1804
But what kind? There are currently two, one for any size project, another for large size ones. You can look them over on the link I posted.

[2017-10-17 20:38] njgingrich opened #1831 "Morse code translation in Typescript"
**This is a(n):**
- [X] New algorithm

- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Implementation of morse code translation in Typescript.

[2017-10-17 21:42] Texla opened #1837 "Adding Bash script to generate morse code in cryptography/morse_cipher as morsecode.sh"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2017-10-17 21:42] prashant0598 commented on #1804
@arnavb Go with Contributor Covenant

[2017-10-17 21:51] arnavb commented on #1804
#1839

[2017-10-17 23:11] #1804 closed

[2017-10-18 00:43] AdiChat opened #1845 "Add code for Langton's ant in any language"
Add the code for `langton's ant` in any language ( `C`, `C++`, `JavaScript`, `Go`, `Swift` or any other)

The code should be placed at [code/cellular_automaton/langtons_ant](https://github.com/OpenGenus/cosmos/tree/master/code/cellular_automaton/langtons_ant)

**Note**: multiple contributors can work on this issue as it has multiple parts (languages)

Sample code: [Java](https://github.com/OpenGen

[2017-10-18 02:51] njgingrich commented on #1831
Fixed in #1832.

[2017-10-18 02:51] #1831 closed

[2017-10-18 04:29] RajatGarg97 commented on #1711
May I share Peterson's Algorithm in C++ ?

[2017-10-18 05:50] Agnishom commented on #1769
I implemented this in Python and Haskell. Sent two pull requests.

[2017-10-18 06:04] PrateekRanjanSingh commented on #1711
@AdiChat Can I add the algorithm for dining philosophers problem?

[2017-10-18 06:10] divyam3897 commented on #1711
@RajatGarg97 @PrateekRanjanSingh sure 👍

[2017-10-18 06:25] bmintz commented on #119
@keeferrourke what's your opinion on MIT? How does it differ?

[2017-10-18 08:30] iattempt opened #1861 "Unify folders’ and files’ name"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

unify folders and files name.
please also check that the folders or files has been **include/import,etc.**

if you done same thing, please refer the pull request to this issue

[2017-10-18 12:00] iattempt commented on #1861
please use sensitive OS to rename [.scala file in this folder](https://github.com/OpenGenus/cosmos/tree/master/code/mathematical-algorithms/factorial)

thanks😀

[2017-10-18 12:17] RajatGarg97 commented on #1711
Pl. review and merge the pull request #1876

[2017-10-18 12:59] yatharthshahjpr opened #1878 "Repetition of Quick_Sort Algorithm in the repository !"
In the following repository  : -
https://github.com/OpenGenus/cosmos/tree/master/code/divide_conquer

Quick sort algorithm is repeated twice and two codes for quick sort in C language are there.............I think we should merge both the folders and put all the codes for Quick_sort their itself !

[2017-10-18 13:08] abdouskamel commented on #1769
Good job !

[2017-10-18 13:24] arnavb commented on #1878
This cannot be done, as seen in this issue: #1047 and PR #1097. AdiChat said this cannot happen.

[2017-10-18 13:30] AdiChat commented on #1878
In this case, the two `quick sorts` folders must be merged as they are in the same directory `divide and conquer`.

😄 I meant duplicate folders in two different directories shall exist not in the same directory :swea

[2017-10-18 13:32] ReimuA opened #1880 "Adding knight tour in c."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I'd like to add my C version of the knight tour (backtracking) as it doesn't exist yet.

[2017-10-18 13:49] AdiChat opened #1882 "Add code for boolean parenthesization in any language"
Add the code for `boolean parenthesization` in any language ( `C`, `Swift`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/dynamic_programming/boolean_parenthesization/](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/boolean_parenthesization)

Sample `C++` code: [here](https://github.com/OpenGenus/cosmos/blob/master/code/dynamic_programming/boole

[2017-10-18 13:53] Abhishek2019 commented on #1788
is it fine if i provide java code for FCFS (First in First Out)?

[2017-10-18 14:01] Abhishek2019 commented on #1038
Let me implement this for you in python3
is it fine?

[2017-10-18 14:12] Abhishek2019 commented on #392
Let me implement b_tree in python3?

[2017-10-18 14:38] AdiChat commented on #1038
Sure @Abhishek2019 Go for it 👍

[2017-10-18 14:39] Vitorvgc opened #1895 "Add box stacking solution in any language"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add the code for the `box stacking` problem in any language.

The code should be placed at [code/dynamic_programming/box_stacking](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/box_stacking)

For contribution guidelines, see [this](http

[2017-10-18 14:42] Vitorvgc commented on #1895
Added C++ implementation: #1896

[2017-10-18 15:01] Vitorvgc commented on #1861
For such cases, I find [git mv](https://git-scm.com/docs/git-mv) quite useful to solve these problems.

[2017-10-18 15:40] tbhaxor commented on #1788
I have a request plz include a function of printing gantt chart like i have modified in my PR 1903

[2017-10-18 15:42] iattempt commented on #1861
@Vitorvgc
thank for comment,

I'd try this "git mv" command to move files,
and it seems only works on "only one file" to change case,

but there is two files what with two case version in same directory,
then I can't using this method to fix it.

[2017-10-18 16:09] Abhishek2019 commented on #1788
ya sure
i will change my java code and create pull again.
Thanks for suggestion

[2017-10-18 16:27] ron-debajyoti commented on #1895
I will try to add the python implementation.

[2017-10-18 16:45] keeferrourke commented on #119
MIT is mostly equivalent to ISC, however the ISC licence has more concise wording.

In nearly all use-cases, I prefer the ISC license over the MIT.

[2017-10-18 16:48] ron-debajyoti commented on #1895
Added python implementation. PR #1910

[2017-10-18 18:18] arnavb opened #1915 "Stop Using <bits/stdc++.h> for Portability"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [x] Proposal to the Repository

**Details:**

I was googling up about the header file `<bits/stdc++.h>`, and found that it is consider generally bad practice to use it, because it is nonportable (It only works on g++, not MSVC or XCode).

1. ([Source](https://stackoverflow.com/a/31816096/6525260))
2. ([Sourc

[2017-10-18 18:39] tbhaxor commented on #1915
@arnavb yes its a bad practice coz it binds all header files and std library

[2017-10-18 20:11] marti1125 commented on #1895
I will implement Java version

[2017-10-18 20:30] arnavb commented on #1915
I will open a PR soon that will attempt to solve this. Also, I think we should mandate any new PRs to NOT use the header file, but to directly include the STL files.

[2017-10-18 21:37] zmunro commented on #1895
I will add a C implementation :)

[2017-10-18 21:45] tbhaxor opened #1927 "add Check_is_square in any language"
i am adding check_is_square in `php` and `csharp`

[2017-10-18 22:03] blockloop commented on #1927
I'll try for C#

[2017-10-18 22:07] tbhaxor commented on #1927
@blockloop i have commited now bro

[2017-10-18 22:08] blockloop commented on #1927
Sorry. I misread the opened PR. Thought you were requesting it to be done. :)

[2017-10-18 22:26] AdiChat commented on #1927
@blockloop Kindly take a look at other scopes of contribution. We have plenty 😄

[2017-10-18 22:40] blockloop opened #1935 "reverse number in csharp and go"
May I implement reverse number in csharp?

[2017-10-18 22:41] AdiChat commented on #1935
Sure 😄  Go for it 👍

[2017-10-18 22:57] eukaryote31 commented on #1744
I'm implementing this in brainfsck.

[2017-10-18 23:06] CaramelHeaven opened #1940 "Adding new folders for new mathematical algorithms."
Can we create some code from interpolation polynomials? Like Lagrange or Newton, + divided differences.

- Divided differences - release. Watch in math.

- Lagrange polynomial - Completed.

-  Newton polynomial - Completed.

[2017-10-18 23:08] AdiChat commented on #1940
Sure 😄 Go for it 👍

You might want to add the new directory under `mathematical algorithms` 👍

[2017-10-18 23:11] CaramelHeaven commented on #1940
Okay. Thank you for you answer.

[2017-10-18 23:42] blockloop commented on #1935
Done!

[2017-10-19 00:31] sidmishraw opened #1943 "There are 2 factorial implementation files for Scala, Factorial.scala and factorial.scala"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [x] Proposal to the Repository

**Details:**

There are 2 factorial implementations in Scala namely [Factorial.scala](https://github.com/OpenGenus/cosmos/blob/master/code/mathematical-algorithms/factorial/Factorial.scala) and [factorial.scala](https://github.com/OpenGenus/cosmos/blob/master/code/mathematical

[2017-10-19 02:24] marti1125 commented on #1845
I will implement Javascript version

[2017-10-19 05:56] #1935 closed

[2017-10-19 06:57] bhaargav006 opened #1962 "Add diameter of trees algorithm"

[2017-10-19 08:44] iattempt commented on #1962
I’ll try to implement an cpp version.

[2017-10-19 09:02] AdiChat commented on #1962
We have a directory for [diameter of binary tree](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/tree/binary_tree_diameter) under `data structures/ tree`. We may need to move it to `graph_algorithms` 👍

[2017-10-19 10:00] shivamgpt38 opened #1975 "adding is_square js"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-19 10:03] #1975 closed

[2017-10-19 11:05] shreyneil commented on #1962
I have made a pull request(https://github.com/OpenGenus/cosmos/pull/1982) with regard to this issue please go through it.

[2017-10-19 13:03] tbhaxor opened #1991 "add amicable numbers in any language"
i am adding in `csharp`

[2017-10-19 13:09] lordozb commented on #1927
Can I add in python and Java?

[2017-10-19 13:27] AdiChat commented on #1927
Sure @lordozb Go for it 👍

[2017-10-19 13:36] iattempt commented on #1943
refer to #1861

[2017-10-19 13:49] ansonb commented on #1845
I'll implement in python

[2017-10-19 14:14] doubledare704 commented on #1991
I'm adding python version

[2017-10-19 15:14] wirabdillah commented on #760
I have implemented Fenwick Tree in Go #2001.

[2017-10-19 15:15] kakshay21 commented on #1927
Can I add in Swift?

[2017-10-19 15:19] theodesp opened #2002 "Update Union Find implementation to be consistent. Add implementation in Go"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

* Update the readme to be more consistent with the Union find API
* Add implementation in Go
* Refactor method names to reflect the Union find API

[2017-10-19 15:20] dowoncha commented on #1788
I put in a request for this in Rust

[2017-10-19 15:34] lordozb commented on #1927
@AdiChat Fixed the code for Java

[2017-10-19 16:18] AdiChat commented on #1927
Sure @kakshay21 Go for it 👍

[2017-10-19 17:06] kakshay21 commented on #1389
I'll add in swift @AdiChat

[2017-10-19 17:20] shivamgpt38 commented on #1991
i'm adding javascript version

[2017-10-19 17:57] ansonb commented on #1845
My bad....I just checked, it is already implemented in python

[2017-10-19 19:11] dowoncha commented on #1991
I'm adding Rust

[2017-10-19 20:56] AdiChat opened #2033 "Add coding style guides for any language"
Add coding styles and standards for a particular language

**Note**: This is expected to be the followed standard for _Cosmos_ in near future so, this is an important scope of contribution

Location: [guides/coding_style/](https://github.com/OpenGenus/cosmos/tree/master/guides/coding_style)

For instance, the coding style for `Java` should be placed in the [Java](https://github.com/OpenGenus/cosmo

[2017-10-19 21:21] chrisatanasian commented on #1991
I'll add ruby.

[2017-10-20 01:19] hnrytrn commented on #1122
Hey, can I add a Python implementation?

[2017-10-20 03:19] iattempt commented on #1943
#1942 fixed error

[2017-10-20 04:33] guyr101 commented on #2033
Can I add Python?

[2017-10-20 05:00] santhoshKodi opened #2053 "To add README.md to Flashsort"
Hi, I'm Santhosh

i would like to contribute by adding  README.md to Flashsort. Shall I?

[2017-10-20 05:53] AdiChat commented on #2053
Sure. Go for it 👍

[2017-10-20 06:43] santhoshKodi commented on #2053
Added ,
Thank you

[2017-10-20 06:43] #2053 closed

[2017-10-20 07:34] InfiniteCoder opened #2084 "Some programs need to be updated to make them platform independent"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [X] Proposal to the Repository

**Details:**

Some programs are using legacy and platform dependent code, which make them less helpful for people who do not use those platforms. For example, [Programs using conio.h](https://github.com/OpenGenus/cosmos/search?utf8=%E2%9C%93&q=conio.h&type=). These need to be

[2017-10-20 07:44] ckylee commented on #1744
I will implement in java (again) x)

[2017-10-20 07:47] sidmishraw opened #2086 "Add JS implementation for bloom filter"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding a JS implementation of the bloom filter. The initial implementation will have the following hash functions:
* FNV
* FNV-1a

`-Sid`

[2017-10-20 10:19] AdiChat opened #2108 "Add code for genetic algorithm in any language"
Add the code for `genetic algorithm` in any language ( `C`, `C++`, `JavaScript`, `Go`, `Python` or any other)

The code should be placed at [code/cellular_automaton/genetic_algorithm](https://github.com/OpenGenus/cosmos/tree/master/code/cellular_automaton/genetic_algorithm)

Sample `Java` code: [see](https://github.com/OpenGenus/cosmos/blob/master/code/cellular_automaton/genetic_algorithm/genetic_

[2017-10-20 10:25] teleginzhenya commented on #1927
Can I make it with JavaScript?

[2017-10-20 10:30] d3vil0p3r commented on #1744
Thanks @sgrG24 for implementation in C++. Going to implement this in Lua now 👍

[2017-10-20 10:51] d3vil0p3r commented on #1744
@AdiChat #2111

[2017-10-20 14:01] eukaryote31 commented on #1744
Is it okay if I only implement a generator for brainfsck?

[2017-10-20 14:01] abdouskamel commented on #2084
I think that in the case of conio, it's just about showing the results of calcutation or getting input from the user, it doesn't have a real impact on algorithms.

[2017-10-20 14:13] Croolis commented on #2033
Hi, I want to discuss this topic with one of maintainers. How can I contact any of you outside of github?

[2017-10-20 14:20] AdiChat commented on #1927
Sure @teleginzhenya Go for it 👍

[2017-10-20 14:58] AliKarpuzoglu opened #2143 "Very easy fix: Change Java class names and match the file names"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x ] Proposal to the Repository

**Details:**
Java classes should all have names starting with a capital letter. They should also have matching file names otherwise they won't compile. Very easy to fix

[2017-10-20 15:12] InfiniteCoder commented on #2084
@abdouskamel It is, but it makes the program unusable (at least out of the box) on most of the systems. Turbo C is an outdated compiler which should not be used anymore. So code should be written in a platform independent way, so that anyone who uses any of the recent compilers and systems, like gcc, should be able to run the program.

[2017-10-20 15:49] edgardmota commented on #2143
@AliKarpuzoglu , I'll do this one!

[2017-10-20 15:50] abdouskamel commented on #2084
Of course, you cannot copy/paste those programs and run them. I saw that most programs include conio.h just to get access to getch(). This is easy to fix.

[2017-10-20 15:57] ajiteshr7 opened #2150 "Remove use of platform specific libraries in C"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

Few C programs are using platform specific libraries.

[2017-10-20 16:13] ishikasoni commented on #2108
I would like to take up this task and add a genetic algorithm in C++.

[2017-10-20 16:41] arnavb commented on #2033
I will take this on in C++.

[2017-10-20 16:54] gDanix opened #2166 "Implementing Binary Search in Scala"
**This is a(n):**

- [ ] New algorithm
- [X] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implementing Binary Search in Scala

[2017-10-20 17:28] iattempt opened #2170 "Implement arne-andersson-tree in any language"
**This is a(n):**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
[wiki](https://en.wikipedia.org/wiki/AA_tree)

[2017-10-20 18:22] jmm140330 commented on #1845
I'll give it a try in C.

[2017-10-20 21:53] the-saif-ahmad commented on #2033
Should we require Java source files to have a class matching their file name?

[2017-10-20 22:12] paul0vinicius commented on #2166
Hi. I would like to do this one (:

[2017-10-20 22:13] JMGama commented on #2108
I would like to take this task and upload an algorithm with Python

[2017-10-21 00:13] jwdonahue commented on #2084
I've cloned the repo and I have a lot of experience taking old compiler/OS specific code and making it portable.  Any priorities or should just search for conio.h and wade in?

[2017-10-21 00:52] jwdonahue commented on #2084
Oh, never mind, I just read the coding style guidelines.  No way I am ever going to write C or C++ code in KNF, it's arbitrary and indefensible.  No coding guidelines should ever require anything that common code beautifiers can't convert to/from.  Provide me with a tool that takes well written C/C++ code, and outputs acceptable KNF, and we can talk.

[2017-10-21 01:02] CornChowder opened #2201 "Add Sieve of Atkin, any language"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I will add Sieve of Atkin in Python.

[2017-10-21 02:19] sidmishraw opened #2204 "Add Java implementation for a bloom filter"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add Java implementation for a bloom filter.

[2017-10-21 05:07] abhi-rao commented on #2204
Hi, I would like to work on it.

[2017-10-21 05:25] zorawar87 commented on #1637
I'll take this!

[2017-10-21 05:51] warlockz opened #2217 "Add observer design pattern in design pattern section"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ x] Proposal to the Repository

**Details:**
 Add observer design pattern code.

[2017-10-21 06:20] warlockz commented on #1774
Adding design pattern section will be fixed with issue #2217

[2017-10-21 06:27] sidmishraw commented on #2204
I've added the implementation. Refer #2205

Caveats:
* Needs a hash mix, will implement Murmur3 hash function utility soon.

[2017-10-21 07:09] AnkitaKhurana commented on #2201
A new python file has been added for the same.

https://github.com/OpenGenus/cosmos/pull/2225

[2017-10-21 07:24] abhising10p14 commented on #2108
I would like to take this task with the genetic algorithm and a corresponding fitness function being implemented in python.  It includes all the factors of GA i.e crossing and mutation and easily explained

[2017-10-21 07:39] gDanix commented on #2166
Sorry, I'm already doing that

El 21 oct. 2017 12:12 a. m., "Paulo Vinicius Soares" <
notifications@github.com> escribió:

[2017-10-21 08:58] fisian opened #2230 "Add implementations of elementary cellular automatons"
**This is a(n):**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Add implementations of elementary cellular automatons.
For details see [Wikipedia: Elementary cellular automaton](https://en.wikipedia.org/wiki/Elementary_cellular_automaton)

[2017-10-21 11:10] #2002 closed

[2017-10-21 11:52] dare-rider opened #2239 "Recursion & Backtracking: Crossword Puzzle"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
https://www.hackerrank.com/challenges/crossword-puzzle/problem

[2017-10-21 11:54] dare-rider commented on #2239
I will upload a JAVA solution, rest are also welcome.

[2017-10-21 13:03] dare-rider commented on #2239
Please review the commit and merge.

[2017-10-21 13:09] ashishlakhani04 opened #2249 "Unique Number 2"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Bit-Manipulation -> Unique No. 2

Problem Statement:- Given 2n + 2 numbers where every number is occuring twice except two unique numbers. We have to find the unique numbers efficiently.

I  wiil give cplusplus implementation

[2017-10-21 13:19] ashishlakhani04 commented on #2249
#2252
Please Merge Unique Number 2 Implementation in cplusplus.

[2017-10-21 15:30] edwardrichtofen115 commented on #1927
I'M doing this in c++

[2017-10-21 16:01] edwardrichtofen115 commented on #1430
Kindly check it's implementation in c.
#2259

[2017-10-21 17:05] #2217 closed

[2017-10-21 18:15] eukaryote31 opened #2264 "Implement Hamming Weight"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hamming Weight is the number of set bits in a given integer,

[2017-10-21 18:44] warlockz opened #2265 "Issue : Implement program to determine endianness of machine required during network data transfer."
**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ x] Proposal to the Repository

**Details:**
To add endianess program and add networking directory which consist of networking related algorithms

[2017-10-21 18:52] warlockz commented on #2265
Can any one Please add hacktoberfest label to this issue ?

[2017-10-21 18:53] warlockz opened #2267 "Issue: Add a program to determine whether IP is valid or invalid."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Add a program to determine whether IP is valid or invalid.

[2017-10-21 18:56] warlockz opened #2268 "Issue : Implement sizeof() function to determine the size of datatype."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Implement sizeof() function to determine the size of datatype.

[2017-10-21 19:17] sidmishraw commented on #2204
Merged with the master, closing issue.

[2017-10-21 19:17] #2204 closed

[2017-10-21 19:33] AdiChat commented on #2265
Sure. Enjoy 😄

[2017-10-22 01:02] Kansattica commented on #2267
Are you thinking "this string of the form www.xxx.yyy.zzz has all its segments less or equal to 255"?

[2017-10-22 03:43] warlockz commented on #2267
yes

[2017-10-22 03:57] shamamaz opened #2288 "Add "no consecutive 1s" (Dynamic Programming)"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Add the code for the `no consecutive ones` problem. Link can be found [here](http://www.geeksforgeeks.org/count-number-binary-strings-without-consecutive-1s/)

[2017-10-22 03:58] shamamaz commented on #2288
hacktoberfest label please :)

[2017-10-22 04:05] warlockz opened #2289 "Issue : Updating Contribution List or file."
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Updating Contribution List or file.

[2017-10-22 04:48] shamamaz opened #2291 "Implement "no consec 1s" in python"
**Details:**
Solves #2288

Added in new folder code/dynamic_programming/no_consec_ones.

[2017-10-22 05:21] konqr commented on #2267
I'd like to do this

[2017-10-22 05:22] Kansattica commented on #2267
Be my guest. I have my Hacktober pull requests done.

[2017-10-22 05:35] sidd607 opened #2297 "LZW compression algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to add Lempel-Ziv-Welch (LZW) compression algorithm.

[2017-10-22 06:31] sidd607 commented on #2297
@AdiChat where do I add the code?

[2017-10-22 07:42] iattempt opened #2305 "implement data compression algorithms in any language"
**This is a(n):**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
the folder will be [here](https://github.com/OpenGenus/cosmos/tree/master/code/compression)

[2017-10-22 07:42] iattempt commented on #2297
refer to #2305

[2017-10-22 08:01] adhaamehab opened #2306 "Add red_black_tree python implementation"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

data_structures/red_black_tree.py
there is now python Implementation, so I think I should work on it :D

[2017-10-22 08:32] ansonb commented on #652
Please review the implementation in python #2309

[2017-10-22 09:24] Q-Mart commented on #1380
@AdiChat Can I do this in Scala?

[2017-10-22 12:01] Q-Mart commented on #1380
Added a scala implementation in #2322, feel free to accept/decline

[2017-10-22 12:06] Q-Mart opened #2324 "Add a scala circular linked list implementation"
**This is a(n):**

- [ X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to implement a circular linked list in scala

[2017-10-22 12:45] Q-Mart commented on #2324
Added a PR for this #2325

[2017-10-22 12:55] #1837 closed

[2017-10-22 12:58] Q-Mart opened #2326 "Add a Scala Merge Sort implementation"
**This is a(n):**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I wish to add an implementation of merge sort in Scala

[2017-10-22 13:14] Texla opened #2329 "Adding Bash Script to validate ip address in /networking/validate_IP as validate_ip.sh"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-22 13:26] Q-Mart opened #2333 "Add Scala Sleep Sort implementation"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I would like to implement sleep sort in Scala

[2017-10-22 15:38] hg398 commented on #2267
Can I add a solution in C++?

[2017-10-22 16:03] #2329 closed

[2017-10-22 17:48] abhanshgiri21 commented on #2305
hey, i have the python code. How do i add it?

[2017-10-22 18:24] shivsan opened #2346 "Add different solution for the thrice unique problem"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I want to add a different solution to this problem other than counting the number of times the bits are checked.
This is more efficient in both space and time in that the constants are smaller.

[2017-10-22 18:32] AdiChat commented on #2305
@abhanshgiri21 You need to clone _Cosmos_, commit to your local workspace and then, open a pull request. We will review and merge it to *Cosmos* 👍

[2017-10-22 19:04] anuragaryan opened #2349 "Add Installation Guide for Golang (mac)"
**This is a(n):**
- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository
- [x] New installation Guide

**Details:**

Go installation guide for mac is missing.

[2017-10-22 20:13] shivsan opened #2354 "Add singleton pattern in C#"
**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Added singleton pattern implementation in c#.
Taken advantage of language features to simplify code.

[2017-10-23 00:14] tomlazar commented on #1239
This should be marked closed since a implementation was added

[2017-10-23 00:15] tomlazar commented on #1632
This should be closed.

[2017-10-23 03:37] deesims commented on #2267
May I add one in golang ?

[2017-10-23 05:53] warlockz commented on #2267
Yea Sure add it. Happy Coding.☺

[2017-10-23 05:54] warlockz commented on #1774
Please close this issue

[2017-10-23 07:03] visin opened #2368 "Add installation guide for Python on Mac, Windows and Linux"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository
- [ x] New installation Guide

**Details:**
Python installation guide for Mac, Windows and Linux platforms is missing.

[2017-10-23 07:18] deesims commented on #2368
I got the linux, easiest one :D

[2017-10-23 08:16] visin commented on #2368
I'll do the windows one in a bit then ✌️

[2017-10-23 09:58] #1774 closed

[2017-10-23 13:13] the-ethan-hunt opened #2376 "Add Bresenham's line algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add the algorithm in any language(`C++`, `Python`, `Java`, `Swift`, `Go `or any other language).
Add them [here](https://github.com/OpenGenus/cosmos/tree/master/code/bit-manipulation)

[2017-10-23 15:31] jigyasa18 commented on #2268
I would like to do this

[2017-10-23 15:52] moore3071 opened #2383 "Red Black Tree removal in Java"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The Java implementation of Red Black Tree needs deletion/removal implemented.

[2017-10-23 17:17] leodevo opened #2386 "Add Singleton Pattern in C++"
**This is a(n):**

- [ ] New algorithm
- [ x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Add singleton Add Singleton pattern in C++

PS : It would probably make more sense to merge it with issue : #2354 Add singleton pattern in C# in order to not open an issue for each language.

[2017-10-23 17:42] #1239 closed

[2017-10-23 19:06] kevinmmurphy commented on #2386
Can I take this one?

[2017-10-23 23:45] Spensaur-K commented on #1616
I'll have a crack at it

[2017-10-24 01:15] JMGama commented on #2108
#2400

[2017-10-24 03:07] etrexel opened #2405 "Add quick sort in golang"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding a golang implementation of quick sort

[2017-10-24 03:15] etrexel commented on #2405
Didn't realize this was already completed.

[2017-10-24 03:15] #2405 closed

[2017-10-24 03:20] daacaceressa opened #2406 "Add implicit treap implementation"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-24 03:30] etrexel opened #2408 "Shaker sort implementation in golang"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-24 06:29] skywalker212 commented on #2383
can I work on it?

[2017-10-24 08:01] janakrajchadha opened #2417 "Add binary to integer in Python"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Code for integer to binary conversion in Python is available. However, binary to integer in Python isn't available.

[2017-10-24 08:05] janakrajchadha commented on #2417
@AdiChat Please take a look :)

[2017-10-24 08:46] etrexel opened #2419 "Add factorial implementation in golang"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-24 09:26] Prasanth-G commented on #2267
Added java code for validating IPv4 address.

[2017-10-24 09:41] janakrajchadha opened #2421 "Add linear regression solutions in MATLAB"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add function to calculate coefficients for linear regression in MATLAB using gradient descent.

[2017-10-24 09:42] janakrajchadha commented on #2421
@AdiChat Is code in MATLAB acceptable?

[2017-10-24 10:00] AdiChat commented on #2421
Yes @janakrajchadha 😍

[2017-10-24 10:32] AdiChat commented on #2383
Sure @skywalker212 Go for it 👍

[2017-10-24 10:33] AdiChat commented on #2268
Sure @jigyasa18 Go for it 👍

[2017-10-24 12:17] jainnipun opened #2425 "Implement "No consecutive 1s" in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Details:
Solves #2288

Added in new folder code/dynamic_programming/no_consec_ones

[2017-10-24 12:45] moore3071 opened #2429 "Red Black Tree Removal in Scala"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Currently there's no implementation of removal for RBT in Scala.

[2017-10-24 12:46] moore3071 opened #2430 "Red Black Tree removal in C++"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The C++ implementation of Red Black Trees needs removal/deletion implemented.

[2017-10-24 12:48] moore3071 commented on #2383
@skywalker212, if you feel like a polyglot, maybe consider tackling #2429 and #2430 once you're done with this. It's just implementing the same algorithm in Scala and C++ respectively.

[2017-10-24 13:52] mudit8560 commented on #2425
I am interested in it.Please guide me what I have to do in this.

[2017-10-24 13:58] #2386 closed

[2017-10-24 15:39] Vaibhav1671998 commented on #2417
@AdiChat Can i implement this ?
 A Code to convert a Number from BINARY TO DECIMAL in python ?

[2017-10-24 16:13] arcade0 commented on #2425
hello , I'm interested in implementing this algorithm. please guide me how to do it.

[2017-10-24 16:15] arcade0 commented on #2291
Hello . I'm interested in implementing this Algorithm. Please guide me how to do this.

[2017-10-24 17:27] GingerDragon7 commented on #2376
i am interested to work in it

[2017-10-24 17:36] moore3071 opened #2439 "Single directory for overlapping problems in greedy-algorithms and graph-algorithms"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

There are three algorithms that overlap, between `code/greedy-algorithms` and `code/graph-algorithms`. There should be a single directory for each algorithm in `code/graph-algorithms` and a symlink to that directory in `code/greedy-algorithms`.

**How it should l

[2017-10-24 18:22] sidmishraw commented on #2086
Added code, merged hence closing this issue.

[2017-10-24 18:22] #2086 closed

[2017-10-24 18:23] sidmishraw commented on #1943
Closing issue.

[2017-10-24 18:23] #1943 closed

[2017-10-24 19:00] HrushikeshChoudhary opened #2445 "Insertion Sort algorithm in C#"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Adding the Insertion Sort algorithm in [C#]

[2017-10-24 19:06] skywalker212 commented on #2383
okay!

[2017-10-24 19:33] Texla opened #2447 "Add bash script to calculate average in /unclassified/average as average.sh"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-25 05:50] shamamaz commented on #2291
hi! this is a dynmamic programming algorithm, and I've already made a pull request with python code. however, if you want to do it in another language, please look at this [PR](https://github.com/shamamaz/cosmos/commit/e8b759f0f3b055f7bce89404e441299124aa6c1a) to see the problem statement.

[2017-10-25 06:09] janakrajchadha opened #2457 "Add analytical solution for linear regression in MATLAB"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add algorithm to find coefficients for linear regression using the normal equation.
![image](https://user-images.githubusercontent.com/13016251/31983048-2f074432-b979-11e7-8886-26003fc931ec.png)

[2017-10-25 06:45] AdiChat commented on #2425
@mudit8560 @arcade0 You need to clone _Cosmos_, commit changes to your local working copy and create a pull request 👍

[2017-10-25 06:45] AdiChat commented on #2417
Sure @Vaibhav1671998 Go for it 👍

[2017-10-25 06:46] AdiChat commented on #2376
Sure @GingerDragon7 Go for it 👍

[2017-10-25 06:48] Vaibhav1671998 commented on #2417
Assign this to me if u can :)

On Wed, Oct 25, 2017 at 12:15 PM, 阿迪亞 查特吉 <notifications@github.com> wrote:

[2017-10-25 06:51] Vaibhav1671998 commented on #2417
Thanks mate :)

On Wed, Oct 25, 2017 at 12:20 PM, 阿迪亞 查特吉 <notifications@github.com> wrote:

[2017-10-25 06:52] jainnipun commented on #2425
@mudit8560  @arcade0
This is a simple algo counting the number of all binary representations having non - consequtive 1s for given length.
e.g. for for given length 3

All possible binary representations:
000
001
010
011
100
101
110
111

but of these 3 representations have consecutive 1s (011, 110 , 111)
so for input=3 output =5.

Logic followed here is that we start building our vector from base

[2017-10-25 07:34] karanrazdan commented on #2267
Hey! Is it okay if I write the code for Ruby?

[2017-10-25 08:10] Vaibhav1671998 commented on #2417
@AdiChat The code for converting BINARY TO INT is already there . What thing i can implement there ?

[2017-10-25 08:16] janakrajchadha opened #2466 "Fix slack link"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

Slack link in Readme doesn't work.
Need to fix it.

[2017-10-25 08:30] sanath-Sunkad opened #2467 "create readme file for mathematical algorithms section"
adding readme file for all the mathematical algorithms as they are missing.

[2017-10-25 08:55] karanrazdan commented on #2306
Can I take a crack at it?

[2017-10-25 08:59] #2466 closed

[2017-10-25 08:59] AdiChat commented on #2466
Merged 👍

[2017-10-25 09:00] AdiChat commented on #2306
Sure @karanrazdan Go for it 👍

[2017-10-25 09:01] AdiChat commented on #2417
@Vaibhav1671998 You may try to implement it in a language whose implementation is not here.

[2017-10-25 10:33] Vaibhav1671998 commented on #2417
ok i will see to it

On Oct 25, 2017 2:31 PM, "阿迪亞 查特吉" <notifications@github.com> wrote:

[2017-10-25 10:51] piyu007 commented on #26
I'll add the code in c++

[2017-10-25 11:02] eliassilva8 opened #2474 "Add convertToRoman in Javascript"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Convert a number into a roman numeral.

[2017-10-25 11:33] enumbutz commented on #2445
take a look, pls :+1:

[2017-10-25 11:48] skydans commented on #2417
#2476
Added a comment to give detail on what the algorithm is doing

[2017-10-25 12:05] skydans commented on #807
Done PR java implementation. #2478

[2017-10-25 13:03] moghya commented on #2474
@eliassilva8 @AdiChat assign this to me.

[2017-10-25 16:30] Sirius207 opened #2484 "Implement Q Learning (A basic algorithm of reinforcement learning)"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[Q Learning](https://en.wikipedia.org/wiki/Q-learning) is a model-free [reinforcement learning](https://en.wikipedia.org/wiki/Reinforcement_learning) algorithm.

[2017-10-25 16:32] Sirius207 commented on #2484
Send PR with #2485

[2017-10-25 17:03] Gupta-shifali commented on #737
Can I implement this in c++?

[2017-10-25 17:16] HrushikeshChoudhary opened #2487 "Implementing binary tree in java"
**This is a(n):**
- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Adding implementation of binary tree in java under b_tree in data_structure.
Program will perform the binary tree operations that is give the status of the Binary Tree, the preoder traversal, the postorder traversal and the inorder traversal of the Binary Tree, et

[2017-10-25 18:42] miltoskat opened #2493 "Added new factorial method"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Added a new file in python that uses what i call the half reverse method
to calculate factorial. More details in the code. Happy Hacktoberfest! PR [#2492 ](https://github.com/OpenGenus/cosmos/pull/2492)

[2017-10-25 18:46] HrushikeshChoudhary opened #2494 "Adding dijkstra_shortest_path using greedy-algorithms in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Adding dijkstra_shortest_path using greedy-algorithms in C

[2017-10-25 19:07] theodesp opened #2498 "Consolidate Heap folder and add implementation of PriorityQueue"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

* Move min_heap, max_heap into own folders
* Update readme
* Add implementation examples of priority_queues using a heap

[2017-10-25 20:02] matmcal opened #2505 "Add Prims in Haskell"
Add Prims minimum spanning tree in Haskell.

[2017-10-25 20:36] #2498 closed

[2017-10-26 03:19] rishav-pandey opened #2515 "Copied Code is found in some of the data-structure"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

I was reviewing some of the files and found that many of the codes are just been copied from internet and pasted here.
So please just don't copy the code and paste to show your contribution here. Your self made code and algorithm is only accepted here.

Thank You

[2017-10-26 10:05] Survivor75 commented on #2474
@eliassilva I would like to take this one.

[2017-10-26 10:50] AdiChat commented on #2474
Sure @Survivor75 Go for it 👍

[2017-10-26 10:51] AdiChat opened #2528 "Add search parameters for GitHub search for Cosmos"
**Objective**: Make GitHub search work well for searching for codes within Cosmos

**Solution**: Add search parameters to codes as a comment
Ideally, the `search parameter` should include the upper classification/ directories and the possible searchable problem statement. This must be done for all existing codes at Cosmos.

This is a simple and yet powerful enhancement can be performed by anyone i

[2017-10-26 12:09] AdiChat commented on #2515
Yes, this is a serious problem and few days back, we identified few such problems.

Thereon, we have taken this seriously in our review process. Though we did put a few contributions on hold due to such sources, certainly a few did slip under our eye.

We hope to make management of Cosmos better and easier than ever before.

[2017-10-26 17:39] vaibhav1729 opened #2549 "Beautifying the Readme file."
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Updating README.md file to make it more readable, accessible, etc.
Like adding links wherever needed to make content more accessible in this huge repository of codes

[2017-10-26 17:41] vaibhav1729 commented on #2549
Please review my PR #2241 in reference to this issue

[2017-10-26 19:13] EricAragorn opened #2556 "Add weight decay to neural network in artificial intelligence"
**This is an:**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Currently there is no weight decay or any kinds of weight regulation in neural_network.py
It would be helpful to add weight decay to generalize the data better

[2017-10-26 19:32] marti1125 commented on #2528
@AdiChat  please review my PR

[2017-10-27 04:42] anushree816 commented on #2493
Can i use any language?

[2017-10-27 05:43] anushree816 commented on #1380
Can i do this in C ?

[2017-10-27 05:52] the-ethan-hunt commented on #2515
IMHO, many contributors here are those who have recently joined open-source and maybe coding itself. Though they have copied the code of some algorithms, they have a "dictionary" that is not having other copied codes and this will help them to understand and develop their own code. So, maybe we should give a blind eye to such contributors.
I hope that OpenGenus allows itself to be more beginner-fr

[2017-10-27 06:01] AdiChat commented on #2493
Yes @anushree816 Go for it 👍

[2017-10-27 08:00] vchernoy opened #2578 "Python: fibonacci_memoized does not memoize"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

The `fibonacci_memoized()` function (`code/mathematical-algorithms/fibonacci_number/fibonacci.py`) does not memoize values cross recursion calls.

[2017-10-27 08:01] vchernoy commented on #2578
The fix in [PR-2461](https://github.com/OpenGenus/cosmos/pull/2461)

[2017-10-27 08:05] vchernoy opened #2579 "Swift: fibonnaciMemoized does not memoize"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

The `fibonnaciMemoized()` function (`code/mathematical-algorithms/fibonacci_number/fibonacci_memorized.swift`) does not memoize values cross recursion calls.

[2017-10-27 08:06] vchernoy commented on #2579
fixed in [PR-2462](https://github.com/OpenGenus/cosmos/pull/2462)

[2017-10-27 12:13] arnavb commented on #2033
**Coding Style Guide Completion Tracker:**
Use this to see which guides need to be completed!

- [ ] c#
- [ ] c++
- [ ] c
- [ ] elixir
- [ ] f#
- [ ] go
- [ ] java
- [ ] javascript
- [ ] kotlin
- [ ] lisp
- [ ] ml
- [ ] pascal
- [ ] php
- [ ] python
- [ ] ruby
- [ ] rust
- [ ] swift
- [ ] typescript

[2017-10-27 15:52] aish51197 commented on #669
I am adding a code in python.

[2017-10-27 17:26] miltoskat commented on #2493
@AdiChat so is my pr going to be merged?

[2017-10-27 17:50] arnavb opened #2611 "Add More Maintainers (With Write Access) to Cosmos"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
I think that given the amount of PRs and new issues that we are getting in this repository, more people need to be added that have write access and can merge PRs. I am not saying that this is _necessary_, but it will be beneficial in merging PRs and closing issues

[2017-10-27 17:51] arnavb commented on #2611
@AdiChat, please consider this, and if you agree, then please select some people who will have write access.

[2017-10-27 18:40] vchernoy commented on #2579
@shivansh, please note that that #2462 fixes this issue, there is not point to implement another fix.

Thank you.

[2017-10-27 18:42] vchernoy commented on #2578
@shivansh, please note that #2461 fixes this issue, there is not point to implement another fix.

Thanks

[2017-10-27 18:54] shivansh opened #2613 "Add iterative ternary search algorithm"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Iterative version of the currently implemented recursive ternary search algorithm.

[2017-10-28 00:20] etrexel opened #2619 "Add factorial in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-28 02:09] iattempt commented on #2430
I'll try to fix this.

[2017-10-28 14:39] parulagg27 commented on #711
@AdiChat Can I implement it in C?

[2017-10-28 14:47] siliconCupcake opened #2642 "Add Insertion Sort in Kotlin"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Insertion Sort in kotlin

[2017-10-28 15:48] Gupta-shifali commented on #2619
Can I implement this in c++ @AdiChat?

[2017-10-28 16:16] pruthiviraj71 commented on #2619
I added a new algorithm for factorial.

[2017-10-28 18:00] GingerDragon7 commented on #2642
i want to work on this

[2017-10-28 18:58] GingerDragon7 commented on #2619
Added Factorial in C using recursion technique #2656

[2017-10-28 19:09] GingerDragon7 opened #2657 "Add Bead Sort in PHP"
**This is a(n):**

- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Bead Sort in PHP

[2017-10-28 19:15] CaramelHeaven commented on #1940
The main idea is here. You can create it other way.

[2017-10-28 19:16] #1940 closed

[2017-10-28 20:34] rshah03 opened #2661 "Add Factorial in Javascript"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Can I add iterative, recursive, and tail-call optimized recursive version of factorial.

[2017-10-28 21:20] ZeroBlazer commented on #2033
I'm taking it on Rust!

[2017-10-28 21:26] AdiChat commented on #2661
Sure @rshah03 Go for it 👍

[2017-10-28 22:12] rshah03 commented on #2661
Added the TCO version of factorial in JavaScript. Was originally planning to add an iterative and non-TCO recursive version of the algorithm as well, but I don't know if an iterative approach is needed, and non-tco recursive was already written.

[2017-10-28 22:30] AdiChat commented on #2611
Yes, we need to expand our maintainer :family_man_man_boy_boy:  team and in my opinion, we have a few other contributors who can be great for the position. Initially, I planned to give write access to maintainers after _six months of active participation_.

For recent rough time, I have restricted a lot of freedom we had earlier but hope to restore them soon in a safe way. Moreover, write access i

[2017-10-29 02:01] iattempt opened #2672 "better way to store compression code (binary)"
recently, I'm try to add huffman(maybe more other) compression algorithm, I know how to build tree and extract to dictionary, but the store method is stupid:
I implement that change binary code to bitset(C++ library, which can convenient to set bit) and convert it to hex code, but the output file is larger then input file😫.

e.g.,
         0000101100000000000000000000000000000000000000000000000000

[2017-10-29 05:40] swapnilbaluja commented on #2487
please review #2680

[2017-10-29 06:20] GingerDragon7 opened #2682 "Add Prime Factors in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Prime Factors in C

[2017-10-29 06:37] GingerDragon7 opened #2686 "Add Pythagorean Triplets in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Pythagorean Triplets in C

[2017-10-29 06:39] vchernoy opened #2687 "Fibonacci computed using Lucas's identities"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Missing an example of Fibonacci number computation uses Lucas's identity.
It computes the n-th Fibonacci number in O(log(n)).
The implementation is much shorter and easier than well-known matrix based approach.

[2017-10-29 06:45] GingerDragon7 commented on #2686
I have made a pull request regaring this

https://github.com/OpenGenus/cosmos/pull/2688

[2017-10-29 06:51] GingerDragon7 opened #2690 "Add Reverse Number in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Reverse Number in C

[2017-10-29 06:58] GingerDragon7 commented on #2690
I have added Reverse Number in C using recursive function.   https://github.com/OpenGenus/cosmos/pull/2691

[2017-10-29 07:43] swapnilbaluja commented on #2619
kindly review #2693

[2017-10-29 12:42] parulagg27 opened #2712 "Add AVL tree readme file"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Creating README.md file for AVL tree algorithm to make it more easy to understand.

[2017-10-29 13:04] #2611 closed

[2017-10-29 14:15] parulagg27 commented on #2712
I've worked on this issue. Please review PR #2714 . Thanks!

[2017-10-29 15:28] vchernoy commented on #2687
Please review/approve #2689.

[2017-10-29 17:45] parulagg27 opened #2720 "Add Comb Sort algorithm in python"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-10-29 18:00] parulagg27 commented on #2720
Please review/approve #2724.

[2017-10-29 18:47] Perruci opened #2730 "Solution in any language for Principal Component Analysis"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Propose solutions on any language for Principal Component Analysis [here](https://github.com/OpenGenus/cosmos/tree/master/code/artificial_intelligence/principal_component_analysis).
Even though the folder is created, no solutions were yet proposed.

[2017-10-29 18:53] Perruci commented on #2730
Made a PR adding the general steps for a PCA analysis to the README.md of the folder.
I'm currently working on a Python solution inspired by [Sebastian Raschka](http://sebastianraschka.com/Articles/2014_pca_step_by_step.html) website :)

[2017-10-29 19:35] parulagg27 opened #2737 "Add topological sort algorithm in python"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding topological sort algorithm in python.

[2017-10-29 20:26] dianagastrin commented on #2737
cool, toposort.py ? this is the file right? :)

[2017-10-29 23:12] vaibhav1729 commented on #2549
@AdiChat can you please review my PR #2241

[2017-10-30 16:40] abhi1607IIT opened #2798 "Calling classes within a class without the use of headers"
**This is a(n):**

- [ ] New algorithm
- [ x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

how can we deal with the problem without the use of headers file . For eg I have to carry a code in any coding contest . So what Can i do to avoid multiple files

[2017-10-30 18:19] samupra commented on #1799
I am taking this.

[2017-10-30 19:48] AdiChat commented on #2798
Header files are not required in this case. Just create objects of a particular class type and use it. You can create more than one classes in a file.
Hope this helps 👍

[2017-10-30 19:51] #2798 closed

[2017-10-30 22:51] ZeroBlazer commented on #436
Made it in Kotlin  #2833

[2017-10-31 06:07] Gauravtolani opened #2848 "Update README.md for bubble_sort"
**This is a:**
- Update to an existing README.md

**Details:**
1. Added the brief description of the algorithm.
2. Added a working example with the steps that algorithm follows and
3. Added some relevant readings, videos and links to test the understanding.

[2017-10-31 17:35] rv0001 commented on #11
i can do it ruby

[2017-10-31 17:45] Survivor75 commented on #2474
@eliassilva this question comes with a constraint that the number will be less than a given number(say R).

[2017-10-31 18:09] oanarosca opened #2910 "Update DFS readme"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add a description of the DFS algorithm and a relevant example, as well as links for further reading.

[2017-10-31 20:19] oanarosca opened #2914 "Update BFS readme"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add a description of the BFS algorithm and a relevant example, as well as links for further reading.

[2017-10-31 22:21] hnrytrn opened #2921 "Add linked list detect cycle algorithm in Python"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Adding linked list detect cycle algorithm in Python.

[2017-11-01 00:06] tiagokapp commented on #2910
#include<stdio.h>

main(){

	int n;
	printf("digite uma opcao");
	scanf("%d",&n);

	switch (n){

	case 1:
		printf("novo algoritmo");
		 break;
	case 2:
	printf("atualizar um algoritmo existente");
	break;

	case 3:

	printf("erro");
	break;

  case 4 :
  	printf(" Proposta ao Repositório");

  	break;
}
printf ("\n\n\nobrigado");

}

[2017-11-02 17:05] ArhantJain commented on #2848
Is this issue closed? Please let me know.

[2017-11-02 17:06] ArhantJain commented on #2549
Is this issue closed? Please let me know.

[2017-11-02 19:45] AdiChat commented on #2848
@ArhantJain You can browse through Cosmos and select missing `readme` or other scopes of contributions, open an issue and go for the pull request 👍

[2017-11-02 19:48] AdiChat commented on #2549
@ArhantJain Kindly take a look at other scopes of contributions 😄

[2017-11-03 05:18] HidekiHokuto opened #2940 "File name conflict"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Some OSX may be case-insensitive, algorithms have same name in a folder may be replaced.
Like `cosmos/code/search/exponential_search.py` and `cosmos/code/search/Exponential_search.py`

[2017-11-03 11:32] arnavb commented on #2940
#2941

[2017-11-03 11:34] arnavb commented on #2910
@tiagokapp :rofl:

[2017-11-03 22:45] arthurlacoste opened #2944 "Writing guidelines to respect repo structure"
[I noticed some folders use "-" or "_" to replace a space](https://github.com/OpenGenus/cosmos/tree/master/code). It can be good to have a convention about that and make all folders in the same way, and some folder have a "algorithms" word on it, others, not.

Same with algo files, [in this example](https://github.com/OpenGenus/cosmos/tree/master/code/cryptography/affine_cipher), you can saw :
- a

[2017-11-04 01:55] Vitorvgc commented on #2944
Actually, there is already a convention. As stated in the [contribution guidelines](https://github.com/OpenGenus/cosmos/wiki/contribute):

**Naming convention**: folders and filenames should be in *lowercase* and each word separated by `_`. Names should be descriptive to certain extend. 👍

Unfortunately there are still some inconsistencies. But a script has been created to help in this issue in [O

[2017-11-04 11:37] #2326 closed

[2017-11-06 08:20] arthurlacoste commented on #2944
This sound good to me !

But instead of using script to try perform this thing, we can commit with the good files name from the start. 👍

[2017-11-06 11:33] arnavb commented on #1882
@AdiChat Please reopen this issue, since it automatically got closed when you merged #2130.

[2017-11-06 11:34] arnavb commented on #2944
@arthurlacoste I am currently working on a PR, that fixes every file in this way in the mathematical-algorithms section (which should be mathematical_algorithms 😆 )

[2017-11-07 02:23] iattempt opened #2960 "add tests"
**This is a(n):**
- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
add tests for any programming language
e.g., [Catch2 in C++](https://github.com/catchorg/Catch2)

[2017-11-07 05:34] code-spring opened #2962 "How to automated test cosmos with WisdomTool REST Client?"
[WisdomTool REST Client](https://github.com/wisdomtool/rest-client) supports automated testing RESTful API and automatically generating RESTful API documentation.

Do not know how to automated test cosmos with this tool.

[2017-11-07 21:43] abdouskamel opened #2966 "Adding cycle directed detection in graphs in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

That's an implementation of cycle directed detection in graphs in C. Hope it helps. :)

[2017-11-07 21:47] abdouskamel commented on #2966
See pull request #2967

[2017-11-10 07:26] FirefoxMetzger opened #2978 "Nearest Sequence Memory (NSM) implementation in MATLAB"
**This is a(n):**
- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I have an implementation of the NSM algorithm proposed in this paper
https://papers.nips.cc/paper/932-instance-based-state-identification-for-reinforcement-learning.pdf
in MATLAB.
It trains on one of the mazes proposed within the paper.

It currently lives here: h

[2017-11-10 13:09] AdiChat commented on #2978
Yes, it looks great 👍

[2017-11-10 15:38] abdouskamel opened #2982 "Topological sort & undirected graphs connected components in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hello, i've just added an implementation of topological sort & connected components in C based on depth-first search.

[2017-11-10 15:38] abdouskamel commented on #2982
See pull request #2983

[2017-11-11 05:05] iattempt opened #2984 "use style.md as readme.md in coding-style folders"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-11-11 05:08] #2672 closed

[2017-11-11 09:16] iattempt opened #2985 "memory leak by circular reference"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**
[splay tree](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/splay_tree/splay_tree.cpp)
[red black tree](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/red_black_tree/red_black_tree.cpp)

all the nodes of parent, left, an

[2017-11-11 12:27] arnavb commented on #2984
I'll take this on.

[2017-11-12 02:42] tbhaxor opened #2996 "Add Base64 Encoding and Decoding"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2017-11-12 02:45] tbhaxor opened #2997 "Integrate Travis CI Support"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository
**Details:**

Travis support helps to built and test our programs for unexpected exit and all

[2017-11-12 06:23] tbhaxor opened #2998 "add Monoalphabetic Ciphers in any language"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

A monoalphabetic cipher mixes up the characters of the alphabet and uses that same arrangement for the entire message

[2017-11-12 06:23] tbhaxor commented on #2998
i am adding in csharp, python and c++

[2017-11-12 07:34] tbhaxor opened #2999 "add program for kasai_algorithm in any language"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Directory has only readme file

[2017-11-12 15:34] #1927 closed

[2017-11-12 15:35] #1788 closed

[2017-11-12 15:47] arnavb commented on #2997
I think there is a PR open for this right now, not sure where...

[2017-11-12 17:03] InfiniteCoder commented on #2997
@arnavb  I had made a PR a few weeks ago #2423. I got an email regarding Travis been allowed to access this organisation by the owner, but I don't know which repo it has been used for.

[2017-11-13 09:36] #2985 closed

[2017-11-13 11:09] iattempt opened #3008 "Generalize path for tree type in cpp"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
[the file what I want to improve](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/tree/path_sum/path_sum.hpp)

1. extract do-something (not only sum), like product, etc.
2. extract path (not only root to leaf and part of top to down)
3. someth

[2017-11-13 16:13] abdouskamel opened #3015 "Implementation of Tarjan algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hello everybody, since there is no implementation of Tarjan algorithm, i made one in C. Hope you enjoy it. :)

[2017-11-13 16:15] abdouskamel commented on #3015
Pull request is here #3016.

[2017-11-13 17:51] #1769 closed

[2017-11-13 17:52] #2966 closed

[2017-11-13 17:52] #2982 closed

[2017-11-14 09:56] #3008 closed

[2017-11-14 20:10] arnavb opened #3019 "Add a Folder for Solutions to Online Programming Challenges"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I propose adding a folder called `online_challenges`, with nested folders such as `project_euler`, that hold solutions to their respective programming challenges. These still implement algorithms, and are useful in some cases.
I feel this might go against the goa

[2017-11-15 16:09] arnavb commented on #3019
@AdiChat, could you consider this?

[2017-11-15 17:37] AdiChat commented on #3019
This will be a great addition.

Most often, people would like to love to solve challenges which inherently includes learning in the process. That  being said, without network connectivity, one cannot accessible such resources, so, we must solve this problem.

In the case of Project euler and other sites as well, tutorials/ discussions are accessible to people who solves the problem. Thus, this add

[2017-11-15 18:04] arnavb commented on #3019
Ok, I will do this now.

[2017-11-16 09:13] tbhaxor opened #3031 "add subtraction using bit wise operations in any language"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Add program for subtraction of two numbers using
+ one's complement
+ two's complement

[2017-11-16 15:20] iattempt opened #3036 "define and implement common graph data structure in any P.L."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
define and implement common classes, prototype, interface or policy

adjacency list with/without weight, directed/undirected, and single/multiple width between two nodes, etc.

[2017-11-16 22:30] sidmishraw opened #3042 "Inconsistent state of repo caused due to code/unclassified/biggest_Of_N_Numbers/biggest_Of_N_Numbers.cpp"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

[biggest_Of_N_Numbers](https://github.com/OpenGenus/cosmos/tree/master/code/unclassified/biggest_Of_N_Numbers) now has 2 C++ implementations. Likely caused because of not syncing properly?

My upstream sync fails because of this conflict.

[2017-11-17 04:15] sgrG24 commented on #3031
I will do this in c++.

[2017-11-17 08:04] tbhaxor opened #3048 "add Fibonacci search in any language"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
check [this](http://www.geeksforgeeks.org/fibonacci-search/)

ps : Don't copy paste the code

[2017-11-17 08:05] tbhaxor commented on #3048
i can add in `cpp` or `python`

[2017-11-17 08:53] tbhaxor opened #3049 "Add new algorithm -> geometry_algorigthm in code/"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2017-11-17 08:54] tbhaxor commented on #3031
@sgrG24 go for it 👍

[2017-11-17 16:55] #2984 closed

[2017-11-18 01:53] erwolfe commented on #3048
I will do this in swift!

[2017-11-18 04:11] iattempt opened #3053 "Add index for coding style"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2017-11-18 06:48] iattempt commented on #3048
I'll try this in c++~

[2017-11-18 08:52] iattempt opened #3055 "add highlight message for PR"
**This is a(n):**
- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
please add to pull request message:
"Make sure code or file is existed"
and
"if file name is same (e.g., Search.cpp and  search.cpp), and really want remain two files, then rename a file to search2.cpp"

the name conflicts is common issue.

[2017-11-18 09:23] tbhaxor opened #3056 "Please delete lapindrome checker"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

@adichat @arnavb
I have a req plz delete `lapindrome_checker` located in _code/string_algorithms_

Reasons ?
+ it is not yet included as string algorithm like palindrome etc.
+ the PR was made by me and that time there were some issues in my pc

I hope you will t

[2017-11-18 19:22] #3056 closed

[2017-11-19 01:07] iattempt commented on #3048
#3059 @erwolfe

[2017-11-19 17:23] abdouskamel opened #3070 "Matrix-representation graphs in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hello ! Just an implementation of matrix-representation graphs in C, nothing special. :)

[2017-11-19 17:24] abdouskamel commented on #3070
Pull request : #3071.

[2017-11-20 19:41] tbhaxor opened #3074 "add solutions of code chef in code/online_challenges/"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I have created some solution for some codechef problems check [this](https://github.com/OpenGenus/cosmos/pull/3062)
**Note** : not all problems are working fine, but most of them are working.

I would like you to add some working solution to the problems of codec

[2017-11-20 19:42] tbhaxor commented on #3074
@AdiChat @arnavb

[2017-11-20 21:43] AdiChat commented on #3074
This will be great. Go for it 👍

[2017-11-20 22:00] tbhaxor commented on #3074
@adichat have u chkd my REPO ?

[2017-11-21 14:51] nipunbharti commented on #3048
I'll try this in JS

[2017-11-21 16:08] nipunbharti commented on #3048
I have implemented this in C

[2017-11-22 13:56] #1033 closed

[2017-11-22 13:57] #3019 closed

[2017-11-22 17:50] frtug opened #3081 "make it available on web"
it should be present

[2017-11-23 15:06] #3070 closed

[2017-11-27 06:15] AnEmortalKid commented on #2515
Are we really helping by allowing copy pasted code that sometimes doesn't even compile?

[2017-11-27 13:41] arnavb commented on #3081
What is "it"?

[2017-11-27 18:14] arnavb commented on #3055
You could do this @iattempt, it is just two sentences to the PR template.

[2017-11-30 03:28] engrravijain commented on #3081
are you trying to say that we should have a website for cosmos ?

[2017-11-30 11:31] arnavb commented on #3081
Isn't this a website (😆)

[2017-12-01 17:53] theodesp opened #3099 "Add Go Implementations of Trie"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

* Add Go Implementation of Trie using a map
* Add README for Trie folder

[2017-12-01 19:15] theodesp commented on #3099
https://github.com/OpenGenus/cosmos/pull/3100

[2017-12-01 21:27] tbhaxor commented on #3081
@arnavb @AdiChat
After my exams i will make a website implementing all cosmos algos :smile:

[2017-12-01 22:23] frtug commented on #3081
Sorry to bother you i was just testing the feature button

On 2 Dec 2017 2:57 a.m., "Gurkirat Singh" <notifications@github.com> wrote:

[2017-12-02 01:14] arnavb commented on #3081
What feature button? 😕

[2017-12-02 04:56] frtug commented on #3081
comment

[2017-12-02 08:52] iattempt opened #3107 "Can we force separation of test file and sources?"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Since this project is a lib, one can use source code to create his / her code, but these files do not include the necessary code, but also the test code and the header files it uses, but one may not want these .

[2017-12-02 12:26] iattempt commented on #3055
I know it, but my english is not good...

[2017-12-02 12:29] iattempt commented on #3055
Fixed

[2017-12-02 12:29] #3055 closed

[2017-12-02 13:39] arnavb commented on #3081
ok...

[2017-12-03 16:07] AdiChat commented on #3107
This will be a nice addition.
It is important to enable users to extend/ use the source code in Cosmos to develop their version. Separation of test and source code will refine the structure but we must, also, consider easy access for a user.

What structure are you considering for this?

[2017-12-03 20:21] engrravijain opened #3113 "Add Palindome.py and palindrome_substring.py"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
These two programs are for finding weather a string is a palindrome or not while the other finds all the sub strings of a given string that are palindrome

to be added in utility/palindrome

[2017-12-04 02:04] iattempt commented on #3107
Refer to these projects:

- [googletest](https://github.com/google/googletest/tree/master/googletest)
  - [src](https://github.com/google/googletest/tree/master/googletest/src)
  - [test](https://github.com/google/googletest/tree/master/googletest/test)

- [opencv](https://github.com/opencv/opencv/tree/master)
  - [modules](https://github.com/opencv/opencv/tree/master/modules)
    - [core](https:/

[2017-12-04 02:07] iattempt commented on #3107
@arnavb Do you have any idea?

[2017-12-04 12:25] arnavb commented on #3107
@iattempt, I personally like the last recommendation that you made, with each category having a src and test folder. I think that is the approach that should be taken.

[2017-12-04 16:07] sidmishraw commented on #3042
Fixed. Closing the issue.

[2017-12-04 16:07] #3042 closed

[2017-12-05 15:49] AdiChat commented on #3107
Yes, this structure will be better to support test files which is necessary. :+1:

[2017-12-05 15:53] iattempt commented on #3107
Ok, I will do this recently.

[2017-12-06 16:40] iattempt commented on #3113
The first file existed in string_algorithms, I moved into utility in P.R. above.

[2017-12-08 16:16] manan-goel-1999 commented on #919
Can I do a tower of Hanoi Implementation in Python(recursion)?

[2017-12-08 16:25] manan-goel-1999 commented on #757
Can I contribute the python code?

[2017-12-08 18:19] ron-popov commented on #757
@manan-goel-1999 I can see that someone already implemented this algorithm in python [here](https://github.com/OpenGenus/cosmos/blob/master/code/mathematical_algorithms/src/sum_of_digits/sum_of_digits.py).

[2017-12-10 03:07] mfrancis95 opened #3127 "Add pangram checker in PHP"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

See #2880

[2017-12-11 07:33] InfiniteCoder opened #3128 "Code quality needs to be maintained"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [X] Proposal to the Repository

**Details:**

There are many programs here which have very poor quality. Programs that use single character variables, those literally abusing the language syntax to make code shorter(and unreadable) and programs using legacy tools/code. In this form, they are unhelpful to any

[2017-12-12 05:09] the-saif-ahmad commented on #3128
Not only do we need to fix the existing code, we need to create style guides for all languages to prevent it from happening again. Then even if someone does submit bad code, they can't use the lack of a style guide as an excuse.

[2017-12-12 06:09] AdiChat commented on #3128
Yes, this is an issue that needs to be attended immediately and the solutions by both of you look promising.
You must share this at [our new forum](https://discourse.opengenus.org/) where it is more accessible and continue discussing there.

We must arrive at definite measures to implement as soon as possible.

**Let us make Cosmos great again.** 💪

[2017-12-12 09:38] InfiniteCoder commented on #3128
Created a post here https://discourse.opengenus.org/t/fixing-code-quality/47

[2017-12-14 14:27] amirags commented on #3128
Happy to contribute to this cause!

[2017-12-15 18:39] AdiChat commented on #3128
That is great @amirags 😃 Go ahead and solve issues one by one 👍
You can, also, suggest and implement new solutions.

[2017-12-16 04:52] #3127 closed

[2017-12-18 08:33] theodesp opened #3135 "Add Readme for BloomFilter. Add Implementation in Go"
*  Add Readme for BloomFilter
*  Add Implementation in Go

**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

BloomFilter

[2017-12-18 20:02] dianagastrin opened #3139 "Add jarvis_march in python 3.6.1"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Adding jarvis_march in python + readme.md

[2017-12-20 03:27] iattempt commented on #3107
Solved.

[2017-12-20 03:27] #3107 closed

[2017-12-20 03:29] #3053 closed

[2017-12-20 03:30] #1861 closed

[2017-12-21 12:11] amirags commented on #3128
Sorry, lying low these days (blame the weather!). Planning to make a list of todos and take it forward. Will add further updates here.

[2017-12-21 17:43] AdiChat commented on #3128
No problem 👍 🗻  Stay safe and warm 🔥
Sure. We are looking forward towards your plan. 😃

[2017-12-27 11:41] abdouskamel opened #3159 "Implementation of AES-128, AES-192 and AES-256 in C#"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hello everybody. This one is an implementation of AES-128, AES-192 and AES-256 in C#, with an example of how to cipher a stream.

Hope you enjoy it.

[2017-12-27 11:42] abdouskamel commented on #3159
See pull request #3160

[2017-12-27 22:11] abdouskamel opened #3161 "Round robin in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hello everybody,

Just an implementation of round robin scheduling in C. Hope that helps.

[2017-12-27 22:12] abdouskamel commented on #3161
See pull request #3162.

[2017-12-27 22:28] abdouskamel opened #3163 "Maybe an error in implementation of round robin in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

Hello everybody,

I have looked to that [implementation](https://github.com/OpenGenus/cosmos/blob/master/code/operating_system/src/round_robin_scheduling/round_robin_scheduling.cpp) of round of robin scheduling in C++, and i think that there's an error in it.

It

[2017-12-30 19:49] #3159 closed

[2017-12-30 20:53] #3161 closed

[2017-12-30 21:16] #3015 closed

[2017-12-31 08:27] InfiniteCoder opened #3170 "Possible incorrect implementation: newton-raphson.c"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [X] Error
- [ ] Proposal to the Repository

**Details:**

I think the [Newton raphson program in c](https://github.com/OpenGenus/cosmos/blob/master/code/mathematical_algorithms/src/newton_raphson_method/newton_raphson.c) is wrongly implemented. After removing the stray characters and compiling it, it seems to always pri

[2018-01-01 10:08] tbhaxor opened #3177 "add solutions of challenges at programmr.com"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Someone please add some solutions to programmr.com challenges which i have solved [here](https://github.com/tbhaxor/programmr-solutions)

[2018-01-01 10:09] #3074 closed

[2018-01-01 10:09] #3049 closed

[2018-01-01 10:10] #3048 closed

[2018-01-01 10:10] #3031 closed

[2018-01-01 10:10] #2999 closed

[2018-01-01 10:10] #2998 closed

[2018-01-01 10:10] #2997 closed

[2018-01-01 10:10] #2996 closed

[2018-01-01 10:10] #1991 closed

[2018-01-01 18:35] abdouskamel commented on #3163
I guess either managing arrival time should be removed, or delete the entire code.

[2018-01-01 20:13] AdiChat opened #3178 "Supporting TravisCI at Cosmos"
We are in the process of creating a structure to maintain the quality of Cosmos with respect to the diversity we represent.

As a basic step, we integrated TravisCI for `C` and `C++` ([see this pull request](https://github.com/OpenGenus/cosmos/pull/3154)) and are in the process of correcting the existing issues. This resulted in several scopes of contributions:

* Add Travis support for other lang

[2018-01-02 07:51] InfiniteCoder opened #3179 "Plagiarism of code"
It seems some ( or at least one) user had submitted codes that were plagiarised. Codes have been copied from various websites and have been submitted here, after removal of comments, and/or minor changes.

**For example:**
https://github.com/OpenGenus/cosmos/pull/945/files is plagiarised from https://www.geeksforgeeks.org/check-string-pangrammatic-lipogram/
https://github.com/OpenGenus/cosmos/pull

[2018-01-02 18:46] riya-17 opened #3181 "Code for bogo_Sort"
Add code in C language for bogo sort.

[2018-01-03 02:20] iattempt opened #3186 "Test rules (the travis-ci) for c++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

##### Fixes issue:

existed:
- [ ] 1. error message of compiler throws: redefinition multiple main functions.
- [ ] 2. some files has stdin/stdout (the `cin` or `cout`, etc.) in the *src* (if the *test*/*src* has been fully separated, then ignore this issue).

*

[2018-01-03 14:07] AdiChat commented on #3179
Plagiarism is a scary word. 😅

There is a small section of codes that can be categorized as such. We, usually, try to keep this in mind while reviewing contributions but still, some go unnoticed.

One good point you raised is that we should _support credit for external sites_ (provided the contributor acknowledges the source). We must include the source you pointed out. We do have links to externa

[2018-01-03 15:34] InfiniteCoder commented on #3179
I agree that proving plagiarism can be hard, but when programs are same down to the variable names, then it's hard to disprove it too. Actually, the way I came to know about this is that, the codes on the mentioned websites seem to have zero length characters, which are used for fingerprinting text. These characters are invisible, and so someone simply copying the code won't notice them. These cha

[2018-01-03 18:45] Mithilan16 commented on #3178
Hi! I am a new contributor and would like to make a contribution. How can I get started with this issue?

[2018-01-03 23:50] Mithilan16 commented on #3178
I've forked the repo and started fixing some of issues that show up on the build log. I'm having an issue with this error:

 code/cellular_automaton/src/conways_game_of_life/game_of_life_C_SDL.c:7:10: fatal error: 'SDL/SDL.h' file not found
 #include <SDL/SDL.h>

I think I'am supposed to add the source for the sdl library in the .travis.yml file but i'm not having any luck with that. Any suggestio

[2018-01-05 16:00] AdiChat commented on #3179
😆 Nice and clever way to find the source :male_detective:

👍 We must incorporate and make users aware of this. 💪

[2018-01-06 14:29] InfiniteCoder commented on #3178
@Mithilan16 In this specific case, I guess it should be `sdl/SDL.h` and not `SDL/SDL.h`. But it's possible that sometimes, such errors are due to other problems, like not linking a library during compilation. In that case, make relevant changes to makefile(or create an issue if you don't know how to fix the problem, but have located the issue)

[2018-01-08 22:16] amirags commented on #3128
Happy New Year all!

Right! Started having a look at the code, guidelines etc. Adding some points to start with (let me know if discourse is better place for this):

a. Encourage adding/updating READMEs with each category/sub-category of algorithms. A brief definition should be encouraged to help in general understanding of given algorithm.
b. Encourage consistent use of filenames, folder names as

[2018-01-10 15:30] ssaman95 opened #3196 "Add Python implementation for hash tables"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

There is no Python implementation for hash tables in the hash_tables folder and I wanted to add one. I made a PR: #3194  but it was rejected. I have tested the code on my computer and it's working. I don't know where it goes wrong. Is there some test case that I

[2018-01-10 18:42] #3196 closed

[2018-01-10 18:43] ssaman95 commented on #3196
The program was merged by adiChat :)

[2018-01-10 19:47] AdiChat commented on #3128
Happy new year @amirags 🎉

We need to prepare an idealist so, that we are able to track upcoming tasks/ ideas.  Ideally, Discourse is for open discussion and brainstorming. That being said, use the platform whether you feel comfortable. 👍

I, strongly, agree with your conclusions. Adding the description of algorithms is a priority. Having consistent naming and covering all style guides are importa

[2018-01-15 16:25] theodesp commented on #3135
Closed as it was merged

[2018-01-15 16:25] #3135 closed

[2018-01-15 16:26] theodesp opened #3202 "Add Readme for Xor Swap. Add Implementation in Go"
**This is a(n):**
- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Add Readme for Xor Swap explaining more about the algorithm.
Add Implementation in Go.

[2018-01-15 18:18] #3099 closed

[2018-01-18 15:01] #3202 closed

[2018-01-20 17:57] iattempt opened #3218 "Use `diff` and `uncrustify` to check coding style in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

---

**Details:**

Prerequisite:
1. Write a config of `uncrustify` for our coding style in C++.

Steps:
1. Execute `uncrustify` to get right code..
2. Execute `diff` with two files.
3. The output is nothing the P.R. will be accepted or else.

---

Scenario:
Assume there is a s

[2018-01-22 18:02] abdouskamel opened #3221 "[Travis-CI] libgraph-1.0.2 generates compilation errors"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

Hello everybody,

I noticed that libgraph-1.0.2 generates compilation errors in Travis-CI C build. Errors are of the type :

You can check the build [here](https://travis-ci.org/OpenGenus/cosmos/jobs/331927941). Maybe the person who added this library can check t

[2018-01-26 16:30] debck opened #3230 "Add Triple DES cryptographic Algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The Triple DES algo  is a symmetric key block cipher which uses the DES cipher algorithm for encryption and decryption of code

[2018-01-30 02:24] willnode commented on #3221
Yeah libgraph is in travis.yml but I haven't sure why it's there.

Anyway why we use tests in first place? It's seems only configured for C++ only.

[2018-01-30 08:14] InfiniteCoder commented on #3221
@willnode Its work in progress. Build and test checks have to be applied to other languages as well.

[2018-01-30 08:24] InfiniteCoder opened #3231 "C build failing"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [X] Error
- [ ] Proposal to the Repository

**Details:**

Someone have a look why the C build is failing. One of the packages that is being installed does not have a SHA256 sign, which is now enforced by apt-get. Find out which package is it, and replace it with appropriate package.
https://stackoverflow.com/a/44829100

[2018-01-30 16:25] abdouskamel commented on #3230
If you know how to implement it, we will be glad to receive your contribution.

[2018-01-30 17:31] Mithilan16 commented on #3221
@willnode  I'am aware of the FONT DIR error and have been looking for a solution but libgraph is required to compile a couple files in the cellular_automation directory

[2018-01-30 21:26] abdouskamel opened #3232 "Member initializer list rule for C++ style guide."
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Hello everybody,

I want to propose to add a rule that specifies to use the member initializer list in constructors for C++. It's an encouraged practice, so I think it should figure in the C++ style guide.

[2018-01-31 05:44] InfiniteCoder commented on #3221
@Mithilan16 This library hasn't been updated for almost 12 years now. Also, it tries to implement Turbo C graphics features on Linux. Given how much things have changed in Linux in last decade, I think probably it's an issue with one of the dependency getting updated.
I think it's just better to use OpenGL instead. Maybe these programs should be removed.

[2018-01-31 18:51] Mithilan16 commented on #3221
@InfiniteCoder I can take care of that.This means that I will have to remove any program that requires SDL and graphics.h

[2018-02-01 07:13] InfiniteCoder commented on #3221
@Mithilan16 Yes, and if and when you do that, also remove that library and all it's dependencies from travis.yml 👍

[2018-02-01 11:31] sahnib commented on #3230
I would like to work on this issue. As of now, I believe there is no implementation of DES algorithm as well in the library. I propose to start working on DES algorithm and then using the same for triple DES algorithm.

Any pointers on how to start are appreciated.

[2018-02-01 19:09] #3232 closed

[2018-02-01 19:12] abdouskamel commented on #3221
Does SDL depends on libgraph ?

[2018-02-01 19:25] abdouskamel commented on #3230
You can write an implementation of DES in any language that you want, and add it to our cryptography section by creating a new folder called, for example, _des_cipher_. That would be a helpful contribution since, even thought DES isn't used nowadays, it's still an interesting cipher algorithm for people studying cryptography, and it is the base of Triple DES which is still in use.

[2018-02-02 04:32] sahnib commented on #3230
Awesome, I will start working on this.

[2018-02-02 06:30] InfiniteCoder commented on #3221
@abdouskamel Thanks for noting that! SDL is independent of libgraph, they have no relation. @Mithilan16 You wouldn't have to remove SDL based programs.

[2018-02-03 08:00] InfiniteCoder commented on #3218
Could you make it such that only warning and errors are printed? Currently, too much log is printed in the C++ build, which is making it harder to find errors and warnings.

[2018-02-03 11:51] iattempt commented on #3218
Ok, I’ll fix this after 7th Feb.

[2018-02-03 20:32] abdouskamel opened #3237 "Implementing Hoare monitors with System V IPC"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hello everybody,

There is no algorithm concerning monitors in Cosmos. I decided to implement them in C, using System V IPC. Even though monitors are a programming language concept, I think that this implementation has some pedagogical benefits.

Hope you enjoy i

[2018-02-04 00:17] DevenVimalPatel opened #3239 "Add Interval Scheduling Greedy Algorithm"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to add the Interval Scheduling Greedy Algorithm for jobs with a start and finish time. (There is currently one that uses jobs, their completion time, and deadlines; however, this one differs in that we are not trying to minimize deadline lateness, b

[2018-02-04 09:02] abdouskamel commented on #3239
Hello,

We will be happy to receive your contribution.

Go ahead. 👍

[2018-02-06 08:10] SnehaR26 commented on #2690
Can I take up this issue?

[2018-02-06 09:50] parulagg27 commented on #3170
Can I work on this issue?

[2018-02-06 09:53] InfiniteCoder commented on #3170
@parulagg27  Sure! Make sure that you mention this issue in your Pull Request so that this issue gets closed when you fix the issue.

[2018-02-06 16:07] abdouskamel commented on #2690
@AdiChat @SnehaR26 There are three pull requests related to this issues, and none of them have received attention, is this normal ?

[2018-02-07 18:57] jainaman1398 opened #3243 "Add Deque Data Structure #3240"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Double-ended queues are sequence containers with the feature of expansion and contraction on both the ends. Unlike vectors, contiguous storage allocation may not be guaranteed.I can create the solution in C++ using STL

[2018-02-07 19:16] AdiChat commented on #2690
There are some unattended pull requests in Cosmos which we must resolve soon.
In regard to this issue, there exists an implementation in `C` ([this](https://github.com/OpenGenus/cosmos/blob/master/code/mathematical_algorithms/src/reverse_number/reverse_number.c)) due to which the above pull requests will result in duplicity.

@SnehaR26 You may look through the code base to find an algorithm or imp

[2018-02-07 20:05] abdouskamel commented on #3243
Feel free to create a pull request for this. 👍

[2018-02-08 10:54] #3237 closed

[2018-02-08 13:44] parulagg27 commented on #2306
Hey @AdiChat , as no one worked on this issue for a long time, can I work on it?

[2018-02-08 15:05] parulagg27 commented on #3170
@InfiniteCoder Sure.
But, I tried running the code, After removing stray characters, it works fine here.

[2018-02-08 15:19] parulagg27 commented on #2306
@AdiChat Since no one worked on this issue for a long time, can I work on it?

[2018-02-08 15:51] parulagg27 commented on #961
Can I add it's implementation in C & python?

[2018-02-08 15:59] parulagg27 commented on #961
Can I implement it in C & python?

[2018-02-08 18:41] abdouskamel commented on #961
@parulagg27 Of course, we will be glad to receive your contribution.

[2018-02-08 21:10] parulagg27 opened #3248 "Add topological sort readme file"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add a short description of topological sort algorithm.

[2018-02-09 05:00] InfiniteCoder commented on #3170
@parulagg27 If it works, then great! But I think this code has been plagiarized from either https://www.csee.umbc.edu/~tsimo1/CMSC455/code/newton_raph.c or http://www.codewithc.com/c-program-for-newton-raphson-method/. It seems that many of the programs in this repo might have been plagiarised. This repo needs some cleaning 🗑

[2018-02-09 12:04] Divya063 commented on #3128
I think maybe implementing a code quality tool like [code climate](https://codeclimate.com/) will help.

[2018-02-09 12:11] SnehaR26 opened #3250 "Guidelines link is not directing to right page"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

When one tries to create the first Pull request, One gets the message

 **'First time contributing to open genus/cosmos?
If you know how to fix an issue, consider opening a pull request for it.
You can read this repository’s contributing guidelines to learn how t

[2018-02-09 12:14] SnehaR26 commented on #3250
PPS Forgive me if there was an error in the above issue, because I obviously couldn't read the guidelines ;-)

[2018-02-09 12:31] abdouskamel commented on #3250
True, the link sends to contributors list.

[2018-02-09 13:03] parulagg27 commented on #3250
Yeah, facing the same issue.

[2018-02-09 20:30] sakshee-19 commented on #3243
@jainaman1398 are you working on this or can I work?

[2018-02-09 20:33] jainaman1398 commented on #3243
I am working, I will get it done by tomorrow

[2018-02-09 20:37] sakshee-19 commented on #3231
I wanna work on this issue.

[2018-02-09 22:45] abdouskamel commented on #3231
Of course, go for it. 👍

[2018-02-10 09:10] sakshee-19 commented on #3231
@InfiniteCoder Can you please clarify a bit more, because in project root directory there is building shell file for cpp(c++), and that's also having problem since in that file last line takes too many arguments for cd-command which is buggy and not required. I would be raising issue for the same soon.

So please clarify about which c building is failing.

[2018-02-10 13:39] InfiniteCoder commented on #3231
@sakshee-19 This one https://travis-ci.org/OpenGenus/cosmos/jobs/339427552

[2018-02-10 22:41] thatguy227 commented on #3231
I have fixed the issue with make picking up libgraph source.
We now have a actual compile error from the build for a c module that was authored for cosmos.
sleep_sort.c will only compile in a windows dev environment.
I recommend creating a new issue for fixing sleep_sort.c and closing this issue out.

[2018-02-11 07:57] iattempt commented on #3218
@InfiniteCoder I reduced output. How does it look?

[2018-02-11 08:25] abdouskamel commented on #3221
@thatguy227 You should mention this issue in your pull request.

[2018-02-11 08:26] abdouskamel commented on #3231
@thatguy227 You should mention this issue in your pull request.

[2018-02-11 08:45] InfiniteCoder commented on #3218
@iattempt There is scope for improvement. Anything that is obvious should go away. I have some suggestions, but I'm not sure if its possible to implement them.

1. gcc compilation message should only be printed for those programs which fail.
2. path of files created by diff does not need to be printed, as it will be created for all files anyway.

[2018-02-11 10:25] iattempt commented on #3218
Ok,
1. This is difficult to implement, I think we can change to shell script to do more things. also the makefile is not easy to read/write.
2. b419761

[2018-02-11 17:21] parulagg27 commented on #3170
Yes! I completely agree. Many of the programs in this repo have been plagiarized.  But, in that case, wouldn't it be better if we give credits to that source site. For example, if a c++ code of an algo has been copied from geeksforgeeks, we can comment out in our code in this way:
// Courtesy: geeksforgeeks
Just a suggestion. Need your opinions, @InfiniteCoder @AdiChat . :D

[2018-02-11 17:34] InfiniteCoder commented on #3170
@parulagg27 We need to make sure that,
1. The license of the code is compatible with that of cosmos', i.e GNU GPLv3.
2. The Author has allowed copying and redistribution of the program, most likely by mentioning a license such as GPL, MIT or CC-by-SA etc.

In most cases though, people don't put a license of their code. In such cases, by default the code becomes copyright protected .To be more spec

[2018-02-12 14:14] #2960 closed

[2018-02-12 14:15] #1577 closed

[2018-02-12 15:07] iattempt commented on #3218
🔥 We need ardent men to create test files. see #3257

[2018-02-12 20:25] parulagg27 opened #3261 "No specific format for documentation of various algorithms"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I went through the readme files of various algorithms in this repo & observed that none of them followed a specific format. Some of them only have a definition & an external link for further reading, for ex., [bogo_sort](https://github.com/OpenGenus/cosmos/tree/m

[2018-02-13 08:23] parulagg27 commented on #3261
I propose this template

# Algorithm_Name
Description

## Example/Explanation
Pictorial diagram to explain

## Algorithm
Algorithm in words

## PseudoCode

## Complexity
Time and space complexity

[2018-02-14 05:58] #3248 closed

[2018-02-18 08:32] vandana1212 commented on #3243
Is this issue still open or may I contribute ?

[2018-02-18 09:47] abdouskamel commented on #3243
@vandana1212 There is actually a pull request for this : #3251, you can still implement it in another language if you wish.

[2018-02-18 16:29] parulagg27 commented on #3261
Update: I've submitted 2 PRs: #3278 & #3280 , as an example of template proposed above for the readme files of each algorithm.
 It would be better, if we can add a documentation guide as well in the contribution guides folder, with this as a template/ specific format for each readme file,  in order to guide new contributors, and thus for improving overall documentation of this repo. Please give yo

[2018-02-18 18:07] AdiChat commented on #3261
The documentation format looks good. We may use this as the standard style. 👍

Documentation is an important part and an extensive coverage with greatly enhance the utility of Cosmos. Feel free to compile the documentation guide using this as the template and send it as a pull request.

[2018-02-19 02:49] piyush0033 commented on #3261
Thanks! Will be working on this issue. 👍

[2018-02-19 02:58] parulagg27 commented on #3261
Thanks! Will be working on this issue👍

[2018-02-21 11:00] vandana1212 opened #3292 "Longest Repeated Subsequence C++"
**This is a Dynamic Programming issue:**

- [ X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Hi , I found that the 'LONGEST REPEATED SUB-SEQUENCE' is missing in the DP folder.
May I work on it in C++ ?

[2018-02-21 13:17] #1747 closed

[2018-02-21 15:53] #3261 closed

[2018-02-21 19:34] abdouskamel commented on #3292
Yes, go for it. :+1:

[2018-02-23 13:36] arnavb opened #3299 "Update our Contributing Guidelines so that they are actually contributing guidelines!"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

- Right now, our [contributing page](https://github.com/OpenGenus/cosmos/blob/master/.github/CONTRIBUTING.md) contains a list of our contributors. While this is fine, it doesn't contain what it is supposed to: contributing guidelines!
- This can be confusing for

[2018-02-23 13:38] arnavb commented on #3250
@SnehaR26  I have opened another issue that actually lists the resolution to this. You may want to take it on by adding a comment to the issue.

[2018-02-23 16:13] SnehaR26 commented on #3299
Can I take up this issue?

[2018-02-23 16:20] arnavb commented on #3299
@SnehaR26 Yes you can take this up. Making a separate file is also a good idea, except that you should change the name of the file CONTRIBUTING.md to CONTRIBUTORS.md. Call the new file CONTRIBUTING.md.

[2018-02-23 16:36] SnehaR26 commented on #3299
Sure!
Is contributing guidelines an amalgamation of code of conduct and style guides for various languages?

[2018-02-23 16:50] arnavb commented on #3299
Basically the style guide should tell what the user needs to do before contributing, which is

1. Look at the style guides for your language
2. Follow the code of conduct
3. Make sure the algorithm is not already implemented

Obviously, more detail is needed, but this is what I came up with at my first thought.

[2018-02-23 18:27] vandana1212 commented on #3243
Okay. Thank you. I will be working on it in Java.

[2018-02-24 13:57] vandana1212 opened #3304 "Birthday Paradox Problem and Adding 2 numbers using Bit Manipulation in Python"
- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

I wish to add the Birthday Paradox problem in Python in the randomized algorithms and the code for adding 2 numbers using bit manipulation in the bit manipulation folder.

[2018-02-24 18:16] abdouskamel commented on #3304
Of course, go for it. :+1:

[2018-02-25 16:53] arnavb commented on #3304
On a side note, in the issue template:

[code]

If you want to check something, do:

[code]
👍

[2018-02-26 13:22] vandana1212 opened #3310 "Auto key cipher in C++"
- [ x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

I wish to add the auto key cipher in C++

[2018-02-26 13:27] vandana1212 commented on #3299
@arnavb may I also work on this issue ?

[2018-02-26 13:55] arnavb commented on #3299
@vandana1212 Well, since @SnehaR26 has already taken up the issue, there really is nothing you can do that I know of. (This is a pretty minor change). I would ask Sneha if there really is anything you can do. 👍

[2018-02-26 14:29] arnavb commented on #3310
@vandana1212 When checking in a box, just replace the space with an x. Eg `[x] test`.

[2018-02-26 14:31] arnavb opened #3311 "Tell Travis CI to Ignore Libgraph for C Build"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**
- Currently, our TravisCI build for C fails because an external library, libgraph-1.0.2, contains numerous errors. Because of this, the build is unable to succeed.
- I propose adding the change to the continuous integration so that this library is ignored, and eve

[2018-02-26 14:59] varshika03 opened #3314 "Read me for all folders in 'code' folder"
[ ]  New algorithm
[x] Update to an existing algorithm
[ ]  Error
[ ]  Proposal to the Repository

I wish to add read me files for code categories as well as the algorithms within the categories for which they are missing.

[2018-02-26 15:00] vandana1212 commented on #3314
I would also like to work with my partner for RGSoC @varshika03 for the same issue.

[2018-02-26 15:26] arnavb commented on #3314
By all means, go for it! 😄

[2018-02-27 01:43] LouisJenkinsCS opened #3321 "Non-Blocking Data Structures"
Any chance of adding non-blocking data structures? Even if it is just for garbage collected languages (Go, Java, Python, etc.) I believe it could be useful to have some on hand. Especially since the library is meant to host "every algorithm and data structure code that you will ever encounter", concurrent-safe data structures is a very common requirement nowadays.

[2018-02-27 06:04] rimshaakhan opened #3326 "boolean_parenthesization.cpp does not follow coding style guide"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
There should be spaces  between operator and operands.
Also, avoid using namespaces.

[2018-02-28 12:43] parulagg27 commented on #3311
Hi! I would like to work on this issue.

[2018-02-28 13:23] arnavb commented on #3311
@parulagg27 Go for it! It should only be a small change to the `.travis.yml`!

[2018-03-02 13:13] cheikhSall commented on #2494
Hi, can I implement dijkstra_shortest_path in java?

[2018-03-03 19:18] arnavb commented on #3321
@LouisJenkinsCS A great idea! Would you like to take this on? Make sure to look at our style guides located in guides/coding_style/ for your language!

[2018-03-03 19:22] arnavb commented on #3221
@abdouskamel Has this issue been resolved to your knowledge? I opened a new PR for this. #3311 I am going to close it now, since this already exists.

[2018-03-03 19:23] arnavb commented on #3311
@parulagg27 Instead of referring to this issue in your PR, please refer to #3221, which is the same issue.

[2018-03-03 19:27] arnavb commented on #3177
@tbhaxor By all means, go for it! 👍 Make a new folder, add a README template as well.

[2018-03-03 19:28] arnavb commented on #3081
@AdiChat could you please close this issue as it really isn't of any benefit to anyone.

[2018-03-04 16:42] arnavb commented on #3221
@abdouskamel Update! I have opened #3363 which fixes this issue!

[2018-03-04 20:05] #3299 closed

[2018-03-04 20:05] arnavb commented on #3250
@SnehaR26 Please close this issue now, as it is resolved!

[2018-03-04 21:16] AdiChat commented on #3081
Sure :+1:

[2018-03-04 21:16] #3081 closed

[2018-03-05 03:36] tbhaxor commented on #3081
@adichat i am developing a web app which which contains the implementation of all the algos included in cosmos

[2018-03-05 07:13] nirmaldalmia opened #3366 "Linked List - Menu Driven in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I went through all the codes for a singly linked list and found a program singly_lined_list_with_classes.cpp but it doesn't include all the functions that the linked list can perform like deletion. I could create a similar menu driven program in c with the functi

[2018-03-05 10:29] tbhaxor commented on #3177
@arnavb  need some time

[2018-03-05 10:39] tbhaxor commented on #3081
@arnavb @AdiChat  i need some `HTML` and `CSS` developer for my web app...
Will you help me ?

[2018-03-05 11:39] arnavb commented on #3081
Doesn't our search engine already contain all the algorithms? What exactly is the goal of this website @tbhaxor. Anyways, I would love to contribute if @AdiChat approves. You could even add the repository to the OpenGenus organization!

[2018-03-05 11:42] tbhaxor commented on #3081
@arnavb  my idea is concerned with implementing all your algorithms
Features that will be included in my idea
1. Explaining Algorithms with Images
2. Generating Answers on user input

[2018-03-05 11:47] tbhaxor opened #3369 "Update links on your website"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

This SS will explain every thing

![image](https://user-images.githubusercontent.com/28386721/36973449-0f5c39ee-2099-11e8-9bf1-cdd693c2ad03.png)

[2018-03-05 13:01] iattempt commented on #3369
Please change links with Cosmos Search
In the situation above:
http://search.opengenus.org/query/?q=fibonacci+search

[2018-03-05 16:38] AdiChat commented on #2494
Sure @cheikhSall Go for it :+1:

[2018-03-05 16:47] #3250 closed

[2018-03-05 17:33] abdouskamel commented on #3221
@arnavb No, this issue hasn't been resolved yet. Thank you for your pull request.

[2018-03-05 17:39] arnavb commented on #3366
By all means, go for it! Welcome to Open Genus!

[2018-03-05 21:05] anne27 opened #3371 "File Names"
**This is a(n):**
- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Just wanted to discuss something that's common to Cosmos and Cosmos Search repos. During a search, we basically check if a .cpp etc. file exists in the Cosmos repo folder.

So during the search, if a query is taken as "Logistic regression", all possible uppercase/

[2018-03-06 03:02] iattempt commented on #3371
This will fix that he/she will confuse if rule of name is not always be same.

[2018-03-06 09:37] anne27 commented on #3371
@iattempt So, do you think this is a good idea?

[2018-03-06 13:20] iattempt commented on #3371
Yes.

In addition, I am writing a [checker](https://github.com/iattempt/FileChecker), it can detect name of file or directory is expectable or not.

[2018-03-06 15:02] sggoyal1994 commented on #2737
Adding Topological sort in python 2.7

Thanks,
Team Bleedcode

[2018-03-06 15:28] arnavb commented on #3371
@iattempt If you aren't already done with most of this tool, would you care to add me as a collaborator to the repository? I'd love to work on it!

[2018-03-06 20:29] tbhaxor opened #3381 "Need your contribution to a new web app related to Cosmos"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I am creating a new web app that is powered by almost all the algorithms coded in cosmos
![image](https://user-images.githubusercontent.com/28386721/37056633-fd0b2e5e-21aa-11e8-8995-b330128017b3.png)

Link to repository : https://github.com/tbhaxor/cos_mos
Web Ap

[2018-03-06 20:30] tbhaxor commented on #3381
@arnavb my app will work like this
also i will include all the links to your resource
@AdiChat will u approve it ?

[2018-03-06 20:35] arnavb commented on #3381
@tbhaxor Have you made pushed any of the changes in your screenshot to your website? I can't seem to find this palindrome link, for example.

[2018-03-06 20:38] tbhaxor commented on #3381
its on localhost
wait 4 5 secs

[2018-03-06 20:45] tbhaxor commented on #3381
@arnavb  due to some reason i m unable to push
u can visit this link i am using port forwarding

Link to algo : http://f6df69a2.ngrok.io/cos_mos/algorithms/string/palindrome/

[2018-03-06 21:25] tbhaxor commented on #3381
@arnavb
here you go
http://tbhaxor.me/cos_mos/

click on palindrome

[2018-03-06 22:38] tbhaxor commented on #3381
@arnavb
Lipogram tester added
http://tbhaxor.me/cos_mos/

[2018-03-06 22:41] arnavb commented on #3381
@tbhaxor Hold your horses! Don't just go on adding changes before @AdiChat's approval! This might be a big waste of time if he feels it is not necessary (Or if AdiChat feels it _is_). 🏇

[2018-03-06 22:43] tbhaxor commented on #3381
@arnavb  i know bro
this is like my TIME PASS Activity :laughing:

[2018-03-07 10:56] AdiChat commented on #3381
It is not clear what you are trying to achieve. Moreover, we should keep projects developed over Cosmos separate from Cosmos.

A couple of contributors have developed applications over Cosmos as personal projects and we do encourage it. :+1:

It seems you are using the `JS` codes but you might not find it for all algorithms and in its current state, it is not providing any unique insights. It look

[2018-03-07 12:09] #3381 closed

[2018-03-08 18:41] abdouskamel commented on #3221
@arnavb I guess I can close it now ?

[2018-03-08 19:08] arnavb commented on #3221
@abdouskamel Yes, I would close it, as libgraph is no longer a problem for the c build.

[2018-03-08 21:09] parulagg27 opened #3385 "Links mentioned in wiki pages aren't working and a few information is not updated"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

I was going through the wiki pages of this repository and observed that:
- In the [home page](https://github.com/OpenGenus/cosmos/wiki):
   1. links of all the algorithms listed there, aren't working
   2. The style guides link, given at the end is also not worki

[2018-03-08 21:09] parulagg27 commented on #3385
I would like to work on this issue.

[2018-03-09 12:45] #2720 closed

[2018-03-09 14:58] #3221 closed

[2018-03-10 15:29] AdiChat commented on #3385
Thanks @parulagg27 for pointing this. I have fixed the links. :+1:

[2018-03-10 21:38] parulagg27 commented on #3385
Oh, great :D . I'm closing this issue.

[2018-03-10 21:38] #3385 closed

[2018-03-11 09:37] nonotreally commented on #3366
`#include <stdio.h>
#include <stdlib.h>
#include<conio.h>
struct node
{
    struct node *prev;
    int n;
    struct node *next;
}*h,*temp,*temp1,*temp2,*temp4;

void insert1();
void insert2();
void insert3();
void traversebeg();
void traverseend(int);
void Delete();

int count = 0;

void main()
{
    clrscr();
    int ch;
    h = NULL;
    temp = temp1 = NULL;
    printf("\n 1 - Insert at beginni

[2018-03-12 07:41] tushar-nitave opened #3393 "Harmony Search Algorithm"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Harmony Search Algorithm is a meta-heuristic optimization algorithm inspired from musicians and introduced in 2001 by Zong Woo Geem. I think it should be added to the list.

[2018-03-12 19:15] tushar-nitave commented on #3366
Can I take this?

[2018-03-12 19:33] nirmaldalmia commented on #3366
@tushar-nitave I am almost done with the code. I just need to format it properly and will be sending a PR today.

[2018-03-12 19:41] tushar-nitave commented on #3366
Okay. Sure.

[2018-03-13 02:24] NishantGupt1 opened #3399 "Left View Binary Tree in Java"
Add Java code for left view binary tree in /code/graph_algorithms
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

May I work on a Java solution for the left view binary tree?

[2018-03-13 22:06] tbhaxor opened #3402 "old codes are not supported in python 3"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Python 2 will be obsoleted in ~2 years. Some of your use python 2 functions like
1. print
2. xrange
3. raw_input

Changes to be made
1. import print from future
[code]
2. change xrange to range
[code]

3. change raw_input to range
[code]

[2018-03-14 10:44] arnavb opened #3404 "Anagram Code in C Assumes Too Much About Inputs"
https://github.com/OpenGenus/cosmos/blob/fb89194e55a5b0f8bae3bc88fbd0234240ede783/code/string_algorithms/src/anagram_search/anagram_search.c#L19

If the inputs have spaces in them, then the possibility of an anagram still exists. For example, `abcdef` is an anagram of `ace bdf` even with different lengths.

[2018-03-14 19:48] tbhaxor opened #3406 "why removed lapindrome_checker in string algorithms ?"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:** Earlier i have committed for lapindrome checker which was merged but now its not present there in string_algorithm

[2018-03-14 19:55] danos7777 commented on #3406
Ok thanks

On Wed, Mar 14, 2018, 2:48 PM Gurkirat Singh <notifications@github.com>
wrote:

[2018-03-14 20:10] #3406 closed

[2018-03-14 20:12] tbhaxor commented on #3230
coders may take help from https://gist.github.com/eigenein/1275094

[2018-03-14 20:19] arnavb commented on #3402
I think a better change might be to just convert the code? But yes, a good early change would be to add snippets such as this. However, this should be replaced with pure python3 code in the future.

[2018-03-14 20:20] arnavb commented on #3399
@NishantGupt1 By all means, go for it! 👍

[2018-03-14 20:20] arnavb commented on #3393
@tushar-nitave By all means, go for it! 👍

[2018-03-14 20:20] tbhaxor commented on #3402
may i take the responsibility, after march ?

[2018-03-14 20:20] arnavb commented on #3402
@tbhaxor By all means, go for it! :+1:

[2018-03-14 20:22] arnavb commented on #3326
@rimshaakhan Please close this issue as it is now resolved!

[2018-03-14 20:40] danos7777 commented on #3326
Ok I'm closing this

On Wed, Mar 14, 2018, 3:22 PM Arnav Borborah <notifications@github.com>
wrote:

[2018-03-14 22:00] Dhenderson10 opened #3408 "Add C++ implementation for addition using bits"
**This is a(n):**

- [ ] New algorithm
- [X] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

There is no C++ implementation of addition using bits; I would like to add this implementation as well as a recursive version.

[2018-03-14 22:02] danos7777 commented on #3408
Please do I'm still trying to learn how to do it

On Wed, Mar 14, 2018, 5:00 PM Dhenderson10 <notifications@github.com> wrote:

[2018-03-15 11:50] nonotreally opened #3411 "Matrix Operations"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I wish to add matrix operations under mathematical algorithms like
1)Addition of two matrices
2)Subtraction of two matrices
3)Product of two matrices
4)Checking equality of matrices

[2018-03-16 11:04] ankita2001 opened #3414 "Playing with operations using numbers"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to add various aspects of operations in a number which defines and deliver it in different forms. Operations as if:
1. Prime number or not.
2. Even or odd.
3. Factorial of a number.
4. Converted into number system forms:
A-)  Binary form
B-)  Decimal form

[2018-03-16 13:20] adeen-s commented on #3414
We have algorithms to check for all these properties, and conversions. In my opinion, combining all these in a single program will serve no further purpose.

[2018-03-17 21:03] arnavb commented on #3404
Anyone willing to take this on?

[2018-03-17 21:05] arnavb commented on #3414
I agree with @adeen-s. These operations already have their own separate implementations. Combining them serves no real purpose.

[2018-03-17 21:08] arnavb commented on #3411
@nonotreally I would be careful with this as there are some implementations hovering around the repo. Otherwise, go for it!

[2018-03-18 02:06] #3414 closed

[2018-03-18 14:46] arnavb commented on #3366
@nirmaldalmia Could you reference this issue from your PR? (Using #3366)

[2018-03-19 15:55] #2505 closed

[2018-03-21 20:41] #3369 closed

[2018-03-22 15:14] #3326 closed

[2018-03-22 17:24] tbhaxor opened #3426 "add file splitter and joiner utility in any language"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

visit [this](https://khangdjango.blogspot.in/2016/11/how-to-code-file-splitter-and-joiner-in-python.html) link for reference

[2018-03-22 17:29] tbhaxor commented on #3426
i will code in python3
plz lemme do it, it my college project too :laughing:

**note :** it will be depending on `argparse`
ps: i will not copy paste it from above url, i will code from scratch instead

[2018-03-22 19:56] tbhaxor opened #3431 "add validate IPv6 in any language"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

to know about IPv6 visit [this](https://en.wikipedia.org/wiki/IPv6) link

[2018-03-22 19:56] tbhaxor commented on #3431
i will be coding in python3

[2018-03-22 20:05] tbhaxor commented on #3411
@arnavb  can we use numpy ?

[2018-03-22 20:12] arnavb commented on #3411
@tbhaxor I would try to avoid external dependencies, as the code may become non-portable otherwise. See what @AdiChat says.

[2018-03-22 20:46] tbhaxor commented on #3411
@arnavb [this](https://github.com/tbhaxor/cosmos/blob/master/code/unclassified/src/magic_square/magic_square.py#L2) code is using numpy :smiley:

[2018-03-22 20:52] tbhaxor commented on #3402
i believe in updatig all code to py3

what do you think @AdiChat and @arnavb ?

[2018-03-26 15:03] mansiag commented on #3402
I would like to work on this.

[2018-03-26 15:06] arnavb commented on #3402
@mansiag @tbhaxor Sure, like I said, go for it! Python 2 [is getting old](https://pythonclock.org/)...

[2018-03-26 15:40] tbhaxor commented on #3402
@mansiag lemme take this :D
I have commitrd changes just 2 3 directories are left

[2018-03-26 15:41] mansiag opened #3440 "Missing print statement in queue.py in line 43"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Missing print statement in line 43 in [queue.py](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/src/queue/queue/queue.py).

[2018-03-26 15:54] arnavb commented on #3402
@tbhaxor You've gone through nearly every single file?

Wow... 👏 👏

[2018-03-26 16:21] mansiag opened #3441 "No output in tree.py"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**
[tree.py](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/src/tree/binary_tree/binary_tree/tree/tree.py) does not give any output.

[2018-03-26 16:54] tbhaxor commented on #3402
@arnavb never doubt on my dedication :laughing:

[2018-03-26 17:06] tbhaxor commented on #3402
@mansiag please allow me to open other Pull Request

[2018-03-26 18:07] mansiag commented on #3402
@tbhaxor Can I work on this segment or should I delete this PR? I wont make any other changes. Thanks:smile:

[2018-03-26 18:26] tbhaxor commented on #3402
@mansiag just do me favor please review all code in `code/data_structures` :smile:

[2018-03-26 18:43] tbhaxor opened #3443 "Fix error in python code"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

File Location :
[code]
Error :
[code]

[2018-03-27 14:14] mansiag commented on #3402
@tbhaxor Thanks:smile:

[2018-03-28 17:57] tbhaxor opened #3447 "exception thrown in closest pair"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

File
[code]

Error (after formatting python file):
[code]

[2018-03-29 16:15] notnerb commented on #3443
I'd like to work on this unless you are doing so already.

[2018-03-29 19:18] mansiag commented on #3447
I would like to work on this issue unless you are doing so already.

[2018-03-30 15:02] hrsvrdhn commented on #3441
Is anyone working on this issue?

[2018-03-31 13:17] mansiag commented on #3441
You can work on this issue.

[2018-03-31 21:21] mansiag opened #3456 "Exception thrown in rope.py"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

File

``` cosmos/blob/master/code/data_structures/src/tree/binary_tree/rope/rope.py```

Error

[code]

[2018-03-31 21:51] mansiag opened #3457 "prefix_to_postfix.py does not give the required output"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**
[prefix_to_postfix.py](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/src/) converts an infix expression to postfix expression rather than converting a prefix expression to postfix expression. The algorithm needs to be corrected to give the r

[2018-04-02 12:21] alliemoon commented on #3404
@arnavb I can take this on if no one has

[2018-04-02 14:22] erobynreid commented on #3457
I would like to work on this issue if no one is doing so already.

[2018-04-02 14:32] erobynreid commented on #3440
I would like to work on this if no one is already working on it.

[2018-04-02 14:52] erobynreid commented on #3456
I would like to work on this if no one is doing so already.

[2018-04-02 15:34] mansiag commented on #3456
Yeah , go for it.:smile:

[2018-04-02 15:34] mansiag commented on #3440
Yeah, go for it.:smile:

[2018-04-02 15:43] erobynreid commented on #3440
Should the implementation of queue.py match the queue.c implementation which has an option to print the entire queue as well as enqueue or dequeue and item?

[2018-04-02 16:18] calemon opened #3461 "Updating Insertion sorts documentation to adhere to documentation template"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Currently in the insertion sort documentation, it lists an overview and the time complexity of the algorithm. It should be updated so that it will follow the [documentation template](https://github.com/OpenGenus/cosmos/wiki/documentation_template) of the repo. I

[2018-04-02 16:54] calemon commented on #3461
Pull request at #3462

[2018-04-02 17:19] mansiag commented on #3440
@arnavb Please help here:smile:

[2018-04-03 15:16] ulshell commented on #3456
I would like to correct it

[2018-04-04 13:38] GuillermoGarrido opened #3467 "The Travis CI build could not complete due to an error"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

Does anyone know why the Travis CI build keeps failing for every pull request in this repository?

[2018-04-06 04:45] kobra-cai commented on #3431
I'll try to implement this in C if you don't mind

[2018-04-06 06:02] AdiChat commented on #3431
@kobra-cai Sure, Go for it :+1:

[2018-04-08 07:04] tharun208 commented on #1676
can you close this ! i added the code :)

[2018-04-08 08:02] AdiChat commented on #1676
Sure. Feel free to make new contributions. :smile:

[2018-04-08 08:02] #1676 closed

[2018-04-09 00:55] arnavb commented on #3440
@erobynreid No, it isn't necessary, but it would keep a level of consistency (which is lacking right now) between all of the languages. It's really up to you.

[2018-04-09 00:55] arnavb commented on #3404
@alliemoon Go for it! 👍

[2018-04-09 08:30] nirajpandkar opened #3472 "Contribution removed?"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository
- [x] A contribution question

**Details:**
I had added an [nqueen implementation pull request](https://github.com/OpenGenus/cosmos/pull/1129) during the Hacktober Fest.

I just came in to check out if anyone had improved it or made any changes. I find that the [nqueen implemen

[2018-04-09 08:39] iattempt commented on #3467
@GuillermoGarrido For `diff` errors in C++, There so many files which are not followed coding style, this error maybe caused by:
1. Files are older (no coding style restriction).
2. The coding style had already defined but the checking script not be written.
3. Some coding style are changed.

[2018-04-09 08:52] iattempt opened #3473 "Coding style of C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
I'm fixing the coding style (Travis-CI errors) and I found some dangling style which need to be defined.

1.  Whether the 'namespace' body is indented.

[2018-04-09 10:31] iattempt commented on #3472
Please use `git log --follow`.

![screen shot 2018-04-09 at 6 30 32 pm](https://user-images.githubusercontent.com/22850435/38493256-1fbf2138-3c24-11e8-8aac-659badcb89af.png)
![screen shot 2018-04-09 at 6 30 39 pm](https://user-images.githubusercontent.com/22850435/38493257-1fec013a-3c24-11e8-8842-56f87ca9b29b.png)

[2018-04-09 11:26] nirajpandkar commented on #3472
Ok so I haven't pulled the changes from the master branch into my local repo since the merge. I only have the nqueen branch which I merged into the remote master branch in Oct.

Do you want me to pull master branch and `git log` the nqueen file?

[2018-04-10 03:48] nirajpandkar commented on #3472
Oh yeah I know that.

I asked that because our `git log` output won't be any different.
![git_log1](https://user-images.githubusercontent.com/10242944/38535199-104aeff8-3ca0-11e8-8002-f40b16546fca.png)
![git_log2](https://user-images.githubusercontent.com/10242944/38535203-127da66c-3ca0-11e8-8fe9-dc6931494419.png)

[2018-04-10 14:59] arnavb commented on #3473
@iattempt This is a very hard task, and it's good that someone is willing to do it! 😁

[2018-04-11 15:24] brunaostii opened #3480 "STEINER TREE PYTHON"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Can anybody implements the steiner tree by using python?

[2018-04-12 15:38] arnavb commented on #3480
@brunaostii If you want to do it, you can. On a side note, could you _not_ use all caps in the title?

[2018-04-12 15:39] #3480 closed

[2018-04-12 15:39] arnavb commented on #3467
The first C build actually has a problem with one file. (Sleep_sort)

[2018-04-12 15:45] arnavb commented on #3480
@brunaostii Why close?

[2018-04-12 16:59] arnavb commented on #3461
@calemon Please close this issue!

[2018-04-12 17:01] arnavb commented on #3447
@tbhaxor Please close this issue!

[2018-04-12 17:01] arnavb commented on #3443
@tbhaxor Please close!

[2018-04-13 08:55] Samollo opened #3484 "Adding Diamond-Square algorithm in JAVA"
**This is a(n):**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Hi, I'd like to implement Diamond-Square algorithm, a method allowing to generate heightmaps for computer graphics.

[2018-04-13 15:25] arnavb commented on #3484
Go for it! Welcome to OpenGenus!

[2018-04-13 15:27] arnavb opened #3486 "Use Proselint to Verify the Grammar of Markdown"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[Proselint](https://github.com/amperser/proselint) is a grammar checking tool for verifying Markdown files. Since we have so much documentation, I think that adding Proselint to our CI will find English grammar errors. When these are resolved, our markdown will h

[2018-04-13 22:02] parulagg27 opened #3488 "Wrong output given by project euler problem 36 python code"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

Project euler [problem_036.py](https://github.com/OpenGenus/cosmos/blob/master/code/online_challenges/src/project_euler/problem_036/problem_036.py) gives the wrong output, i.e., **0**.

[2018-04-14 16:09] parulagg27 opened #3490 "Adding Simpson's 3/8 rule algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Simpson's 3/8 rule is another method for numerical integration based upon a cubic interpolation rather than a quadratic interpolation. Currently, our repository does not contain this algorithm.
I would like to add it's implementation in C++ and python.

[2018-04-14 19:50] SnehaR26 commented on #3490
I can work on the java and C implementation.

[2018-04-16 14:16] parulagg27 commented on #3490
Can we work on this issue @AdiChat  @arnavb @iattempt ?

[2018-04-16 14:28] arnavb commented on #3490
@SnehaR26 @parulagg27 Both of you go for it!

[2018-04-16 14:33] parulagg27 commented on #3490
Alright :D

[2018-04-17 00:33] kobra-cai commented on #3441
I don't think this has necessarily been solved so I'll make a pull-request that has modified the file so that it can print specific insertions, deletions, and print the tree itself.

Explanation:
For example, it takes in an input_file.txt containing i6 i8 i3 i1 i9 i5 i2 d1 d5 p.
i6 means insert 6, d1 means delete 1, and p means print the nodes. The printing in this case uses the traversal in the o

[2018-04-17 01:01] kobra-cai commented on #3411
If you don't mind, I will do a pull request for the matrix multiplication and equality in C++

[2018-04-17 18:11] #3457 closed

[2018-04-17 18:12] #3440 closed

[2018-04-19 09:42] palash25 commented on #316
can I be removed from the assignees please @AdiChat .
and also from these https://github.com/OpenGenus/cosmos/issues/314
https://github.com/OpenGenus/cosmos/issues/274
https://github.com/OpenGenus/cosmos/issues/265
Thanks.

[2018-04-19 18:47] tbhaxor opened #3504 "add codes in asm, pwsh and vbs"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Algorithms must me implemented in low level languages like `asm (assembly)` or `ps1 (powershell)` or `vbs (vbscript)`

[2018-04-19 19:17] tbhaxor opened #3506 "Add menu driven doubly linked list in any language"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2018-04-19 23:28] npcode15 commented on #3506
Hello, may I take this issue?

[2018-04-20 05:27] tbhaxor commented on #3506
@npcode15 go for it :+1:

[2018-04-20 19:06] npcode15 commented on #3506
It is already implemented in 6 languages. Any particular language you want?

[2018-04-20 19:45] npcode15 commented on #3506
It is already implemented in 6 languages, is there a specific language implementation you want?

[2018-04-21 09:42] codezoned opened #3511 "Addition of filter algorithims"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Possible addition of filter algorithms such as:
->Linear filter
->Median filter
-> Gaussian filter, etc.

People working on computer vision or image manipulation would need it.

[2018-04-21 13:37] AdiChat commented on #3511
Yes, this will be a great addition. :+1:

[2018-04-21 21:03] christianbender opened #3514 "Affine.java : BUG"
* The program ```Affine.java``` ([here](https://github.com/OpenGenus/cosmos/blob/master/code/cryptography/src/affine_cipher/Affine.java)) has a bug. The encryption process fails.  I fixed it. Now it run correct.
[code]
The method above has a bug.

I fixed this issue #3513

[2018-04-23 13:43] arnavb commented on #3514
@christianbender Make sure that when your PR gets merged, you close this issue as well. Cheers!

[2018-04-23 13:44] arnavb commented on #3504
@tbhaxor If you want (and have the patience) to do this, then go for it! (I warn you, it's NOT easy) 🙀

[2018-04-23 13:45] arnavb commented on #3488
@parulagg27 Do you want to take this issue on?

[2018-04-23 13:47] arnavb commented on #3486
@iattempt Are you willing to do this? (You have the most experience with CI)

@InfiniteCoder If you are still there, you can also take this on.

[2018-04-24 18:17] tbhaxor opened #3530 "Add lapindrome checker in any language"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2018-04-24 18:17] #3530 closed

[2018-04-25 07:54] reallinfo opened #3531 "New logo for Cosmos"
Hello again! I designed logo for  Cosmos. I used the cosmos-search colors. Please let me know if there is anything you want to add.

![cosmos](https://user-images.githubusercontent.com/36298335/39232765-08e20da4-4877-11e8-81a0-201c60982d78.jpg)

[2018-04-25 08:01] InfiniteCoder commented on #3486
Sounds nice, but I have exams going on currently. Would get to this after exams, if it's still unresolved by then :grin:

[2018-04-25 13:44] codezoned commented on #3511
Alright, I'll be making a PR in some time.

[2018-04-25 21:47] christianbender opened #3534 "Project-Euler : c++ version of problem 10 BUG"
The correct solution is ```142913828922```. The C++ version gets ```142918025514```.
I will fix it today.

[2018-04-26 12:24] christianbender commented on #3534
@arnavb @AdiChat  I fixed the bug #3536

[2018-04-26 12:34] christianbender commented on #3514
@arnavb of course

[2018-04-27 15:49] AdiChat commented on #3531
Nice work :smile:

It will be great if you can use the OpenGenus logo and integrate a space theme or signify the message of building the universe. :+1:

[2018-04-29 12:13] #3514 closed

[2018-04-29 20:31] RedBlight opened #3541 "Should we define a guideline rule for vector math heavy algorithms?"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
How are we supposed to handle vector math in our code? I have a cool vector class but it is ~800 LOC. Should I directly paste it on top of all of my vector-heavy mathematical algorithms?

Or, should I include it as a seperate file?

Should I upload it somewhere in

[2018-05-02 14:39] AdiChat commented on #3541
Yes, we must set guidelines to define actions in such a scenario. :+1:

Keeping all code in one file or the same folder reduces its dependencies to other sections.

Uploading the common file once in a major section for use in sub-sections makes more sense of uniformity to a user exploring that particular section. This should be our preferred path.

For this, we need to:

* Define a rule in [Cosmos

[2018-05-05 20:52] RedBlight commented on #3541
For now then I'll just add my "LuVector.hpp" in the folder where "algorithm.cpp" is in, and then include .hpp in the .cpp files, until we decide on something later.

[2018-05-06 11:42] #3534 closed

[2018-05-21 07:26] deepyadav442 commented on #3181
@riya-17
your code doesn't follow coding standards in C .It is giving error while building in travis. Can you please check this issue.

[2018-05-21 08:43] riya-17 commented on #3181
@deepyadav442  I have already checked I do not see any error, I am unable to understand what is causing this error.

[2018-05-21 08:59] deepyadav442 commented on #3181
@riya-17 The function declaration in C are made first if you are putting functions below main OR you can define them above main/using function to avoid that.Though that was only warning but it was error in travis build because they have added coding styles and added different settings .

[2018-05-22 13:26] arnavb commented on #3467
I actually am unsure what the problem with the clang C build is right now.

[2018-05-23 00:38] iattempt commented on #3467
`windows.h` is dependent.

IMO, you could add preconditions and implement windows and linux version for this.

![screen shot 2018-05-23 at 8 33 53 am](https://user-images.githubusercontent.com/22850435/40397244-254b7e28-5e64-11e8-9630-44cb61327d67.png)
![screen shot 2018-05-23 at 8 34 35 am](https://user-images.githubusercontent.com/22850435/40397245-257c91b6-5e64-11e8-9322-737daf46813b.png)

[2018-05-23 04:58] deepyadav442 commented on #3467
@iattempt  I have implemented linux version for this and tried to merge this but build again failed stating error with bogo_sort.c file.I tried to fix bogo-sort.c but then it got stuck with sleep_sort.c Its kind of loop.

![image](https://user-images.githubusercontent.com/10670478/40404133-d4ad54e0-5e73-11e8-9b0f-383af2273316.png)

[2018-05-23 07:35] wadelee1986 opened #3584 "the period is 3600 ??"
file:   x -> stake  -> tick

      if p.InflationLastTime+blockTime >= 3600 {
		p.InflationLastTime = blockTime
		p = k.processProvisions(ctx)
	}

[2018-05-23 13:13] iattempt commented on #3467
@deepyadav442 [Please read this](https://stackoverflow.com/questions/8440816/warning-implicit-declaration-of-function)

[2018-05-24 06:08] deepyadav442 commented on #3467
@iattempt  I know the reason and also I have updated this code(this was not my code initially).I am talking about merging it finally so that update can be reflected in OpenGenus/cosmos repo.

[2018-05-27 17:54] DeVasu commented on #3411
I can code and implement all those Matrices Operations easily. but is someone else also working on this already?

[2018-05-27 18:14] nonotreally commented on #3411
Yes I'm working on it...

On Sun 27 May, 2018, 11:24 PM Vasu Dev, <notifications@github.com> wrote:

[2018-05-28 16:30] sahitpj opened #3587 "Fast Matrix Multiplication and Fast Integer Multiplication"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I wish to add the following two algorithms which use the divide and conquer strategy-

1. Fast matrix multiplication - Strassen's Algorithm
2. Fast Integer multiplication -  Karatsuba Algorithm

Mathematically it be can be shown that the following algorithms are

[2018-06-06 09:57] DeVasu commented on #3587
@sahitpj  Have you yet added those Algorithms? I wish to work on them if you haven't yet

[2018-06-06 10:06] sahitpj commented on #3587
@DeVasu I have worked on the Python versions and C++ versions of them already. You can work on the others if you wish

[2018-06-06 10:55] DeVasu opened #3592 "Adding Operations on Data Structures in Different Languages"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Right Now, Different Operations on Data Structures are available in **only 1-2 Languages**, I would like to add Those Operations in Different Languages.

[2018-06-06 10:57] DeVasu commented on #3592
@AdiChat  Is it okay to do that in different languages like C++,Java,C,Python etc.? It will certainly create the variety of Languages.

[2018-06-07 06:26] AdiChat commented on #3592
Sure, go for it :+1:

[2018-06-08 12:47] Sodani commented on #3592
Hi,

I am very new to github opensource code, i wanted to contribute but can some one teach me how to do .

[2018-06-09 15:47] uds5501 commented on #3592
@DeVasu I would like to know what are the operations you are talking about precisely. I guess I can help with the python analogies of the same

[2018-06-09 16:02] DeVasu commented on #3592
@uds5501 operations on data structures like delete, merge, print_reverse etc are only available in limited Languages at the moment. If you would like to help in this issue, you can add those operations in python

[2018-06-09 16:42] Logan-47 commented on #3592
@DeVasu  I think I can also help with C++ in this.

[2018-06-09 16:47] DeVasu commented on #3592
Thanks @Logan-47, any help in this issue will be useful for this project

[2018-06-09 17:15] ritwik12 opened #3594 "Travis fails in case of .C file"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

This issue is related to the travis build fail in case of ".c" files which is noticed in PR #3579. I noticed that in travis configuration we are having "make c" which uses make file. In the make file, here we have something like compiling all the ".c" files. See

[2018-06-10 08:11] anushkaaao commented on #3592
@DeVasu I'll help with Java.

[2018-06-10 08:35] FR4NKESTI3N commented on #3490
Can I do its c++ implementation if noone else is doing it?

[2018-06-10 18:18] SnehaR26 commented on #3490
I am facing a silly technical issue. I accidentally merged a pull request which I am unable to revert. As a result, it adds three commits. :disappointed:
![ask](https://user-images.githubusercontent.com/32961290/41204899-4c4a6180-6d08-11e8-8632-ced7eea168b9.JPG) I hope this image will make it clear. I have already worked on the java and C implementation. If anyone knows how to solve this problem p

[2018-06-10 20:16] soumya-ranjan7 commented on #3488
@arnavb  Can you assign this issue to me?

[2018-06-11 10:23] SanjanaSunil opened #3597 "Segment Tree in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

May I work on the C code for segment tree range minimum query?

[2018-06-11 17:27] uds5501 commented on #3411
@tbhaxor  Hey, just wanted to know that if you are still working with the python part or not. I could help with it if you may want to pass on the python implementation

[2018-06-11 17:34] nonotreally commented on #3411
I'm only working on C and C++ part...

On Mon 11 Jun, 2018, 10:57 PM Uddeshya Singh, <notifications@github.com>
wrote:

[2018-06-11 17:37] uds5501 commented on #3411
@nonotreally Great! I will help with python part

[2018-06-11 20:31] yashshah1 opened #3601 "Infix to postfix evaluation"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Addition of infix to postfix in Python

[2018-06-11 20:38] #3601 closed

[2018-06-11 20:40] yashshah1 commented on #3504
Which ones are you hinting at?

[2018-06-11 20:45] yashshah1 opened #3602 "Addition of avl tree in python"
**This is a(n):**

- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Support for avl tree in python

[2018-06-13 03:35] skywalker212 opened #3604 "Code for UDP/TCP Sever in Networking Section"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

We can add an algorithm/code to host a UDP/TCP file server. We can also extend the problem by having error-free TCP-like UDP server using checksum and acknowledgments.

[2018-06-13 03:36] skywalker212 commented on #3431
I would like to implement this in JavaScript

[2018-06-13 08:51] anushkaaao opened #3606 "Add new algorithms"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
There are new algorithms that can be added in different languages, which are not available as yet, for various operations on singly linked list.

[2018-06-13 09:13] anushkaaao commented on #3606
@AdiChat what's your opinion on this?
I suppose, it will help with the variety operations on singly linked list.

[2018-06-14 20:49] yashshah1 commented on #3606
Can I help?

[2018-06-15 05:27] anushkaaao commented on #3606
I'm working with Java. Sure, you may help with python.

[2018-06-16 14:14] yashshah1 commented on #3602
Is this not needed?

[2018-06-18 11:31] meettaraviya opened #3609 "Proposal for new module on theoretical computer science"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add a module on theoretical computer science, which will contain implementation of algorithms related to automata, transducers, regular expressions and turing machines. For starters I will like to add various algorithms related to conversion between dif

[2018-06-18 18:31] LouisJenkinsCS commented on #3321
I would like to, but unfortunately I cannot (under contract right now), maybe within a few months I can come back to revisit this in the future.

[2018-06-19 10:27] arnavb commented on #3321
Of course. Take your time!

[2018-06-19 10:29] arnavb commented on #3584
If you think you have the correct solution, you can open a PR for it.

[2018-06-19 10:30] arnavb commented on #3594
@ritwik12 Yes, we are current aware of this, but are working on it slowly. There are other issues open with the same intent as this, so I believe this can be closed.

[2018-06-20 08:50] Garvit-k commented on #3606
I have added the code for the above operations in Java [Check this out](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/src/list/singly_linked_list/operations/unclassified/LinkedListeg.java)

[2018-06-20 13:06] ritwik12 commented on #3594
@arnavb Sure

[2018-06-20 13:06] #3594 closed

[2018-06-22 13:11] ananyaks commented on #3592
@DeVasu can I contribute with implementations in C ?

[2018-06-23 07:02] uds5501 opened #3613 "Creating a seperate directory for Game Theory"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I believe this community can use a repository to contribute their algorithms for Game Theory! Moreover,
I need to create a new game_theory directory for my internship assignment.

[2018-06-26 16:25] meettaraviya commented on #3609
#3621 Added basic implementation of acceptance in DFA and NFA. Will add more algorithms if this gets accepted

[2018-06-27 10:19] #1215 closed

[2018-06-27 10:19] #1211 closed

[2018-06-27 10:19] #1222 closed

[2018-06-27 10:19] #1217 closed

[2018-06-29 05:34] nitishbahl commented on #3606
Hey, I can help with C++ implementation if required.

[2018-06-29 05:38] nitishbahl commented on #3592
I'm willing to help in C++

[2018-06-29 07:15] nitishbahl opened #3623 "Code implementation in C++ for balanced_expression in stack data structure"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Currently the implementation of [balanced_expression](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/src/stack/balanced_expression) problem under [Stack](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/src/stack) data st

[2018-06-30 10:48] saurabhgoyaliitr commented on #3623
Hi, I want to contribute the C++ implementation.

[2018-06-30 12:23] saurabhgoyaliitr opened #3626 "Find the nearest smaller number for every element such that the smaller element is on left side"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Given an array of integers, find the nearest smaller number for every element such that the smaller element is on left side.
Implementation language: C++
Data Structure used: Stack

[2018-07-01 10:37] #1621 closed

[2018-07-01 10:37] #1616 closed

[2018-07-01 10:37] #1603 closed

[2018-07-03 20:51] yashshah1 opened #3629 "Addition of SHA"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to add implementations of the SHA

[2018-07-04 16:17] durantjm198 opened #3631 "Addition of Ant Colony Optimization"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Probabilistic multi-agent algorithm for shortest-pathfinding in graphs.
Should this go in AI, graph algorithms, or somewhere else?
I will start with Java.

[2018-07-06 06:03] meettaraviya commented on #3609
#3633 Added support for NULL moves, and algorithm to remove them

[2018-07-09 10:24] CodeSeeker99 opened #3634 "Adding C++ for Prefix to Postfix"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Currently, the prefix to postfix algorithm is available in python only, I'd like to add C++ support.

[2018-07-11 18:08] #3587 closed

[2018-07-15 16:57] #3629 closed

[2018-07-17 06:59] meettaraviya commented on #3609
@AdiChat @arnavb Can you please either merge or discard this pull request? Atleast tell me what's the problem? Is this a too much specialized algorithm?

[2018-07-20 07:25] hell-abhi opened #3640 "Linked List in Cpp and Python"
**This is a(n):**

- [ ] New algorithm
- [ x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Creating linked list implementation in cpp and python, currently it is only in java.

[2018-07-22 14:59] PranjalAgni opened #3641 "Adding Quick Sort taking pivot as first element and random pivot."
**This is a(n):**

- [ ] New algorithm
- [ x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Adding quick sort implementation in cpp taking pivot as first element and random quicksort

[2018-07-23 21:03] SabinDiwan commented on #3640
Ok.sorry.im like having another episode of freaking out here.whr the comment is 👹.
Whr do i stand now.whr to began.how if i have this phone in my hand an an hour maybe before ill endup passing out for say ..this time maybe 4 hours.start.run.go.tell me.

[2018-07-23 21:05] SabinDiwan commented on #3640
Before tomr my bro is coming to get my passport for some visa canada maybe.dont know.but i know its going for a good time.plus ids.they r expired.thou.
Cant judge.cant say wat?

[2018-07-23 21:19] SabinDiwan commented on #3640
Episode as in 3 people saying tht everyone get such emails.bill gates dont talk to anyone.=as if?🤓?wat?=anews?
And  am i going anywhr
Do i have something to show?
Any confirmation?
This emaiFuck sabin.u got time to attend such issues.i dont.we dont.!!!
A=thts not wat meor us.were teaching our repeat. and i just know wat will happen here.
I want them out!
I know what s happening to 2 of my raised o

[2018-07-25 04:02] deepyadav442 commented on #3640
if no one is working on this then I can code them ?

[2018-07-29 06:49] shreybatra opened #3645 "Adding the concept of Differential Array"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding the concept of differential array, which is more better and efficient than segment trees for particular queries task. For example 100 queries to add X from L to R.

[2018-08-01 06:09] ulshell commented on #3640
Please assign me this issue
I would like to work @AdiChat

[2018-08-01 06:12] ulshell opened #3646 "More quicker quick sort"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2018-08-05 08:04] hackboxlive commented on #3631
For a reference to an existing implementation in C++, we implemented [Ant-TSP](https://github.com/hackboxlive/ant-tsp) couple of years ago

[2018-08-08 18:57] deesims commented on #3623
Can I do python implementation ?

[2018-08-13 11:24] skywalker212 opened #3650 "Add code for Largest Independent Set"
**This is a:**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/src/longest_independent_set
The repo folder exists but there is no code or problem description, I am working on this solution.

[2018-08-15 16:09] divyeshgaur commented on #3606
I can help with java and python

[2018-08-15 16:10] divyeshgaur commented on #3640
i would like to work on this

[2018-08-15 16:11] divyeshgaur commented on #3602
I would like to work on this.

[2018-08-17 02:35] deesims commented on #3646
ill take python and java implementation

[2018-08-19 10:07] skywalker212 opened #3652 "Add code for Number of Paths in a matrix problem"
**This is a:**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**description**
Count all the possible paths from top left to bottom right of a `m x n` matrix with the constraints that from each cell you can either move only to right or down. The cell is represented by Zeros and Ones, 0 means that there is path possible and 1 means it is an o

[2018-08-21 13:53] import-keshav commented on #3640
I have done this issue.
i have made single linked in python.
please accept my pull request

[2018-08-22 14:25] import-keshav commented on #3243
i can work in python

[2018-08-24 03:17] steven-isbell opened #3655 "Add single and double linked lists, trie, javascript implementation"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding both the single and double linked lists in JavaScript, also adding a JavaScript implementation of a trie.

**Discussion**
Would it be beneficial to update the constructor functions in JavaScript structures to ES6 classes?

[2018-08-31 07:32] kss682 commented on #3488
Hi ,Iam new to contributing to organizations.
Can I work on this issue.

[2018-09-02 04:27] HarrisonL7 opened #3662 "Adding Gale-Shapley Algorithm to solve Stable Matching/Marriage problem"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Given n men and n women, where each person has ranked each person of the opposite sex according to their preference. Males and females are matched such that there are no two people of opposite sex who would both rather have each other than their current partners.

[2018-09-03 19:45] codegirl20 opened #3663 "Add Kadane tag to /largest_sum_contiguous_subarray/"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2018-09-08 08:56] CAlmendros commented on #3663
Maybe is not a good idea to add this information also on the file name, to not make it excessively long. A solution could be to add "Also known as: Kadane's algorithm" as a comment at the comment block in the top of the code file, making it easy to find for the user with a search like "grep -r Kadane .".

[2018-09-14 20:06] #2712 closed

[2018-09-14 20:07] #2737 closed

[2018-09-15 16:31] amit-s19 commented on #3634
assign me this issue pls.

[2018-09-16 04:32] amit-s19 commented on #3506
hey, can u pls assign me this issue? I can code this in cpp and python 3

[2018-09-21 14:23] kss682 commented on #2556
Hi, I would like to work on this issue.
Thanks

[2018-09-27 18:56] sibasish14 opened #3677 "Add Digit DP"
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Program to count how many numbers x are there in the range a to b, where the digit d occurs exactly k times in x. This program uses a special type of dynamic programming approach called Digit DP. The implementation is done in C++.

[2018-09-28 07:03] #172 closed

[2018-09-30 15:26] itsmepiyush2 opened #3679 "Add Code for Perceptron Implementation"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Program for Python implementation of a perceptron.

[2018-10-01 08:30] mor11235 opened #3682 "Merge two arrays"
Merge two given arrays, C

 implementation.

**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

[2018-10-01 08:43] mor11235 opened #3683 "nth fibonacci number"
Find the nth fibonacci number (starts from 0). C implementation.

**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[nth_fibo.zip](https://github.com/OpenGenus/cosmos/files/2433255/nth_fibo.zip)

[2018-10-01 09:28] mor11235 opened #3684 "nth fibonacci solution"
Find the nth Fibonacci  #3683
[nth_fibo.zip](https://github.com/OpenGenus/cosmos/files/2433426/nth_fibo.zip)

**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

[2018-10-01 09:30] mor11235 opened #3685 "Merge two arrays solution"
#3682
[merge_array.zip](https://github.com/OpenGenus/cosmos/files/2433430/merge_array.zip)

**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2018-10-01 12:35] #3645 closed

[2018-10-01 15:41] #3677 closed

[2018-10-01 16:03] sonasingh46 commented on #3682
@AdiChat
I would like to work on this issue.

[2018-10-01 16:03] AdiChat opened #3686 "Add code for Principal Component Analysis (PCA)"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Principal Component Analysis (PCA)** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/principal_comp

[2018-10-01 16:19] #3679 closed

[2018-10-01 16:38] AdiChat commented on #3683
@sonasingh46 Sure, go for it :+1:
Let [me](https://discourse.opengenus.org/u/aditya/) know in our discussion forum once you open a pull request

[2018-10-01 16:47] AdiChat commented on #3682
@sonasingh46 Sure, go for it

[2018-10-01 18:11] mor11235 commented on #3683
How can I open pull request on my solution?

[2018-10-01 18:34] mor11235 commented on #3685
Create merge #3687

[2018-10-02 09:58] AdiChat opened #3700 "Add code for Naive Bayes algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Naive Bayes algorithm** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/naive_bayes/`

If you face

[2018-10-02 10:11] danielmg97 commented on #3700
Can I leave an example of Naive Bayes algorithm using a random dataset like Iris?

[2018-10-02 10:12] AdiChat commented on #3700
Sure @danielmg97 Go for it :smile:

[2018-10-02 10:29] AdiChat commented on #3683
Hi @mor11235 I am glad to see that you successfully opened a pull request
You shall fix the location of the code. Do let me know if you need help in it :smile:

[2018-10-02 10:33] pranavgoel25 commented on #3700
Please check #3705

[2018-10-02 10:35] pranavgoel25 commented on #3640
I will take this up in C

[2018-10-02 10:37] AdiChat opened #3706 "Add code for Gaussian Naive Bayes algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Gaussian Naive Bayes algorithm** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/gaussian_naive_bay

[2018-10-02 11:08] danielmg97 commented on #3700
Made a PR for Gaussian Naive Bayes, take a look in to it 😃

[2018-10-02 11:12] AdiChat opened #3708 "Add code for Logistic Regression"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Logistic Regression** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/Logistic_Regression/`

:speak

[2018-10-02 11:51] AdiChat opened #3711 "Add code for skull stripping (Image processing)"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **skull stripping (Image processing)** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/skull_strippin

[2018-10-02 13:42] abhaygupta97 opened #3713 "Add code for digit dp in other languages"
This is a:
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

Digit dp code is currently present only in c++. Add code for digit dp in other languages such as ```Java```, ```Python```, ```Swift```,  ```JavaScript```, ```GoLang```, ```Matlab``` and others.

[2018-10-02 14:05] komalbharadiya commented on #3711
Heyyy...I am novice to open source community but would like to work on this issue!!

[2018-10-02 14:35] komalbharadiya commented on #3641
@PranjalAgni Has this problem been solved or can I take up this issue?

[2018-10-02 17:03] itsmepiyush2 opened #3716 "Add Implementation for RBM Algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implementation for Restricted Boltzmann Machines.

[2018-10-02 18:03] mor11235 commented on #3683
Hi @AdiChat , I don't know how to do this. I will be glad if you can help.

[2018-10-02 19:53] phntxx commented on #1845
I'll try to implement a version in C++

[2018-10-03 15:54] #3716 closed

[2018-10-03 16:31] AdiChat opened #3725 "Add code for Neural Network"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Neural Network** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/neural_network/`

:speaker: You ca

[2018-10-03 17:01] nisnt2411 commented on #3725
hi @AdiChat
I have some ques :)
1. can I use libraries like sklearn and other open source libraries for building a neural network?
2. What shoud be the number of layers in the final model ?
3.  Can I take any activation function?

[2018-10-04 11:55] AdiChat commented on #3725
Hi @nisnt2411

Yes, you can use various libraries to build the neural network. You must base your neural network for some particular problem such as handwriting recognition and use activation functions and the number of layers as seem fit for the application.

[2018-10-04 12:15] AdiChat opened #3732 "Add code for Convolutional neural network"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Convolutional Neural Network** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/convolutional_neural

[2018-10-04 12:39] AdiChat opened #3733 "Add code for recurrent neural network"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Recurrent Neural Network** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/recurrent_neural_network

[2018-10-04 14:57] itsmepiyush2 commented on #3732
@AdiChat Please assign me the issue.

[2018-10-04 17:01] AdiChat opened #3739 "Add code for Artificial neural network"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Artificial Neural Network** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/artificial_neural_netwo

[2018-10-04 18:12] itsmepiyush2 commented on #3739
@AdiChat Please assign this issue to me.

[2018-10-05 11:42] AdiChat commented on #3739
@itsmepiyush2 I have assigned this issue to you.

Others can still work on this for languages apart from what Piyush is working for (Python).

[2018-10-05 11:44] AdiChat commented on #3732
Others can still work on this apart from "python implementation of convolutional neural networks on digits mnist dataset in Jupyter notebook". One may use a different dataset/ objective and/ or another language.

[2018-10-05 18:01] cyberdrk commented on #3706
Hi @AdiChat, Please assign this issue to me! (python implementation from scratch)

[2018-10-06 07:42] AdiChat opened #3748 "Add code for Support Vector Machines"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The task is to add code for **Support Vector Machines** in any language of your choice (`C`, `C++`, `Java`, `Python`, `Swift`, `JavaScript`, `GoLang`, `Matlab` and others.

The path of this code will be: `code/artificial_intelligence/src/support_vector_machines/`

[2018-10-07 11:07] priyanshuN commented on #3685
@AdiChat I am new in the open source field. There are errors in the merge_array.c zip file. I like to update it. Please guide me to do so.

[2018-10-08 09:29] rajat1433 commented on #3733
Can I work on this issue?

[2018-10-09 12:50] matheusguimr opened #3777 "Add multiple filter algorithms in Python"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Addition of filter algorithms such as:
- Sobel Filter
- Median Filter
- Laplacian Filter
- Prewitt Filter

The filters are used in computer vision and digital image processing.

[2018-10-10 14:51] flavian11 opened #3780 "add circle linked list in C"
**This is a(n):**

- [X ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2018-10-11 11:27] itsmepiyush2 opened #3786 "Add code for auto encoder"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add code for auto encoder algorithm.

[2018-10-11 20:29] nghiaxlee commented on #3713
I would like to add Java implementation.

[2018-10-12 05:26] abhiy13 opened #3789 "Binary Indexed Tree Implementation in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would love to add the algorithm for Binary Indexed Tree.

[2018-10-13 16:34] nickdex commented on #3385
@AdiChat I just tried to open the Slack link from contribute page it sent me to - [Old link](http://slack.opengenus.org)
I discovered this issue and found the working [slack link](https://opengenus.slack.com) from [OpenGenus-Slack](https://github.com/OpenGenus/OpenGenus-Slack)

I'm creating a PR to fix this

[2018-10-13 16:43] utkarsh2102 commented on #3780
Hey,
I'd like to work on this. Will submit something very soon.

[2018-10-14 18:29] shamamaz commented on #3713
I would like to add the Python implementation.

[2018-10-14 19:13] thetaniyagupta commented on #3602
I have made a PR for this issue. Have a look.

[2018-10-14 19:34] thetaniyagupta commented on #3789
I have made a PR. Have a look at it.

[2018-10-15 05:50] Sanyam96 opened #3806 "All palindromic partitions of a string using backtracking"
**This is a(n):**

- [ X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Given a string s, partition s such that every string of the partition is a palindrome. Return all possible palindrome partitioning of s.

Input  : s = "bcc"
Output : [["b", "c", "c"], ["b", "cc"]]

[2018-10-16 09:54] flavian11 opened #3810 "Add Tower of Hanoi algorithm"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Will push it into unclassed algorithm folder

[2018-10-16 12:10] ssaman95 commented on #3810
I would like to work on this.

[2018-10-17 17:31] TubaAli commented on #3682
Can I work on Java for this?

[2018-10-17 17:34] TubaAli commented on #3443
Is this error still open?

[2018-10-17 17:36] TubaAli commented on #3399
Is this still open?

[2018-10-17 19:05] NishantGupt1 commented on #3399
Sure! Feel free to make changes.

On Wed, Oct 17, 2018 at 1:36 PM Tekna_2021 <notifications@github.com> wrote:

[2018-10-18 10:32] arnavb commented on #3443
@TubaAli No.

@AdiChat Can you close this?

[2018-10-21 12:12] Ayush-Rawal opened #3838 "Add Cocktail Sort"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

Cocktail selection sort is a variant on bubble sort.

The algorithm differs from a bubble sort in that it sorts in both directions on each pass through the list. It solves the problem of [turtles](https://en.wikipedia.org/wiki/Bubble_sort#Rabbits_and_turtles) in

[2018-10-21 18:19] gustavoaca1997 commented on #3725
Hi @AdiChat

I got some questions:
1. Can I post a Jupyter Notebook?
2. Does it matter if it is a very easy problem,  like classification over the Iris dataset?

[2018-10-21 18:31] gustavoaca1997 opened #3840 "Add Linked List in Haskell"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implementation of a Linked List in Haskell

[2018-10-22 01:41] iattempt opened #3844 "The algo. of bubble sort markdown is wrong."
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

We've left out a for-loop in [this algorithm](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/src/bubble_sort/README.md#algorithm)

[2018-10-22 04:36] iattempt opened #3845 "The algo. of bubble sort markdown is wrong."
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

We've left out a for-loop in [this algorithm](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/src/bubble_sort/README.md#algorithm).

[2018-10-22 04:41] iattempt commented on #3845
Duplicate.

[2018-10-22 04:41] #3845 closed

[2018-10-22 04:55] yogeshAgarwal opened #3846 "Ugly Number"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Ugly numbers are numbers whose only prime factors are 2, 3 or 5. I will solve this problem using DP.
For the given input n, it will return nth number in the sequence.

[2018-10-22 13:40] Sirius207 opened #3847 "Add code for FP-Growth"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[FP-Growth](https://en.wikibooks.org/wiki/Data_Mining_Algorithms_In_R/Frequent_Pattern_Mining/The_FP-Growth_Algorithm) is an tree-based algorithm for frequent pattern mining.

[2018-10-22 13:50] Sirius207 opened #3848 "Add FP-Growth"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[FP-Growth](https://en.wikibooks.org/wiki/Data_Mining_Algorithms_In_R/Frequent_Pattern_Mining/The_FP-Growth_Algorithm) is an tree-based algorithm for frequent pattern mining.

[2018-10-22 13:57] #3848 closed

[2018-10-22 13:59] Sirius207 commented on #3847
Send PR with #3849
Implement in Python.

[2018-10-23 21:41] arnavb commented on #3844
You're right @iattempt! Any chance you could go and fix it?

[2018-10-24 14:12] prnvdixit opened #3851 "Add parallel and distributed implementations"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2018-10-24 14:13] prnvdixit commented on #3851
I'll initiate adding these implementations with a couple of PRs - If more contributions come in, you can even devote a separate folder for these :smile:

[2018-10-26 19:05] AdiChat commented on #3851
Hi @prnvdixit

This is a nice initiative and category :+1:

If you are interested, we can discuss further regarding the development and leading of this new shiny category at [our forum](https://discourse.opengenus.org/)

[2018-10-28 14:45] jakemaguy commented on #3838
I would like to contribute to this

[2018-10-28 15:02] dowoncha opened #3875 "Add Binomial Coefficient in Rust"
- [ ] New algorithm
- [*] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

[2018-10-29 23:25] juan88 opened #3884 "Adding edit_distance algorithm in Rust"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Adding the code for the edit_distance algorithm in the Rust programming language.

[2018-10-30 00:15] juan88 opened #3886 "Adding edit_distance algorithm in Javascript"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding the code for the edit_distance algorithm in Javascript.

[2018-10-30 02:22] juan88 opened #3888 "Adding edit_distance algorithm in PHP"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding edit distance algorithm in the PHP programming language.

[2018-10-30 17:32] AdiChat commented on #3844
Thanks @iattempt for spotting and fixing this :+1:

[2018-10-30 19:59] #3844 closed

[2018-10-30 23:53] etoler1841 opened #3897 "Rot13 in PHP"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding Rot13/RotN cipher in PHP

[2018-11-01 05:51] #1744 closed

[2018-11-04 02:31] Nunuvin commented on #3684
Is it still open? If so what kind of solution are you looking for (naive, dynamic prog, other) and is it still open?

[2018-11-06 19:52] Lechenco commented on #3838
I would like too. I can make the program using C, C++, and Python

[2018-11-08 05:21] soc221b opened #3904 "The min/max-heap is wrong implementation in python"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

[the min heap](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/src/tree/heap/min_heap/min_heap.py) is not a min-heap, but heap sort (also [the max-heap](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/src/tree/heap/max_he

[2018-11-29 12:55] #1880 closed

[2018-12-01 03:42] Jimmyzs commented on #3631
I would like to work on this issue.

[2018-12-03 02:20] GH2005 opened #3909 "Adding Kuhn-Munkres Algorithm that finds the perfect matching that gives maximum sum of edge weights in a bipartite graph"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

A bipartite graph is balanced if it has equal number of nodes on both sides.
A bipartite graph is weighted if each of its edges has an associated value.
In a balanced bipartite graph with 2n nodes, a perfect matching selects n edges so that each left node is matc

[2018-12-03 02:25] GH2005 opened #3910 "max_bipartite_matching.py and kuhn_maximum_matching.cpp are implementations of the same algorithm"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

max_bipartite_matching.py and kuhn_maximum_matching.cpp are implementations of the same algorithm, so they can be put into the same directory.

[2018-12-03 02:40] #2619 closed

[2018-12-03 02:40] #2419 closed

[2018-12-03 02:41] #2408 closed

[2018-12-03 02:41] #1023 closed

[2018-12-17 21:36] Lechenco commented on #3748
Hey, I am studying SVM recently and I guess that I can do some code in C, C++, and MatLab.

[2018-12-26 04:31] Koustav-Samaddar commented on #3904
@iattempt According to me both heap implementations seem to be correct.
Performing heap sort would be to repetitively perform pop_root on the heaps - which the code doesn't do.

[2018-12-28 09:55] rstalekar commented on #3780
Can I do this in C++?

[2019-01-03 15:47] #3909 closed

[2019-01-10 06:00] ritobanrc opened #3918 "Add Code for Diamond Square Algorithm"
**This is a(n):**

- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

There already exists an implementation in Java, but this should be translated to other languages as well. Also, the java implementation just prints out the matrix at the end, but I think visualizing it as a heightmap is worth it.

[2019-01-10 06:01] ritobanrc commented on #3918
I'm working on this in Python

[2019-01-12 00:21] iattempt commented on #3904
@Koustav-Samaddar There is a [Heap sort](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/src/heap_sort/heap_sort.py).

[2019-01-13 03:37] Maxz2136 commented on #1237
I want to work on the C++ implementation

[2019-01-20 21:53] rahuldecoded opened #3928 "SyntaxError in linkedlist.py"
**This is a(n):**

- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

![screenshot 166](https://user-images.githubusercontent.com/15686569/51445506-dff9cc80-1d2b-11e9-9906-6442f4c76d79.png)

[2019-01-20 21:54] rahuldecoded commented on #3928
I'm taking this and improving the code in OOP style.

[2019-01-22 19:32] OphirCarmi commented on #3918
Hi,
I'm a newbie here, and I would like to add implementation of "Diamond Square Algorithm" in Python and C.

[2019-01-27 14:12] mayanktap opened #3931 "Add Ruby Implementation for average stream numbers"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
There was no implementation for average stream numbers in ruby. So I wanted to add the implementation.

[2019-02-01 16:53] FR4NKESTI3N opened #3934 "Duplicate codes for linked list"
there is data_structures/src/list/singly_linked_list, but there is also a code for same problem in data_structures/linked_list/
One of them ought to be removed.

[2019-02-03 23:02] souvik3333 commented on #3748
Hi, @AdiChat can I work on this?

[2019-02-21 07:14] dundermiflin opened #3943 "mining"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Apriori is an algorithm to extract items that occur together frequently in transactions, such as supermarket purchases.
For more details, see [this](https://en.wikipedia.org/wiki/Apriori_algorithm) Wikipedia page.

[2019-02-23 05:44] kss682 commented on #3943
Hi, I would like to work on this.

[2019-02-23 08:29] dundermiflin commented on #3943
I've written the code for it. Please review it if you'd like to add/modify something.

[2019-02-23 16:27] arnavb opened #3947 "Use autoformatters to enforce style of all programming languages in cosmos."
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Currently, our repository contains various style guides in [guides/coding_style](https://github.com/OpenGenus/cosmos/tree/master/guides/coding_style). Enforcing that contributors follow this style guide is very difficult for contributors and maintainers alike. As

[2019-02-25 14:58] yedhink commented on #3947
@arnavb I think this is a must needed enhancement. For C and C++ I can guarantee that clang-format works great. It has direct plugins available for text editors, which makes formatting on save/on the go easier.

We can make use of a clang-format configuration file for applying sane defaults for users. The file can be directly referenced using  `-style=file` option or by specifying the location in

[2019-02-25 15:19] arnavb commented on #3947
@yedhink Cool! Would you be willing to add configuration for this to Travis CI? Make sure to reference this issue when doing so.

[2019-02-25 15:21] arnavb commented on #3947
@yedhink Also, what style do you propose we use for pure C?

[2019-02-26 06:10] yedhink commented on #3947
@arnavb Yes. I would love to add the configurations. Is there someplace I can message you directly, so as to clear doubts on the same?

Like i had mentioned, going with the google style guide can work well for c++. But for pure C, i would strongly recommend following the **Gnome style guide for pure c**. Pure c, does have many accepted style guides like the Linux Kernel Style, GNU Style etc. The g

[2019-02-26 11:35] arnavb commented on #3947
@yedhink I don't think that's a great idea, because the GNU style also comes with an unusual brace pattern. In my opinion, 2 spaces is too less for a language like C as well. I think sticking with the kernel style guide, except with 4 spaces, is best. The reason they use 8 char tabs is to discourage people from indenting more than 3 levels. However, since this is a repository for algorithms, such

[2019-02-27 13:14] yedhink commented on #3947
@arnavb Sure. We can manage that. I would love to make a PR for the same. But currently it seems that the Build is failing. Should i work on that first and then move to this? or is someone already working on the build?

[2019-02-27 13:56] yedhink commented on #3947
@arnavb I have made a PR (#3957) for fixing the current build failure. See if it's okay to be merged.

[2019-03-01 13:32] yedhink opened #3962 "Travis build for c programs failing due to Windows specific code"
**This is a(n):**
- [ ] New algorithm
- [x] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**
* The travis build(as of Job #1944.1) is again failing due to errors from the file code/sorting/src/sleep_sort/sleep_sort.c
* The code is windows specific. Our build system for travis ci targets only the linux os. That's the cause of error

**Proposals:**
* My sugg

[2019-03-01 13:56] GP1999 commented on #3780
I'd like to work on this issue.Please assign me .I am GSSOC'19 participant.

[2019-03-01 14:18] arnavb commented on #3780
@GP1999 Go for it! I'll assign this to you.

[2019-03-01 14:26] arnavb commented on #3962
Since we want users to be able to use sleep sort on any OS, I think that conditional compilation with `#ifdef`, `#endif`, etc. would be the best option to ensure maximum portability. What we can do is create a wrapper around the platform specific function (`sleep`, I believe) and use this technique. The function called in the algorithm will expand to the right system call on the right os.

@yedhin

[2019-03-01 14:36] yedhink commented on #3962
@arnavb Sure thing. I will try my best

[2019-03-01 18:01] GP1999 commented on #3780
I have sent PR .Please review it.

[2019-03-01 19:15] #3655 closed

[2019-03-02 02:02] yedhink commented on #3962
@arnavb Hope this PR fixes the build issues. See if it can be approved.

[2019-03-03 23:31] iendeavor opened #3968 "Add docker for contributors."
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2019-03-04 01:35] arnavb commented on #3968
Could you clarify what you mean by this?

[2019-03-08 21:17] rucha174 commented on #3934
Looks like this has been fixed

[2019-03-08 21:22] rucha174 commented on #3634
Is this issue still open?

[2019-03-08 21:27] rucha174 commented on #3606
I would want to add the listed operations in C++

[2019-03-09 12:37] FR4NKESTI3N commented on #3934
@rucha174 Sorry, I had written wrong file path. Both directories still exist in repo.

[2019-03-09 13:32] rucha174 commented on #3934
Is the filename correct?

[2019-03-09 13:37] arnavb commented on #3934
@FR4NKESTI3N @rucha174 If either of you would like to resolve this issue, then by all means go for it! Make sure to reference this issue however.

[2019-03-09 15:16] rucha174 commented on #3934
I have sent a PR. Please review it.

[2019-03-09 16:55] GayathriVenkatesh commented on #3700
Can I do this on Python?

[2019-03-11 15:40] GP1999 commented on #3810
I would like to work on this issue

[2019-03-11 16:46] GP1999 commented on #3810
i have sent PR  Add Tower of Hanoi algorithm #3810 #3978.Please review it.

[2019-03-14 01:19] yedhink commented on #3962
@arnavb any responses regarding the pr #3964  ? What changes are required?

[2019-03-14 01:59] #3962 closed

[2019-03-18 05:42] aSquare14 opened #3988 "Shortest Job First Scheduling Code in Operating Systems"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

 Shortest job first (SJF) or shortest job next, is a scheduling policy that selects the waiting process with the smallest execution time to execute next. SJN is a non-preemptive algorithm

[2019-03-19 15:56] Arunkumar0258 opened #3994 "Add new features or code to all linked list algorithms"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

New features and algorithms to add to menu-driven linked list program in C and provide a better command line interface.

[2019-03-21 05:12] Vaibhavi24 opened #3997 "Add Running Median algorithm using Heaps"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implement algorithm for finding median on a running/online stream of integers using Heap operations.

[2019-03-21 05:20] Vaibhavi24 opened #3998 "Implement Dijkstra algorithm using Heap based operations in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implement Dijkstra algorithm using min-Heap based operations in C++

[2019-03-21 05:28] Vaibhavi24 commented on #3997
Can I work on this? @arnavb

[2019-03-21 05:28] Vaibhavi24 commented on #3998
Can I work on this? @arnavb

[2019-03-21 10:12] arnavb commented on #3998
Sure, go for it!

[2019-03-23 12:36] code-blooded commented on #3934
Why is this issue still open ? @arnavb @rucha174

[2019-03-23 12:54] arnavb commented on #3934
@code-blooded The old directory isn't completely gone yet. We moved from one file to removing the whole directory, which is pretty much a duplicate of the other one.

[2019-03-24 20:42] Arunkumar0258 opened #3999 "Add Python code for particle swarm optimization"
I want to add this new algorithm as part of ML optimization algorithms. It is a new algorithm and also has visualizations for optimizing for global minima.
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Particle swarm optimization is an algorithm used for function optimization just like Gradient descent in ma

[2019-03-25 15:37] Vaibhavi24 opened #4000 "Wrong code at fast_inverse_sqrt.cpp"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The code at          cosmos/code/mathematical_algorithms/src/fast_inverse_sqrt/fast_inverse_sqrt.cpp  fails at testcases like 100.00 etc. Submit correct code.

[2019-03-25 16:41] arnavb commented on #4000
Good catch! If anyone wants to take on this issue, please say so here.

[2019-03-25 16:44] arnavb opened #4002 "25 Python files use Python 2 or have Syntax Errors"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

According to our [Travis CI](https://travis-ci.org/OpenGenus/cosmos) builds, 25 files have some sort of error (either usage of Python 2 or syntax errors).

These need to be fixed so that the code works properly. If anyone would like to fix, please comment below!

[2019-03-25 19:36] Arunkumar0258 commented on #4002
I would like to fix them! Can you tell which files?

[2019-03-25 19:38] Arunkumar0258 commented on #3994
@arnavb  Can you review the PR? I have made requested changes

[2019-03-25 19:45] arnavb commented on #4002
@Arunkumar0258 Go for it! To find files this is the case for, look at this [build](https://travis-ci.org/OpenGenus/cosmos/jobs/511080512).

[2019-03-25 20:20] Arunkumar0258 commented on #4002
@arnavb How do I change the code? I can't find the file (bipartite.cpp) in master branch. Do I have to copy code, modify it and file a separate PR?

[2019-03-26 01:04] arnavb commented on #4002
@Arunkumar0258 You're looking at the wrong files. You should be looking at ones highlighted in red following [this line](https://travis-ci.org/OpenGenus/cosmos/jobs/511080512#L468).

[2019-03-26 01:12] yedhink commented on #4002
@arnavb i will port the strassens multiplication implemented in python2 to python3.

[2019-03-26 01:16] yedhink opened #4003 "Add new algorithm for Fibonacci using dynamic programming strategies"
**This is a(n):**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Section     : Dynamic Programming
Topic         : Fibonacci Series using Dynamic Programming
Language : Python 3.x

@arnavb I can work on adding this. Can i go ahead?

[2019-03-26 18:42] ratulSharker commented on #4000
Yes, i'm willing to address the issue, about to submit a PR about this.