[2019-03-26 19:27] ratulSharker commented on #4000
I checked the code [source](https://stackoverflow.com/questions/1349542/john-carmacks-unusual-fast-inverse-square-root-quake-iii), the optimization they discussed is all about `float`, but here `double` is used. There is a magic number `0x5f375a86`, which i believe needed to be updated to work for `double`.

[2019-03-27 12:15] msknkh opened #4009 "Add new Algorithm in C for Child Process Creation in Linux Operating System"
**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Create and handle Processes in Linux operating system using fork, sleep, wait, exit, getpid, getppid system calls and ps, kill Linux commands.

[2019-03-27 21:20] prashant-mahanta opened #4011 "Print the Longest Common Substring in C++, Java and Python"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Available:
The code is available only for cpp to find the length of longest common substring.
Space complexity: `O(n^2)`
Time Complexity: `O(n^2)`

My request:
Print the Longest Common Substring
Space Complexity: `O(n)`
Time complexity: `O(n^2)`
Instead of mainta

[2019-03-29 14:11] Bhairavi-shah commented on #4011
Hey! Can I work on the Python code for this ?

[2019-03-29 14:28] arnavb commented on #4011
@Bhairavi-shah Go for it! Make sure to reference this issue when doing so.

[2019-03-30 20:05] #4009 closed

[2019-03-31 12:26] jigyasak05 commented on #4011
Hi! Can I work on this in Java?

[2019-03-31 13:16] arnavb commented on #4011
@jigyasak05 Go for it! Make sure to reference this issue when doing so.

[2019-03-31 13:18] #4002 closed

[2019-03-31 13:21] arnavb commented on #4003
Sure! Go for it!

[2019-03-31 13:25] arnavb opened #4013 "One JS file has a syntax error, and 5+ files need to be reformatted"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

According to [this build](https://travis-ci.org/OpenGenus/cosmos/jobs/513748786#L454), one JS file has a syntax error and 5+ files need to be reformatted. If anyone would like to fix the syntax error and format the code with [prettier](https://github.com/prettier

[2019-04-01 18:38] prashant-mahanta commented on #4011
@arnavb Sir, I had already asked for C++, Java, and Python in the issue. How can others be assigned on this issue?

[2019-04-01 19:03] jigyasak05 commented on #4011
Alright

[2019-04-05 02:48] warned101 commented on #991
Can I add shaker sort in C++?

[2019-04-05 10:10] arnavb commented on #991
@warned101 Go for it!

[2019-04-05 15:35] marwahmanbir opened #4019 "A Star Algorithm implementation in C and C++"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to add A* Search Algorithm implementation in C & C++. Currently, an implementation in Python exists.

[2019-04-05 20:08] arnavb commented on #4019
@marwahmanbir Go for it!

[2019-04-05 20:11] arnavb commented on #4013
Ok, so the syntax error in `tower_of_hanoi.js` has been fixed. This leaves the formatting the code using prettier. Would anyone like to do this?

[2019-04-06 04:06] Arunkumar0258 commented on #4013
@arnavb I can format the code. Can I work on it?

[2019-04-06 07:20] yedhink commented on #4003
@arnavb have made the pr. see if it can be approved.

[2019-04-06 14:43] arnavb commented on #4013
@Arunkumar0258 Go for it!

[2019-04-08 05:39] warned101 commented on #991
I think that algorithm has already been implemented in C++.
[shaker_sort.cpp](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/src/shaker_sort/shaker_sort.cpp)
Please check and if there's something to be fixed in this, let me know!

[2019-04-08 19:20] arnavb commented on #991
@warned101 There are still things that can be fixed in that file (namely `using namespace std;`). Please consider fixing those problems.

[2019-04-09 04:23] warned101 commented on #991
Okay, I will take care of that!

[2019-04-11 10:50] robotjellyzone opened #4023 "Queue Using Stack In C++"
**This is a(n):**

- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

c++ implementation of Queue using stack

[2019-04-11 10:52] robotjellyzone commented on #4023
I want to work in this issue !! please assign it to me

[2019-04-11 10:53] robotjellyzone opened #4024 "bresenham line drawing algorithm in java and python"
**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to add the bresenham line drawing algorithm  in java and python

[2019-04-11 10:53] robotjellyzone commented on #4024
Please assign it to me!!

[2019-04-11 12:29] #4013 closed

[2019-04-11 12:30] arnavb commented on #4024
@robotjellyzone You can work on it if you want. Make to reference this issue though.

[2019-04-11 12:31] arnavb commented on #4023
@robotjellyzone The code for this already exists: https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/src/queue/queue_using_stack/queue_using_stack.cpp

[2019-04-11 12:37] robotjellyzone commented on #4024
is this already implemented @arnavb ? can't i work on it !!

[2019-04-11 12:56] robotjellyzone opened #4025 "DDA Line Drawing Algorithm implementation in C and Python"
**This is a(n):**

- [ x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This algorithm uses a graphics library to generate a line

[2019-04-12 10:29] arnavb commented on #3999
This issue can be still be contributed to in other programming languages.

[2019-04-12 14:19] yedhink commented on #4003
@arnavb have made necessary changes

[2019-04-12 19:18] msknkh opened #4028 "Problem in compiling codes implementing pthread.h library in C and C++"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

After including pthread.h header file in C or C++, program doesn't compile and return error(s).
Details about how to compile a code using pthread.h library in Linux should be added as a note.

[2019-04-13 19:07] robotjellyzone commented on #4025
Please assign it to me!!

[2019-04-13 19:18] robotjellyzone opened #4030 "Infix to prefix converter in c++ and java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This will convert any infix to prefix expressions

[2019-04-13 19:18] robotjellyzone commented on #4030
Please assign it to me!!

[2019-04-15 14:20] abhishekjiitr commented on #1541
I see bloom filter code added in most languages now, Closing the issue! :heavy_check_mark:

[2019-04-15 14:20] #1541 closed

[2019-04-17 01:44] #4003 closed

[2019-04-20 13:23] yedhink opened #4033 "No appropriate flags for compiling c files with pthread header in makefile"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
The current makefile doesn't include a flag to compile c files which includes a pthread.h header file.
I would like to update with correct flags.

[2019-04-20 13:29] yedhink commented on #4033
@arnavb see if the pr #4034 can be approved.

[2019-04-20 16:28] la2798 commented on #3604
hi ! I wanted to know if we just need to add the code for UDP/TCP server or client side code is also required ? and in which language should it be written?

[2019-04-21 11:47] AdiChat commented on #3604
Including both server and client side code will make this complete :+1:

You may work on this in any language you are comfortable in. The location of the code for TCP will be:
[code]

Go for it :+1:

[2019-04-21 11:57] la2798 commented on #3604
Okay then I will use Java as the language !

[2019-04-21 16:13] yedhink opened #4036 "No markdown format for output of stats script"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Currently the stats calculation script(./scripts/stats.py), only outputs in text format. Currently viewing all the details in a txt file is doable, but it would be visually pleasing to generate the same in a markdown format.

[2019-04-22 20:35] hsayy commented on #4000
I've Created a PR.
The algorithm has been updated with the new magical number `0x5fe6eb50c7b537a9` ([Source](https://stackoverflow.com/questions/11644441/fast-inverse-square-root-on-x64))
for double now gives correct output for test case 100.00.

[2019-04-23 14:46] #4033 closed

[2019-04-26 17:22] megha070 commented on #3683
@mor11235 I would like to implement this in java.

[2019-04-30 19:57] #4036 closed

[2019-05-01 06:24] catPerse opened #4048 "Check if the tree is a binary tree in Java"
**This is a: **

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This new algorithm checks to see if the tree is a binary tree in Java

[2019-05-01 06:25] catPerse commented on #4048
Please assign this to me, Aditya. Thanks!

[2019-05-01 22:54] arnavb commented on #4000
Fixed in #4039

[2019-05-01 22:54] #4000 closed

[2019-05-03 15:29] utkarshsharma00 opened #4052 "kdown"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
This code prints those nodes which are 'k' distance far from the root node.

[2019-05-03 15:40] utkarshsharma00 opened #4053 "Root_To_Leaf_Path_In_Range"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
It will give all those paths from the root to the leaf nodes which are in a certain range say in between [low and high]

[2019-05-03 15:42] utkarshsharma00 opened #4054 "Remove_Leafs"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
It will remove all the leaf nodes from the tree.

[2019-05-03 18:57] utkarshsharma00 commented on #4054
Please assign this to me!

[2019-05-03 18:57] utkarshsharma00 commented on #4053
Please assign this to me!

[2019-05-03 18:58] utkarshsharma00 commented on #4052
Please assign this to me!

[2019-05-03 19:26] arnavb commented on #4054
Done

[2019-05-05 05:50] parthamittra opened #4061 "selection_sort.php does not work"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x ] Error
- [ ] Proposal to the Repository

**Details:**
selection_sort.php in cosmos/code/sorting/src/selection_sort/selection_sort.php does not work.  When I run it on the cmd line 'php selection_sort.php' I get the following results
parthamittra@system76-pc:~/OpenGenus/cosmos/code/sorting/src/selection_sort$ php sel

[2019-05-05 05:54] parthamittra commented on #4061
please assign this issue to me as I have already written the code and committed to my local repository.  I just have no rights on the remote repository to create my remote dev branch.

[2019-05-06 01:44] arnavb commented on #4061
Done.

[2019-05-06 01:44] arnavb commented on #4061
Just create a PR and I'll review, then merge.

[2019-05-06 02:14] parthamittra commented on #4061
will do

[2019-05-06 02:24] parthamittra commented on #4061
@arnavb   I don't have rights to the repository so I cannot push my remote dev branch which has the fix in it for selection_sort.php.

[2019-05-06 10:08] arnavb commented on #4061
@parthamittra Did you fork this repository and create your branch there? Once you do that, you create a PR here.

[2019-05-06 10:35] parthamittra commented on #4061
Got it.   I already forked and worked on it there.

On Mon, May 6, 2019, 6:08 AM Arnav Borborah <notifications@github.com>
wrote:

[2019-05-06 11:07] parthamittra commented on #4061
pull request is created from my forked branch

[2019-05-06 21:10] kizivat opened #4063 "[data_structures] Dynamic array"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Dynamic array / array list / "vector" implementation (in C at least). I hope I didn't miss anything, but I couldn't find it. I'll submit PR with my implementation if it's really missing. Cheers.

[2019-05-06 23:11] no-identd commented on #3683
You might wish to consider generalising this to arbitrary integer sequences related to the Pisot-Vijayaraghavan numbers (See https://en.wikipedia.org/wiki/Pisot%E2%80%93Vijayaraghavan_number).

That would make the algorithm a lot more widely usable & general.

[2019-05-08 15:57] utkarshsharma00 opened #4065 "linearize_a_tree"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

[2019-05-10 08:38] robotjellyzone opened #4066 "Liang Barskey Line Clipping Algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This algorithm uses a graphics library to clip the lines.

[2019-05-10 10:10] robotjellyzone opened #4067 "Flood fill algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This algorithm uses graphics library to fill any polygon with color.

[2019-05-10 19:47] jackTaw88 opened #4068 "Merging projects?"
Hi,

Thanks for your sharing. But I was searching examples of algorithms on gthub. And I see this project: https://github.com/TheAlgorithms

It has exactly same algortihms and languages. Did you or they think about merging the projects? SO we can merge our powers too?

Thank you

[2019-05-13 20:51] dhruvsawhney commented on #3998
Given that no PR has been created for this yet, can I work on it too ?

[2019-05-15 08:06] nisarg1499 commented on #3934
@arnavb Still same code of linked list is seen in both the paths.
Is this issue still open?

[2019-05-15 17:32] msknkh commented on #4066
Can i take up this issue?

[2019-05-16 13:05] robotjellyzone commented on #4066
hi, @msknkh I am working on it (slowly, due to my exams) , you can either take other issues which are up for grabs or make a new issue if you want.

[2019-05-16 16:30] Vaibhavi24 commented on #3998
Sure!

[2019-05-17 06:52] rucha174 commented on #3934
@arnavb Hello! Should I make the required changes in the code?

[2019-05-21 05:25] robotjellyzone opened #4078 "Bezier curve implementation"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This generates a bezier curve using graphics library.

[2019-05-21 05:25] robotjellyzone commented on #4078
Please assign to me.

[2019-05-21 10:29] KaushalSahu opened #4079 "Hill Cipher implementation"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add hill cipher python code implementation in cryptography section.

[2019-05-23 09:52] msknkh opened #4081 "Add Socket Programming in C Language for Linux Operating System"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implement Socket Programming in C using the client server model.

[2019-05-24 09:17] dunnbrit opened #4084 "Bag Data Structure in C"
**This is a(n):**
- [X ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Implement the bag data structure in C.

[2019-05-24 09:18] dunnbrit opened #4085 "Bag Data Structure in C++"
**This is a(n):**
- [X ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Implement the bag data structure in C++.

[2019-05-24 09:22] dunnbrit commented on #4085
Please assign this to me.

[2019-05-24 09:23] dunnbrit commented on #4084
Please assign this to me.

[2019-05-24 15:02] Vaibhavi24 commented on #3998
@dhruvsawhney Send a PR soon!

[2019-05-26 08:51] Rda99 commented on #4063
Assign this to me

[2019-06-01 11:02] #4079 closed

[2019-06-01 19:03] #4066 closed

[2019-06-06 17:08] sashaktpathak opened #4094 "Unbounded Knapsack"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Given weights and values of n items, put these items in a knapsack of capacity W to get the maximum total value in the knapsack.

This is different from classical Knapsack problem, here we are allowed to use unlimited number of instances of an item.

[2019-06-06 17:20] sashaktpathak commented on #4094
Please assign this to me

[2019-06-07 15:01] ashneg opened #4095 "Adding more codes to online_challenges"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [X] Proposal to the Repository

**Details:**

Adding more codes inside `/code/online_challenges/src`
I have done many competitive-coding problem at platforms like Codechef, Hacker-rank, Codeforces and Top-coder .

These codes are successfully compiled and are being submitted during competitions.

 I would li

[2019-06-27 19:36] aarmn opened #4099 "Problem in folders"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2019-06-27 19:39] aarmn opened #4100 "kiwix?"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

check kiwix project, it could be a good reference for off-line Internet pages, I think maybe this project can use some ideas from them or their ready repo files as a load for cosmos

[2019-06-28 13:10] #4100 closed

[2019-06-28 13:17] #4068 closed

[2019-07-19 19:04] #672 closed

[2019-07-20 23:07] ridhwaans opened #4102 "Overlapping algorithm paradigms"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x ] Proposal to the Repository

**Details:**

I noticed that several backtracking solutions are also applicable with dynamic programming approach, such as n queens. Is there a directory with alternate solutions for board puzzles?

[2019-07-21 05:45] dwww2012 opened #4103 "Median implementation in python incorrect"
specifically this line: https://github.com/OpenGenus/cosmos/blob/faac15e20b64f82b0ddfc3c8f63a4715bcdb9791/code/dynamic_programming/src/array_median/median.py#L20

should be `sorted_nums` not `nums`

[2019-07-21 18:37] polds opened #4105 "Fibonacci example for Go"
**This is a(n):**

- [ ] New algorithm
- [X] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
nth fibonacci solution for Go.

[2019-07-22 20:26] tomaz1502 opened #4107 "Minimum Queue in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The new data structure is a queue that allows the user to get the minimum element on it in constant time

[2019-08-01 04:53] hemanthsavasere commented on #4105
Hi,
I would like to work on this issue and send a Pull request.

[2019-08-02 06:53] hemanthsavasere opened #4112 "Failure of build due to an error in bogo_sort.c"
Failure of build due to an error in bogo_sort.c file

**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x ] Error
- [ ] Proposal to the Repository

**Details:**
 code/sorting/src/bogo_sort/bogo_sort.c

[2019-08-02 06:53] hemanthsavasere commented on #4112
I am fixing this issue and creating a PR.

[2019-08-07 13:09] AbhijeetGhosh commented on #4025
please assign it to me

[2019-08-07 13:13] AbhijeetGhosh opened #4116 "Quantum Algorithms"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This repository is missing all algorithms used for quantum computing and being named Cosmos it should contain every type of algorithms let alone skipping 'quantum algorithms'.

[2019-08-29 14:46] pabu18 commented on #3997
please assign this issue to me

[2019-10-01 20:19] nisarg1499 opened #4142 "CHEFING Codechef Question"
**This is a(n):**

- [ ] New code
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Problem Link : https://www.codechef.com/FEB19B/problems/CHEFING/
Propose a solution for this problem

[2019-10-01 20:19] nisarg1499 commented on #4142
I am working on this issue.

[2019-10-02 05:48] nisarg1499 opened #4148 "CHFING Codechef Question"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Problem Link : https://www.codechef.com/JUNE19A/problems/CHFING/
Propose a solution for this question

[2019-10-02 05:48] nisarg1499 commented on #4148
I am working on this issue

[2019-10-02 15:36] pranaychatterjee commented on #4107
Can you please elaborate your issue? I am interested to solve it and make a contribution.

[2019-10-02 17:34] nickdex opened #4160 "Request to merge OOP_patterns and oop_patterns"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
In design pattern, we have two folders with same name but different casing - [OOP_patterns](https://github.com/OpenGenus/cosmos/tree/master/code/design_pattern/src/OOP_patterns) and [oop_patterns](https://github.com/OpenGenus/cosmos/tree/master/code/design_pattern

[2019-10-03 12:30] pranaychatterjee commented on #4116
Please assign this to me.

[2019-10-03 18:44] KaustubhDamania commented on #4148
Is anyone working on this issue? I would like to add Python implementation for the same.

[2019-10-04 04:17] nisarg1499 commented on #4148
Feel free to ass Python Implementation for this question. I have implemented C++ code.

[2019-10-04 11:17] KaustubhDamania opened #4175 "Python code for CHFING problem code on Codechef"
**This is a(n):**

- [x] New code
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Problem Link : https://www.codechef.com/JUNE19A/problems/CHFING/
Add Python implementation for this problem

[2019-10-04 11:17] KaustubhDamania commented on #4175
I am working on this issue

[2019-10-04 18:29] RitikRawat commented on #4142
is this issue still open?

[2019-10-04 18:33] nisarg1499 commented on #4142
C++ Implementation is completed. You can add implementation in other languages

[2019-10-05 05:09] UTx10101 commented on #4116
I want to work on this issue.
@AdiChat I need a confirmation of a Senior or Maintainer to know if Quantum Algorithms are in scope of Cosmos or not.

[2019-10-05 08:15] b18030 commented on #3686
Is it still available?

[2019-10-05 08:18] b18030 commented on #3700
Should i implement in python and commit?

[2019-10-05 20:06] raphaelz opened #4186 "Add bogo sort algorithm and amicable numbers check in PHP"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Add bogo sort algorithm and amicable numbers check in PHP

[2019-10-07 18:08] MrSquigy opened #4196 "LZW Compression in Python is not working"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**
The Lempel-Ziv-Welch compression python script decode function has a typo that is causing errors, I am submitting a fix and added another test case, because the supplied one doesn't make use of the compression (No repeated sequences). There is also unreachable cod

[2019-10-08 17:06] upinderawat commented on #4054
@arnavb Assign it to me if not already done.

[2019-10-09 14:53] UTx10101 opened #4204 "Shor's Algorithm was Not Added during merging PR"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Shor's Algorithm was Not Added during merging PR. So adding it Now. Also adding Quantum Algorithms to Main README.md of Cosmos.

[2019-10-11 20:00] #4204 closed

[2019-10-11 20:01] UTx10101 commented on #4204
The updated PR has been approved and merged.

[2019-10-11 20:05] UTx10101 commented on #4116
@AbhijeetGhosh Two world famous Quantum Algorithms have been added to Cosmos I think now the name Cosmos is best suited for this repository and you may close this issue. If you have suggestions for other algorithms which you think are important and must be added please feel free to share.

[2019-10-12 08:24] HarshitaSahai opened #4211 "Eggdropping.cpp"
**This is a(n):**

- [
#include<bits/stdc++.h>
using namespace std;
int eggdroping(int eggs,int floors){
    int dp[eggs+1][floors+1];
    for(int i=0;i<=floors;i++)
        dp[0][i]=0,dp[1][i]=i;
    for(int i=0;i<=eggs;i++)
        dp[i][0]=0;
    for(int i=2;i<eggs+1;i++){
        for(int j=1;j<floors+1;j++){
            dp[i][j]=INT_MAX;
            for(int k=1;k<=j;k++){
                int c

[2019-10-15 13:49] tomaz1502 commented on #4107
Sorry, I've already solved it and made a pull request, just waiting for review. It's here: https://github.com/OpenGenus/cosmos/pull/4108

[2019-10-15 13:51] pranaychatterjee commented on #4107
Hey Pal ,

It's alright. Tell me if I could help you in any way.

Enjoy the rest of your day.

Regards,
Pranay Chatterjee.

On Tue, Oct 15, 2019, 7:19 PM Tomaz Gomes Mascarenhas <
notifications@github.com> wrote:

[2019-10-17 10:02] shivangi-bithel commented on #3708
i would like to work on this issue.
where should i upload the data set for my algo?

[2019-10-17 17:37] iamrahul1024 opened #4255 "Adding python script to determine endianess"
Adding python script to determine endianess

[2019-10-17 17:58] AutomationBoi opened #4257 "Adding support for js to determine endianness"

[2019-10-19 07:34] malakar-soham commented on #3739
@AdiChat Please assign this issue to me in MATLAB

[2019-10-20 12:26] AbhijeetGhosh commented on #4116
Yes I will, I expected a few other algorithms as well. I will close it in a couple of weeks

[2019-10-21 00:51] sapnatomar commented on #4142
I have added the solution in Python. Please review the pull request #4270

[2019-10-21 04:19] yashshah1 opened #4271 "Adding an is_empty() function to stack in python"
**This is a(n):**

- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
The current implementation of stack in python doesn't have a generic is_empty() function, but calls the same assert condition in both peek() and pop() function.
Hence, there is no abstracted way of determining if the stack is really empty without peeking, or popp

[2019-10-30 00:45] sharontlin commented on #4271
I'd like to take on this issue! I'll make a pull request for the change.

[2019-10-30 04:25] yashshah1 commented on #4271
@sharontlin I have already submitted a PR above, referencing this issue

[2019-11-05 12:44] pabu18 commented on #3997
@arnavb please do review merge request done on Oct 14, 2019.

[2019-11-15 17:36] #3113 closed

[2019-12-03 13:12] FredrikAugust commented on #263
Shouldn't the ones currently in here using BFS for finding augmenting paths be moved to Edmonds-Karp instead? As Ford-Fulkerson doesn't actually specify what algorithm should be used for finding them.

[2019-12-03 13:13] FredrikAugust commented on #263
Could perhaps leave Ford-Fulkerson in, but make it take an argument that is the function for finding augmenting paths. Then you could make Edmonds-Karp simply be a call to Ford-Fulkerson with BFS as the augmenting path-finding algorithm.

[2019-12-03 13:39] dimfot3 opened #4326 "Character Encoders/Decoders"
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

It whould be usefull to add in <b>cryptography</b> collection, character encoders/decoders as cryptography and coding go hand in hand in many applications.
Some basic coding algorithms could be:

[2019-12-11 06:23] #4271 closed

[2019-12-11 06:28] #4107 closed

[2019-12-23 13:02] dvlpsh commented on #4048
Hi, has this issue been worked on yet? If not I'd really like to take upthis issue. Thanks :)

[2019-12-23 13:08] dvlpsh commented on #4052
Hi @arnavb has this issue been worked on? If not I'd like to implement this in Java. Thanks! :)

[2019-12-23 13:13] dvlpsh commented on #4053
Has this issue been worked on? If not, I'd like to implement this in Java. :)

[2019-12-23 13:20] dvlpsh commented on #3686
Hi @AdiChat @arnavb I'd like to work on this issue in Python if it's still available. Thanks! :)

[2019-12-26 13:10] vikram2000b commented on #3748
I can do code in C++ or Python

[2020-01-09 14:51] Amit030 commented on #712
is this closed or still something  needs to be done in this particular "Top View of a binary tree in C++ " topic

[2020-01-10 10:08] Vispecia commented on #1677
Hello, i would like to add python solution of this. Let me know what you think.

[2020-01-11 15:01] rishnat commented on #4255
Hi, I would like to take up this task

[2020-01-14 02:22] #1340 closed

[2020-01-14 02:23] #1296 closed

[2020-01-15 09:46] #703 closed

[2020-01-15 10:59] #675 closed

[2020-01-15 10:59] #677 closed

[2020-01-15 11:00] #676 closed

[2020-01-15 11:00] #665 closed

[2020-01-15 11:01] #663 closed

[2020-01-18 05:03] hanzohasashi33 commented on #3366
Can I take up this issue ?

[2020-01-19 16:02] valdaarhun commented on #4067
Hi. I am completely new to open source contribution. Is there an issue that needs to be fixed?

[2020-02-22 16:34] busamate commented on #3682
Can i work on this issue?

[2020-02-22 16:35] busamate commented on #3626
Is this solved? If its not, can i solve it?

[2020-02-23 14:55] nikochiko opened #4337 "Add description for neural networks"
**This is(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add a description (readme.md) for neural networks

[2020-02-23 18:56] 17-Vishal commented on #4067
Can i work on this algorithm ?

[2020-02-24 09:48] ivy-2000 commented on #4337
I would like to take this up. Could you attach a link to where the description needs to be added in the Readme.md? @nikochiko

[2020-02-26 13:57] rudrakshi99 commented on #2682
I want to work on this issue as a part of GSSoC'20.

[2020-02-26 18:50] biekymahato opened #4339 "Implementation of all C++ Standard Template Library (STL)"
The Standard Template Library (STL) is a set of C++ template classes to provide common programming data structures and functions such as lists, stacks, arrays, etc. It is a library of container classes, algorithms, and iterators. It is a generalized library and so, its components are parameterized. Working knowledge of template classes is a prerequisite for working with STL.

**This help for newbi

[2020-02-26 18:51] biekymahato commented on #4339
Hello Everyone,
      I want to work on this issue as a part of GSSoC'20.

[2020-02-26 19:17] biekymahato opened #4340 "Various types of past Coding and technical round question related to any MNCs Company."
Must-Do Coding Questions for All Companies.
From this Project, every student and working people can practice various types of question-related to their respective companies.

**As the placement season is back so are we to help you ace the interview. We have selected some most commonly asked and must do practice problems for you.
This project will help you learn different topics and practice at the

[2020-02-26 19:17] biekymahato commented on #4340
As a part of Gssoc'20, I want to work on it.

[2020-02-27 13:26] Ninjavin commented on #4339
Since C++ STL is too big a library to be implemented by a single contributor, I would also like to contribute to this.

[2020-02-27 14:05] Angshuman032001 opened #4341 "Implement x_power_y in c++ in cosmos\code\divide_conquer\src\x_power_y"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to implement the x_power_y code in c++. I found that the implementation of the the code was only in c. Therefore i want to write the code for it in c++.

[2020-02-27 14:06] Angshuman032001 commented on #4341
Would you please assign me this issue as a part of GSSoC 2020.

[2020-02-27 14:09] Angshuman032001 commented on #4340
I too want to contribute to this as a part of GSSoC 2020 as it is a very large project to be completed by a single person.
Please allow me to contribute.

[2020-02-27 20:57] Angshuman032001 commented on #4341
I can also make contribution to this code in python

[2020-02-28 06:02] DawoodBhai420 opened #4342 "Implementation of bitdivision inC++"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:** I found that bitdivision is not implemented in C++. I would like to implement the algorithm in C++.

[2020-02-28 06:36] DawoodBhai420 commented on #4342
I want to work on this issue as a part of GSSoC'20.
Please assign me to this issue.

[2020-02-28 09:15] SimranMakhija7 commented on #4339
I would also like to contribute to the issue as a part of GSSoC'20

[2020-02-28 16:37] Nandini9634 commented on #2494
Can I work on this in C,C++?

[2020-02-29 05:22] mehmehul commented on #4342
would like to work on this issue

[2020-02-29 08:52] Ninjavin opened #4343 "Adding Leetcode, Codechef solutions to the repository"
This is in accordance with the Cosmos Task List 3. I would like to add the coding solutions to CodeChef, Leetcode Questions to the repo.
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

[2020-02-29 09:27] Aakansha99 commented on #4343
@asha15
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 09:27] Aakansha99 commented on #4339
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 09:29] Aakansha99 commented on #4067
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 09:29] Aakansha99 commented on #4063
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 09:30] Aakansha99 commented on #4023
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-02-29 10:03] nitin1kumar1 commented on #4343
I have solved plenty of questions on Codechef and codeforces. I would like to provide my solutions. I can do both Leetcode and CodeChef. as part of GSSoC , I would like you to assign the task to me.

[2020-02-29 14:55] pratu098 commented on #4067
I want to contribute to this project as a part of GSSOC'20. Please assign this to me.

[2020-02-29 14:56] pratu098 commented on #4025
Please assign this to me as a part of gssoc'20 project.

[2020-02-29 14:56] asha15 commented on #4343
The project mainly focused about the Algorithm and Data Structures. Adding solutions for CodeChef problem is out of scope
@jainaman224 What's your opinion on this?

[2020-02-29 15:05] nitin1kumar1 commented on #4343
Yes, I get that solutions are not needed. But I have used plenty of those algorithms during contest, so I can provide some which are not already present.

[2020-02-29 15:16] asha15 commented on #4343
@nitin1kumar1 so choose one algorithm which was not presented in the repo and create a issue for it, Will happy to assign it for you

[2020-02-29 15:17] 17-Vishal commented on #4067
Okay

On Sat, Feb 29, 2020, 20:25 Pratiksha Aggarwal <notifications@github.com>
wrote:

[2020-02-29 15:26] pratu098 commented on #4067
Thanks

On Sat., 29 Feb. 2020, 8:47 pm 17-Vishal <notifications@github.com wrote:

[2020-02-29 16:51] arghac14 opened #4345 "K-means algorithm using C"
Would like to add the K-means algorithm implemented using C

**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This can be labelled as GSSOC20

[2020-02-29 17:00] chandrikadeb7 commented on #3733
I would like to contribute to this issue under GSSoc'20 in Python

[2020-02-29 17:25] rudrakshi99 commented on #2682
can I work on this issue as a part of GSSoC'20?

[2020-02-29 18:04] himanshusharma89 opened #4346 "Magic Square in CPP"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details: Magic Square in CPP**

A magic square is an nxn (i.e, square) matrix of numbers containing all numbers from 1 to n2 such that all the numbers in any given row, column, or main diagonal sum to the same number. The number n is called the order of the magic square.
I h

[2020-02-29 18:17] himanshusharma89 commented on #4346
I have developed this algorithm in c++ and updated the READMEmd file for this algorithm.

[2020-02-29 18:30] ranjal007 commented on #4341
I would like to work on this issue
please assign it to me for gssoc20.

[2020-02-29 19:06] AJAYSHARMA2012 commented on #4339
I am interested in this issue and want to work on it as a part of gssoc'20.

[2020-02-29 19:12] AJAYSHARMA2012 commented on #4339
I have a doubt: we only need to implement all the C++ standard template library Or we also have to describe them.

[2020-02-29 19:19] Abhi1398 commented on #4337
I would too like to contribute in it...

[2020-02-29 20:00] nikochiko opened #4348 "[LeetCode] Add solution to longest substring without repeating characters"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add solution for LeetCode problem 3: Longest Substring without Repetition of Characters

P.S. I would like to work on it

[2020-02-29 20:39] Abhi1398 commented on #4048
Please assign this to me , It will be fun solving it

[2020-03-01 01:03] Priya-Raut commented on #2914
I will work on this issuee

[2020-03-01 01:13] Priya-Raut commented on #4011
I want to provide a solution in Java. Please assign that part to me.

[2020-03-01 04:14] topcoder69 opened #4353 "Mo's algorithm in Python"
This is Mo's Algorithm

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Mo's algorithm is an algorithm to find out sum of elements in the given query range. Given an array and a number of queries having a start and an end index, calculate the sum of elements.
This is submitted in Cpp language, I want to submit it in Python.
Ple

[2020-03-01 04:38] topcoder69 opened #4354 "Gaussian elimination program algorithm"
**This is a(n):**

- [ ] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Gaussian Elimination is a method which reduces a system of given linear equations to upper triangular matrix and then uses backward substitution to find the roots.
I would like to develop an algorithm for it in Java and Python.
I'm proficient in Data structures

[2020-03-01 04:40] JasleenRandhawa opened #4355 "byte_swapper in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The given approach is a bit lengthy. I would like to implement a shorter method to do  the same.

[2020-03-01 04:44] HarshCasper opened #4356 "Converting Non-Deterministic Finite Automata to Deterministic Finite Automata."
**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x ] Proposal to the Repository

**Details:**

Add a Code which can convert a  Non-Deterministic Finite Automata Matrix to Deterministic Finite Automata Matrix. This issue is a part of Girlscript Summer of Code '2020 and I would like to put the code for the issue.

[2020-03-01 05:07] Yashank18 opened #4357 "Exponential search in C#"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Exponential Search is not available in C# language. Will like to add it.

[2020-03-01 05:12] Yashank18 opened #4358 "Quick Sort in Divide Conquer in C#"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

In Divide Conquer Quick Sort in C# is missing will like to add that.

[2020-03-01 06:05] Satzyakiz commented on #4339
I want to contribute to this issue as a part of GSSoC 2020.

[2020-03-01 06:11] Satzyakiz commented on #4341
I would like to contribute to this issue as a part of GSSoC 2020.

[2020-03-01 07:06] Srashtimittal commented on #2690
I am a gssoc 2020 participant .I want to contribute on this issue.

[2020-03-01 07:21] JanaSabuj opened #4364 "Fibonacci in JS."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Adding the Fibonacci number implementation in JS.

[2020-03-01 07:23] JanaSabuj commented on #4364
@AdiChat please assign it to me (GSSoC ' 20)

[2020-03-01 07:37] Srashtimittal commented on #4019
I am a gssoc 2020 participant. Please assign me this issue.

[2020-03-01 07:48] Srashtimittal commented on #3461
I am a gssoc 2020 participant. I want to contribute on this issue. Please assign me this issue.

[2020-03-01 08:00] nitashadhingra commented on #4023
under GSSoC i would like to contribute to the issue @AdiChat

[2020-03-01 08:01] nitashadhingra commented on #3934
under GSSoc i would like to contribute @AdiChat

[2020-03-01 08:03] nitashadhingra commented on #3838
under GSSoC'20 i would like to contribute (using c++) @AdiChat

[2020-03-01 08:04] vishakha2108 commented on #4085
As a participant of gssoc 2020 I would like to work on this issue and add methods like search, union etc in bag .Kindly assign it to me

[2020-03-01 08:35] GarvTambi commented on #3748
Hi, @AdiChat I am interested to add code in SVM, So, should I start/pull my code.

[2020-03-01 08:37] Valdermaut commented on #4345
I would like to work on this project

[2020-03-01 08:40] GarvTambi commented on #3748
hi, @AdiChat @Lechenco @souvik3333 @vikram2000b @arnavb I am interested to add code in SVM, So, should I start/pull my code.

[2020-03-01 08:51] Srashtimittal commented on #4339
I want to contribute to this issue as a part of gssoc2020

[2020-03-01 08:52] GarvTambi commented on #3733
Hi, @AdiChat @Lechenco @souvik3333 @vikram2000b @arnavb I am interested to add code in RNN, So, should I start/pull my code.

[2020-03-01 08:54] GarvTambi commented on #3706
hi, @AdiChat @Lechenco @souvik3333 @vikram2000b @arnavb I am interested to add code in Gaussian Naive Bayes, So, should I start/pull my code.

[2020-03-01 08:57] GarvTambi commented on #3700
Hi, @AdiChat @Lechenco @souvik3333 @vikram2000b @arnavb I am interested to add code in Naive Bayes, So, should I start/push my code.

[2020-03-01 09:32] sonali623 opened #4367 "Implementing Pattern Searchig Algorithms"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Add pattern searching algorithms for the problems like:
    Naive Pattern Searching
    KMP Algorithm
    Rabin-Karp Algorithm
    Finite Automata
    Boyer Moore Algorithm – Bad Character Heuristic
    Program to wish Women’s Day

[2020-03-01 09:37] sonali623 commented on #4367
@AdiChat As a part of gssoc 2020 I would like to work on this issue

[2020-03-01 09:57] shristi428 commented on #4011
I can provide the solution  on java and c++. please assign this problem to me

[2020-03-01 10:15] KushalBhanot opened #4371 "Prime Factors in Mathematical Algorithms in JS"
**This is a(n):**

- [ ] New algorithm
- [ x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding the code for prime_factors in JS.

[2020-03-01 10:16] KushalBhanot commented on #4371
`Please assign me this code for GSSoC'20.`

[2020-03-01 10:29] manan-bedi2908 commented on #4342
I would like to work on this issue

[2020-03-01 10:50] shristi428 commented on #4025
i can do this in c++ using OpenCv libraries please assign it to me

[2020-03-01 10:50] GarvTambi commented on #4345
Hi, @AdiChat @Lechenco @souvik3333 @vikram2000b @arnavb I am interested to add code in K-means Algorithm in python, So, should I start/push my code.

[2020-03-01 10:53] GarvTambi commented on #4339
hi, @AdiChat @Lechenco @souvik3333 @vikram2000b @arnavb @biekymahato I want to contribute to this issue as a part of gssoc2020

[2020-03-01 10:54] GarvTambi commented on #4337
@nikochiko I would like to contribute in it.

[2020-03-01 10:55] arghac14 commented on #4345
@utkarsh1996 the issues will be assigned in the first come first serve basis, i already raised the issue and asked them to assign me. So I suggest you to look for other issues.

[2020-03-01 10:56] GarvTambi commented on #4095
Hi @ashneg I want to add code of online context of CodeChef.

[2020-03-01 10:57] GarvTambi commented on #4063
Hi @kizivat I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me

[2020-03-01 11:05] GarvTambi commented on #4085
Hi @dunnbrit As a participant of gssoc 2020 I would like to work on this issue and add methods like search, union etc in bag .Kindly assign it to me.

[2020-03-01 11:05] GarvTambi commented on #4084
Hi @dunnbrit  As a participant of gssoc 2020 I would like to work on this issue and add methods like search, union etc in bag .Kindly assign it to me

[2020-03-01 11:08] GarvTambi commented on #3994
@Arunkumar0258 As a participant of gssoc 2020 I would like to work on this issue.

[2020-03-01 11:11] GarvTambi commented on #3943
Hi @dundermiflin As a participant of gssoc 2020 I would like to work on this issue.

[2020-03-01 11:11] shristi428 commented on #4343
i like to solve leetcode questions and try to solve as many as question everyday  and i already have a repo for my leetcode solutions please assign me this problem

[2020-03-01 11:32] KunalAmbekar04 opened #4373 "Segment Tree implemenation from various queries in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

 Implementing Segment tree for queries like:
* Range Min Query.
* Range Min Query using Lazy Propogation.
* Range Max Query.
* Range Max Query using Lazy Propogation.
* Range Sum Query.
* Range Sum Query using Lazy Propogation.
* Range GCD Query.

[2020-03-01 11:38] KunalAmbekar04 commented on #4373
@AdiChat  As a part of GSSOC'20, I would like to work on this issue.

[2020-03-01 12:13] SohelRaja opened #4374 "Implementation of Kadane's Algorithms using C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

For finding the maximum sum as well as user required sum of a sub-array from an existing array.

[2020-03-01 12:36] sonali623 commented on #4030
@arnavb @AdiChat is this issue still open? I would like to work on it as a part of gssoc 2020.

[2020-03-01 14:25] goyalmuskan opened #4375 "Implementation of PostFix Evaluation using Java (Stacks)"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-01 14:25] goyalmuskan commented on #4375
I want to work on the issue, please assign me the same.

[2020-03-01 14:59] anishajain22 commented on #4343
Can I  please take up the Leetcode issue. I have solved many problems on Leetcode and can provide the solutions for the same.

[2020-03-01 15:51] srimani-programmer opened #4379 "Implementation of Project Euler Problem #201 Subsets with Unique Sum"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-01 16:57] Ayush7-BIT commented on #93
I wanna add algorithm for it in java(Gssoc'20)kindly assign me this..

[2020-03-01 17:24] HarshCasper opened #4383 "Implementation of "Jumping on the Clouds" Problem on Hackerrank"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-01 17:34] rudrakshi99 opened #4384 "Add codes in Online Challenges folder."
Add codes for the problems of LeetCode and CodeForces.

[2020-03-01 17:51] chandrikadeb7 opened #4385 "Add is_binary_tree program in C"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
 Add the algorithm in C
Please assign this issue to me under GSSoC'20.

[2020-03-01 19:21] Yash1256 commented on #4383
@HarshCasper sir what to do exactly with this issue, I have already solved the problem on the hacker rank platform what to do next??

[2020-03-02 06:45] mehakmalhotra1 commented on #4373
I would like to work on this issue, as a part of GSSOC'20.
@AdiChat

[2020-03-02 06:46] mehakmalhotra1 commented on #4339
I want to contribute to this issue as a part of GSSoC 2020.

[2020-03-02 06:50] mehakmalhotra1 commented on #4011
I want to contribute to this issue as a part of GSSoC 2020.

[2020-03-02 07:04] mehakmalhotra1 commented on #4374
I want to contribute to this issue as a part of Gssoc'20

[2020-03-02 09:23] atrip10 commented on #4367
I would like to contribute to this issue

[2020-03-02 09:26] atrip10 commented on #4339
I would like to contribute to this issue as a part of GSSoC 2020

[2020-03-02 11:45] arghac14 opened #4391 "KNN Algorithm using C"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

@AdiChat please assign me this

[2020-03-02 11:52] Rukmini-Meda commented on #4048
Hi, I am very interested to work on this issue. Please assign it to me if its not yet done.

[2020-03-02 11:54] Ankita1811 commented on #4385
Can you please assign me to this?

[2020-03-02 11:54] Ankita1811 commented on #4391
Can you please assign me to this?

[2020-03-02 11:56] arghac14 commented on #4391
@Ankita1811 the rule is that the issues will be assigned on first come first serve basis, i have already raised this issue first so i request you to please look for other issues!

[2020-03-02 12:45] Ratna04priya commented on #4384
I would like to add the codes of hackerrank and codechef.

[2020-03-02 12:45] Rukmini-Meda commented on #4023
I would like to contribute to this issue as part of GSSoC

[2020-03-02 12:46] Divyanshwick opened #4393 "Update for cycle sort in C"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Changed Datatype of arr[] to long long as it fails when large inputs are given

[2020-03-02 12:48] Ratna04priya opened #4394 "Code for Covolutional Autoencoders"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-02 13:20] Divyanshwick opened #4395 "JS code for Topological sort"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

adding JavaScript code for Topological Sort

[2020-03-02 13:23] Divyanshwick commented on #4395
Please assign me this code for GSSoC'20.

[2020-03-02 13:28] Ratna04priya opened #4396 "Numerical Analysis Algorithms - Scilab"
Numerical analysis is the study of algorithms that use numerical approximation  for the problems of mathematical and computer science.

**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-02 13:34] Srashtimittal commented on #4341
I would like to contribute as a part of gssoc 2020.

[2020-03-02 14:35] atrip10 commented on #4393
I want to contribute to this issue.

[2020-03-02 14:45] atrip10 opened #4400 "Add hamiltonian_cycle (Backtracking) program in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to add hamiltonian cycle code in C++

[2020-03-02 15:56] GarvTambi opened #4401 "Self Driving Car"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-02 16:00] GarvTambi commented on #4401
#!/usr/bin/env python
# coding: utf-8

# In[1]:

# Importing Libraries
# To import necessary libraries for this task, execute the following import statements:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')

# In[9]:

#Import scikit-learn dataset library
from sklearn import datasets

#Load dataset
wine = datasets.load_win

[2020-03-02 16:00] #4401 closed

[2020-03-02 16:40] anishajain22 commented on #95
Took the liberty to implement dfs in C#
Please review @AdiChat Added dfs in C# #4402
Thanks!

[2020-03-02 16:46] Akansha2202 commented on #4374
i want to contribute in this

[2020-03-02 16:51] anishajain22 commented on #168
Took the liberty to implement it in C#
added code for binomial coeff in C# #4403
Please review @AdiChat
Thanks

[2020-03-02 16:54] BhardwajShweta25 opened #4404 "Minimum Platform Problem solution in C++"
This is a problem to find the minimum number of platforms required for the railway station so that no train waits.
I can contribute to its solution in C++

[2020-03-02 17:33] atrip10 opened #4406 "To add jump sort code in c++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to add jump sort code in c++

[2020-03-02 17:51] nikkkhil067 commented on #4406
I am willing to write this algorithm

[2020-03-02 18:02] nikkkhil067 commented on #3597
I am willing to work on this algorithm.
Please assign this to me.

[2020-03-02 19:14] nikochiko opened #4410 "Add code for linear regression using normal equation"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implement linear regression using the closed form equation.
reference: https://www.geeksforgeeks.org/ml-normal-equation-in-linear-regression/

[2020-03-02 19:43] AkanshaKamboj opened #4412 "Linked List Sorting using Merge Sort, Quick Sort, Bubble Sort, Selection Sort in C, C++, Java, Python"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-02 19:43] AkanshaKamboj commented on #4412
I would like to contribute on this issue

[2020-03-02 19:43] AkanshaKamboj commented on #4412
For GSSoC20

[2020-03-02 19:52] MdAkdas opened #4413 "Shortest job first(preemptive),and priority scheduling (preemptive and non preemptive) in scheduling algorithms(operating system)- C."
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

There are some scheduling algorithm in Operating system code. but these algorithm are not present.

[2020-03-02 19:53] MdAkdas commented on #4413
i would like to work on this issue.
please assign me this. :)

[2020-03-02 20:23] coderprasukj commented on #3640
I would like to work for this issue in C++. Could you please assign this task to me??

[2020-03-03 00:14] SnehhaPadmanabhan commented on #4348
I would like to work on this if it's still available @nikochiko

[2020-03-03 00:20] SnehhaPadmanabhan commented on #3725
@AdiChat is the issue still open? If yes I would like to claim it.

[2020-03-03 04:08] Ratna04priya opened #4414 "Genetic Algorithms Implementation"
Tjis section can be used to implement various algorithms using genetic algorithms.
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Many greedy, optimal and various algorithms can be solved using genetic algorithms.

[2020-03-03 04:08] Ratna04priya commented on #4414
I would like to work on this issue.

[2020-03-03 05:07] vidushi-agarwal commented on #4384
Hi, I am a regular coder at Leetcode. Kindly assign me this task to add Leetcode problems

[2020-03-03 05:13] vidushi-agarwal opened #4415 "Code to Implement hashing(a data structure which helps in O(1) lookup) in C++,JAVA"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-03 06:15] Ratna04priya commented on #4384
Hello, it's first come first serve basis. I have raised the issue, and wanted to contribute for the same, please check another suitable issue. Thank you :)

[2020-03-03 08:31] gunjanmimo commented on #4379
I WANT TO TAKE THIS ISSUE @srimani-programmer

[2020-03-03 11:18] HarshCasper opened #4416 "Implement Lasso Regression in Python"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [X] Proposal to the Repository

**Details:**

Lasso regression is a type of linear regression that uses shrinkage. Shrinkage is where data values are shrunk towards a central point. The lasso procedure encourages simple, sparse models.

My proposal is to add a Code to perform Lasso Regression for Stock Price

[2020-03-03 11:52] parjanyaacoder opened #4418 "Implement Egyptian Fraction Algorithm in Java"
This is a(n):

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

[2020-03-03 11:57] parjanyaacoder commented on #4418
I am a participant of GSSOC 2020 and i want to work on this issue. Please assign this issue to me @AdiChat

[2020-03-03 12:21] anmolkaur18 commented on #3634
Assign this issue to me please @CodeSeeker99

[2020-03-03 13:32] DawoodBhai420 opened #4419 "solution of CodeChef's SLAB challenge (GSSoC'20)"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution of a challenge [SLAB](https://www.codechef.com/COOK115B/problems/SLAB) which was asked in CodeChef's February Cook-off division 2 contest.

[2020-03-03 13:59] kaavyajain commented on #4394
@Ratna04priya Typo: Convolutional not covolutional

[2020-03-03 17:12] arghac14 opened #4422 "Comb sort: using C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-03 17:12] arghac14 commented on #4422
@AdiChat please asssign

[2020-03-03 17:32] ranjal007 commented on #3918
I need to work on this issue for Gssoc. Please assign it to me.

[2020-03-03 23:41] harshita130602 commented on #4419
I would like to work on this!

[2020-03-03 23:41] harshita130602 commented on #4419
I am a part of GSSOC'20

[2020-03-04 01:57] DawoodBhai420 commented on #4419
I want to work on this issue as a part of GSSoC'20.
please assign this issue to me.

[2020-03-04 10:43] nikochiko commented on #4348
Hey @SnehhaPadmanabhan thanks for your interest, but I have already opened a PR, please take up some other issue. Thanks!

[2020-03-04 11:05] BhavishayGulati commented on #4415
Hi I am a gssoc20 participant please assign this issue to me. I would like to solve this issue

[2020-03-04 12:45] richabh456 commented on #3641
i would like to take up this issue as a part of gssoc20

[2020-03-04 15:27] nitin1kumar1 opened #4430 "KMP algorith using JAVA"
**This is a(n):**

- [ ] New algorithm
- [ x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-04 15:59] atrip10 opened #4431 "Longest_Palindromic_Substring in c++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-04 17:11] aayanksinghai opened #4435 "String remove consecutive duplicates C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-04 17:12] aayanksinghai opened #4436 "Sum of alternative consecutive d odd numbers"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-04 17:13] aayanksinghai opened #4437 "Unique Number in list in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implementing using Bitwise Operator

[2020-03-04 17:13] aayanksinghai opened #4438 "Bubble Sort in C++ using Recursion"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-04 17:14] aayanksinghai opened #4439 "Array-Spiral Print Anticlockwise in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-04 17:15] aayanksinghai opened #4440 "Maximum Subarray Sum in O(n) C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-04 17:15] aayanksinghai opened #4441 "Pythagoras Triplet in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-05 09:07] Pihu1998 commented on #4440
Hi @aayanksinghai , I am a GSSoC participant. Can I work on this issue?

[2020-03-05 10:58] agarwalshivani23 commented on #4419
I want to work on this issue .
i am a participants of GSSOC'20.

[2020-03-05 11:11] ravireddy07 opened #4443 "Auto Key Cipher in C, C++ and Java"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

 Implementation of this algorithm will done in C, C++ an Java. Please assign this to me  @AdiChat

[2020-03-05 11:22] ravireddy07 opened #4444 "Hill Cipher Algorithm"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to implement this algorithm in C, C++ and Java. Please assign this to me. @AdiChat

[2020-03-05 12:43] rudrakshi99 commented on #4384
But I have already asked from the admin and the mentor for this. They told me that I can add codes.

[2020-03-05 14:16] Harikrishnan6336 opened #4446 "Tug of War Algorithm - Backtracking"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

PROBLEM : Given a set of n numbers , divide the set in two subsets of n/2 sizes each such that the difference of the sum of two subsets is as minimum as possible

The solution tries every possible subset of half size.  We initialize current set as empty and then

[2020-03-05 14:22] Harikrishnan6336 opened #4447 "Armstrong number in Golang"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

The classical program to find Armstrong numbers in Golang

[2020-03-05 16:24] ashishnagpal2498 commented on #4437
Can I work on this issue?

[2020-03-06 03:33] anshu18107 commented on #4443
I can work on the python part @ravireddy07 @AdiChat

[2020-03-06 07:06] abhishekkansal commented on #4438
Please assign this issue to me. I am interested in updating the algorithm to a newer one.

[2020-03-06 09:49] Bhavyaa08 opened #4449 "Project_Euler problem #15: Lattice Paths"
I would like to submit my java solution to this problem.

[2020-03-06 09:51] Bhavyaa08 opened #4450 "Leetcode Solutions"
**This is a(n):**
- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
I would like to propose to create a folder for Leetcode solutions as well.

[2020-03-06 10:29] Ayush7-BIT commented on #4441
Sir!! i can work on this issue..?please assign me..

[2020-03-06 10:30] Ayush7-BIT commented on #4438
Sir!! i can work on this issue..?please assign me..

[2020-03-06 10:30] Ayush7-BIT commented on #4436
Sir!! i can work on this issue..?please assign me..

[2020-03-06 10:31] Ayush7-BIT commented on #4435
Sir!! i can work on this issue..?please assign me..

[2020-03-06 10:31] Ayush7-BIT commented on #4412
Sir!! i can work on this issue..?please assign me..

[2020-03-06 10:45] abhishekgupta368 opened #4453 "Add code for Fenwick tree"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
This Data structure is missing from the repository.
I would like to contribute in this project.

[2020-03-06 10:49] abhishekgupta368 opened #4454 "Add number of way to destination in maze Python"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I would like to implement in python for your repository.

[2020-03-06 10:51] abhishekgupta368 opened #4455 "Implementation of kmp algorithm in c++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I would like to implement in c++ for your repository.

[2020-03-06 18:43] Yashank18 commented on #4358
@AdiChat Please check

[2020-03-06 18:44] Yashank18 commented on #4357
@AdiChat Please Check

[2020-03-07 07:18] abhijeet010304 commented on #38
I would like to work on this issue using C++ . Kindly assign this to me.

[2020-03-07 07:19] abhijeet010304 commented on #134
I would like to work on this issue using C++. Kindly assign this to me.

[2020-03-07 07:26] abhijeet010304 commented on #4449
I would like to work on this issue using C++ . Kindly assign this to me.

[2020-03-07 07:27] abhijeet010304 commented on #4435
I would like to work on this issue using C++ . Kindly assign this to me.

[2020-03-07 07:28] abhijeet010304 commented on #243
I would like to work on this issue using C++. Kindly assign this to me.

[2020-03-07 08:11] Swa4nali opened #4459 "Designing chessboard using shell scripting"
**This is a(n):**

-  [
[chess - Copy.txt](https://github.com/OpenGenus/cosmos/files/4301524/chess.-.Copy.txt)
] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This is a shell script. It will ask for a password and if the password gets matched with the previously declared password, it will show a chessboard.

[2020-03-07 08:15] anmolkaur18 commented on #4459
@Swa4nali Please assign this issue to me .I am interested in contributing to this

[2020-03-07 08:18] anmolkaur18 commented on #11
Please assign it to me I want to do this in java and c++
@AdiChat

[2020-03-07 13:43] himanshusharma89 opened #4460 "Create Topological Sort in C#"
**This is a(n):**

- [ ] New algorithm
- [X] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Create a Topological Sort algorithm in C#.

[2020-03-07 14:05] Swa4nali commented on #4444
Please assign this issue to me. @ravireddy07

[2020-03-07 14:06] Swa4nali commented on #4438
Please assign this issue to me..

[2020-03-07 14:07] Swa4nali commented on #4430
Please assign this to me.

[2020-03-07 14:08] Swa4nali commented on #4415
Please assign this issue to me

[2020-03-07 14:09] Swa4nali commented on #4081
Please assign this issue to me.

[2020-03-07 14:23] harshita130602 commented on #4460
can you please assign this issue to me. I'm a part of GSSOC'20

[2020-03-07 16:46] shwetachan commented on #4413
i want to work on this issue . please assign me this issue.
I'll try my best :))

[2020-03-07 17:27] rudrakshi99 commented on #4431
Plzz assigns this issue to me.

[2020-03-07 18:00] shwetachan commented on #3531
i'd like to work on this.

[2020-03-07 23:08] shubhammantri1 opened #4466 "Disjoint Set Union in c and c++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to write code for the implementation of Disjoint Set Union datastructure.
Please assign it to me.

[2020-03-08 09:43] jaassmine commented on #4412
I would like to contribute..please assign this to me.

[2020-03-08 09:44] jaassmine commented on #4412
i would like to work on this using c++

[2020-03-08 16:06] AshiishKarhade commented on #4437
I want to work on this!

[2020-03-08 16:33] vkr-code commented on #4441
Pls assign me this issue

[2020-03-08 16:50] ishikabansal04 commented on #4438
sir. please assign me this issue.

[2020-03-08 16:52] ishikabansal04 commented on #4439
sir. please assign me this issue.

[2020-03-08 17:42] vkr-code commented on #4415
Pls assign me this issue in Java

[2020-03-09 07:13] ujjwaltiwari13 commented on #4447
@Harikrishnan6336 I want to implement this algorithm in GOlang please assign this issue to me.

[2020-03-09 14:26] SDakshit commented on #4438
Sir, I would like to work on this. Please assign it to me.

[2020-03-09 14:29] SDakshit commented on #4412
Sir I would really like to work on this. Please assign it to me.

[2020-03-09 15:07] SomyaGandhi commented on #4436
I can work on this issue in c and c++

[2020-03-09 16:18] busamate commented on #3998
Can i work on this issue?

[2020-03-09 19:50] shwetagurnani commented on #4450
i want to work in this folder

[2020-03-10 16:56] rudrakshi99 commented on #3634
I want to work on this issue as a part of GSSoC'20 .Plzz assigns it to me.

[2020-03-11 08:34] vkr-code commented on #4412
Pls assign me this in Java

[2020-03-11 09:34] raksha009 opened #4503 "Addition of solution to the problem Hard Cash in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to codechef's feb long challenge 2020 "Hard Cash" problem in java as a participant of Gssoc'20.
Plz assign me this issue.  @arnavb

[2020-03-11 11:14] Disha5harma commented on #4412
Please assign me this in python.

[2020-03-11 12:48] Riyagoel2 commented on #4415
Hi , I can do this in java.
Please assign it to me @vidushi-agarwal

[2020-03-11 15:38] AnsheeMongia commented on #4418
Please assign this issue to me.

[2020-03-11 16:33] sainikhit2k commented on #3404
Hi , can work on this issue ?

[2020-03-11 20:08] TechnoPhasePRO opened #4507 "Parallel Merge Sort"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Merge sort first divides the unsorted list into smallest possible sub-lists, compares it with the adjacent list, and merges it in a sorted order. It implements parallelism very nicely by following the divide and conquer algorithm.

[2020-03-12 09:55] #4358 closed

[2020-03-12 09:57] #4357 closed

[2020-03-12 10:05] #4348 closed

[2020-03-12 10:16] #4375 closed

[2020-03-12 11:00] raksha009 commented on #4503
@arnavb thanks for assigning me this issue. Plz assign it gssoc label and the difficulty label too. Thanks

[2020-03-12 13:29] TechnoPhasePRO commented on #4507
@arnavb @AdiChat sir please assign me this task. i want to add solution to parallel merge sort in c,c++,python.

[2020-03-12 13:44] shweta0699 opened #4512 "Implementation of 0/1 knapsack using recursion in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-12 13:46] shweta0699 commented on #4512
I want to work on this issue as a part of GSSoC'20. Please assign it to me.

[2020-03-12 15:57] HritikBhardwaj commented on #4512
can u assign me this issue. please

[2020-03-12 16:52] gowripratyusha28 opened #4514 "Convex hull problem"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-12 16:52] gowripratyusha28 commented on #4514
I would like to work on this as a part of GSSOC20

[2020-03-12 18:00] siddhi523 commented on #4455
I would like to take this up. Will you please assign it to me ?

[2020-03-12 19:21] cparm11 commented on #3683
I would like to work on this issue

[2020-03-12 19:43] cparm11 commented on #3684
Can I work on this issue in C?

[2020-03-13 08:23] anishagoswami167 commented on #4186
Assign me this issue for GSSOC2020.

[2020-03-13 10:34] kashika3101 commented on #4438
sir, please assign this issue to me in c++

[2020-03-13 10:48] kashika3101 commented on #4438
sir, please assign this issue to me

[2020-03-13 13:36] sainikhit2k commented on #3404
Hi I currently don't have time to solve this issue. can you remove my assignment ?

[2020-03-13 19:41] raksha009 opened #4533 "Addition of solution to the problem Tax Slabs in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to codechef's feb cook-off 2020 "Tax Slabs" problem in java as a participant of Gssoc'20.
Plz assign me this issue.  @arnavb

[2020-03-13 19:44] raksha009 opened #4534 "Addition of solution to the problem Chef and Street Food in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to codechef's january lunchtime 2020 "Chef and Street Food" problem in java as a participant of Gssoc'20.
Plz assign me this issue.  @arnavb

[2020-03-14 06:06] mahakmandlecha commented on #4430
please assign me this issue

[2020-03-14 06:10] mahakmandlecha commented on #4371
please assign me this code

[2020-03-14 09:05] Kuljeet-123 commented on #4514
@arnavb  I would like to work on this issue ....can you please assign me this.

[2020-03-14 09:07] Kuljeet-123 commented on #4466
@arnavb  @shubhammantri1  I would like to work on this issue.... can you please assign me this.

[2020-03-14 09:08] Kuljeet-123 commented on #4455
@abhishekgupta368  @arnavb  I want to work on this issue...can you please assign me this.

[2020-03-14 09:24] HariniJeyaraman commented on #4512
@AdiChat Please assign me to this issue. I can implement this in C/C++/Java and Python

[2020-03-14 09:26] Varshney200 commented on #4438
please assign this issue to me

[2020-03-14 09:27] HariniJeyaraman commented on #4436
@AdiChat can you assign me this issue? I can implement this in C,C++,Java and Python. Also can you please provide a description to this issue.

[2020-03-14 09:28] Varshney200 commented on #4440
Can I work on this issue as a part of GSSoC?

[2020-03-14 09:30] HariniJeyaraman commented on #4430
@AdiChat Please assign this issue to me, I'm a GSSoC'20 participant and want to contribute actively. I can implement this in C,C++,Python and Java

[2020-03-14 09:31] HariniJeyaraman commented on #4422
@AdiChat Participant of GSSoC20 and would like to contribute. Can implement in C,C++,Java and Python. Please assign this to me.

[2020-03-14 09:32] HariniJeyaraman commented on #4385
@AdiChat Please assign this issue to me. I'm a GSSoC20 participant. Can implement this in C,C++,Java and Python

[2020-03-14 09:33] HariniJeyaraman commented on #4048
Hi, I am very interested to work on this issue. Please assign it to me if its not yet done. I'm a GSSoC20 participant and would love to contribute.Can implement in C,C++,Java and Python

[2020-03-14 09:35] HariniJeyaraman commented on #3988
@arnavb @AdiChat Please assign this to me. Can implement in C,C+. Participant of GSSoC20

[2020-03-14 09:36] HariniJeyaraman commented on #3685
@arnavb @AdiChat Please assign me this issue. Participant of GSSoC20. Can implement in C,C++,Java and Python

[2020-03-14 14:43] ritish099 opened #4541 "Update the algorithm of C,C++ to find the factorial of large number like 100!"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
 I want to update the file of cosmos/code/mathematical_algorithms/src/factorial/ C and C++ to find factorial of large number like 100!. existing code cant do that

[2020-03-14 15:02] ritish099 opened #4542 "Addition of solution of Greedy puppy"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Want to add solution of Greedy puppy (GDOG) in C,C++,Java

[2020-03-14 16:08] Riyagoel2 commented on #4542
I can work on it in java

[2020-03-14 16:10] Riyagoel2 commented on #4436
I can work on it in Java

[2020-03-14 19:29] mahakmandlecha commented on #4541
@ritish099  I want to upload the algorithm using C , so that factorial of any number can be found using LinkedList. Please assign me this.

[2020-03-14 19:34] mahakmandlecha commented on #4447
@Harikrishnan6336 I want to update its algorithm in Java as the existing code only calculates for 3 digit number. So can you please asssign me this.

[2020-03-15 05:29] shwetachan commented on #4440
i want to work on this issue as a part of GSSoC 20 . please assign it to me

[2020-03-15 05:58] shwetachan commented on #4512
@AdiChat please assign this issue to me . I want to work on it as a part og GSSoC20

[2020-03-15 06:31] shwetachan opened #4544 "Addition of solution of warshall algorithm in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-15 06:32] shwetachan commented on #4544
i want to work on this issue as a part of GSS0C 20. please assign it to me

[2020-03-15 06:35] shwetachan opened #4545 "Addition of solution for job sequencing in C"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-15 06:36] shwetachan commented on #4545
i want to work on this issue as a part of GSSoC 20. please assign it to me

[2020-03-15 06:45] shwetachan opened #4546 "Add Solution to calculate median of two sorted arrays in divide and conquer algorithm"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-15 06:45] shwetachan commented on #4546
i want to work on this issue as a part of GSSoC 20 . Please assign it to me.

[2020-03-15 06:49] shwetachan opened #4547 "add solution for maximum sub array sum using divide and conquer in c and c++"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-15 06:49] shwetachan commented on #4547
i want to work on this issue as a part of GSSoC 20. please assign it to me.

[2020-03-15 07:53] Kuljeet-123 commented on #4547
@shwetachan I'm a GSSOC'20 Participant ... I would like to do this in C++.Can you please assign me this.

[2020-03-15 08:15] Kuljeet-123 opened #4550 "Solution to the Strongest Weapon Codechef Problem in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Task is to minimize the total number of remaining weapons of all 3 types if the game can go on forever.

**Note:** After a weapon wins and return to the group of weapons, you can again choose any 2 weapons, that you want, from all the remaining ones.

[2020-03-15 08:16] Kuljeet-123 commented on #4550
I'm going to work on this issue ....Please assign this to me.

[2020-03-15 09:00] Kuljeet-123 commented on #4550
@AdiChat  I have created the PR please review it.

[2020-03-15 13:53] ritish099 commented on #4541
@mahakmandlecha i am also a participant.

[2020-03-15 15:36] harshita130602 opened #4559 "Tower of Hanoi in C#"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Tower of Hanoi needs to be added in C#. I would like to work on this!

[2020-03-15 15:42] Kuljeet-123 commented on #4067
@arnavb I want to implement this in java,C++ and Python.Please assign this to me

[2020-03-15 15:46] Kuljeet-123 commented on #3997
@arnavb I want to do this in C,Java and Python.Please assign this to me.

[2020-03-15 15:47] Kuljeet-123 commented on #4030
@arnavb @AdiChat I want to implement this in Python as a part of GSSOC'20.Please assign this to me.

[2020-03-15 15:48] Kuljeet-123 commented on #4053
@arnavb  I want to work on this issue please assign this to me.

[2020-03-15 15:53] Kuljeet-123 commented on #4019
@arnavb @AdiChat I am a GSSOC'20 participant. I want to implement this in Python please assign this to me.

[2020-03-15 15:58] Kuljeet-123 commented on #4559
@arnavb @AdiChat @harshita130602 I'm a GSSOC'20 Paricipant I want to work on this issue..Please assign this to me.

[2020-03-15 18:21] AnsheeMongia commented on #640
Please assign this issue to me

[2020-03-15 19:26] Yashank18 opened #4561 "Inversion Count in C#"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Implementation of inversion Count in C#

[2020-03-16 06:41] Kuljeet-123 opened #4563 "Solution to New Scheme Codechef Problem in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I'm Working on it.

[2020-03-16 06:42] Kuljeet-123 commented on #4563
@arnavb @AdiChat I Would like to work on this please assign me this.

[2020-03-16 08:55] SDakshit opened #4568 "Non-attacking eight queen problem using Recursive function in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-16 13:39] harshita130602 opened #4571 "Fibonnaci Search in C#"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-16 13:54] harshita130602 opened #4573 "Interpolation search in C#"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Interpolation search search is needed to be add in C#

[2020-03-16 14:06] harshita130602 opened #4575 "Jump Search in C#"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-17 05:46] akku15999 commented on #4436
Sir i am a gssoc 2020 participant can i work on this issue?

[2020-03-17 05:47] akku15999 commented on #4385
@AdiChat Please assign this issue to me. I'm a GSSoC20 participant.

[2020-03-17 05:48] akku15999 commented on #4353
Can i work on this issue?

[2020-03-17 05:50] topcoder69 commented on #4353
Hey.. I'm already working on this issue in Cpp. You can work but on other language!
Peace :)

[2020-03-17 06:04] akku15999 commented on #4353
Sure I will be working on python . Thankyou

[2020-03-17 07:10] kashika3101 commented on #4541
please assign this issue to  me

[2020-03-17 10:44] jbuhbujhuj commented on #3683
is it open

[2020-03-17 11:29] suchi12j commented on #4512
pls assign this to me

[2020-03-17 11:30] suchi12j commented on #4544
please assign it to me

[2020-03-17 11:30] suchi12j commented on #4440
please assign it to me

[2020-03-17 11:31] suchi12j commented on #4437
please assign it to me

[2020-03-17 11:31] suchi12j commented on #4438
please assign it to me

[2020-03-17 11:32] suchi12j commented on #4439
please assign it to me

[2020-03-17 11:33] suchi12j commented on #4345
please assign it to me

[2020-03-17 12:58] DawoodBhai420 opened #4580 "POPGATES challenge of codechef"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to [POPGATES](https://www.codechef.com/LTIME81B/problems/POPGATES), one of challenges in February Lunchtime 2020 Division 2 contest of Codechef.

[2020-03-17 14:26] Varshney200 commented on #4412
Please assign this issue to me for c++

[2020-03-17 14:29] Varshney200 commented on #4342
Please assign this issue to me under GSSoC'20

[2020-03-17 15:22] Kuljeet-123 opened #4584 "Solution to Bacterial Reproduction codechef problem in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I'm going to work on this issue.

[2020-03-17 15:32] Meenakshi2000 commented on #3713
i would too lie to work on it in java

[2020-03-17 15:35] Meenakshi2000 commented on #4454
i would lie to implement it in c++ and java

[2020-03-17 15:35] Meenakshi2000 commented on #4454
java and c++?

[2020-03-17 15:36] Meenakshi2000 commented on #4440
please assign me this

[2020-03-17 15:36] Meenakshi2000 commented on #4439
assign me this please

[2020-03-17 15:37] Meenakshi2000 commented on #4438
assign me this please

[2020-03-17 15:39] Meenakshi2000 commented on #4374
assign me this please

[2020-03-17 15:42] Meenakshi2000 commented on #3684
assign me this please
can i work in c++ and java

[2020-03-17 15:42] Meenakshi2000 commented on #3685
assign me this please ....can i implement it in c++ and java?

[2020-03-17 16:32] ShebinJoseph opened #4587 "I would like to implement LCM operation in C++ and python"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-17 16:52] raksha009 opened #4588 "Addition of solution to the problem breaking bricks in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to codechef's january long challenge 2020 "Breaking Bricks" problem in java as a participant of Gssoc'20.
Plz assign me this issue.  @arnavb

[2020-03-17 16:53] raksha009 opened #4589 "Addition of solution to the problem Dynamo in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to codechef's january long challenge 2020 "Chef and Dynamo" problem in java as a participant of Gssoc'20.
Plz assign me this issue.  @arnavb

[2020-03-17 18:50] rudrakshi99 commented on #3597
Sir I want to work on this issue as a part of GSSoC 20.

[2020-03-18 06:16] SDakshit opened #4594 "Lucky Number in Python"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-18 12:29] coderprasukj opened #4597 "Add First Set Bits implementation in Javascript"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add first set bits implementation in JavaScript. Please assign me with this issue for GSSoC'20.

[2020-03-18 13:25] aryangulati opened #4598 "subsequence using bitmasking"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-18 13:43] ritish099 opened #4600 "Postman Sort in C#"
**This is a Sorting Technique:**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Sort Algorithm.

[2020-03-18 14:31] ritish099 commented on #4600
@arnavb @AdiChat Sir. Kindly assign this to me. and check out the PR.

[2020-03-18 14:36] Meenakshi2000 commented on #688
can i implement it in c++ and java

[2020-03-18 14:37] TechnoPhasePRO opened #4603 "Quick select"
**This is a(n):**nlogn

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I want to add solution to "quick select" in python3, as a participant of Gssoc'20. Please assign me this issue.@arnavb @AdiChat

[2020-03-18 14:38] TechnoPhasePRO commented on #4603
@arnavb @AdiChat sir please assign me this task. i want to add solution to quick select in python.

[2020-03-18 14:39] TechnoPhasePRO opened #4604 "Quick select"
**This is a(n):**nlogn

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I want to add solution to "quick select" in c++ as a participant of Gssoc'20. Please assign me this issue.@arnavb @AdiChat

[2020-03-18 14:39] TechnoPhasePRO commented on #4604
@arnavb @AdiChat sir please assign me this task. i want to add solution to quick select in c++.

[2020-03-18 14:42] TechnoPhasePRO opened #4605 "Quick select in c#"
**This is a(n):**nlogn

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I want to add solution to "quick select" in c#, as a participant of Gssoc'20. Please assign me this issue.@arnavb @AdiChat

[2020-03-18 14:42] TechnoPhasePRO commented on #4605
@arnavb @AdiChat sir please assign me this task. i want to add solution to quick select in c#.

[2020-03-18 15:35] ritish099 opened #4607 "Postman Sort in C"
**This is a Sorting Technique:**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Sort Algorithm.

[2020-03-18 15:36] ritish099 commented on #4607
@arnavb @AdiChat kindly assign this task to me and review my PR

[2020-03-18 15:36] Kuljeet-123 opened #4608 "Solution to Hill Jumping Codechef Problem in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I'm going to work on this issue.

[2020-03-18 17:16] ritish099 opened #4612 "Codechef Factorial (FCTRL) in C"
**This is a Codechef problem solution in C:**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
The most important part of a GSM network is so-called Base Transceiver Station (BTS). These transceivers form the areas called cells (this term gave the name to the cellular phone) and every phone connects to the BTS with the strongest

[2020-03-18 19:01] Aayushi1506 commented on #4450
I want to work on this issue, Please assign me this @Bhavyaa08

[2020-03-18 19:11] Aayushi1506 commented on #4450
i want to work on this issue, Please assign me this.

[2020-03-18 19:22] Aayushi1506 commented on #4383
I want to submit for this issue. Please assign this to me @HarshCasper sir

[2020-03-18 19:34] Aayushi1506 commented on #4048
i am interested to work on this. Please assign this to me @arnavb

[2020-03-19 06:13] ritish099 commented on #4612
@AdiChat check it out sir

[2020-03-19 06:53] ritish099 opened #4615 "Codechef MNMX solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Chef loves to play with arrays by himself. Today, he has an array A consisting of N distinct integers. He wants to perform the following operation on his array A.

Select a pair of adjacent integers and remove the larger one of these two. This decreases the array

[2020-03-19 07:00] ritish099 commented on #4615
@AdiChat check it out sir

[2020-03-19 07:41] ritish099 opened #4617 "Codechef (XORIER) Problem solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Chef is stuck at the following problem. Help him solve it!

Chef has a sequence of integers A1,A2,…,AN. He should find the number of pairs (i,j) such that 1≤i<j≤N and the bitwise XOR of Ai and Aj can be written as a sum of two (not necessarily different) prime nu

[2020-03-19 07:45] ritish099 commented on #4617
@AdiChat review it sir

[2020-03-19 10:55] shweta0699 opened #4623 "Longest non-palindromic substring in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-19 10:56] shweta0699 commented on #4623
I want to work on this issue as a part of GSSoC'20. Please assign it to me.

[2020-03-19 11:39] aryangulati opened #4624 "Subsequences of string using bitmasking."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [x] Proposal to the Repository

**Details:**

Given a string, we have to find out all subsequences of it. A String is a subsequence of a given String, that is generated by deleting some character of a given string without changing its order.

Examples:

Input : abc
Output : a, b, c, ab, bc, ac, abc

Input :

[2020-03-19 19:02] raksha009 opened #4630 "Addition of solution to the problem stupid machine in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to codechef's december lunchtime 2020 "Stupid Machine" problem in java as a participant of Gssoc'20.
Plz assign me this issue.  @arnavb

[2020-03-19 19:03] raksha009 opened #4631 "Addition of solution to the problem gussnum in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add solution to codechef's december lunchtime 2020 "Guess the number" problem in java as a participant of Gssoc'20.
Plz assign me this issue.  @arnavb

[2020-03-19 20:09] bohemian98 commented on #3640
I am a GSSoC participant.Please assign me this issue so that I can work on it.

[2020-03-20 11:18] Aman-Codes opened #4634 "KNN algorithm in C++"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Adding KNN algorithm in C++

[2020-03-20 15:16] Kuljeet-123 opened #4638 "Solution to Egg-free DAG Codechef Problem in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I'm going to work on this issue.

[2020-03-20 15:19] Kuljeet-123 opened #4639 "Solution to Lasers Everywhere Alternative codechef Problem in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I'm going to work on this issue.

[2020-03-20 15:41] mallika2011 opened #4641 "RGSoC | DFS | Topological Sorting"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Implementation of Kahn's Algorithm
[Project URL](https://github.com/OpenGenus/cosmos/tree/master/code/graph_algorithms/src)

[2020-03-20 15:51] NishkarshRaj commented on #4641
@AdiChat assign this task to me for review :+1:

[2020-03-20 18:25] aryangulati commented on #4603
i have added a code please review it !

[2020-03-20 18:25] aryangulati commented on #4604
i have added a code please review it !

[2020-03-20 18:25] aryangulati commented on #4605
i have added a code please review it !

[2020-03-21 02:15] TechnoPhasePRO commented on #4603
Hi @AdiChat i was the one who created this issue please i want to add solution to it , please create your own issue @aryangulati

[2020-03-21 02:17] TechnoPhasePRO commented on #4605
Hi @aryangulati please don't create a mess , please create your own issue

[2020-03-21 02:22] TechnoPhasePRO commented on #4604
hey @aryangulati  create your own issue and make PR.

[2020-03-21 03:20] aryangulati commented on #4604
Okayy

[2020-03-21 03:22] aryangulati commented on #4605
I don't know about how to contribute in this open source project create own issue and make a PR though okay are u mentor?

[2020-03-21 03:22] aryangulati commented on #4603
👍

[2020-03-21 03:23] aryangulati commented on #4603
If my solution don't get merged u definitely add ur solution

[2020-03-21 03:23] aryangulati commented on #4605
If my solution don't get merged u definitely add ur solution

[2020-03-21 03:24] aryangulati commented on #4604
If my solution don't get merged u definitely add ur solution

[2020-03-21 07:30] TechnoPhasePRO opened #4644 "Cocktail Sort in python"
**This is a(n):O(n*n)

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to add solution to "cocktail sort" in python3, as a participant of Gssoc'20. Please assign me this issue.@arnavb @AdiChat

[2020-03-21 07:31] TechnoPhasePRO commented on #4644
@arnavb @AdiChat sir please assign me this task. i want to add solution to cocktail sort in python.

[2020-03-21 08:08] TechnoPhasePRO commented on #4644
sir, please review my PR @AdiChat  @arnavb

[2020-03-21 09:39] akku15999 opened #4647 "Square root decomposition in python"
Root square decomposition algorithm in python

**This is a(n):**

- [* ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
As this algorithm is been updated in many different languages but not in python yet hence i want to make this available in python with less complexity

[2020-03-21 13:37] Varshney200 commented on #4413
Please assign me this issue

[2020-03-21 17:20] abhijeet010304 commented on #4587
Plzz assign this issue to me I would like to contribute over it in c++ and python.

[2020-03-21 17:22] abhijeet010304 commented on #4647
I would like to work on it in python please assign this to me.

[2020-03-21 17:25] abhijeet010304 commented on #4542
I would like to work on this in c++ java and python .Please assign this to me.

[2020-03-21 22:50] arnavb commented on #4604
@TechnoPhasePRO @aryangulati For both of your prior PRs that I have reviewed, there are clear indications of plagiarism. Please do not copy other's code when submitting PRs here. If people wanted to see code from GeeksForGeeks they would go to their website directly.

[2020-03-21 22:51] arnavb commented on #4605
@TechnoPhasePRO there should only be one issue. That's the way Github issues work: One issue, and possibly multiple PRs.

[2020-03-21 23:13] arnavb commented on #4438
For now @Varshney200 will work on this issue since they created the first PR.

[2020-03-21 23:42] arnavb opened #4655 "There are 2 OOP Patterns folders and they need to be combined"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

There are two folders that contain OOP patterns, `cosmos/code/design_pattern/src/OOP_patterns` and `cosmos/code/design_pattern/src/oop_patterns`. Since they both serve the same purpose, they need to be combined. If anyone is willing to do this, please comment bel

[2020-03-21 23:50] arnavb opened #4656 "There are folder names with quotes present"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

The following folder names have quotes in them:

[code]

This breaks various UNIX tools, such as `xargs` and as such needs to be fixed. If anyone would like to take on this issue please comment below.

[2020-03-22 01:26] aryangulati opened #4659 "Added Sudoku for NxN matrix"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

added a new algorithm

[2020-03-22 05:17] ritish099 commented on #4656
I want to take this issue ,assign it to me. I will correct the folder names

[2020-03-22 05:18] ritish099 commented on #4655
I want to do this please assign it to me

[2020-03-22 05:36] ritish099 commented on #4655
even after syncing multiple times my local repository is only showing OOP_patterns folder. But oop_patterns is not showing. but I can see that both the folders are present in GitHub cosmos code base. why is it so?

[2020-03-22 05:41] ritish099 commented on #4655
even both the folders are present in my forked repository but not in my local repository. Why is it so?

[2020-03-22 09:05] Aman-Codes commented on #4656
I am a GSSOC participant and I would like to work on this issue. Please assign me this issue.

[2020-03-22 12:19] arnavb commented on #4656
@Aman-Codes Since @ritish099 commented first, I will assign him the issue.

[2020-03-22 12:21] arnavb commented on #4655
@ritish099 Are you on MacOS or Windows? I was experiencing the same issues and its because both our OSes are case-insensitive. You might have noticed this while running `git clone`.

[2020-03-22 12:30] arnavb commented on #4438
Closed in #4650

[2020-03-22 12:30] #4438 closed

[2020-03-22 12:31] santushtisharma10 opened #4662 "Pancake Sorting in C,C++ and C#"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Adding Pancake Sorting Algorithm in C,C++ and C#

[2020-03-22 12:34] santushtisharma10 commented on #4662
Please assign me this issue @arnavb

[2020-03-22 13:43] abhijeet010304 commented on #4647
Sir please review my PR . I have added the code for this algorithm in python3

https://github.com/OpenGenus/cosmos/pull/4663

[2020-03-22 13:49] abhijeet010304 commented on #4384
I would like to add codes of Codeforces  and Codechef.

[2020-03-22 13:54] abhijeet010304 commented on #4354
I wish  to contribute it in  C++ java and python3 . Please assign it to me!

[2020-03-22 13:57] abhijeet010304 commented on #4367
I would like to contribute to this issue in c++.

[2020-03-22 13:59] abhijeet010304 commented on #4211
I wish to contribute to it in python and c++

[2020-03-22 14:00] abhijeet010304 commented on #4102
I wish to contribute to it in c++, plzz assign this to me.

[2020-03-22 14:02] abhijeet010304 commented on #3506
I wish to contribute to it in python and c++ and it would be menu driven in both , please  assign this to me as a part of GSSoC 2020

[2020-03-22 14:07] abhijeet010304 commented on #3292
I wish to contribute to it as a part of GSSoC 20 in C++. Please assign this to me .

[2020-03-22 14:09] abhijeet010304 commented on #3623
I wish to contribute to it as a part of GSSoC 20 in C++. Please assign this to me .

[2020-03-22 14:12] ritish099 commented on #4655
Yes, I noticed that. Can we just push a new branch in my forked repository and do the changes over there and then create a pull request of the modified branch. It might do the task as both the folders are present in web interface of my forked repository

[2020-03-22 14:13] ritish099 commented on #4655
assign me the issue. I will do it as I explained above

[2020-03-22 14:54] ritish099 commented on #4656
check it out @arnavb

[2020-03-22 15:20] ritish099 opened #4665 "Codechef Racing Horses (HORSES) Solution in C"
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Chef is very fond of horses. He enjoys watching them race. As expected, he has a stable full of horses. He, along with his friends, goes to his stable during the weekends to watch a few of these horses race. Chef wants his friends to enjoy the race and so he wants the race to be cl

[2020-03-22 15:36] arnavb commented on #4656
Fixed in #4664

[2020-03-22 15:36] #4656 closed

[2020-03-22 15:38] PratilipiAich opened #4667 "Hamiltonian Cycle using Backtracking in Java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to contribute Hamiltonian Cycle using Backtracking in Java.

[2020-03-22 15:46] ritish099 opened #4668 "CODECHEF Uncle Jhony (JOHNY) Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-22 17:04] syedareehaquasar commented on #4634
PLEASE ASSIGN ME THIS ... @arnavb

[2020-03-22 18:04] ashishnagpal2498 commented on #4624
Hey @aryangulati , can I work on this issue?

[2020-03-22 18:09] Aman-Codes commented on #4634
I am a gssoc participant please assign me this issue.

[2020-03-22 18:19] aryangulati commented on #4624
Hey ashish i have already made a PR #4625

[2020-03-22 18:20] aryangulati commented on #4624
May be you can find another one!

[2020-03-22 19:10] arnavb commented on #4634
Since Aman created the issue, I've assigned it to him.

[2020-03-22 19:22] syedareehaquasar commented on #4437
please assign me this

[2020-03-23 03:45] parjanyaacoder commented on #4662
I would like to work on this issue in Java.

[2020-03-23 05:50] ka1shi opened #4682 "CODECHEF Bytelandian gold coins (COINS) in C and Python"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
In Byteland they have a very strange monetary system.

Each Bytelandian gold coin has an integer number written on it. A coin n can be exchanged in a bank into three coins: n/2, n/3 and n/4. But these numbers are all rounded down (the banks have to make a profit).

[2020-03-23 05:52] ka1shi opened #4683 "CODECHEF Marbles (MARBLES) in C and Python"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Rohit dreams he is in a shop with an infinite amount of marbles. He is allowed to select n marbles. There are marbles of k different colors. From each color there are also infinitely many marbles. Rohit wants to have at least one marble of each color, but still th

[2020-03-23 05:53] ka1shi commented on #4682
kindly assign it to me.

[2020-03-23 05:53] ka1shi commented on #4683
Kindly assign it to me.

[2020-03-23 08:47] ritish099 opened #4688 "Codechef CLEANUP Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

After a long and successful day of preparing food for the banquet, it is time to clean up. There is a list of n jobs to do before the kitchen can be closed for the night. These jobs are indexed from 1 to n.

Most of the cooks have already left and only the Chef a

[2020-03-23 09:04] ritish099 opened #4692 "Codechef Coin Flip (CONFLIP) in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Little Elephant was fond of inventing new games. After a lot of research, Little Elephant came to know that most of the animals in the forest were showing less interest to play the multi-player games.Little Elephant had started to invent single player games, and

[2020-03-23 09:36] Riyagoel2 opened #4696 "Hackerrank(Electronics_Shop ) Problem solution in Java"
This is a(n):

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

Details:

Monica wants to buy a keyboard and a USB drive from her favorite electronics store. The store has several models of each. Monica wants to spend as much as possible for the 2 items, given her budget.

Given the price lists for the store's keyboards and USB drives, and Mon

[2020-03-23 09:37] Riyagoel2 commented on #4696
I want to add the soltuion to Electronic Shop problem on hackerank in Java language.
Please assign it to me.

[2020-03-23 09:59] Aman-Codes commented on #4668
@arnavb I am a GSSOC participant and I would like to implement this in C++ and JS. Please assign me this issue.

[2020-03-23 10:01] Aman-Codes commented on #4667
@arnavb I am a GSSOC participant and I would like to implement this in C++. Please assign me this issue.

[2020-03-23 10:02] Aman-Codes commented on #4665
@arnavb I am a GSSOC participant and I would like to implement this in C++ and JS. Please assign me this issue.

[2020-03-23 10:24] Aman-Codes commented on #4644
@arnavb I am a GSSOC participant and I would like to implement this in C++. Please assign me this issue.

[2020-03-23 10:27] Aman-Codes commented on #4631
@arnavb I am a GSSOC participant and I would like to implement this in C++. Please assign me this issue.

[2020-03-23 10:27] Aman-Codes commented on #4630
@arnavb I am a GSSOC participant and I would like to implement this in C++. Please assign me this issue.

[2020-03-23 11:27] Kuljeet-123 opened #4701 "Codechef Meeting Location(MEETUP) Solution in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

 This is an interactive problem. It means that every time you output something, you must finish with a newline character and flush the output. For example, in C++ use the fflush(stdout) function, in Java — call System.out.flush(), in Python — sys.stdout.flush(),

[2020-03-23 12:17] shreeya13garg commented on #3934
I want to contribute in it..I think I would be able to remove the duplicate directory.

[2020-03-23 12:51] Ankit152 commented on #4339
i would like to contribute to this issue as a part of GSSoC 2020.

[2020-03-23 12:53] Ankit152 commented on #4175
i would like to work on this issue as an participant of GSSoC 2020

[2020-03-23 14:18] arnavb commented on #4339
All the people who commented above can contribute if they would like. Anyone have any ideas as to what directory this should be placed in and how it should be organized?

[2020-03-23 14:22] arnavb commented on #3934
@shreeya13garg / @nitashadhingra One of you can create a PR and fix this.

[2020-03-23 14:26] arnavb commented on #4630
@Aman-Codes I believe @raksha009 is currently working on this problem. Ask them if I should transfer this issue to you.

[2020-03-23 14:30] Aman-Codes commented on #4630
@arnavb Sir if it is possible then @raksha009 could implement it in java and I could implement it in C++.

[2020-03-23 14:31] Aman-Codes commented on #4630
Or do you want me to create a new issue for this problem in C++ ?

[2020-03-23 14:50] arnavb commented on #4630
You could use this existing issue @Aman-Codes for C++. I'll edit it.

[2020-03-23 15:42] TechnoPhasePRO commented on #4644
@arnavb sir, i have a made a PR. Plz review it.

[2020-03-23 15:44] TechnoPhasePRO commented on #4644
sir, i also want to do cocktail sort in c and java. Plz assign it to me. @arnavb

[2020-03-23 15:59] #4588 closed

[2020-03-23 15:59] #4534 closed

[2020-03-23 16:14] shreeya13garg commented on #3934
I have removed the singly linked list from  data_structures/src/list/singly_linked_list to remove duplicates. Should I push it on Github?

[2020-03-23 16:22] shreeya13garg commented on #3934
I have cloned the cosmos repository and committed the changes i.e removing duplicate files now I need permission to push it on github

[2020-03-23 16:53] Ankit152 commented on #4688
please assign this issue to me.

[2020-03-23 17:03] Ankit152 opened #4707 "unique numbers"
**This is a(n):**

- [ x] New algorithm
- [x ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

to find the number of unique elements in an array without using extra space

[2020-03-23 17:03] Ankit152 commented on #4707
please assign this issue to me.

[2020-03-23 17:36] shreeya13garg commented on #3934
My PR in which I have added the modified code-:https://github.com/shreeya13garg/cosmos_PR
If there is any error let me know.

[2020-03-23 18:36] #4503 closed

[2020-03-23 18:56] #4544 closed

[2020-03-23 19:04] shwetachan opened #4711 "targeting background of a web page"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

how to put an image or a colour or a gradient in the background of a web page or div.

[2020-03-23 19:05] shwetachan commented on #4711
i want to work on this issue as a participant of GSSoC 20. please assign this issue to me.

[2020-03-23 19:09] shwetachan opened #4712 "using different font on your web page in CSS"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

how to use a different font with different weight and family and color in your web page using CSS

[2020-03-23 19:10] shwetachan commented on #4712
As a participant in GSSoC 20, i want to work on this issue.

[2020-03-23 19:11] shwetachan opened #4713 "text spacing and decoration using CSS"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

how to decorate your text and set its spacing to make it more appealing in your web page using CSS

[2020-03-23 19:12] shwetachan commented on #4713
As a participant of GSSoC 20. i want to work on this issue.

[2020-03-24 00:04] arnavb commented on #4533
@raksha009 could you please link the PR that corresponded to this issue?

[2020-03-24 00:07] arnavb commented on #3934
@shreeya13garg That isn't how you create a pull request. I think you should follow this [guide](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request) and become proficient with git.

[2020-03-24 00:29] arnavb commented on #4688
@Ankit152 @ritish099 is already working on it in C. You can pick a different programming language, however.

[2020-03-24 00:31] arnavb commented on #4655
@ritish099 Have you made any progress on this issue?

[2020-03-24 00:33] arnavb opened #4719 "Utility folder can be combined with unclassified folder"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

The [utility](https://github.com/OpenGenus/cosmos/tree/master/code/utility) folder currently only contains one algorithm and it seems that it can be moved to the [unclassified](https://github.com/OpenGenus/cosmos/tree/master/code/unclassified) folder. If anyone w

[2020-03-24 00:38] arnavb opened #4720 "There is an extra circle sort folder that can be removed"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [ ] Proposal to the Repository

**Details:**

This folder (https://github.com/OpenGenus/cosmos/tree/master/code/sorting/circle_sort)basically serves no purpose. The readme inside isn't really useful because there is already a readme with graphics for circle sort in the correct directory. Thus, this directory

[2020-03-24 00:57] arnavb opened #4721 "PSA: Plagiarism in Pull Requests"
As many of you have noticed, I have come back to maintain this repository after a few months.

While I am reviewing pull requests, I've been noticing many examples of people (I won't say names) plagiarising code from other sources, such as other algorithms repositories or websites.

Obviously, this behavior is intolerable. Copying other's work is a form of disrespect in my eyes and as we can see i

[2020-03-24 02:07] TechnoPhasePRO commented on #4644
@arnavb sir, i have made changes in new code. Please review my PR.

[2020-03-24 04:15] abhijeet010304 commented on #4682
Hey @ka1shi since you are already working in MARBLES problem, please allow the admin to assign this task  to me.I could contribute to it in C++ and Python

[2020-03-24 04:24] abhijeet010304 commented on #3602
I would Like to work on it in C++ and Python.. Please assign it to me...as a part of GSSoC20

[2020-03-24 04:26] abhijeet010304 commented on #3243
I would like to work on it in C++  and python please assign this to me.. As a part of GSSoC20.

[2020-03-24 04:29] abhijeet010304 commented on #2417
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:41] abhu-A-J commented on #4720
I'm interested under GSSoC'20

[2020-03-24 04:42] abhijeet010304 commented on #36
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:42] abhijeet010304 commented on #69
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:43] abhijeet010304 commented on #96
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:43] abhijeet010304 commented on #94
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:43] abhijeet010304 commented on #147
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:46] abhijeet010304 commented on #199
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:46] abhijeet010304 commented on #275
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:47] abhijeet010304 commented on #284
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:47] abhijeet010304 commented on #315
I would like to work on it in C++ please assign it to me as a part of GSSoC 20

[2020-03-24 04:49] abhijeet010304 commented on #534
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:49] abhijeet010304 commented on #556
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:50] abhijeet010304 commented on #627
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:50] abhijeet010304 commented on #687
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:51] abhijeet010304 commented on #737
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:51] abhijeet010304 commented on #807
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:51] abhijeet010304 commented on #711
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:52] abhijeet010304 commented on #1297
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:53] abhijeet010304 commented on #1380
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:55] abhijeet010304 commented on #4142
I would like to work on it in C++ please assign it to me as a part of GSSoC 20

[2020-03-24 04:55] abhijeet010304 commented on #2682
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:57] abhijeet010304 commented on #38
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 04:58] abhijeet010304 commented on #4441
I would like to work on it in C++  and pyhton please assign it to me as a part of GSSoC 20

[2020-03-24 05:13] chandbud5 commented on #4668
I would like to implement it in python

[2020-03-24 05:29] ritish099 commented on #4719
assign it to me @arnavb . and check out the OOP problem. I think that it is now resolved

[2020-03-24 05:36] ritish099 commented on #4655
Sir @arnavb . I hope that the issue is now resolved. Now in my forked repository on GitHub only OOP is there [OOP](https://github.com/ritish099/cosmos/tree/OOP/code/design_pattern/src) and from there I created this pull request

[2020-03-24 05:46] Ankit152 opened #4723 "n queen problem in c"
**This is a(n):**

- [x] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Number of ways to place N chess queens on an N×N chessboard so that no two queens attack each other without using recursion and backtracking.

[2020-03-24 05:47] Ankit152 commented on #4723
please assign this issue to me.

[2020-03-24 05:57] raksha009 commented on #4533
Yes, sorry i'll do it right now.

[2020-03-24 05:59] #4533 closed

[2020-03-24 06:55] rbjoshi1309 opened #4726 "Addition using bits in Java and C language"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Missing Java and C version for addition of bits in following folder :
cosmos/code/bit_manipulation/src/addition_using_bits

[2020-03-24 07:21] parjanyaacoder commented on #4721
Well I think contributors can take only that code from a particular repository which they have contributed in that repository.

[2020-03-24 08:38] santushtisharma10 opened #4730 "Chinese Remainder Theorem in C and C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Adding Chinese Remainder Theorem in C and C++

[2020-03-24 08:41] santushtisharma10 commented on #4730
@AdiChat @arnavb Please assign me this issue

[2020-03-24 09:22] ka1shi commented on #4682
Hi @abhijeet010304, I have already started working on it. Please go ahead with other tasks. Thank you!

[2020-03-24 11:01] HariniJeyaraman opened #4732 "reversing words in a given string in C++ and Python"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-24 11:02] HariniJeyaraman commented on #4732
@arnavb can I work on this in C++, Python and Java ?

[2020-03-24 11:02] HariniJeyaraman opened #4733 "sum of all numbers present in a string in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-24 11:03] HariniJeyaraman commented on #4733
@arnavb @AdiChat Can I work on this in C++ , Python and Java ?

[2020-03-24 11:04] HariniJeyaraman opened #4734 "segregate the positive and negative numbers in an array"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-24 11:04] HariniJeyaraman commented on #4734
@AdiChat @arnavb I can implement this in C++,C, Java and Python. Can I work on this issue?

[2020-03-24 11:06] HariniJeyaraman commented on #757
@arnavb is this issue still open ? I can implement in C++,Python,Java and C

[2020-03-24 11:07] HariniJeyaraman commented on #202
@arnavb @AdiChat Is this issue still open? If so, for which language? I want to work on this issue

[2020-03-24 11:09] HariniJeyaraman commented on #1297
I'm a GSSoC'20 participant. Would love to work on this issue. In what languages is this issue open for now? @arnavb @AdiChat Please assign me this issue if it is still open

[2020-03-24 13:55] HariniJeyaraman opened #4736 "Valid paranthesis"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-24 13:56] HariniJeyaraman commented on #4736
@arnavb @AdiChat Please assign me this issue. I'm a GSSoC participant and can implement this in C++ and Java

[2020-03-24 14:12] HariniJeyaraman opened #4737 "Median of 2 sorted arrays"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-24 14:13] HariniJeyaraman commented on #4737
@AdiChat @arnavb Please assign this issue to me. I'm a GSSoC20 participant

[2020-03-24 18:18] HariniJeyaraman opened #4742 "Moving zeroes to the end of array"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-24 18:18] HariniJeyaraman commented on #4742
@arnavb @AdiChat Please assign this issue to me.

[2020-03-24 19:00] rbjoshi1309 opened #4743 "Bit division in C++ language"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Missing C++ version for bit division in following folder :
cosmos/code/bit_manipulation/src/bit_division

[2020-03-24 20:05] HariniJeyaraman commented on #4430
@arnavb Please assign me this issue. I'm a participant of GSSoC20

[2020-03-24 20:19] avanisingh0105 opened #4745 "Leetcode Solution #101 SYMMETRIC TREE"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Given a binary tree, check whether it is a mirror of itself (ie, symmetric around its center).

**Problem Link:**

[https://leetcode.com/problems/symmetric-tree/](url)

[2020-03-24 20:35] arnavb commented on #4721
@parjanyaacoder You are right, if the code copied from another repository is written by the same person then it should be allowed in.

[2020-03-24 20:39] arnavb commented on #1297
@HariniJeyaraman Check the corresponding code directory. You can do this in any available language.

[2020-03-24 20:40] arnavb commented on #202
@HariniJeyaraman for all of the algorithms you want to try, check their directory to see if they are still available.

[2020-03-24 20:45] arnavb commented on #4682
@abhijeet010304 if @ka1shi is working on this in a particular language, then they have every right to continue. You can contribute to this as well, as long as the programming language is different.

[2020-03-24 20:52] abhijeet010304 commented on #4682
@ka1shi I would like to submit it in C++  you can do the same in python,  it would be helpful for both .NO offense just a humble request.....

[2020-03-24 20:52] arnavb commented on #4655
Closed in #4722

[2020-03-24 20:52] #4655 closed

[2020-03-24 20:55] abhijeet010304 commented on #198
@arnavb SIr I can contribute to it in C++ and python please assign it to me..

[2020-03-24 20:56] abhijeet010304 commented on #8
@arnavb I can contribute to it in C++ and python, please assign it to me

[2020-03-24 20:56] abhijeet010304 commented on #214
@arnavb I can contribute to it in C++ and python, please assign it to me

[2020-03-24 20:57] abhijeet010304 commented on #231
@arnavb I can contribute to it in C++ and python, please assign it to me.

[2020-03-24 20:58] abhijeet010304 commented on #300
@arnavb I can contribute to it in C++ please assign it to me

[2020-03-24 20:58] abhijeet010304 commented on #398
@arnavb I can contribute to it in C++, please assign it to me

[2020-03-24 20:59] abhijeet010304 commented on #749
If this issue is still active @arnavb Sir I can contribute to it in C++ and python, please assign it to me

[2020-03-24 20:59] abhijeet010304 commented on #920
If this issue is still active @arnavb Sir I can contribute to it in C++ and python, please assign it to me

[2020-03-24 21:40] arnavb commented on #920
Sure @abhijeet010304. Beware that many open issues have often already been resolved when we are looking.

[2020-03-24 21:46] arnavb commented on #300
Already [here](https://github.com/OpenGenus/cosmos/tree/master/code/mathematical_algorithms/src/catalan_number) @abhijeet010304

[2020-03-24 21:47] arnavb commented on #231
Already done. You can improve on them [here](https://github.com/OpenGenus/cosmos/tree/master/code/graph_algorithms/src/dijkstra_shortest_path) if you wish. @abhijeet010304 Please check the folder for each algorithm before pinging me.

[2020-03-24 21:48] arnavb commented on #214
@abhijeet010304 Same thing; it's already done.

[2020-03-24 21:55] arnavb commented on #4723
@Ankit152 The C++ algorithms for this exist here: https://github.com/OpenGenus/cosmos/tree/master/code/backtracking/src/n_queen

[2020-03-24 21:56] arnavb commented on #4668
@chandbud5 Assigned to you.

[2020-03-24 21:59] arnavb commented on #38
It's already done in C++ (https://github.com/OpenGenus/cosmos/blob/master/code/sorting/src/heap_sort/heap_sort.cpp).

[2020-03-24 22:00] arnavb commented on #2682
@abhijeet010304: https://github.com/OpenGenus/cosmos/blob/master/code/mathematical_algorithms/src/prime_factors/prime_factors.cpp

[2020-03-24 22:00] arnavb commented on #4142
C++ is already done. Read the comments above.

[2020-03-25 02:06] Jahnavi-Jonnalagadda commented on #4732
@arnavb I would like to work on this issue in Python. Could you please assign this to me?

[2020-03-25 02:13] Jahnavi-Jonnalagadda commented on #4707
@arnavb I would like to work on this issue. Could you please assign this to me?

[2020-03-25 03:26] poorva2145 opened #4748 "Rotate_a_linked_list_by_k_nodes"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

It's an algorithm to rotate a linked list counter-clockwise by k nodes where k can be greater than the length of the linked list.

[2020-03-25 03:28] poorva2145 commented on #4748
@arnavb @AdiChat  Please assign this issue to me. I will implement this in C++.

[2020-03-25 04:52] OveeKulkarni commented on #4594
I would like to work on this issue, could you assign it to me?

[2020-03-25 05:06] shivani789 commented on #4737
I want to contribute my solution for this problem.I'm a GSSoC'20 participant.

[2020-03-25 06:32] avanisingh0105 commented on #4745
I want to add the solution. Assign me this problem in C++  @arnavb

[2020-03-25 07:38] ka1shi commented on #4682
@abhijeet010304 go ahead. I will submit it in python. You can submit it in C++.

[2020-03-25 07:53] Ankit152 commented on #4723
ok then let me implement it in C.

[2020-03-25 08:01] ritish099 opened #4751 "Codechef Paying UP (MARCHA1) Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

In the mysterious country of Byteland, everything is quite different from what you'd normally expect. In most places, if you were approached by two mobsters in a dark alley, they would probably tell you to give them all the money that you have. If you refused, or

[2020-03-25 08:03] poorva2145 opened #4752 "Search in a Rotated Array"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Its a divide and conquer algorithm. Given a sorted and rotated array A of N distinct elements which is rotated at some point, and given an element K. The task is to find the index of the given element K in the array A.

[2020-03-25 08:04] poorva2145 commented on #4752
@arnavb  @AdiChat  Please assign this issue to me.

[2020-03-25 08:25] ritish099 opened #4754 "Codechef Carvans (CARVANS) Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Most problems on CodeChef highlight chef's love for food and cooking but little is known about his love for racing sports. He is an avid Formula 1 fan. He went to watch this year's Indian Grand Prix at New Delhi. He noticed that one segment of the circuit was a l

[2020-03-25 08:28] ritish099 commented on #4754
@arnavb

[2020-03-25 08:43] ritish099 opened #4756 "Codechef Nuclear Reactor (NUKES) solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

There are K nuclear reactor chambers labelled from 0 to K-1. Particles are bombarded onto chamber 0. The particles keep collecting in the chamber 0. However if at any time, there are more than N particles in a chamber, a reaction will cause 1 particle to move to

[2020-03-25 08:48] ritish099 commented on #4720
@arnavb assign it to me

[2020-03-25 09:03] ritish099 commented on #4719
Sir @arnavb , Check it out. Hope that it is done

[2020-03-25 10:20] HariniJeyaraman opened #4759 "segregate odd even numbers in an array"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-25 10:21] HariniJeyaraman commented on #4759
@arnavb Please assign this issue to me. I'm a participant of GSSoC20 and can implement this in C,C++,Python and Java

[2020-03-25 10:52] abhijeet010304 commented on #4682
OK thanks a lot...

[2020-03-25 11:42] MdAkdas commented on #4413
@arnavb please assign me this.

[2020-03-25 11:49] MdAkdas opened #4764 "Brian Kernighan's Algorithm to count set bits in an integer. C/C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

This algo is used to count the no of set bits in an integer in O(logn) time.

[2020-03-25 11:50] MdAkdas commented on #4764
@arnavb @AdiChat  assign me this.

[2020-03-25 12:35] Ankit152 opened #4765 "Solution to CODECHEF problem SNUG_FIT in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Geometry expert Nitin is thinking about a problem with parabolas, icosahedrons, crescents and trapezoids, but for now, to encourage beginners, he chooses to work with circles and rectangles.

You are given two sequences A1,A2,…,AN and B1,B2,…,BN. You should choos

[2020-03-25 12:36] Ankit152 commented on #4765
please assign this task to me.

[2020-03-25 12:39] Ankit152 opened #4766 "solution for Codechef problem hard cash in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

There are N bags with coins in a row (numbered 1 through N); for each valid i, the i - th bag contains A(i) coins. Chef should make the number of coins in each bag divisible by a given integer K in the following way:

choose an integer c between 0 and N (inclusiv

[2020-03-25 12:39] arnavb commented on #4719
Closed in #4758.

[2020-03-25 12:39] #4719 closed

[2020-03-25 12:40] Ankit152 commented on #4766
please assign this task to me i would like to work on it.

[2020-03-25 12:40] arnavb commented on #4720
@abhu-A-J Since you commented first I have assigned it to you.

[2020-03-25 13:06] arnavb commented on #4737
@HariniJeyaraman @shivani789 Please work out which programming languages each of you wants to contribute in.

[2020-03-25 13:09] HariniJeyaraman commented on #4737
@shivani789 I will be working in C++

[2020-03-25 13:18] arnavb commented on #4707
@Jahnavi-Jonnalagadda Please clarify with @Ankit152 which languages you two would like to work on.

[2020-03-25 13:21] arnavb commented on #4732
@Jahnavi-Jonnalagadda @HariniJeyaraman is working on this in Python. Ask her if you can do it instead.

[2020-03-25 13:43] HariniJeyaraman commented on #4732
@Jahnavi-Jonnalagadda okay I'll implement in C++

[2020-03-25 14:37] ka1shi opened #4773 "CODECHEF Root of the Problem (TREEROOT) in C, JAVA and Python"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Chef has a binary tree. The binary tree consists of 1 or more nodes. Each node has a unique integer id. Each node has up to 2 children, which are identified by their ids, and each node is the child of at most 1 other node. A node X is considered to be an ancestor

[2020-03-25 14:37] ka1shi commented on #4773
Kindly assign this issue to me. Thank You!

[2020-03-25 14:38] poorva2145 commented on #4752
@arnavb Sir I had made a pull request for this issue. #4772

[2020-03-25 15:58] abhu-A-J commented on #4720
Thanks!

[2020-03-25 18:31] rbjoshi1309 opened #4780 "Clear bits from msb in C, Java and Python"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Missing C, Java and Python version for clear bits from msb in following folder :
cosmos/code/bit_manipulation/src/clear_bits_from_msb

[2020-03-25 19:40] arnavb commented on #4720
Closed in #4776.

[2020-03-25 19:40] #4720 closed

[2020-03-25 20:31] HariniJeyaraman opened #4782 "build original array from the given sub-sequences in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-25 20:32] HariniJeyaraman commented on #4782
@arnavb Please assign me this issue. Will implement in C++.

[2020-03-26 00:19] Jahnavi-Jonnalagadda commented on #4732
@HariniJeyaraman okay. I'll do it in Python.

[2020-03-26 00:40] Jahnavi-Jonnalagadda commented on #4707
@Ankit152 Could you please let me know which language your working in?

[2020-03-26 02:21] yuktha-05 commented on #4733
@arnavb I would like to work on this issue in Python. Please assign this to me.

[2020-03-26 05:29] Jahnavi-Jonnalagadda commented on #4732
@arnavb I would like to work on this issue in Python. Could you please assign this to me?

[2020-03-26 06:12] Salonii02 commented on #4745
I want to add the solution and contribute to this issue.
I am gssoc20 participant.
please assign me this problem @arnavb
thank you.

[2020-03-26 06:22] sairamya1999 commented on #4587
I want to solve this. Please assign the issue to me

[2020-03-26 06:32] sairamya1999 commented on #4441
I would like to work on it. Plz assign the issue to me.

[2020-03-26 06:45] sairamya1999 commented on #4441
I want to work on this issue. Plz assign it to me.

[2020-03-26 07:03] HariniJeyaraman opened #4794 "Maximum and minimum of an array using minimum number of comparisons (Tournament Method)"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-26 07:03] HariniJeyaraman commented on #4794
@arnavb Please assign this issue to me. I will implement it in C++

[2020-03-26 07:21] Salonii02 commented on #4466
I would like to work on this issue
can you please assign me
@arnavb @shubhammantri1

[2020-03-26 07:22] Salonii02 commented on #4450
I want to work on this issue, Please assign me this.

[2020-03-26 07:25] Salonii02 commented on #4435
I would like to work on this issue using C++ .
I am participant of gssoc20.
can you please assign this to me.
@aayanksinghai

[2020-03-26 07:29] Salonii02 commented on #4343
I would also like to contribute to the issue as a part of GSSoC'20, could you please assign it to me
@Ninjavin

[2020-03-26 07:54] shivani789 opened #4795 "Leetcode solution for Median of two sorted arrays problem in cpp"
**Problem Link**
[Median of two sorted arrays](https://leetcode.com/problems/median-of-two-sorted-arrays/)

**Details:**
There are two sorted arrays nums1 and nums2 of size m and n respectively.

Find the median of the two sorted arrays. The overall run time complexity should be O(log (m+n)).

You may assume nums1 and nums2 cannot be both empty.

[2020-03-26 07:54] shivani789 commented on #4795
Please assign me this issue.Thank you

[2020-03-26 07:56] Salonii02 opened #4796 "Add Solution for Rat in a Maze Problem when movement in all possible directions is allowed."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-26 07:58] Salonii02 commented on #4796
I would like to work on this issue.
I am participant of gssoc20.
can you please assign me this @arnavb

[2020-03-26 08:21] Salonii02 opened #4797 "leetcode solution for letter combinations of a phone number"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Problem link
[https://leetcode.com/problems/letter-combinations-of-a-phone-number/](url)

[2020-03-26 08:22] Salonii02 commented on #4797
I would like to work on this issue.
I am participant of gssoc20.
can you please assign me this @arnavb

[2020-03-26 08:32] Salonii02 opened #4798 "Leetcode Solution for regular expression matching"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Problem link-
https://leetcode.com/problems/regular-expression-matching

[2020-03-26 08:36] Salonii02 commented on #4798
I would love to work on this issue.
I am participant of gssoc20.
Can you please assign me this issue @AdiChat

[2020-03-26 08:38] Salonii02 opened #4799 "Solution to merge K sorted arrays"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-26 08:39] Salonii02 commented on #4799
I would love to work on this issue.
I am participant of gssoc20.
Can you please assign me this issue @AdiChat
@arnavb

[2020-03-26 09:50] ka1shi opened #4800 "CODECHEF The Next Palindrome (PALIN) in C, JAVA and Python"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
A positive integer is called a palindrome if its representation in the decimal system is the same when read from left to right and from right to left. For a given positive integer K of not more than 1000000 digits, write the value of the smallest palindrome larger

[2020-03-26 09:50] ka1shi commented on #4800
Kindly assign it to me. Thank You!

[2020-03-26 10:09] HardevKhandhar opened #4801 "Vertical Redundancy Check [Networking]"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I would like to add VRC in Java under Networking

[2020-03-26 10:09] HardevKhandhar commented on #4801
Please assign this issue to me for GSSoC 2020

[2020-03-26 13:13] arnavb commented on #4587
@abhijeet010304 @sairamya1999 GCD and LCM for those languages are already present in [this directory](https://github.com/OpenGenus/cosmos/tree/master/code/mathematical_algorithms/src/gcd_and_lcm).

[2020-03-26 13:15] arnavb commented on #4343
To all the people who commented here, contributing these things is fine, just that it should be one issue per problem, not all problems associated with this issue.

[2020-03-26 13:17] arnavb commented on #4450
A [leetcode folder](https://github.com/OpenGenus/cosmos/tree/master/code/online_challenges/src/leetcode) is already there. Create a separate issue for each individual problem you would like to solve.

[2020-03-26 13:18] arnavb commented on #4466
I have assigned this issue to all three of you. Just decide which programming languages you would like to work on.

[2020-03-26 13:26] sairamya1999 commented on #4737
please assign this issue to me. I want to work on it.

[2020-03-26 13:31] arnavb commented on #4737
@sairamya1999 What programming language?

[2020-03-26 13:34] sairamya1999 commented on #4737
i want to work on python

[2020-03-26 13:44] arnavb commented on #4745
@Salonii02 Fine, as long as the programming language isn't C++, which is what @avanisingh0105 is working on.

[2020-03-26 13:59] arnavb commented on #4444
@Swa4nali Pick a different programming language such as Python and implement this algorithm in that.

[2020-03-26 14:07] arnavb opened #4803 "Language and Languages folder can be combined to Languages folder"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [x] Error
- [x] Proposal to the Repository

**Details:**

Title. If anyone wants to contribute to this, comment below.

The folder are: https://github.com/OpenGenus/cosmos/tree/master/code/language

and: https://github.com/OpenGenus/cosmos/tree/master/code/languages

languages seems like a better folder name.

[2020-03-26 14:09] arnavb commented on #4443
@anshu18107 Go ahead!

[2020-03-26 14:14] Ankit152 commented on #4688
okay then let me do this in c++. please assign this to me.

[2020-03-26 14:21] TechnoPhasePRO commented on #4644
@arnavb please review my PR. I have added code for cocktail sort in c.

[2020-03-26 14:29] Ankit152 commented on #4707
i am working on C++

[2020-03-26 14:58] aayanksinghai commented on #4435
@arnavb Kindly review the PR #4805 for the above issue

[2020-03-26 15:25] Jahnavi-Jonnalagadda commented on #4707
@Ankit152 Okay and are we supposed to find unique numbers in a list?

[2020-03-26 16:21] ravireddy07 commented on #4443
Actually program in python is already there..! That's why i didn't included.  @arnavb

[2020-03-26 16:23] Jahnavi-Jonnalagadda commented on #4707
@Ankit152 I would like to work on this issue in Python. Could you please assign this to me?

[2020-03-26 16:27] Jahnavi-Jonnalagadda commented on #4734
@arnavb I would like to work on this issue in Python. Could you please assign this to me.

[2020-03-26 16:34] Jahnavi-Jonnalagadda commented on #4707
@arnavb I would like to work on this issue in Python. Could you please assign this to me.

[2020-03-26 16:40] Salonii02 commented on #4466
I would be fine with c++.

[2020-03-26 16:52] rbjoshi1309 commented on #4803
I would like to work on this issue.

[2020-03-26 16:52] Salonii02 commented on #4745
sir,I would be better with c++, should I proceed to work on?

[2020-03-26 19:41] Srashtimittal commented on #4623
@arnavb Please assign me this issue.

[2020-03-26 20:09] Srashtimittal commented on #4623
@AdiChat  @arnavb Please view my pull request related to this issue.

[2020-03-26 20:20] shreeya13garg commented on #4641
I have written the code for topological sort where should I add it? What is the path of the code?

[2020-03-26 20:26] shreeya13garg commented on #4571
I have written the code. In which folder should I add it?

[2020-03-26 20:52] rbjoshi1309 opened #4815 "Longest Common Subsequence in C language"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Missing C version for Longest Common Subsequence in following folder :
cosmos/code/dynamic_programming/src/longest_common_subsequence

[2020-03-26 20:52] arnavb commented on #4571
@shreeya13garg https://github.com/OpenGenus/cosmos/tree/master/code/search/src/fibonacci_search

[2020-03-27 02:51] TechnoPhasePRO commented on #4644
@arnavb sir, I have modified code for cocktail sort in c.

[2020-03-27 04:57] Aayushi1506 commented on #4054
please assign it to me

[2020-03-27 04:58] Aayushi1506 commented on #4659
please assign this to me

[2020-03-27 04:59] ritish099 opened #4820 "Codechef CNOTE problem solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Chef likes to write poetry. Today, he has decided to write a X pages long poetry, but unfortunately his notebook has only Y pages left in it. Thus he decided to buy a new CHEFMATE notebook and went to the stationary shop. Shopkeeper showed him some N notebooks, w

[2020-03-27 05:02] Aayushi1506 commented on #3988
please assign this to me

[2020-03-27 05:06] Aayushi1506 commented on #4748
please assign this to me

[2020-03-27 05:32] poorva2145 commented on #4748
@Aayushi1506  My code is ready but I'm also working on other issue and have made the pull request so just waiting for that to be accepted and I will make pull request for this also.
Most probably it will be accepted by today.

[2020-03-27 05:32] ritish099 opened #4822 "Codechef STONES problem in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Soma is a fashionable girl. She absolutely loves shiny stones that she can put on as jewellery accessories. She has been collecting stones since her childhood - now she has become really good with identifying which ones are fake and which ones are not. Her King r

[2020-03-27 05:59] ritish099 opened #4824 "Codecheg MAXDIFF problem in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Chef has gone shopping with his 5-year old son. They have bought N items so far. The items are numbered from 1 to N, and the item i weighs Wi grams.

Chef's son insists on helping his father in carrying the items. He wants his dad to give him a few items. Chef do

[2020-03-27 06:31] poorva2145 commented on #4748
@arnavb Sir, I had made a pull request for this issue. #4826

[2020-03-27 07:03] ritish099 opened #4827 "Codechef SALARY problem in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Little chief has his own restaurant in the city. There are N workers there. Each worker has his own salary. The salary of the i-th worker equals to Wi (i = 1, 2, ..., N). Once, chief decided to equalize all workers, that is, he wants to make salaries of all worke

[2020-03-27 07:18] rbjoshi1309 opened #4829 "Java file name and folder name not matching in convert number binary"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Java file name and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/convert_number_binary

[2020-03-27 07:37] rbjoshi1309 opened #4831 "Java and JS file names and folder name not matching in count set bits"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Java and Javascript file names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/count_set_bits

[2020-03-27 08:52] wokira commented on #4824
wokira:add_maxdiff #4836

[2020-03-27 09:18] ritish099 commented on #4824
@wokira i have submitted the PR first in C try to submit in other language

[2020-03-27 09:24] wokira commented on #4824
I am sorry,the title said solution in C that's why I submitted in C.
I can do it in java and python - should I proceed?

[2020-03-27 09:28] ritish099 commented on #4824
Yeah ofcourse you can procced in any language of your choice . As i am not a mentor but i suggested you from my past observations on cosmos. For more info pls contact @arnavb

[2020-03-27 09:29] wokira commented on #4736
@arnavb I am an rgsoc participant and I  would like to work on this issue in C and python. Please assign it to me, thanks.

[2020-03-27 09:30] HariniJeyaraman commented on #4736
@arnavb @wokira I am working in c++

[2020-03-27 09:31] wokira commented on #4824
@ritish099  Thankyou for the advice.  @arnavb I can work on this for java and python. Please assign me this issue if I am allowed to proceed. Thankyou.

[2020-03-27 09:35] wokira commented on #4683
I can solve this problem in Java. Kindly allow and assign me this @arnavb

[2020-03-27 09:37] wokira commented on #4436
I can work on this issue in C, Python and Java. Please assign me this issue @arnavb

[2020-03-27 09:41] wokira commented on #4736
@HariniJeyaraman - Yes ofcourse. Thats why I asked if I could work on this in other languages that don't collide with yours. I hope that should be fine @arnavb

[2020-03-27 09:42] Ayush7-BIT commented on #4438
Sir today I will make all those PR for sure just don’t assign those issue to anyone else and thank you for your patience! Sent from Mail for Windows 10 From: Arnav BorborahSent: 22 March 2020 18:00To: OpenGenus/cosmosCc: Ayush Pandey; CommentSubject: Re: [OpenGenus/cosmos] Bubble Sort in C++ using Recursion (#4438) Closed #4438.—You are receiving this because you commented.Reply to this email dire

[2020-03-27 11:18] wokira commented on #4827
Java and Python SALARY Solution #4838

[2020-03-27 11:40] wokira commented on #4824
Java and Python Codes for MAXDIFF #4836

[2020-03-27 12:02] wokira commented on #4820
Java and python implementations of CodeChef CNOTE problem #4839
Kindly review @arnavb

[2020-03-27 12:38] arnavb commented on #4831
Fixed in #4833.

[2020-03-27 12:38] #4831 closed

[2020-03-27 12:41] arnavb commented on #4829
Closed in #4830.

[2020-03-27 12:41] #4829 closed

[2020-03-27 12:58] arnavb commented on #4641
@shreeya13garg Probably to [this directory](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/src/topological_sort) unless it has already been done.

[2020-03-27 13:04] arnavb commented on #4745
@Salonii02 C++ is already done, since I merged @avanisingh0105's pull request. Pick a different language.

[2020-03-27 13:04] #4443 closed

[2020-03-27 13:10] #4733 closed

[2020-03-27 16:06] ishikabansal04 commented on #4568
can i do this issue in c++?

[2020-03-27 16:12] ishikabansal04 commented on #4067
can i work on this issue in c++/java?

[2020-03-27 16:23] aryangulati opened #4843 "sorted subsequences"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-27 18:56] rstalekar commented on #711
I would like to work on AVL tree

On Tue, Mar 24, 2020 at 10:22 AM Abhijeet Gupta <notifications@github.com>
wrote:

--
Regards,
Rajendra S.
Mobile :- +91 8452071326

For a successful technology, reality must take precedence over public
relations, for Nature cannot be fooled.
~ Richard P Feynman ~

[2020-03-27 19:02] ravireddy07 opened #4857 "Play Fair Cipher in C, C++ and Java"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

-- Play Fair Cipher Algorithm will be added in C, C++ and Java.

[2020-03-27 19:47] rbjoshi1309 opened #4858 "Python file name and folder name not matching in a_star"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Python file name and folder name not matching in following folder :
cosmos/code/artificial_intelligence/src/a_star

[2020-03-27 20:02] rbjoshi1309 opened #4860 "Python file name and folder name not matching in gaussian_naive_bayes"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Python file name and folder name not matching in following folder :
cosmos/code/artificial_intelligence/src/gaussian_naive_bayes

[2020-03-27 20:23] rbjoshi1309 opened #4862 "JS and ipynb file names and folder name not matching in linear_regression"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

JS and ipynb file names and folder name not matching in following folder :
cosmos/code/artificial_intelligence/src/linear_regression

[2020-03-27 20:40] rbjoshi1309 opened #4864 "Python file name and folder name not matching in neural_network"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Python file name and folder name not matching in following folder :
cosmos/code/artificial_intelligence/src/neural_network

[2020-03-27 20:53] rbjoshi1309 opened #4866 "JS and ipynb file names and folder name not matching in q_learning"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

JS and ipynb file names and folder name not matching in following folder :
cosmos/code/artificial_intelligence/src/q_learning

[2020-03-27 22:07] Shubham-1105 commented on #4431
i want to work on this issue

[2020-03-28 02:31] Jahnavi-Jonnalagadda commented on #4742
@arnavb I would like to work on this issue in Python. Could you please assign this to me.

[2020-03-28 06:15] Ankit152 opened #4868 "codechef question EIDI GIFT solution in c++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Eidi gifts are a tradition in which children receive money from elder relatives during the Eid celebration.

Chef has three children (numbered 1,2,3) and he wants to give them Eidi gifts. The oldest child, Chefu, thinks that a distribution of money is fair only i

[2020-03-28 06:16] Ankit152 commented on #4868
please assign me this issue.

[2020-03-28 06:23] Ankit152 opened #4869 "solution to codechef solution MATCHES in C++ and C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Chef's son Chefu found some matches in the kitchen and he immediately starting playing with them.

The first thing Chefu wanted to do was to calculate the result of his homework — the sum of A and B, and write it using matches. Help Chefu and tell him the number

[2020-03-28 06:23] Ankit152 commented on #4869
please assign this issue to me.

[2020-03-28 07:01] rbjoshi1309 opened #4871 "Longest Common Subsequence in C# and Php"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Missing C# and Php version for Longest Common Subsequence in following folder :
cosmos/code/dynamic_programming/src/longest_common_subsequence

[2020-03-28 07:24] abhishekgupta368 commented on #4454
c++

[2020-03-28 08:10] rudrakshi99 commented on #3838
@AdiChat I would like to work on this issue as a part of GSSoC'20.

[2020-03-28 08:31] hanzohasashi33 commented on #4869
Can I take up this issue ?

[2020-03-28 08:33] hanzohasashi33 commented on #4794
Can I be assigned this issue to implement in C ?

[2020-03-28 08:49] ritish099 opened #4877 "Codechef PRIME1 solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Ram wants to generate some prime numbers for his cryptosystem. Help him please! Your task is to generate all prime numbers between two given numbers.

[2020-03-28 09:05] ritish099 opened #4880 "Codechef ERROR Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Lots of geeky customers visit our chef's restaurant everyday. So, when asked to fill the feedback form, these customers represent the feedback using a binary string (i.e a string that contains only characters '0' and '1'.

Now since chef is not that great in deci

[2020-03-28 09:23] ritish099 opened #4885 "Codechef LEPERMUT solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

The Little Elephant likes permutations. This time he has a permutation A[1], A[2], ..., A[N] of numbers 1, 2, ..., N.

He calls a permutation A good, if the number of its inversions is equal to the number of its local inversions. The number of inversions is equal

[2020-03-28 12:53] aryangulati opened #4890 "Reduntant paranthesis"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[2020-03-28 13:00] ravireddy07 opened #4891 "RSA in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

-- RSA Algorithm will be implemented in C++.

[2020-03-28 15:02] arnavb commented on #4891
The file should be placed in this directory: https://github.com/OpenGenus/cosmos/tree/master/code/cryptography/src/rsa.

[2020-03-28 15:31] arnavb commented on #4866
Closed in #4867.

[2020-03-28 15:31] #4866 closed

[2020-03-28 15:32] arnavb commented on #4864
Clsoed in #4865

[2020-03-28 15:32] #4864 closed

[2020-03-28 15:33] arnavb commented on #4862
Closed in #4863

[2020-03-28 15:33] #4862 closed

[2020-03-28 15:34] arnavb commented on #4860
Closed in #4861

[2020-03-28 15:34] #4860 closed

[2020-03-28 15:34] arnavb commented on #4858
Closed in #4859

[2020-03-28 15:34] #4858 closed

[2020-03-28 15:35] arnavb commented on #4857
The ciphers should be placed in a new directory [here](https://github.com/OpenGenus/cosmos/tree/master/code/cryptography/src).

[2020-03-28 15:56] rudrakshi99 commented on #3597
@arnavb Sir, please review my PR.

[2020-03-28 16:00] rudrakshi99 commented on #3634
@arnavb Sir, please review my PR.

[2020-03-28 16:12] arp99 commented on #4891
Is the issue solved yet? If not could you assign me this issue?

[2020-03-28 16:36] TechnoPhasePRO commented on #4644
@arnavb sir, Please look at my PR. I have added code for cocktail sort in c and all the changes are made as you told.

[2020-03-28 17:22] hanzohasashi33 commented on #4736
Can I be assigned this issue in c++ or c?

[2020-03-28 17:25] hanzohasashi33 opened #4897 "Leetcode folder"
I would like to work on the following sums of leetcode for the leetcode folder :
Binary tree inorder
container with most water
largest rectangle
maximum depth
min stack

[2020-03-28 19:23] abhishekgupta368 commented on #4857
can you assign me, I have done the last one?, I just need to give pr

[2020-03-28 19:41] Aayushi1506 commented on #4054
Thanks Sir

On Fri 27 Mar, 2020, 18:20 Arnav Borborah, <notifications@github.com> wrote:

[2020-03-28 19:42] Aayushi1506 commented on #4659
Thanks

On Fri 27 Mar, 2020, 18:20 Arnav Borborah, <notifications@github.com> wrote:

[2020-03-28 19:42] Aayushi1506 commented on #4748
Thanks

On Fri 27 Mar, 2020, 18:12 Arnav Borborah, <notifications@github.com> wrote:

[2020-03-28 20:30] rbjoshi1309 opened #4899 "Longest Repeating Subsequence in C, Java, Python, C# and Php"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Missing C, Java, Python, C# and Php version for Longest Repeating Subsequence in following folder :
cosmos/code/dynamic_programming/src/longest_repeating_subsequence

[2020-03-28 21:04] khuang0312 commented on #4803
I have submitted a pull request that should resolve this issue.

[2020-03-28 23:23] ravireddy07 commented on #4891
Yup. Sure @arnavb

[2020-03-29 05:15] poorva2145 commented on #4748
@arnavb Sir, I had solved all the issues, please review pull request #4826.

[2020-03-29 06:36] rbjoshi1309 opened #4905 "C++ file name and folder name not matching in algorithm_x"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

C++ file name and folder name not matching in following folder :
cosmos/code/backtracking/src/algorithm_x

[2020-03-29 06:51] rbjoshi1309 opened #4907 "Java file name and folder name not matching in crossword_puzzle"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Java file name and folder name not matching in following folder :
cosmos/code/backtracking/src/crossword_puzzle

[2020-03-29 07:15] rbjoshi1309 opened #4909 "Python file name and folder name not matching in m_coloring_problem"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Python file name and folder name not matching in following folder :
cosmos/code/backtracking/src/m_coloring_problem

[2020-03-29 07:46] rbjoshi1309 opened #4911 "File names and folder name not matching in n_queen"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/backtracking/src/n_queen

[2020-03-29 08:03] 15aarushiGhadiya commented on #4899
want to work on it. please assign this issue to me in C and java @AdiChat

[2020-03-29 08:07] 15aarushiGhadiya commented on #4742
I want to work on this issue .please assign this issue to me in java @arnavb

[2020-03-29 08:17] 15aarushiGhadiya commented on #4094
I want to work on this issue. please assign this to me. @arnavb  @AdiChat

[2020-03-29 08:19] 15aarushiGhadiya commented on #3663
I want to work on this issue.please assign this to me @arnavb  @AdiChat

[2020-03-29 08:28] parjanyaacoder commented on #4890
I want to solve this issue in Java. @arnavb Please assign this to me. Also please review my pull request #4728

[2020-03-29 08:57] 15aarushiGhadiya opened #4913 "Group Anagrams"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
-  Proposal to the Repository

**Details:**
Missing Java code for Group Anagrams in following folder :
cosmos/tree/master/code/online_challenges/src/leetcode

adding leetcode question: 49. Group Anagrams

[2020-03-29 09:12] 15aarushiGhadiya opened #4914 "Find Minimum in Rotated Sorted Array"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- Proposal to the Repository

**Details:**
 Adding java code for finding minimum in rotated sorted array in following folder: cosmos/tree/master/code/online_challenges/src/leetcode/Find Minimum in Rotated Sorted Array

Adding Leetcode question :153 Find Minimum in Rotated Sorted Array

[2020-03-29 09:14] 15aarushiGhadiya commented on #4914
Please assign this issue to me @arnavb  @AdiChat

[2020-03-29 09:14] 15aarushiGhadiya commented on #4913
Please assign this issue to me @arnavb  @AdiChat

[2020-03-29 09:33] syedareehaquasar opened #4915 "421 Algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

It consists of printing a series of numbers. The input must not be consisting all digits equal. Then by rearranging digits to form greatest and smallest numbers then they are subtracted This process repeats until we get a repetitive number.

[2020-03-29 09:33] syedareehaquasar commented on #4915
@chase @Eckankar  @dawehner  @schneems  please review

[2020-03-29 09:40] syedareehaquasar opened #4916 "loaves of Bread problem algorithm"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I can give a better solution in python which is also better to understand.
Its based on you have to give out breads such that if you give it to one you have to give it to its neighbor too and make all the string even meaning the number of breads each person has s

[2020-03-29 09:48] Mustafiz04 opened #4917 "Google's kick start BUNDLING problem in Java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Pip has N strings. Each string consists only of letters from A to Z. Pip would like to bundle their strings into groups of size K. Each string must belong to exactly one group.

The score of a group is equal to the length of the longest prefix shared by all the s

[2020-03-29 11:15] hanzohasashi33 commented on #3934
Can I take up this issue if it is still open ? @arnavb

[2020-03-29 11:38] shreeya13garg commented on #4587
Where do we have to add this code.What is the path?

[2020-03-29 11:39] shreeya13garg commented on #4799
Where do we have to add this file?What is the path?

[2020-03-29 12:07] shreeya13garg commented on #4444
Where do we have to add this code?

[2020-03-29 12:51] vipuldcoder opened #4928 "Create CONTRIBUTE.md"
Is your feature request related to a problem? Please describe.
This is feature which help new contributor to understand how they can contribute project and how we can help this project more effect and do understand what this project really is and how we can get started. Let's get started with making this project more better 👍

Describe the solution you'd like
Build a Document CONTRIBUTE.md that he

[2020-03-29 16:51] ritish099 opened #4946 "Codechef VOTERS Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

As you might remember, the collector of Siruseri had ordered a complete
revision of the Voters List. He knew that constructing the list of voters
is a difficult task, prone to errors. Some voters may have been away on
vacation, others may have moved during the en

[2020-03-29 16:59] ritish099 opened #4948 "Codechef DIVIDING Problem Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Are you fond of collecting some kind of stuff? Mike is crazy about
collecting stamps. He is an active member of Stamp Collecting Сommunity(SCC)
.

SCC consists of N members which are fond of philately. A few days ago Mike
argued with the others from SCC. Mike tol

[2020-03-29 16:59] parjanyaacoder commented on #4730
@arnavb I would like to solve this issue in Java Language. Please assign this issue to me.

[2020-03-29 17:03] ramneek008 commented on #4800
@arnavb You can check #4840

[2020-03-29 17:11] ritish099 opened #4950 "Codechef RIGHTRI Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

The Chef is given a list of N triangles. Each triangle is identfied by the
coordinates of its three corners in the 2-D cartesian plane. His job is to
figure out how many of the given triangles are right triangles. A right
triangle is a triangle in which one angle

[2020-03-29 17:25] parjanyaacoder commented on #4764
@arnavb I would like to solve this issue in Java language. Please assign this issue to me.

[2020-03-29 17:54] ramneek008 opened #4955 "HackerRank Sock Merchant solution in Java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Code for Sock Merchant was missing, so wanted to add it.

[2020-03-30 03:03] TechnoPhasePRO commented on #4644
@arnavb sir, have a look at my PR for cocktail sort in c

[2020-03-30 04:11] hanzohasashi33 commented on #4955
Can I be assigned this problem in Cpp ?

[2020-03-30 05:27] hardikhere opened #4957 "Explanation file of implemented code"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

We can make a file may be READ.md file in every algorithm.
reading code without explanation is difficult for learners so I am proposing an explanation of implemented programs using gifs, text, or any pictorial method. Reading merely code doesn't help much but exp

[2020-03-30 05:29] hardikhere commented on #4957
Please assign me if you want an explanation part of this library. Also, suggest in which form..txt or read.md in every algorithm.

[2020-03-30 07:00] rbjoshi1309 opened #4958 "File names and folder name not matching in number_of_ways_in_maze"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/backtracking/src/number_of_ways_in_maze

[2020-03-30 07:14] rbjoshi1309 opened #4960 "File names and folder name not matching in partitions_of_set"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/backtracking/src/partitions_of_set

[2020-03-30 07:18] ruchika2ar commented on #4815
kindly assign this issue to me please!

[2020-03-30 07:22] ruchika2ar commented on #322
I would like to add the python implementation for it!

[2020-03-30 07:37] rbjoshi1309 opened #4962 "Folder name powerset not written in proper way and file names not matching"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Folder name powerset not written in proper way in following folder :
cosmos/code/backtracking/src
File names and folder name not matching in following folder :
cosmos/code/backtracking/src/power_set

[2020-03-30 07:56] rbjoshi1309 opened #4964 "File names and folder name not matching in subset_sum"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/backtracking/src/subset_sum

[2020-03-30 07:57] anjalisoni3655 commented on #4946
please assign me this issue @AdiChat

[2020-03-30 08:04] ritish099 commented on #4946
@anjalisoni3655 its already done in C. pick any other language for this problem

[2020-03-30 08:09] rbjoshi1309 opened #4966 "File names and folder name not matching in sudoku_solve"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/backtracking/src/sudoku_solve

[2020-03-30 08:49] anjalisoni3655 commented on #4946
@AdiChat Please check it out!!

[2020-03-30 13:46] arnavb commented on #4966
Closed in #4967

[2020-03-30 13:46] #4966 closed

[2020-03-30 13:46] arnavb commented on #4964
Closed in #4965

[2020-03-30 13:46] #4964 closed

[2020-03-30 13:47] arnavb commented on #4962
Closed in #4963

[2020-03-30 13:47] #4962 closed

[2020-03-30 13:48] arnavb commented on #4960
Closed in #4961

[2020-03-30 13:48] #4960 closed

[2020-03-30 13:48] arnavb commented on #4958
Closed in #4959

[2020-03-30 13:49] #4958 closed

[2020-03-30 14:05] arnavb commented on #4928
@vipuldcoder What about [this file](https://github.com/OpenGenus/cosmos/blob/master/.github/CONTRIBUTING.md)?

[2020-03-30 14:07] ritish099 opened #4969 "Codechef TACHSTCK problem in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

[Chopsticks (singular: chopstick) are short, frequently tapered sticks used in pairs
of equal length, which are used as the traditional eating utensils of China, Japan,
Korea and Vietnam. Originated in ancient China, they can also be found in some areas
of Tibet

[2020-03-30 14:14] Ankit152 commented on #4948
assign this issue to me i will use C++.

[2020-03-30 14:16] Ankit152 opened #4971 "solution to codechef problem BFRIEND in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Alice just invited Bob to come over for dinner at her place. Bob is not dressed properly and he does not wish to take any chances, so he wants to rush to an apartment of one of his N friends, change there and meet Alice for the dinner.

Alice and Bob's friends li

[2020-03-30 14:18] Ankit152 commented on #4971
please assign this issue to me.

[2020-03-30 14:24] hanzohasashi33 commented on #4955
I have added my previous commit of issue 4869 as well as this in the above pull request.

[2020-03-30 16:48] ritish099 opened #4973 "Codechef RESQ solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Our Chef is catering for a big corporate office party and is busy preparing
different mouth watering dishes. The host has insisted that he serves his delicious
cupcakes for dessert.

On the day of the party, the Chef was over-seeing all the food arrangements as w

[2020-03-30 16:55] ritish099 opened #4975 "Codechef OJUMPS solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

This morning Chef wants to jump a little. In a few minutes he will arrive at the
point 0. Then he will perform a lot of jumps in such a sequence: 1-jump, 2-jump,
3-jump, 1-jump, 2-jump, 3-jump, 1-jump, and so on.

1-jump means that if Chef is at the point x, he w

[2020-03-30 17:05] Akansha2202 commented on #4891
Please assign me this

[2020-03-30 17:09] Akansha2202 commented on #4890
Please assign me this

[2020-03-30 17:47] HariniJeyaraman opened #4977 "Add 1 to a number represented as array of digits in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-30 17:47] HariniJeyaraman commented on #4977
@arnavb Please assign me this issue in C++.

[2020-03-30 18:06] syedareehaquasar opened #4978 "Kaprekars numbers"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

It consists of printing a series of numbers. The input must not be consisting all digits equal. Then by rearranging digits to form greatest and smallest numbers then they are subtracted This process repeats until we get a repetitive number. ALL NUMBERS ENDS WITH

[2020-03-30 19:58] Tawishi commented on #4977
I would like to work on this issue @HariniJeyaraman

[2020-03-30 20:18] #4413 closed

[2020-03-31 07:26] aftex261 opened #4979 "Updated README.md"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-03-31 07:28] aftex261 commented on #4979
Kindly  assign  me this issue

[2020-03-31 12:16] abhishekgupta368 commented on #4857
I have done my last problem, can you please assign me?

[2020-03-31 12:21] ramneek008 opened #4980 "HackerRank Cycle Detection solution in Java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

A linked list is said to contain a cycle if any node is visited more than once while traversing the list.

It has one parameter: a pointer to a Node object named head that points to the head of a linked list. Your function must return a boolean denoting whether o

[2020-03-31 14:18] hanzohasashi33 opened #4982 "Add hackerrank lonely integer in CPP"
Add hackerrank Lonely integer solution in cpp.

**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
You will be given an array of integers. All of the integers except one occur twice. That one is unique in the array.

Given an array of integers, find and print the unique element.

[2020-03-31 14:29] Ankit152 opened #4983 "solution to codechef problem CANDY123 in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Bears love candies and games involving eating them. Limak and Bob play the following game. Limak eats 1 candy, then Bob eats 2 candies, then Limak eats 3 candies, then Bob eats 4 candies, and so on. Once someone can't eat what he is supposed to eat, he loses.

Li

[2020-03-31 14:29] Ankit152 commented on #4983
please assign this issue to me.

[2020-03-31 14:33] hanzohasashi33 commented on #4982
Please assign this issue to me.
@arnavb

[2020-03-31 15:24] ritish099 opened #4984 "Codechef SPCANDY solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Cyael is a teacher at a very famous school in Byteland and she is known by her
students for being very polite to them and also to encourage them to get good marks
on their tests.

Then, if they get good marks she will reward them with candies :) However, she know

[2020-03-31 15:29] ritish099 opened #4986 "Codechef J7 solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Johnny needs to make a rectangular box for his physics class project. He has bought
P cm of wire and S cm2 of special paper. He would like to use all the wire (for the
12 edges) and paper (for the 6 sides) to make the box.

What is the largest volume of the box t

[2020-03-31 15:41] ritish099 opened #4988 "Codechef GCD2 Solution in C"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Frank explained its friend Felman the algorithm of
Euclides to calculate the GCD of two numbers. Then
Felman implements it algorithm

int gcd(int a, int b)
{
	if (b==0)
		return a;
	else
		return gcd(b,a%b);
}
and it proposes to Frank that makes it but with a
lit

[2020-03-31 17:09] OveeKulkarni opened #4990 "Add Best First Search"
**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ x] Proposal to the Repository

**Details:**

Best First Search is a combination of depth first search and breadth first search.It is a greedy algorithm as it chooses the next most desirable node as soon as its heuristic weight becomes the most desirable/least and likewise gives the cost to the destination

[2020-03-31 17:12] OveeKulkarni commented on #4990
Could you please assign this to me?

[2020-03-31 17:14] OveeKulkarni opened #4991 "Add Shortest Job First (scheduling) in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Implement Shortest Job first in java

[2020-03-31 17:15] OveeKulkarni commented on #4991
Could you assign this to me?

[2020-03-31 17:20] OveeKulkarni opened #4992 "Add Banker's Algorithm(Deadlock) in java"
**This is a(n):**

- [] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

It is an algorithm to check if a resource can be accessed by a process is it is not used by any other process in the system. It is used for deadlock management.

[2020-03-31 17:20] OveeKulkarni commented on #4992
Please assign this to me

[2020-03-31 17:27] OveeKulkarni opened #4993 "Add Shortest Remaining Time First algorithm in Java"
**This is a(n):**

- [] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

The process with the smallest amount of time remaining until completion is selected to execute next

[2020-03-31 17:28] OveeKulkarni commented on #4993
Could you assign this to me?

[2020-03-31 18:14] #4982 closed

[2020-03-31 18:22] arnavb commented on #4915
@syedareehaquasar Why did you ping unrelated people?

[2020-03-31 18:26] rbjoshi1309 opened #4995 "File names and folder name not matching in addition_using_bits"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/addition_using_bits

[2020-03-31 18:40] rbjoshi1309 opened #4999 "File name and folder name not matching in byte_swapper"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File name and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/byte_swapper

[2020-03-31 18:42] arnavb commented on #4995
Closed #4997.

[2020-03-31 18:42] #4995 closed

[2020-03-31 18:44] arnavb commented on #4999
Closed in #5000.

[2020-03-31 18:44] #4999 closed

[2020-03-31 18:57] rbjoshi1309 opened #5001 "File names and folder name not matching in lonely_integer"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/lonely_integer

[2020-03-31 19:05] rbjoshi1309 opened #5003 "File names and folder name not matching in magic_number"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/magic_number

[2020-03-31 19:12] arnavb commented on #5003
Closed in #5004

[2020-03-31 19:12] #5003 closed

[2020-03-31 19:13] arnavb commented on #5001
Closed in #5002.

[2020-03-31 19:13] #5001 closed

[2020-03-31 19:13] rbjoshi1309 opened #5005 "File names and folder name not matching in maximum_xor_value"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/maximum_xor_value

[2020-03-31 19:14] arnavb commented on #4909
Closed in #4910

[2020-03-31 19:14] #4909 closed

[2020-03-31 19:15] arnavb commented on #4911
Closed in #4912.

[2020-03-31 19:15] #4911 closed

[2020-03-31 19:15] arnavb commented on #4907
Closed in #4908.

[2020-03-31 19:15] #4907 closed

[2020-03-31 19:16] arnavb commented on #4905
Closed in #4906.

[2020-03-31 19:16] #4905 closed

[2020-03-31 19:18] shivani789 opened #5007 "Codechef Is it a VOWEL or CONSONANT Solution in C and C++"
**Problem Link**
[Is it a VOWEL or CONSONANT](https://www.codechef.com/problems/VOWELTB)

**Description**
All submissions for this problem are available.Write a program to take a character (C) as input and check whether the given character is a vowel or a consonant.

NOTE:− Vowels are 'A', 'E', 'I', 'O', 'U'. Rest all alphabets are called consonants.

[2020-03-31 19:20] shivani789 commented on #5007
Please assign me this issue I want to contribute my solution for the problem.

[2020-03-31 19:21] arnavb commented on #3934
@hanzohasashi33 Sure. All you have to do is delete the extra folder, basically.

[2020-03-31 19:23] shivani789 opened #5008 "Codechef Add Two Numbers Solution in C and C++"
**Problem Link**
[Add Two Numbers](https://www.codechef.com/problems/FLOW001/)

**Description**
Shivam is the youngest programmer in the world, he is just 12 years old. Shivam is learning programming and today he is writing his first program.

Program is very simple, Given two integers A and B, write a program to add these two numbers.

[2020-03-31 19:23] shivani789 commented on #5008
Please assign me this issue I want to contribute my solution for the problem.

[2020-03-31 19:23] arnavb commented on #5005
Closed in #5006.

[2020-03-31 19:23] #5005 closed

[2020-03-31 19:24] arnavb commented on #5008
Sure.

[2020-03-31 19:24] rbjoshi1309 opened #5009 "File names and folder name not matching in power_of_2"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/power_of_2

[2020-03-31 19:26] arnavb commented on #4899
@15aarushiGhadiya Both of those languages have already been done by @rbjoshi1309.

[2020-03-31 19:27] shivani789 opened #5011 "Codechef Find Remainder Solution in C and C++"
**Problem Link**
[Find Remainder](https://www.codechef.com/problems/FLOW002)

**Description**
Write a program to find the remainder when two given numbers are divided.

[2020-03-31 19:27] shivani789 commented on #5011
Please assign me this issue I want to contribute my solution for the problem.

[2020-03-31 19:28] arnavb commented on #5009
Closed in #5010.

[2020-03-31 19:28] #5009 closed

[2020-03-31 19:41] rbjoshi1309 opened #5012 "File names not written in proper way in subset_generation"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names not written in proper way in following folder :
cosmos/code/bit_manipulation/src/subset_generation

[2020-03-31 19:50] rbjoshi1309 opened #5014 "File names and folder name not matching in thrice_unique_number"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/thrice_unique_number

[2020-03-31 19:58] rbjoshi1309 opened #5016 "File names and folder name not matching in twice_unique_number"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/twice_unique_number

[2020-03-31 20:06] rbjoshi1309 opened #5018 "File names and folder name not matching in xor_swap"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/xor_swap

[2020-03-31 20:15] rbjoshi1309 opened #5020 "File names and folder name not matching in convert_number_binary"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/bit_manipulation/src/convert_number_binary

[2020-03-31 23:23] syedareehaquasar commented on #4915
sorry I thout they were mentors

[2020-04-01 03:41] hanzohasashi33 commented on #3934
Looks like there is no duplicate folder in data_structures/ for linked list.

[2020-04-01 05:16] anshuman1510 opened #5025 "Hackerrank Jumping on the clouds solution in C"
**Details:**
# Problem Link

[Jumping on the Clouds](https://www.hackerrank.com/challenges/jumping-on-the-clouds/problem)

# Description

Emma is playing a new mobile game that starts with consecutively numbered clouds. Some of the clouds are thunderheads and others are cumulus. She can jump on any cumulus cloud having a number that is equal to the number of the current cloud plus 1 or 2. She must

[2020-04-01 05:17] anshuman1510 commented on #5025
Please assign me this issue I want to contribute my solution for the problem.

[2020-04-01 09:12] NikitaMasand opened #5028 "Implement isBST in java"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

there is an implementation of isBST in cpp language, I want to add an implementation of the same in java. Thank you.

[2020-04-01 09:12] NikitaMasand commented on #5028
please assign me this issue.

[2020-04-01 12:27] hanzohasashi33 opened #5029 "Create simgle number problem from leetcode"
Add single number problem from leetcode in cpp

**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Given a non-empty array of integers, every element appears twice except for one. Find that single one.

[2020-04-01 12:27] hanzohasashi33 commented on #5029
Please assign this is issue to me @arnavb

[2020-04-01 12:36] #4364 closed

[2020-04-01 14:39] Ankit152 opened #5030 "solution to codechef problem BRKBKS in C++."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

For her next karate demonstration, Ada will break some bricks.

Ada stacked three bricks on top of each other. Initially, their widths (from top to bottom) are W1,W2,W3.

Ada's strength is S. Whenever she hits a stack of bricks, consider the largest k≥0 such that

[2020-04-01 14:40] Ankit152 commented on #5030
please assign this issue to me

[2020-04-01 16:55] arnavb commented on #5020
Closed in #5021

[2020-04-01 16:55] #5020 closed

[2020-04-01 16:55] arnavb commented on #5018
Closed in #5019

[2020-04-01 16:55] #5018 closed

[2020-04-01 16:56] arnavb commented on #5016
Closed in #5017.

[2020-04-01 16:56] #5016 closed

[2020-04-01 16:56] arnavb commented on #5014
Closed in #5015

[2020-04-01 16:56] #5014 closed

[2020-04-01 16:57] arnavb commented on #5012
Closed in #5013.

[2020-04-01 16:57] #5012 closed

[2020-04-01 16:58] arnavb commented on #4799
@shreeya13garg New folder in unclassified algorithms.

[2020-04-01 17:00] hanzohasashi33 commented on #4897
@arnavb
by the way,how to become a member in opengenus ?

[2020-04-01 17:02] arnavb commented on #4897
@hanzohasashi33 I had to ask @AdiChat

[2020-04-01 17:03] hanzohasashi33 commented on #4897
Can you please let me know after asking ?
Thanks in advance

[2020-04-01 17:05] arnavb commented on #4897
@hanzohasashi33 No I'm saying you should ask him because that is what I did when I had to become a maintainer. I need someone to maintain with me at the moment anyway because there are so many pull requests coming in every day.

[2020-04-01 17:08] hanzohasashi33 commented on #4897
@arnavb I already asked @adichat regarding this , but there is no reply from his end.

[2020-04-01 17:10] arnavb commented on #4897
@hanzohasashi33 I know, he has been rather inactive. I don't have the ability to add you as a maintainer anyway. He is the only person to ask since he controls who gets to be and not be a maintainer.

[2020-04-01 17:10] JanaSabuj commented on #4977
@arnavb I can do it in C++.

[2020-04-01 17:11] hanzohasashi33 commented on #4897
ok thanks anyways, I'll try communicating with him once more

[2020-04-01 17:12] arnavb commented on #4977
@JanaSabuj @HariniJeyaraman is doing this in C++. Ask her if you can do it instead and she can take a different programming language. Or you can pick a different one (like JS).

[2020-04-01 17:13] JanaSabuj commented on #4977
@arnavb I can do it in JS. But the issue title needs to be updated (only in C++ as of now).

[2020-04-01 17:15] arnavb commented on #4977
@JanaSabuj I'm aware. But in general for these algorithm issues, it's fine to use the issue to implement the algorithm in any language not implemented yet.

[2020-04-01 17:17] hanzohasashi33 commented on #4897
@arnavb is there any other way of communicating with him since I already sent a couple of mails and there has been no response ?

[2020-04-01 17:19] arnavb commented on #4897
@hanzohasashi33 Other than slack (http://opengenus.slack.com/), I am not aware. There is also discourse (https://discourse.opengenus.org/) but I have not used it.

[2020-04-01 17:21] hanzohasashi33 commented on #4897
@arnavb  actually I am not in the slack page, I had sent a pr a couple of months back, but there was no reply regarding the joining in slack

[2020-04-01 17:22] arnavb commented on #4897
@hanzohasashi33 I have sent you an invite.

[2020-04-01 17:25] hanzohasashi33 commented on #4897
Thank You @arnavb

[2020-04-01 17:26] JanaSabuj commented on #4734
@arnavb I can do it in JS.

[2020-04-01 17:26] HariniJeyaraman opened #5032 "Set matrix zeroes : Given a matrix of 0's and 1's , If an element is 0, set its entire row and column to 0 in C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2020-04-01 17:27] HariniJeyaraman commented on #5032
@arnavb Please assign me this issue in C++

[2020-04-01 17:48] poorva2145 commented on #4752
@arnavb  Sir, please check I had corrected all the issues. #4772 #4752

[2020-04-01 18:04] shortCircuit81 commented on #4799
i want to contribute in this iisue. can you assign this

[2020-04-01 18:16] shortCircuit81 commented on #4796
please assign this to me

[2020-04-01 18:17] shortCircuit81 commented on #4794
please assign this to me

[2020-04-01 18:20] aftex261 opened #5033 "Hackerrank lonely integer solution in C."
Problem Link:-
https://www.hackerrank.com/challenges/lonely-integer/problem

Problem Details:-
You will be given an array of integers. All of the integers except one occur twice. That one is unique in the array.

Given an array of integers, find and print the unique element.

For example,a= [1,2,3,4,3,2,1] , the unique element is  4.

[2020-04-01 18:20] aftex261 commented on #5033
Please assign me this issue.

[2020-04-01 18:23] shortCircuit81 commented on #4977
please assign this issue to me . i can implement this in c++and java

[2020-04-01 18:23] rbjoshi1309 opened #5034 "File names and folder name not matching in conways_game_of_life"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/cellular_automation/src/conways_game_of_life

[2020-04-01 18:26] SifR-01 commented on #4977
I would like to work on it... I can implement this in c++, java and python

[2020-04-01 18:27] shortCircuit81 commented on #4759
please assign this to me.
I'm a participant of GSSoC20 and can implement this in C,C++and Java

[2020-04-01 18:27] SifR-01 commented on #4843
I could work on this issue..in c++,java and python

[2020-04-01 18:29] SifR-01 commented on #4752
I can work on this issue in c++,java and python..is possible plz assign

[2020-04-01 18:30] shortCircuit81 commented on #4435
please assign this to me

[2020-04-01 18:32] rbjoshi1309 opened #5037 "File names and folder name not matching in elementary_cellular_automata"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/cellular_automation/src/elementary_cellular_automata

[2020-04-01 18:33] SifR-01 commented on #4435
I can work on this issue in c++,python and java...plz assign this to me

[2020-04-01 18:34] SifR-01 commented on #4799
I would like to work on this issue...could I be assigned this?

[2020-04-01 18:37] shortCircuit81 commented on #4439
I am participant of gssoc20.. I can work on this code in c++and java .please assign this to me

[2020-04-01 18:39] shortCircuit81 commented on #4374
I am participant of gssoc20. i can work on this issue in c++and java.please assign this to me

[2020-04-01 18:39] SifR-01 commented on #4759
I can work on this in C,C++,Java,if possible plz assign

[2020-04-01 18:40] shortCircuit81 commented on #4067
I would like to contribute to the issue as a part of GSSoC'20, could you please assign it to me. i can implement this in c++ and java

[2020-04-01 18:43] rbjoshi1309 opened #5039 "File names and folder name not matching in genetic_algorithm"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/cellular_automation/src/genetic_algorithm

[2020-04-01 18:47] abhijeet010304 commented on #4435
Sorry @shortCircuit81  and @SifR-01 , no offence but I had already made a PR three days back  in C++ you can select any language other than C++ ..

[2020-04-01 18:52] rbjoshi1309 opened #5042 "File names and folder name not matching in langtons_ant"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

File names and folder name not matching in following folder :
cosmos/code/cellular_automaton/src/langtons_ant

[2020-04-01 19:53] #4764 closed

[2020-04-01 21:54] arnavb commented on #5042
Closed in #5044

[2020-04-01 21:54] #5042 closed

[2020-04-01 22:07] arnavb opened #5049 "Fix Linguist language stats for this repo"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [x] Error
- [x] Proposal to the Repository

**Details:**

Looking at the following image:

<img width="1016" alt="Screen Shot 2020-04-01 at 6 04 18 PM" src="https://user-images.githubusercontent.com/30810402/78191051-36d85700-7443-11ea-908b-e102ae86d1c9.png">

It would seem that Jupyter notebooks constitute the majority

[2020-04-02 01:22] Jahnavi-Jonnalagadda commented on #4734
@arnavb Could you please review my PR.

[2020-04-02 02:39] Jahnavi-Jonnalagadda commented on #4977
@arnavb I would like to work on this issue in python. Please assign this to me.

[2020-04-02 04:41] shreeya13garg commented on #4799
I have done it.Please review it.

On Thu, Apr 2, 2020 at 12:05 AM SifR-01 <notifications@github.com> wrote:

[2020-04-02 04:42] shreeya13garg commented on #3934
Yeah, I have already solved it. This issue has been solved.

On Wed, Apr 1, 2020 at 9:11 AM Prasanna Venkatesh <notifications@github.com>
wrote:

[2020-04-02 09:13] HarshCasper opened #5054 "Add Transfer Learning for Binary Classification"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [X] Proposal to the Repository

**Details:**

My proposal to this repository is to add a Transfer Learning using an existing pre-trained model to perform Binary Classification.

[2020-04-02 09:14] HarshCasper commented on #5054
I would be highly obliged if you can assign me this issues @AdiChat @arnavb