[2022-01-20 19:10] BCorbin825 opened #6366 "Pancake Sort in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to add pancake sort in C++ to the sorting algorithms. Can I be assigned to this?

[2022-01-20 19:13] mjoyharris commented on #6264
Hi! Can I be assigned this issue?

[2022-01-21 01:34] MichaelC101 commented on #6354
Can I work on this?

[2022-01-23 04:10] soundaryasenthil02 commented on #6354
Yes, you can contribute. Please follow installation guides and style guides.

[2022-01-25 06:19] harshit078 commented on #6363
Can you assign the task to me? I can write the code

[2022-01-25 07:54] harshit078 commented on #6366
I have submitted a PR on Pancake sort, you can review it

[2022-01-25 14:43] mjoyharris opened #6369 "Adding LeetCode Challenge: 24"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hi! I wanted to add the common LeetCode challenge called "24 Game."

[2022-01-26 13:08] harshit078 commented on #6354
Hi I have pushed the bellman ford code to pancake sort pull request please review it

[2022-01-28 00:42] ckohlbeck1 commented on #5499
Please give me this issue!

[2022-01-28 00:43] ckohlbeck1 commented on #5144
Please assign this to me!

[2022-01-28 05:06] ChristianMosey opened #6372 "Matrix Row Reduction Algorithm C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Want to add a Matrix Row Reduction algorithm written in C++. The function takes in a matrix reduces it, checks if it's consistent, and if so displays the solution(s) of the system.

[2022-01-28 19:56] Succworth commented on #5907
hey @AdiChat I would like to add an algorithm for hangman in Java

[2022-01-30 02:43] mjoyharris opened #6377 "Adding LeetCode Challenge: 828. Count Unique Characters of All Substrings of a Given String"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Hi! I wanted to add the common LeetCode challenge called "24 Game."

[2022-01-30 03:07] MiniMinstrel opened #6378 "DoublyLinkedList in C++"
**This is a(n):**
- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Hello there! I'm looking to see about submitting a doubly linked list in C++ to add along the other DoublyLinkedList implementations.

[2022-01-30 04:02] EspKid1109 opened #6380 "C++ Data Structure Timing Simulation"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I'd like to add some code for examining the timing of various data structures. So far I haven't found anything on it and I believe it would be a great way for others to see the difference in how these structures perform under different circumstances. Currently th

[2022-01-30 06:14] DadTech opened #6382 "Bloom Filter in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I wish to add a bloom filter written in C++. This will take a vector of strings, and an int array of a given size. The function will then run every string through several hashes in order to grab specific indexes to replace the number of that index of the array wi

[2022-01-30 13:17] dlt352 opened #6384 "AVL Tree C++"
This is a:

- [X ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

I would like to add a max-heap data structure in C++ to the collection.  I need to contribute to an active open-source repository for a class assignment.  Max heap data structure creates max-heap based on user-defined capacity.  Functions include heapify-up, heapify-down, traversal,

[2022-01-30 14:47] EspKid1109 commented on #6380
Sorry about that I meant to commit to my local repo first, I'm reopening the issue here

[2022-01-30 18:00] alexdorfman81 commented on #4604
I have added code please review it!

[2022-01-31 06:17] harshit078 commented on #6384
I can do this, can you assign me this

[2022-01-31 07:06] harshit078 commented on #6378
Hi I have added Doubly linked list code and by mistake it has been pushed into the same branch so the code is in Pancake sort. please review it

[2022-02-01 01:43] dlt352 commented on #6384
I was actually creating this issue so that I could update with this data structure.  I have tried submitting a pull request but I am getting an access denied error.  Not sure if I need to have this issue assigned to me before I can commit the update.

[2022-02-01 03:11] dlt352 commented on #6384
Pull request added maxheap #6391

[2022-02-07 15:15] JamieSlome opened #6395 "Found a possible security concern"
Hey there!

I belong to an open source security research community, and a member (@michaellrowley) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-05-10 03:34] #2940 closed

[2022-05-22 05:38] deepanshumidha commented on #6202
Can I work on this?

[2022-05-22 05:39] deepanshumidha commented on #5991
Can I work on this?

[2022-05-22 05:41] snehaa1989 commented on #5991
Yes

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: deepanshumidha ***@***.***>
Sent: Sunday, May 22, 2022 11:10:07 AM
To: OpenGenus/cosmos ***@***.***>
Cc: KNVS Sai Sneha ***@***.***>; Comment ***@***.***>
Subject: Re: [OpenGenus/cosmos] Add code for spiral matrix(in C language). (#5991)

Can I work on this?

—
Reply to this email directly, view it on GitHu

[2022-05-22 05:55] deepanshumidha commented on #5991
@AdiChat Is this still open ?

[2022-09-07 20:08] Nivig1310 commented on #6378
Hello, is there anything I can contribute to here? I would like to know more

[2022-09-07 20:13] Nivig1310 commented on #3706
Hello, is there anything for me to contribute in Python?

[2022-09-08 12:24] harshit078 commented on #6378
Hi @Nivig1310, the code for doubly linked list is already added but not merged. You can see through the added code and give some inputs if you have.

[2022-09-08 22:20] Nivig1310 commented on #6378
@harshit078 I have an idea to add a FindAll() function. This function will take into account the possibility of finding multiple nodes with the same data instead of just one. I want to add this onto the already added code. Does this sound good to you?

[2022-09-10 08:20] harshit078 commented on #6378
@Nivig1310 It sounds good, please add the function in the code.

[2022-09-10 19:00] Nivig1310 commented on #6378
@harshit078 Great, thank you. Can you help me find where the code is? I'm having some trouble locating it.

[2022-09-11 18:23] harshit078 commented on #6378
@Nivig1310 sure, the code for the doubly linked list is in pr above in this chat or (pr #6378). There you can find the given code under the view changes option.

[2022-09-18 20:36] reillywynn commented on #6366
Hi, could I add more features to the pancake sort?

[2022-09-19 05:57] harshit078 commented on #6378
@Nivig1310 Hi, have you added the changes?

[2022-09-22 17:52] BrookeScoglio commented on #6363
Hi, can you assign me this task? I am a first-time contributor and would love to work on this!

[2022-09-23 05:16] #6363 closed

[2022-09-23 15:35] BrookeScoglio opened #6405 "Clean Counting Sort in C++ and Add Comments"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

The existing code of counting sort in CPP is not very clean. I would like to be assigned the task of writing cleaner code for counting sort in CPP with proper comments that add to the functionality and understanding of the code.

[2022-09-23 15:59] BrookeScoglio opened #6406 "Create suffix_array in C++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I noticed that suffix_array does not exist in C++. I would like to write the code for this string_algorithm and would appreciate being assigned this task.

[2022-09-24 07:59] kwe92 opened #6408 "Binary Search in Dart Lang"
**This is a(n):**

- [ x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Binary Search in Dart Lang

[2022-09-24 08:47] MrKrishnaAgarwal commented on #6309
I want to work on this issue @Jassi10000

[2022-09-24 08:50] MrKrishnaAgarwal commented on #6309
I want to work on this issue @Jassi10000 and @AdiChat

I can add a github action for welcoming people on this repo.

[2022-09-24 11:22] Yash-007 commented on #6406
can i work on that project?

[2022-09-24 15:15] RidhikaJoshi commented on #6341
Hi! I am interested in this issue. Can you plz assign me?

[2022-09-24 16:43] kittusinghkumar commented on #4957
Hey, I would like to contribute for the same. Kindly assign me.

[2022-09-24 17:10] PrakashGatiyala commented on #6408
Hi @kwe92 I would like to work on this issue. Can you assign it to me?

[2022-09-24 18:46] kwe92 commented on #6408
@PrakashGatiyala I am not a maintainer so I can not assign this issue and  I am already working on it

[2022-09-24 18:49] kwe92 commented on #6408
@AdiChat if you could kindly assign this to me that would be great.

[2022-09-24 18:56] PrakashGatiyala commented on #6408
@kwe92  No Problem.

[2022-09-24 18:59] kwe92 commented on #6408
@PrakashGatiyala there are other algorithms in the dart lang that are not on cosmos, maybe we can tackle them together

[2022-09-24 19:38] PrakashGatiyala opened #6410 "Linear Search in Dart Lang"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Linear Search in Dart Lang

[2022-09-24 19:42] PrakashGatiyala commented on #6410
Hi @AdiChat  if you could kindly assign this to me that would be great.

[2022-09-24 20:00] kwe92 commented on #6408
@PrakashGatiyala can you review my pull request and when you are done I can review yours?

[2022-09-24 20:01] kwe92 commented on #6410
@PrakashGatiyala let me know and I can review for you

[2022-09-24 20:05] PrakashGatiyala commented on #6408
Hi @kwe92 I've approved your changes.

[2022-09-24 22:53] kwe92 opened #6411 "Binary Search Tree in Dart Lang"
**This is a(n):**

- [ ] New algorithm
- [X ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Binary Search Tree in Dart Lang

https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/src/tree/binary_tree/binary_tree/tree

@AdiChat please assign this issue to me

[2022-09-25 15:24] BrookeScoglio commented on #6406
I am working on this assignment already in C++, can I be assigned this issue?

[2022-09-26 14:22] AmanGit010 commented on #6197
Hi @Preetojha08 i can work on this issue, I have learnt basic PHP programs in my college and will be happy to contribute, please assign me this issue.

[2022-09-26 16:08] woo-jeon opened #6415 "Levenshtein Distance in C++"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The C++ algorithm for Levenshtein Distance is missing. I'd like to work on this.

[2022-09-26 21:05] kwe92 opened #6418 "Add Dart Lang to code/languages"
**This is a(n):**

- [ X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Adding content for Dart Lang, Collections and basics

[2022-09-26 21:06] kwe92 opened #6419 "Add LinkedList Dart Lang: cosmos/code/data_structures/src/list/singly_linked_list"
**This is a(n):**

- [ ] New algorithm
- [X ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2022-09-26 21:07] kwe92 commented on #6419
@AdiChat please assign to me

[2022-09-26 21:08] kwe92 commented on #6418
@AdiChat please assign

[2022-09-27 00:45] #6405 closed

[2022-09-27 18:09] Atharva-Thakur commented on #6419
Please assign to me

[2022-09-27 20:50] kwe92 commented on #6419
@Atharva-Thakur I am already working on this and almost complete

[2022-10-01 00:07] 7Arms commented on #3748
I would like to contribute some code in C++!

[2022-10-01 05:17] Pratyaksha462 opened #6422 "Implementing STLs in C++ under data structures"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I am adding the folder for implementing the STLs functions in C++ . This would help the programmer to get the template of the code.
All in this I would be adding all the necessary information needed to implement these libraries. This Folder will come under the Da

[2022-10-01 05:17] Pratyaksha462 commented on #6422
This issue  is made new because there is no information of the issue that was two years ago.

[2022-10-01 05:38] manish831 commented on #6422
I want to do work upon this issues, plz assign it to me.

[2022-10-01 10:12] AdiChat opened #6428 "Hacktoberfest 2022 (OpenGenus / Cosmos)"
Welcome to **Hacktoberfest 2022**

We, strongly, suggest you to apply for [your **Internship Program**](http://internship.opengenus.org) and contribute to Hacktoberfest in parallel with help from our mentors.

**NEW** You can write about topics you know (blog post) and qualify for "Non-Code" contributions as well. Comment in the above Internship thread to get guidance.

---

To get started on your

[2022-10-01 10:14] Amangupta386 commented on #36
I would like to contribute on it in C++ please assign to this me as part of hacktober fest.

[2022-10-01 10:20] AdiChat commented on #6422
@manish831 yes, as this involve multiple algorithms, you can work on a part in parallel.

[2022-10-01 10:43] HridoyHazard commented on #6422
i also want to contribute in this.

[2022-10-01 10:51] HridoyHazard opened #6430 "Code is not available in the directory"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [X] Error
- [ ] Proposal to the Repository

**Details:**

**code>languages>cpp>linear_search**  in this directory no code is available only readme is given.

[2022-10-01 10:51] HridoyHazard commented on #6430
i want to add those code plz assign me this task

[2022-10-01 10:53] naveenbisht31 commented on #6422
Hey, I would like to contribute as well. Please assign it to me.

[2022-10-01 13:40] HridoyHazard commented on #6430
@AdiChat
  can u plz check i've added and created a pr regarding this.

[2022-10-01 20:37] kitty0804 opened #6440 "Added Bitmask DP under DP folder"
**This is an:**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I've added bitmask_dp folder under the topic of DP. I plan to add more questions and their solutions with explanation.
Kindly review my [PR](https://github.com/OpenGenus/cosmos/pull/6426) here.

[2022-10-02 03:57] awdhesh-kumar27 opened #6445 "Print All left child elements of binary tree"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2022-10-02 03:58] awdhesh-kumar27 commented on #6445
Please accept the issue with hactoberfest label and assigned it to me.

[2022-10-02 04:17] Haricharan0310 commented on #5891
Hey @aryanrawlani28 @AdiChat  I was wondering if this issue is open? If it is, I would like to Contribute to it and could you please guide me on this?

[2022-10-02 04:19] Haricharan0310 commented on #6422
Hey @AdiChat I would like to Contribute to this Issue as well, Could you please assign it to me?

[2022-10-02 06:12] prashantkr29 commented on #6422
Hey @AdiChat I would like to contribute as well. Could you please assign it to me?

[2022-10-02 06:16] harshagrawal523 opened #6447 "Set matrix zero"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Given a matrix, A of size M x N of 0s and 1s. If an element is 0, set its entire row and column to 0.

[2022-10-02 06:24] harshagrawal523 commented on #6447
Please accept the issue with hacktober tag

[2022-10-02 06:39] harshagrawal523 commented on #6447
Review my [PR](https://github.com/OpenGenus/cosmos/pull/6448#issue-1393661178) here

[2022-10-02 09:48] Devolious opened #6451 "Adding Lazy-propagation in segment tree"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Would like to add the lazy-propagation implementation of segment tree in data structures using CPP language.

[2022-10-02 09:56] Devolious commented on #6234
@AdiChat Can I work on GCD-related problems? Please assign it to me.

[2022-10-02 10:37] gauriimaheshwarii commented on #6418
Can I work on this issue?

[2022-10-02 10:49] ujjwall-R commented on #6356
I can solve this using KMP algorithm in C++. Please assign me this issue.

[2022-10-02 10:54] ujjwall-R commented on #5760
Assign this to me. I can do this.

[2022-10-02 11:00] ujjwall-R commented on #5264
Assign this to me.

[2022-10-02 12:10] 35C4n0r opened #6453 "[Hackoctoberfest] Implementing Graham Scan Algorithm in Python."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I would like to implement Graham Scan algorithm for convex hull in Python language.

[2022-10-02 12:11] 35C4n0r commented on #6453
@AdiChat I would love if you can assign this issue to me.

[2022-10-02 12:36] 35C4n0r opened #6454 "Implementing QuadTree in Python And C++."
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

QuadTree has only been implemented in Swift so
I Would like to implement Quad Tree in Python and C++.
I also plan to include a way for visualizing QuadTree with python using Tkinter if i get the permission to do so from @AdiChat .
Also please assign this issue to

[2022-10-02 14:31] harshagrawal523 commented on #6447
Please review the PR @AdiChat

[2022-10-02 17:07] AbhiIkhar commented on #192
@AdiChat  I would like to implement it in C++  , can I?

[2022-10-02 19:16] naveenbisht31 commented on #6422
@AdiChat where we need to upload code?

[2022-10-03 04:38] mit-riya opened #6460 "Implementing byte_swapper in python and c++"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The byte_swapper program has been implemented only in java. I would like to implement it in c++ and python. Please assign this issue to me under hacktoberfest.

[2022-10-03 06:07] Radhika19Gupta commented on #6451
Hey I am confident about working under this. Please assign me this issue.

[2022-10-03 07:02] Devolious commented on #6451
@AdiChat @Eckankar @ I have made a pull request to this repo containing the lazy implementation of segment tree, please do a review and merge if u feel it is ok.

[2022-10-03 10:05] Aditi192002 commented on #6447
Please assign this to me

[2022-10-03 11:14] AbhishekCS3459 opened #6465 "Linked list, Floyd's algorithms, arrays problems, stack data structure and leet code problems"
**

**Details:**

Hey I want to add the below items:
1) Arrays data structures
2) Arrays algorithms
3) Linked list data structure
5) Stacks
6) Making of a Text editor
7) Tweeter implementation

**

[2022-10-03 11:17] AbhishekCS3459 commented on #6465
**Hey you can assign me these task and I can do it efficiently @cosmos.**

[2022-10-03 12:25] 35C4n0r commented on #6192
@AdiChat this issue's a bit old but can i still implement this also please assign this issue to me.

[2022-10-03 14:11] Coderayush13 commented on #6422
I wanted to contribute in this project .

[2022-10-04 00:00] AlphaVS-76 opened #6470 "Implementing Topological Sort in JS"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

- JavaScript implementation is required for many algorithm, I started with this.
- links PR #6469

[2022-10-04 02:45] beef-erikson commented on #5891
Just now noticed this was a closed issue. Followed the link from Octoberfest. Disregard my pull request; I shall look into current bugs!

Thanks!

[2022-10-04 03:03] anmolrajsoni15 opened #6473 "Add Recursion Problems"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

There is no any special folder for Recursion questions. Moreover I searched Recursion in your website, there was no result for it.
<img width="594" alt="image" src="https://user-images.githubusercontent.com/93241741/193725129-a2050611-b3b8-4d31-b527-bf183cf97cd0.

[2022-10-04 04:02] tanuj1811 opened #6475 "Add Count Inversions Problem"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Count Inversion is one of the most important application of merge sort.

[2022-10-04 04:13] tanuj1811 commented on #6475
I am solving this

[2022-10-04 05:26] anmolrajsoni15 commented on #6473
**Reminder**
Hello @AdiChat , sorry for interruption. I am working on this issue. Please assign me so that I can work on it confidently.
Thank You

[2022-10-04 07:08] AdiChat opened #6478 "FREE BOOK on Graph Algorithms"
Free book on **Graph Algorithms** you should download now: [amazon.com book](https://amzn.to/3yfkFah)

Available till 6 October 2022
<img width="122" alt="buy" src="https://user-images.githubusercontent.com/10634210/193756528-cd38536a-a192-4bc5-8329-ba280deee3d6.png">

(Click on "Buy Now" on Amazon and it will be downloaded in your account) You will not be charged.

![Quora posts](https://user-ima

[2022-10-04 08:04] AbhishekCS3459 commented on #6465
### @AdiChat  I had fixed the assigned issue
Please Review it

[2022-10-04 10:14] tanuj1811 commented on #6475
Solved Pull ID: #6476

[2022-10-04 10:36] tanuj1811 opened #6480 "Implementing Subarray with given XOR"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

Details:

This is a very famous and important problem in bit_manupulation concept.

About Problem:

Given an array of integers A and an integer B.
Find the total number of subarrays having bitwise XOR of all elements equals to B.

[2022-10-04 10:36] tanuj1811 commented on #6480
I think I can help in this issue.
@AdiChat, I would really appreciate it if you could assign me this issue with Hacktoberfest tag so that can I can start contributing to this repo.
Thank you and have a great Hacktoberfest.

[2022-10-04 10:51] AaryanSingh0017 commented on #6480
Plz can you assign this to me

[2022-10-04 12:18] 35C4n0r opened #6486 "Adding Page replacement algorithms in Operating Systems Memory mangement section."
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

As of now there are now there are no page replacement algorithms in in either CPP or Python except for one and that is LRU and in C.
I plan on adding more page replacement algorithms in both Python and CPP.
@AdiChat please assign this issue to me.

[2022-10-04 12:27] AlphaVS-76 commented on #6470
I think the label should be Hacktoberfest-accepted 😃

[2022-10-04 13:29] Faizan96322 commented on #6486
hey, I would like to contribute to this task, please assign me this task!

[2022-10-05 06:16] 12-malak commented on #6470
@AdiChat @AlphaVS-76 Hi, I would like to work on this issue. Please assign me.

[2022-10-05 09:51] Amn04 opened #6496 "Adding substitution cipher in cryptography"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

In cryptography, a substitution cipher is a method of encrypting in which units of plaintext are replaced with the ciphertext, in a defined manner, with the help of a key;

@AdiChat Could you please assign me this issue with Hacktoberfest tag so that can I can st

[2022-10-05 09:52] Amn04 commented on #6496
I am working on this.

[2022-10-05 10:14] Amn04 commented on #6496
#6497 Created PR.
Thanks

[2022-10-05 10:40] anmolrajsoni15 commented on #6473
@AdiChat I have completed the issue and generated the PR. Kindly accept it.
It was a great experience working in your repo. Looking forward to work on this repo again on future.
Thank You
Have a great **Hacktoberfest2022**

[2022-10-05 13:10] devanshiii26 commented on #6422
can you please assign to me?

[2022-10-05 14:33] varsha080 opened #6501 "[Hacktoberfest] Find Peak Element using Binary Search"
**This is a(n):**

- [x ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to create a new problem solution of finding peak element in an array using binary search. Kindly assign this task to me.

[2022-10-05 20:21] vedant-z opened #6505 "Dinic's algorithm"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**
Dinic's algorithm is used to solve maximum flow questions

A matching in a graph is a set of edges that does not have common vertices (i.e., no two edges share a common vertex). A matching is called a maximum matching if it contains the largest possible number of

[2022-10-05 20:21] vedant-z commented on #6505
@AdiChat Please assign this issue to me

[2022-10-05 20:27] vedant-z commented on #6505
@AdiChat I want to add new algorithm

[2022-10-06 05:05] adityaajay29 opened #6508 "Problems on Dynamic Programming"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

I want to add a complete list of all types of problems related to the stock buy and sell using Dynamic programming. These problems are very important and are asked very frequently in SDE interviews. As of now, there is only one variation of stock buy and sell in

[2022-10-06 06:15] harshagrawal523 opened #6509 "Number of Islands using DFS [Hacktoberfest]"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Given an m x n 2D binary grid grid which represents a map of '1's (land) and '0's (water), return the number of islands.

An island is surrounded by water and is formed by connecting adjacent lands horizontally or vertically. You may assume all four edges of the g

[2022-10-06 06:28] harshagrawal523 commented on #6509
@AdiChat Please accept the issue with hacktober tag and review my [PR](https://github.com/OpenGenus/cosmos/pull/6510) here

[2022-10-06 07:28] 1Alisha commented on #6501
Please assign this issue to me

[2022-10-06 10:04] 35C4n0r commented on #6486
@AdiChat can you please review my PRs:
https://github.com/OpenGenus/cosmos/pull/6483
and
https://github.com/OpenGenus/cosmos/pull/6487

[2022-10-06 13:09] manish831 opened #6514 "I want to add a program in C, which is "Reverse a queue in C""
**This is a proram in C:**

- [ ] New algorithm
- [ ] Proposal to the Repository

**Details:**
In data Structure directory, program for reversing a queue in C were not present however it's present in all other languages.
I thought it must be present in it.

[2022-10-06 21:45] beef-erikson opened #6521 "Adding C# folder - basic data types"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [X] Proposal to the Repository

**Details:**

Added BasicDataTypes.cs which covers char, string, int, float, double, decimal

[2022-10-06 21:46] beef-erikson commented on #6521
Pushing file now.

[2022-10-07 03:25] anmolrajsoni15 commented on #6473
**Hello @AdiChat, it's now been 2 days late.
I request you to please have a view on my work and accept my PR.
Thank You.**

[2022-10-07 08:35] himanshu30-max opened #6524 "Peak index in a mountain array leetcode problem"
hello @AdiChat i want to implement peak index in a mountain array leetcode problem in cpp please assign it to me under the label hacktoberfest

[2022-10-07 08:53] HarshGupta74 commented on #6524
hey @AdiChat please assign this to me I would like to implement code for this and please make this hacktoberfest accepted

[2022-10-07 09:40] Aanya9693 commented on #6508
Hey! I would like to add a very famous problem of Dynamic Programming **Knapsack**, Can you assign this to me?

[2022-10-07 11:50] 35C4n0r commented on #6486
@AdiChat can you please review my PRs and add
Hactoberfest accepted to them as it is necessary.

[2022-10-07 12:31] ranganmukherjee opened #6528 "Adding Duck number program in Mathematical Algorithm"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

What is Duck number?
A Duck number is a number which has zeroes present in it, but there should be no zero present in the beginning of the number. For example 3210, 7056, 8430709 are all duck numbers whereas 08237, 04309 are not.

[2022-10-07 16:35] Ashwinip343 commented on #6514
Can I work on this?

[2022-10-07 17:40] sourav-naskar opened #6533 "Count Square Submatrices with all Ones DP Problem(new addition)[hacktoberfest]"
**This is a(n):**

- [-] New algorithm

**Details:**

I want to add "Count Square Submatrices with all Ones" DP problem.Can Moderators assign it to me with a "hacktoberfest" label?

thank you,
Sourav

[2022-10-07 17:51] sourav-naskar opened #6534 "Partition Array for Maximum Sum DP Problem(new addition)[hacktoberfest]"
This is a(n):

[.] New algorithm
Details:

I want to add "Partition Array for Maximum Sum" DP problem. @AdiChat Can you assign it to me with a "hacktoberfest" label?

thank you,
Sourav

[2022-10-08 04:14] Prachi-1606 commented on #6447
please assign this to me

[2022-10-08 06:42] deep2002deepika opened #6539 "want to add infix to prefix conversion using python"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to add code for infix to prefix conversion using python ,the folder contains it in cpp and java , So, I want to add in python

[2022-10-08 08:11] l3xi42 commented on #6508
can you assign this to me have an interesting problem i could add

[2022-10-08 11:05] codedoc7 opened #6543 "Implementation of Graph Data Structure in Python"
**This is an implementation of Graph Data structure in Python**

- [ ] New algorithm
- [ ] Proposal to the Repository

**Details:**
Graph implementation uses a dictionary of sets

[2022-10-08 12:02] VPraharsha03 opened #6546 "Added the program to clear all MSB's except for the first i LSB's of a number n implemented in rust"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

I want to implement the above mentioned program in Rust under the bit manipulations category.

Attaching the Related [PR](https://github.com/OpenGenus/cosmos/pull/6544)

[2022-10-08 12:07] Muhammad-Bilal-456 opened #6547 ".pf"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2022-10-08 14:34] mayyyur opened #6550 "Implementation of fifteen puzzle problem program in C language"
**This is a(n):**

- [x] New algorithm
- [x] Proposal to the Repository

**Details:**
I want to add Fifteen puzzle problem based on branch and bound algorithm using c language

Please assign so that i can contribute
Thank you

[2022-10-08 14:39] #6550 closed

[2022-10-08 16:41] ayushdasgupta commented on #6514
can you assign to me for this ? it is my first contribution. Please you assigned me for this

[2022-10-08 16:50] ayushdasgupta commented on #6460
can you assigned me for this work? I can definitely do in c++. can you assigned me? @AdiChat

[2022-10-09 05:00] DeepakKumarKhatri opened #6553 "Implementation of All Possible Operations on Linked List and Binary Tree"
**Changes I want to make:**

- [ ] Implementation of all possible operations on Linked List In CPP.
- [ ] Implementation of all possible operations on Binary Tree In CPP.
- [ ] Creating a new directory [here](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/src/tree/binary_tree/binary_tree) so as to include the program file of all possible operations on BST in one place.

**Det

[2022-10-09 06:56] KunalKartik02 opened #6555 "C++ implementation of the algorithm to find number of connected components in a graph."
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
 Given an undirected graph with n nodes
Find the number of connected components in the given graph.

[2022-10-09 07:02] KunalKartik02 commented on #6555
@AdiChat please accept this issue with hacktoberfest tag,assign it to me and review my [https://github.com/OpenGenus/cosmos/pull/6556](PR) here.

[2022-10-09 07:43] ritik0027 commented on #6534
want to contribute in this code
can I ?

[2022-10-09 08:16] its-amitkgupta commented on #6514
Hello Sir,
Could you please assign me this issue?

[2022-10-09 08:48] Jahnvi13 opened #6562 "Gaussian Process Regressor"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Gaussian Processes (GP) are a generic supervised learning method designed to solve regression and probabilistic classification problems. A gaussian process regressor requires the implementation of three kernels called K, K* and K**. I plan to implement it from scr

[2022-10-09 08:52] Aniumbott commented on #2613
Hello, I would like to work on this, can you assign me ?

[2022-10-09 08:54] Jahnvi13 opened #6563 "Autoencoder: Scratch implementation"
**This is a(n):**

- [ ] New algorithm
- [X] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I will add a python implementation of an autoencoder with one input layer, one hidden layer, and one output layer without using sklearn or similar libraries. This will help people understand autoencoder better.

[2022-10-09 09:17] Jahnvi13 opened #6564 "Cross Validation"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

Cross-validation is a statistical method used to estimate the performance (or accuracy) of machine learning models. It is used to protect against overfitting in a predictive model, especially when the data is limited. I plan to add two (or more) types of cross va

[2022-10-09 10:31] Amn04 commented on #6496
@AdiChat Can you please accept the PR

[2022-10-09 11:47] srusti610 commented on #6539
hello,
Kindly assign me the task.

[2022-10-09 11:58] srusti610 commented on #6534
hello,
can I contribute to the problem.

[2022-10-09 13:29] ShuvamBag opened #6568 "Co- Prime check in an easy approach using C++"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2022-10-09 13:35] jonathlan commented on #3713
Hello !
First timer in hackoberfest here.
I will try this in JavaScript.

[2022-10-09 17:52] aniketraj1615 commented on #6524
Hello @AdiChat i want to code peak index in a mountain array leetcode problem in cpp. Please assign it to me under the label hacktoberfest

[2022-10-09 18:29] HarshGupta74 commented on #6447
hey @AdiChat please review my PR and also please make this hacktoberfest accepted

[2022-10-09 18:41] HarshGupta74 commented on #6508
hello @AdiChat please assign this to and review my PR this is my first time contributing to open source as well in Hacktoberfest
PR #6573

[2022-10-10 11:00] JenilShah0120 commented on #6514
Can I solve this issue?

[2022-10-10 12:21] HridoyHazard commented on #6568
what do you want? if you want to contribute plz make a pr on this issue. thanks

[2022-10-10 13:17] Avimathu commented on #6501
Can I take up this issue?

[2022-10-10 13:49] HridoyHazard opened #6581 "Some Methods Of Numerical Analysis Are Missing"
**This is a(n):**

- [X] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2022-10-10 14:23] ankitk84 commented on #6514
hey, can you assign it to me. I just started open source. It'll be me my first contribution. thank you

[2022-10-10 19:54] Princeton21 opened #6583 "Adding Unique Paths problem | Dynamic Programming"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
There is a robot on an m x n grid. The robot is initially located at the top-left corner (i.e., grid[0][0]). The robot tries to move to the bottom-right corner (i.e., grid[m - 1][n - 1]). The robot can only move either down or right at any point in time.

Given th

[2022-10-10 19:55] Princeton21 commented on #6583
@AdiChat Kindly assign me this issue.

[2022-10-11 09:06] Shivanisingh1809 opened #6586 "Implementation of Krushals Min Cost Spanning Tree Function in C++"
**This is  O(n logn) :**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x ] Proposal to the Repository

**Details:**

[2022-10-11 13:34] vivekranjan4256 opened #6587 "Adding code for reversing singly linked list"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

This algorith to reverse the singly linked list takes O(n) time and O(1) auxiliary space.

[2022-10-11 14:55] suprity04 commented on #6509
Hey @OpenGenus I want to add an efficient approach to your problem. Can you please assign this to me.

[2022-10-11 15:13] #6509 closed

[2022-10-11 16:15] iamAditya01 commented on #6587
can you assign me this

[2022-10-11 18:09] WillOfHeaven commented on #6528
So can I write the algorithm for this one in the format of a pseudocode or write the exact program in c++

[2022-10-12 04:38] beef-erikson opened #6594 "Code addition - C# For Loop"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

Adding in code example and full explanation behind a for loop in C#.

[2022-10-12 08:01] Rsakshi11 commented on #3748
i would like to contribute

[2022-10-12 08:03] Rsakshi11 commented on #3686
hi @AdiChat please assign this issue to me

[2022-10-12 08:05] Rsakshi11 commented on #3706
hey,, @AdiChat @Lechenco @souvik3333 @vikram2000b @arnavb I am interested to add code in Gaussian Naive Bayes

[2022-10-12 08:16] MehakGupta1103 commented on #6583
please assign this issue to me @AdiChat , as i have solution ready with me in 3 differernt ways.

1. dp memoization
2. dp recursive
3. math - nCr formula based

[2022-10-12 15:14] akanksha0214 commented on #6587
Hey please assign me this issue I want to work on it.

[2022-10-12 18:16] beef-erikson opened #6603 "Code addition - If/else if/else for C#"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [X] Proposal to the Repository

**Details:**

Explaining and showing examples using if/else if/else flow conditionals.

[2022-10-12 19:48] Ananyapam7 opened #6606 "Majority Element Algorithm using randomization"
**This is O(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

The current implemented algorithm which finds the majority element of an array is the Moore-Voting algorithm. However, there are a few other ways to solve this problem which I believe must be a part of this repository. One of them is using a randomized algorithm.

[2022-10-12 20:12] Ananyapam7 commented on #6606
I have submitted the pull request #6607 for this issue as a part of the Hacktoberfest 2022.

[2022-10-13 08:00] imNilabja commented on #6514
I would like to do this task,can you assign me.

[2022-10-13 10:28] Mahesmati commented on #6508
hey!do assign me the this issue

[2022-10-13 13:32] somiyaAgarwal commented on #6514
Hey! I want to work on this issue. Can you assign this to me.

[2022-10-13 16:59] palprashant2002 commented on #6514
Please assign this issue to me...

[2022-10-13 17:47] Dhruvil-Lakhtaria commented on #6445
hey there I would like to work with this issue. Can you assign it to me.

[2022-10-13 19:24] Devchawla2608 commented on #6514
Please assign this issue to me...

[2022-10-13 19:25] Devchawla2608 commented on #6501
Can I take up this issue?

[2022-10-14 06:41] RadhikaChhabra17 commented on #6473
Hi, I would like to add calculate power using recursion. Can you assign this to me?

[2022-10-14 12:18] AShreyam commented on #6428
I would like to contribute in this.

[2022-10-14 12:22] AShreyam commented on #6428
I would like to Implement new algorithms including Sorting and Searching in python language.

[2022-10-14 13:10] 12rashic opened #6615 "Needs a Java Interview Question set"
Would Like to contribute to repo by adding some quality questions and helpfull links .
Kindly assign the issue to me
Thank You

[2022-10-14 13:57] Shivanisingh1809 commented on #6586
@AdiChat  please review and accept my PR for hacktoberfest

[2022-10-14 16:16] imNilabja commented on #6514
I would like to do this task ,can you assign me.

[2022-10-14 16:17] imNilabja commented on #6505
I would like to do this task ,can you assign me.

[2022-10-14 16:19] imNilabja commented on #6092
I would like to do this task ,can you assign me.

[2022-10-15 05:40] Curovearth opened #6621 "Cell Segmentation using Image Processing Technique"
**This is a(n):**

- [ ] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [x] Proposal to the Repository

**Details:**

With the rise of size and complexity of cell images, the requirements for cells segmentation methods are also increasing. The basic image processing algorithm developed decades ago should not be the golden standards for dealing with these challenging cell segment

[2022-10-15 05:41] Curovearth commented on #6621
I have also submitted a pull request #6593 for the same.

[2022-10-15 08:13] jonathlan commented on #3713
Hi there!
Just wondering if there is anybody available to take a look at my PR https://github.com/OpenGenus/cosmos/pull/6569?
Would love to know your comments.

Thanks!

[2022-10-16 03:56] konan625 commented on #6587
@vivekranjan4256 Hi Sir, Can you assign this task to me?

[2022-10-16 03:57] konan625 commented on #6555
@KunalKartik02 Can you assign this to me ? I have the solution ready.

[2022-10-16 05:33] AdityaShaw1 commented on #6568
can u pls assign me to this issue??

[2022-10-16 05:34] AdityaShaw1 commented on #6524
hi pls assign me to this issue

[2022-10-16 08:58] Sachin4219 commented on #6428
I would like to implement the function to print subsequences in C++ language

[2022-10-16 12:33] Jahnvi13 commented on #6562
@AdiChat kindly approve and assign.

[2022-10-16 12:34] Jahnvi13 commented on #6563
@AdiChat kindly approve and assign.

[2022-10-16 12:34] Jahnvi13 commented on #6564
@AdiChat kindly approve and assign.

[2022-10-16 16:17] tejaskh3 commented on #4023
I am a beginner but I can work on this so please assign this to me.

[2022-10-17 01:55] #6470 closed

[2022-10-17 17:54] sourav-naskar commented on #6534
@AdiChat Can you assign it to me with a "hacktoberfest" label?

[2022-10-17 17:54] sourav-naskar commented on #6533
@AdiChat Can you assign it to me with a "hacktoberfest" label?

[2022-10-17 18:41] Curovearth commented on #6621
Hey @AdiChat. If there's no problem with the pull request, could you please merge it -> #6593 .
If there's any updation that is required, do let me know.
I see that you have added the `hacktoberfest` label to this issue (stating a new proposal).

[2022-10-18 07:36] AayushVerma2411 commented on #6555
Can you please assign this issue to me?

[2022-10-18 19:40] vidhi0511 commented on #6587
@vivekranjan4256 Hi, I am pretty confident that I can do it. Please assign this task to me.

[2022-10-18 19:44] vidhi0511 commented on #6445
@awdhesh-kumar27 Hi, I am pretty confident that I can do it. Please assign this task to me.

[2022-10-18 19:45] vidhi0511 commented on #6422
Hi, I am pretty confident that I can do it. Please assign this task to me.

[2022-10-18 23:21] awdhesh-kumar27 commented on #6445
Hi @vidhi0511 , I am sure you can do that , but I am not an Owner of this repo. If you want to contribute for hacktoberfest2022 then try in other repo, because this repo rarely accepting the code. Hope you understood.

[2022-10-19 17:22] GeeteshMehto commented on #6621
Hello sir, please assign this issue to me as i already worked on this kind of problem in past and has a great experience.

[2022-10-19 22:30] Denisthatorf commented on #6422
I have a very nice implementation of std::function. Can I contribute to this one?

[2022-10-20 13:58] RayotiKar commented on #6514
Is the issue still available? If it is I would like to take it up.

[2022-10-22 06:45] #5616 closed

[2022-10-22 07:56] sourav-naskar opened #6647 "Minimum Cost to Cut a Stick DP Problem(new addition)[hacktoberfest]"
This is a(n):

[*]New algorithm/problem
Details:

I want to add "Minimum Cost to Cut a Stick" DP problem. @AdiChat Can you assign it to me with a "hacktoberfest" label?

thank you,
Sourav

[2022-10-22 08:00] sourav-naskar opened #6648 "Maximum sum possible equal sum of three stacks Problem(new addition)[hacktoberfest]"
This is a(n):

[*]New algorithm/problem
Details:

I want to add "Maximum sum possible equal sum of three stacks" problem. @AdiChat Can you assign it to me with a "hacktoberfest" label?

thank you,
Sourav

[2022-10-22 14:32] JaiSukheja commented on #6501
Please assign this issue to me

[2022-10-22 14:34] JaiSukheja commented on #6524
hello @AdiChat i want to implement peak index in a mountain array leetcode problem in cpp please assign it to me under the label hacktoberfest

[2022-10-22 18:22] Purvi-sai commented on #6587
hello sir, I would like to contribute in this issue. Please assign this to me.

[2022-10-23 03:08] Purvi-sai commented on #6422
I would like to contribute in this issue, Please assign this to me

[2022-10-23 03:08] Purvi-sai commented on #6422
I would like to contribute in this issue, Please assign this to me

[2022-10-23 06:09] jaivanti commented on #3711
Hello! I am interested to contribute for this !

[2022-10-23 07:07] jaivanti commented on #3711
Hi! I am looking to contribute for this issue...Would update this as soon as possible

[2022-10-23 11:14] ergovind08 commented on #4957
kindly assign me

[2022-10-23 13:42] Sulagnaaa commented on #6587
please assign me this issue

[2022-10-24 06:19] khushal2510 commented on #6543
I can resolve this issue.
Assign this issue to me

[2022-10-25 04:18] Avijit-1352 commented on #6603
hello i will do it ,can you assign this issue to me?

[2022-10-25 04:19] Avijit-1352 commented on #6603
i will do it,can you assign this issue to me?

[2022-10-25 09:36] Pragya1413 commented on #6587
hello sir!! please assign this issue to me.

[2022-10-25 15:56] Shivani1917 opened #6664 "Added new css padding example code and image.[hactoberfest]"
**This is a(n):**

- [x] New algorithm
- [ ] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
Example code for padding css.
Image is attached for the preview.

![code html](https://user-images.githubusercontent.com/79411680/197822849-2a904db1-b785-46bf-b27b-5ec0d2cfab18.png)

resolves #6663

[2022-10-26 08:28] ManviGoel26 opened #6667 "C++ Code for DP Problem: Maximum product of an increasing subsequence"
**This is a(n):**

- [ ] New algorithm
- [x] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**
I would like to add C++ code for the problem, the Maximum product of an increasing subsequence.

[2022-10-26 08:30] ManviGoel26 commented on #6667
Could you please assign me the issue under Hacktoberfest?

[2022-10-26 09:44] #6505 closed

[2022-10-28 05:33] VishwaS-22 commented on #6615
Hey @AdiChat! Am currently learning Dsa in Java with help of several communities and some OpenSource repos. I'm interested to work on this Issue. Can you please assign it to me?

[2022-10-28 05:42] VishwaS-22 commented on #6615
Hey @12rashic! This [DSA-Java Bootcamp](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java) contains many Codes for Interview Prep. From here you can start learning and by slowly it helps you to solve many Leetcode Problems too.

Thank You.

[2022-10-28 05:53] VishwaS-22 commented on #6587
@Sulagnaaa Your code looking awesome to me. Thanks for the Contribution. It helps me for my DSA-Java Prep too.
Hope your PR got merged soon.

Thankyou!

[2022-10-28 06:06] VishwaS-22 opened #6674 "Add DSA-Java Prep links"
Hey there! Am currently learning DSA in Java with the help of Communities and Open Source. Am opening this issue because to help the Folks who is currently learning DSA and trying to solve problems in Leetcode as well as other Problem Solving platforms.
Am also eager to add Resources link and very much waiting to see other folks learning resources.

Thankyou!

[2022-11-04 20:19] kwe92 opened #6691 "Binary Heap Dart Lang"
**This is a(n):**

- [ ] New algorithm
- [ X] Update to an existing algorithm
- [ ] Error
- [ ] Proposal to the Repository

**Details:**

[2022-11-04 20:19] kwe92 commented on #6691
@AdiChat please assign this to me

[2022-11-24 00:43] Giorgio-Matessi commented on #4957
I would love an assignment.