[2017-10-01 10:38] AdiChat opened #1 "Add Interpolation search"
Add the code for `interpolation search` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/search/interpolation search](https://github.com/OpenGenus/cosmos/tree/master/code/search/interpolation_search)

Your pull request will be reviewed by maintainers instantly.

If you need any help, let us know.

[2017-10-01 10:46] waseem18 commented on #1
Hey @AdiChat I would like to work on this issue as a part of hacktoberfest!

[2017-10-01 10:52] AdiChat commented on #1
Sure, @waseem18 go ahead. 👍

[2017-10-01 10:54] waseem18 commented on #1
Coo! Will put a PR when done

[2017-10-01 11:02] AdiChat opened #3 "Add exponential search"
Add the code for `exponential search` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/search/exponential search](https://github.com/OpenGenus/cosmos/tree/master/code/search/exponential_search)

Your pull request will be reviewed by maintainers instantly.

For contribution guidelines, see [this](https://github.com/OpenGenus/cosmos/wiki/contribu

[2017-10-01 11:09] frextrite commented on #3
Hi @AdiChat I can do this.

[2017-10-01 11:10] AdiChat commented on #3
Sure. Go ahead. 👍

[2017-10-01 11:17] AdiChat opened #4 "Add Jump search"
Add the code for `jump search` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/search/jump search](https://github.com/OpenGenus/cosmos/tree/master/code/search/jump_search)

**Note**: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For contribution

[2017-10-01 11:24] waseem18 commented on #4
@AdiChat Will be working on Jump search - Python.

[2017-10-01 11:29] navendu29 commented on #4
Hi @AdiChat  can i work on this through Java?

[2017-10-01 11:29] AdiChat commented on #4
Sure @navendu29 👍

[2017-10-01 11:33] AdiChat opened #8 "Add ternary search"
Add the code for `ternary search` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/search/ternary search](https://github.com/OpenGenus/cosmos/tree/master/code/search/ternary_search)

**Note**: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For cont

[2017-10-01 11:35] waseem18 commented on #8
Would be working on this too - Python

[2017-10-01 11:45] navendu29 commented on #8
Can i work on this too?(Java)

[2017-10-01 11:46] OFFLlNE commented on #8
I will try to work on this --- JavaScript

[2017-10-01 11:47] navendu29 commented on #1
I would like to work on this too.

[2017-10-01 11:48] AdiChat commented on #8
Sure 👍

[2017-10-01 12:00] AdiChat opened #11 "Add bubble sort"
Add the code for `bubble sort` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/sorting/bubble sort](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/bubble_sort)

**Note**: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For contributio

[2017-10-01 12:02] gautam2705 commented on #11
I want to :)

[2017-10-01 12:02] AdiChat commented on #11
Sure. Go ahead. 👍

[2017-10-01 12:02] jainkeval commented on #11
I will work on it for c language

[2017-10-01 12:04] AdiChat commented on #11
Sure. 👍

[2017-10-01 12:05] frextrite commented on #3
File named exponentialsearch.cpp already exists which contains code from GeeksForGeeks. Am I supposed to commit a self created code for exponential search(C++) or should I push code for other languages apart from C++?

[2017-10-01 12:08] shashank-sharma commented on #11
I would like to work on python if possible

[2017-10-01 12:08] AdiChat commented on #3
Go ahead and submit a pull request. We need self-created code. 👍
It must have come from another pull request.

You can try other languages or other issues as well.

[2017-10-01 12:09] n0zg commented on #11
I will do the java version

[2017-10-01 12:13] choudhary001 commented on #8
I will try to work on this - C language

[2017-10-01 12:37] ahhmarr commented on #11
#18
for JavaScript

[2017-10-01 12:47] choudhary001 commented on #11
Hi I am trying to learn Rust language. Will that be accepted if I submit Rust versions of these algorithms?
Thanks!

[2017-10-01 12:47] n0zg commented on #11
I've already added the code for Bubble Sort in Java :)

[2017-10-01 12:48] AdiChat commented on #11
Yes, @choudhary001 go for it.

[2017-10-01 13:06] sirjan13 commented on #8
coded in Cpp.Please check PR #25

[2017-10-01 13:10] ahhmarr opened #26 "Add Bucket Sort"
Add the code for bucket sort in any language ( C, C++, Java, Go, Python or any other)

The code should be placed at [code/sorting/bubble sort
](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/bucket_sort)

Note: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For contribution guidelines, s

[2017-10-01 13:11] ahhmarr commented on #26
#27
for JavsScript

[2017-10-01 13:13] ahhmarr commented on #26
@AdiChat can u add labels

[2017-10-01 13:13] Sanyam96 commented on #11
I want to ;)

[2017-10-01 13:21] AdiChat commented on #26
Sure

[2017-10-01 13:23] AdiChat commented on #11
Go ahead 👍

[2017-10-01 13:31] navendu29 commented on #26
I will add code for java.

[2017-10-01 13:38] piyush-imad commented on #4
@AdiChat  i Would like to work on this issue for c++

[2017-10-01 13:40] AdiChat commented on #4
@piyush-imad Jump search in C++ has been pushed. You can make a pull request to make improvements to the existing code. ([see](https://github.com/OpenGenus/cosmos/blob/master/code/search/jump_search/jumpsearch.cpp))

[2017-10-01 13:40] Saakshi29 commented on #26
I will add code for C++.

[2017-10-01 13:40] charul97 commented on #11
I want to do it for C++

[2017-10-01 13:44] AdiChat commented on #11
@charul97 Bubble sort in C++ has been pushed. Kindly take a look at other requirements or make a pull request to make improvements to the existing code. ([see](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/bubble_sort/bubble_sort.cpp))

[2017-10-01 13:47] mil1200 commented on #26
i added code in C https://github.com/OpenGenus/cosmos/pull/31

[2017-10-01 13:53] sirjan13 opened #36 "Add Counting Sort"

[2017-10-01 13:53] sirjan13 commented on #36
Please Review #33

[2017-10-01 13:54] endiliey commented on #11
#35

I created a pull request for an improvement to the existing code. Instead of doing it in procedural way, I've implemented it such that it's implemented as a function. Using it is as simple as `bubble_sort(our_vector);`

[2017-10-01 14:06] trshimpi commented on #11
i wanna add the code in c++

[2017-10-01 14:09] trshimpi commented on #3
i would like to work on it

[2017-10-01 14:10] ahhmarr opened #38 "Add Heap Sort"
Add the code for heap sort in any language ( C, C++, Java, Go, Python or any other)

The code should be placed at [code/sorting/heap_sort](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/heap_sort)

Note: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For contribution guidelines, see [thi

[2017-10-01 14:13] trshimpi commented on #26
I will add the code in python

[2017-10-01 14:13] bureken opened #41 "Add Quick Sort"
Add the code for bucket sort in any language ( C, C++, Java, Go, Python or any other)

The code should be placed at [code/sorting/quick sort](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/quick_sort)

Note: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For contribution guidelines, see

[2017-10-01 14:16] octamois commented on #1
@AdiChat
I wish to work on C++ code.
I'll send PR soon.

[2017-10-01 14:17] jainkeval commented on #41
I would do it for c and javascript

[2017-10-01 14:19] sirjan13 commented on #36
is this under label:Hacktoberfest?

[2017-10-01 14:23] AdiChat commented on #36
sure

[2017-10-01 14:29] willshiel commented on #38
I could add Java

[2017-10-01 14:35] aedorado commented on #41
Adding quicksort for java.

[2017-10-01 14:39] sirjan13 opened #49 "Add Code for No of ways to reach the end of maze(BackTracking)"
Solution to famous Rat in Maze Backtracking Problem

[2017-10-01 14:40] sirjan13 commented on #49
Please Review PR #50.

[2017-10-01 14:47] endiliey commented on #38
Added heap sort implementation in c++ #51

[2017-10-01 14:53] endiliey commented on #41
Implementing it in c++

[2017-10-01 14:59] sirjan13 commented on #49
are any updates required in #50 ?

[2017-10-01 15:00] AdiChat commented on #49
It has been merged. 👍

[2017-10-01 15:03] jainkeval commented on #41
what do u expect to do in js..
just a function or an html file

[2017-10-01 15:11] AdiChat commented on #41
A `JavaScript` function will do.

[2017-10-01 15:12] ankushChatterjee commented on #26
#60
For Python

[2017-10-01 15:14] Saakshi29 commented on #4
I would like to work on this issue for C

[2017-10-01 15:28] ansonb commented on #38
Added heap sort in python #62

[2017-10-01 15:35] harshit98 commented on #41
I will add quicksort in Go language. 👍

[2017-10-01 15:37] sirjan13 opened #64 "Add code for Solving Sudoku By backtracking"

[2017-10-01 15:37] sirjan13 commented on #64
plz review PR #63

[2017-10-01 15:42] OFFLlNE commented on #38
Added heap in JavaScript #65

[2017-10-01 15:49] Saakshi29 commented on #38
I could add in C.

[2017-10-01 15:53] harjot3200 opened #69 "add code for spiral printing of an array"
#hacktoberfest

[2017-10-01 16:22] sirjan13 commented on #64
is the code good to be merged?

[2017-10-01 16:29] haggcoder commented on #69
I would like to add **Java** code for **spiral printing** of a 2D Array

[2017-10-01 16:49] haggcoder commented on #41
Adding **Quick Sort** in **C#**

[2017-10-01 16:50] shiri1248 commented on #36
I would like to add  implementation in c

[2017-10-01 17:05] imaprincess commented on #69
I'll do it 😄
I don't know where to put the code, I'll put it in "unclassified", in a directory called "spiral printing of an array". Is it ok?

[2017-10-01 17:07] vstrimaitis commented on #69
I could also work on it in C++ or maybe some other language if needed. 😃

[2017-10-01 17:40] Deangelogn commented on #1
I would like to work on Python code.

[2017-10-01 17:47] shubhamverma1997 commented on #36
I can do it . You can assign it to me .

[2017-10-01 17:54] waseem18 commented on #1
@Deangelogn Python code for Interpolation search has already been added!

[2017-10-01 17:56] Troesler95 commented on #38
I can add a Ruby implementation!

[2017-10-01 18:03] vstrimaitis commented on #36
Added the implementation in C#: #90

[2017-10-01 18:08] Jecoms commented on #26
I'll add code for C#.

[2017-10-01 18:31] vstrimaitis opened #93 "Add Selection sort"
Add the code for selectionsort in any language ( C, C++, Java, Go, Python or any other)

The code should be placed at code/sorting/selection_sort

[2017-10-01 18:32] vstrimaitis commented on #93
Added implementation in C++: #85

[2017-10-01 18:38] minijainsahab commented on #93
I will do it in java.

[2017-10-01 18:42] vstrimaitis opened #94 "Add Breadth First Search"
Add the code for the breadth-first search algorithm in any language.
The code should be placed at code/graph-algorithms/breadth_first_search

[2017-10-01 18:43] vstrimaitis commented on #94
Added the first implementation in C++: #88

[2017-10-01 18:43] vstrimaitis opened #95 "Add Depth First Search"
Add the code for the depth-first search algorithm.
The code should be placed under /code/graph-algorithms/depth_first_search.

[2017-10-01 18:44] vstrimaitis commented on #95
Added the first implementation in C++: #86

[2017-10-01 18:45] vstrimaitis opened #96 "Add Sieve of Eratosthenes"
Add the code for the sieve of Eratosthenes algorithm.
The code should be placed under /code/mathematical-algorithms/sieve_of_eratosthenes.

[2017-10-01 18:45] vstrimaitis commented on #96
Added the first implementation in C++: #91

[2017-10-01 18:58] vaibhavsingh97 commented on #93
@vstrimaitis Can i work on this?

[2017-10-01 19:02] n0zg commented on #93
I will do the java version

[2017-10-01 19:07] beatfreaker commented on #93
Added implementation in JavaScript [#99](https://github.com/OpenGenus/cosmos/pull/99)

[2017-10-01 19:07] vaibhavsingh97 commented on #93
@n0zg Java version is already there
I will do in python

[2017-10-01 19:44] sudhanshuchopra commented on #69
can i work on it?

[2017-10-01 19:47] imaprincess commented on #69
I have already made a pull request with my code

[2017-10-01 19:59] sudhanshuchopra commented on #69
for c language @imaprincess ?
I will do it for python and javascript.

[2017-10-01 19:59] imaprincess commented on #69
Yes, I wrote it in C language @sudhanshuchopra

[2017-10-01 20:17] ArunaMaurya221B commented on #96
Can I work on the java version for this??

[2017-10-01 20:19] Deangelogn commented on #1
Hi, @waseem18! Can I implement a C code instead?

[2017-10-01 20:22] sudhanshuchopra commented on #69
Added implementation in python #108
please review

[2017-10-01 20:24] eaho1 commented on #94
Added Python implementation: #109

[2017-10-01 21:10] Guilhermeslucas commented on #69
I'll work on it for go!

[2017-10-01 21:17] sudhanshuchopra opened #113 "Divide two integers without using multiplication, division and mod operator (Bit Manipulation)"
Divide two integers without using multiplication, division and mod operator.

One has to return the floor of the result of division

Example
9/4=2

[2017-10-01 21:19] AdiChat commented on #1
Sure. Go ahead. 👍

[2017-10-01 21:21] AdiChat commented on #38
Go for it 👍

[2017-10-01 21:30] AdiChat commented on #96
Sure. Go ahead.

[Contribution guidelines](https://github.com/OpenGenus/cosmos/wiki/contribute)

[2017-10-01 21:57] Guilhermeslucas commented on #69
opened a pull request for this.

[2017-10-01 22:12] leodevo commented on #11
#106

I made this pullrequest to also improve the existing code.
bubble_sort.cpp was not compiling, and I then added another commit to improve the coding style

[2017-10-01 22:25] philipyoo commented on #96
Added a Javascript implementation here: https://github.com/OpenGenus/cosmos/pull/117

[2017-10-01 22:34] Deangelogn commented on #113
Hi, @sudhanshuchopra! May I try this one?

[2017-10-01 23:18] Deangelogn commented on #113
I have made a pull request with my code

[2017-10-01 23:19] keeferrourke opened #119 "Consider a less restrictive license"
By licensing this repository under the GNU General Public License, your "library of knowledge" which contains code that is general purpose in nature, is legally restricted to only be used in projects which are GPLv3 compatible.

This is bad for accessibility reasons, and very likely defeats your intended purpose.

Please consider re-licensing under the GNU Lesser Public License ([LGPLv3](https://e

[2017-10-01 23:31] AdiChat commented on #119
Thanks for pointing it out.
We will consider another license, as we move on, which is compatible with the sister projects of this work.

[2017-10-01 23:48] AdiChat opened #120 "Add contributors list"
The task is to design a list of contributors to this repository.

The file name should be `contributors.md` and must be located at the root.

I shall make the initial design, thereafter, this will be opened for contribution as well.

[2017-10-01 23:53] devshiva619 commented on #120
@AdiChat I would like to work on this after you are done with the initial design. Assign it to me and I will start working on it. :smiley:

[2017-10-02 00:32] Guilhermeslucas commented on #11
I'll right it on golang.

[2017-10-02 00:54] Vitorvgc commented on #113
I have implemented a Python version: #122

[2017-10-02 01:00] Jecoms commented on #96
I'll add a C# version.

[2017-10-02 01:08] druzmieres commented on #96
I can work on the Go version of this.

[2017-10-02 02:42] druzmieres commented on #113
I'll try this one in Go

[2017-10-02 02:45] druzmieres commented on #96
#124

[2017-10-02 03:54] ms10398 opened #130 "Add Stack, Queue and BST in data structures in Javascript"

[2017-10-02 04:07] ms10398 opened #133 "Add Stack, Queue and Linked List in Java"

[2017-10-02 04:45] AdiChat opened #134 "Add bellman ford algorithm"
Add the code for `bellman ford algorithm` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/graph-algorithms/bellman_ford_algorithm](https://github.com/OpenGenus/cosmos/tree/master/code/graph-algorithms/bellman_ford_algorithm)

Your pull request will be reviewed by maintainers instantly.

**Note**: Multiple contributors can work on this and let

[2017-10-02 04:54] AkshGautam commented on #134
Can I be assigned for this?

[2017-10-02 05:06] AdiChat commented on #134
Go for it. 👍

[2017-10-02 05:12] beingadityak commented on #134
I am working on this (solution is type of dynamic programming) in Python

[2017-10-02 05:22] hwchiu commented on #36
Hi, I added the implementation in Go, #135

[2017-10-02 05:42] jainkeval commented on #93
will do it for c language

[2017-10-02 05:55] ankushChatterjee commented on #134
May I work on this in Java?

[2017-10-02 05:57] AkshGautam commented on #134
I will be working on cpp

[2017-10-02 06:08] beingadityak commented on #134
It is done. Please check the PR :)

[2017-10-02 06:13] AkshGautam commented on #134
It would be better if the owner of the repo assign the "assignee" tag since its getting confusing.

[2017-10-02 06:35] AdiChat commented on #134
One needs to join the Organization to get assigned. I have send you an invite. 👍

[2017-10-02 06:50] ankushChatterjee commented on #134
Added Java implementation PR #142

[2017-10-02 06:53] vstrimaitis commented on #130
Maybe this should be expanded to other languages as well? 😄

[2017-10-02 08:13] fahmitok97 opened #147 "Add Floyd Warshall Algorithm"
I've already creating the implementation in c++ #146

[2017-10-02 09:12] ms10398 commented on #130
Yes I will try to expand more

[2017-10-02 09:58] ArunaMaurya221B commented on #96
added the java version #153

[2017-10-02 09:58] beingadityak commented on #134
Please also assign me

[2017-10-02 10:03] AkshGautam commented on #134
Added bellman ford cpp implementation PR #154

[2017-10-02 10:13] RaiVaibhav commented on #93
@AdiChat added selection sort in ruby [151](https://github.com/OpenGenus/cosmos/pull/151)

[2017-10-02 10:47] fahmitok97 commented on #147
also done in python 3 #158

[2017-10-02 12:11] Sanyam96 commented on #95
I have implemented Depth First Search in Java
Kindly review #162 PR
https://github.com/OpenGenus/cosmos/pull/162

[2017-10-02 12:46] Sanyam96 commented on #95
I have implemented Depth First Search in Java
Kindly Review #163

[2017-10-02 12:50] Sanyam96 commented on #3
I have implemented Exponential Search in Java
kindly review #164

[2017-10-02 13:17] Sanyam96 commented on #94
I have implemented Breadth First Search in Java
kindly review #166

[2017-10-02 13:39] Vitorvgc opened #168 "Add binomial coefficient"
Add the code for `binomial coefficient`.

The code should be added at [code/dynamic_programming/binomial_coefficient](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/binomial_coefficient)

[2017-10-02 13:41] Vitorvgc commented on #168
Added the first implementation in C++: #167

[2017-10-02 13:58] AlabhyaVaibhav opened #170 "Add some class mathematical problems"
1729, Armstrong, Automorphic number,Neon number, Magic number etc. Would love to work on these

[2017-10-02 13:58] AlabhyaVaibhav opened #171 "Add some classical mathematical problems"
1729, Armstrong, Automorphic number,Neon number, Magic number etc. Would love to work on these

[2017-10-02 13:59] bamsarts commented on #134
added php language for bellman ford algorithm #169

[2017-10-02 14:03] abhishekjiitr opened #172 "Add some advanced data structures"
I would like to add some advanced data structures like **Binary Indexed Trees**, **Segment Trees**, **Tries** and more in the _data structures_ folder. Would love to work on this stuff!  #hacktoberfest

[2017-10-02 14:09] Sanyam96 commented on #168
I would like to work on it in C language

[2017-10-02 14:10] AdiChat commented on #170
Refer to #171

[2017-10-02 14:11] AdiChat commented on #172
Go for it 👍

[2017-10-02 14:18] AlabhyaVaibhav commented on #171
@AdiChat Assignee it to me please

[2017-10-02 14:22] Sanyam96 commented on #168
I have implemented in C language
kindly review #175

[2017-10-02 14:24] AdiChat commented on #171
You need to be a member to get this assigned. I have send you an invite. 👍

[2017-10-02 14:25] AlabhyaVaibhav commented on #171
Accepted thanks buddy :)

[2017-10-02 14:34] Sanyam96 commented on #147
I would like to implement in C language
@AdiChat

[2017-10-02 14:40] abhishekjiitr commented on #172
@AdiChat should I create a separate folder for _advanced data structures_ or should i make changes in _data structures_ folder only?

[2017-10-02 14:51] setupminimal commented on #96
I'd like to add a Haskell version when I get home tonight.

[2017-10-02 14:53] AkshGautam commented on #172
fenwick tree in cpp and python added please review PR #177

[2017-10-02 15:05] AdiChat commented on #172
@abhishekjiitr Create sub-folders for each type. Like a folder named `fenwick_tree` for code of fenwick tree in various languages. 👍

[2017-10-02 15:06] AdiChat commented on #96
Sure @setupminimal 👍

[2017-10-02 15:14] Vitorvgc opened #181 "Add edit distance solution"
Add the code for `edit distance` problem.

**Problem statement:**
Given two strings and three types of operation (insert, remove and replace a character), find the minimum number of operations needed to convert the first string into the second.

The code should be added at [code/dynamic_programming/edit_distance](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/edit_distanc

[2017-10-02 15:16] Vitorvgc commented on #181
Added the first implementation in C++: #180

[2017-10-02 15:20] rahulg963 commented on #147
@AdiChat
I would like to implement this Algorithm in C language

[2017-10-02 15:27] AkshGautam commented on #172
@AdiChat  i have already added fenwick tree in two languages. @abhishekjiitr can add segment tree and other DS.

[2017-10-02 15:30] abhishekjiitr commented on #172
let me see, if i can improve the code for fenwick tree / BIT
cheers @AkshGautam

[2017-10-02 15:30] AdiChat commented on #147
@rahulg963 Go for it 👍

[2017-10-02 15:32] Eleanor1702 commented on #113
I have sent a C++ version.

[2017-10-02 15:34] AkshGautam commented on #172
wait,i seem to have commited a wrong code for fenwick in cpp,let me recommit

[2017-10-02 15:36] murilodag commented on #113
I'll try this one in JS.

[2017-10-02 15:38] AkshGautam commented on #172
@AdiChat  review PR #184

[2017-10-02 15:39] rahulg963 commented on #147
@AdiChat
I have implemented Floyd Warshall Algo in C
kindly review #183

[2017-10-02 15:43] ansonb commented on #168
I would like to add a python implementation

[2017-10-02 15:45] rahulg963 commented on #181
@AdiChat I would like to work on it by using Python Language

[2017-10-02 15:53] shivanshsoni commented on #113
I will try this in java

[2017-10-02 15:57] sudhanshuchopra opened #187 "Making Linkedlist folder in data structures and adding linkedlist algorithms and programs"
I would like to add linkedlist sub folder in data structures folder and add some programs to it

[2017-10-02 15:59] sudhanshuchopra commented on #113
Sure go ahead

[2017-10-02 16:15] fahmitok97 opened #192 "Add Topological Sort Implementation"
already made c++ implementation in #191

[2017-10-02 16:17] setupminimal commented on #96
Added in #193.

[2017-10-02 16:28] ruchirchauhan opened #194 "Add Rabin-Karp string search algorithm"
Can I add Rabin-Karp pattern search algorithm in Python and C ?

[2017-10-02 16:30] fahmitok97 commented on #192
also done for python 3 in #195

[2017-10-02 16:37] sudhanshuchopra commented on #49
I would like to do this in java

[2017-10-02 16:51] foikila commented on #172
I have implemneted an ArrayStack i c++. Not sure if it counts as an Advanced data-structure though...
See PR #82

[2017-10-02 16:57] sudhanshuchopra commented on #49
kindly review #196
implemented in java

[2017-10-02 17:02] AdiChat commented on #194
Sure. Go for it. 👍

[2017-10-02 17:06] AdiChat commented on #120
@devshiva619 You may continue adding other members ([see](https://github.com/OpenGenus/cosmos/graphs/contributors)) to the current design ([see](https://github.com/OpenGenus/cosmos/blob/master/contributors.md))

[2017-10-02 17:08] AdiChat commented on #181
@rahulg963 Go for it 👍

[2017-10-02 17:16] Sanyam96 commented on #194
I would like to implement in java

[2017-10-02 17:18] AdiChat commented on #168
Sure. Go for it. 👍

[2017-10-02 17:20] SandySingh opened #198 "Add queue in data structures"
Can I add queue data structure in python?

[2017-10-02 17:22] Sanyam96 commented on #192
I would like to implement in java
@AdiChat

[2017-10-02 17:24] AdiChat commented on #198
Sure. Go for it.

You need to add a `queue` folder at [this location](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures)

[2017-10-02 17:30] setupminimal opened #199 "Implement Radix Sort"
Radix sort currently has no implementations, which is sad. I'm working on a Haskell implementation.

This should be in /code/sorting/radix_sort

[2017-10-02 17:36] rahulg963 commented on #192
@AdiChat  I would like to implement in C

[2017-10-02 17:37] danielvieiravega commented on #171
Hi, Can I add a Delannoy number generator (https://en.m.wikipedia.org/wiki/Delannoy_number)?

[2017-10-02 17:41] ansonb commented on #168
Implemented. Please review #200

[2017-10-02 17:46] SuyashLakhotia opened #202 "Implement Trie"

[2017-10-02 17:54] AdiChat commented on #192
@rahulg121 Go for it. 👍

[2017-10-02 17:54] AdiChat commented on #171
Sure, @danielvieiravega Go for it. 👍

[2017-10-02 17:59] rahulg963 commented on #192
@AdiChat my github id is rahulg963.
I have already implemented this. Please review my pull request.
#201

[2017-10-02 18:10] Sanyam96 commented on #194
@AdiChat
Kindly review my PR #206

[2017-10-02 18:14] ruchirchauhan commented on #194
Implementation in C
Please review PR #207

[2017-10-02 18:36] sudhanshuchopra commented on #187
@AdiChat pls see #196
I accidentally made this commit in my last open pull request.
I hope it doesnot cause any problem or i can close or do it again
Do let me know

[2017-10-02 18:43] dhruvhacks commented on #130
@AdiChat May I contribute the C and C++ implementation for Stack, Queue and BST data structures here?

[2017-10-02 18:51] yashasingh commented on #199
@AdiChat May I take up java implementation for radix sort ?

[2017-10-02 19:03] nimit17 commented on #198
Can I add queue using linked list ??

[2017-10-02 19:13] dhruvhacks opened #214 "Add implementation of tower-of-hanoi."
@AdiChat May I take up the C and C++ implementations of this issue?

[2017-10-02 19:30] AdiChat commented on #214
Sure. Go ahead 👍

[2017-10-02 19:31] sirjan13 opened #215 "Add Implementation of Manachar's Algorithm"
Add code for Famous Manachar's Algorithm in String

[2017-10-02 19:34] sirjan13 commented on #215
Plz Review PR #216

[2017-10-02 19:51] sirjan13 opened #219 "Add Code for Mo's algorithm (square root decomposition)"

[2017-10-02 19:53] nymarya commented on #198
@AdiChat Can I add c++ implementation?

[2017-10-02 19:58] dhruvhacks commented on #214
I am attaching python implementation as well :slightly_smiling_face:

[2017-10-02 20:02] BenjaminFarley commented on #11
Has someone got Go? If not, I would like to do it.

[2017-10-02 20:07] himanish98 commented on #214
I would like to take up the issue.

[2017-10-02 20:07] AdiChat commented on #199
Sure @yashasingh Go for it 👍

[2017-10-02 20:08] AdiChat commented on #214
Go for it 👍

[2017-10-02 20:09] AdiChat commented on #198
Sure @nymarya Go ahead 👍

[2017-10-02 20:11] AdiChat commented on #198
You may do so, @nimit17 👍

[2017-10-02 20:12] sirjan13 commented on #219
plz Review PR #221

[2017-10-02 20:13] AdiChat commented on #192
merged 👍

[2017-10-02 20:15] AdiChat commented on #187
No problem. Merged 👍

[2017-10-02 20:16] AdiChat commented on #130
Go ahead 👍

[2017-10-02 20:21] manish1997 opened #223 "Add Segmented Sieve of Eratosthenes"
I didn't find it in the code. I would like to add it thus creating a issue. Assign it to me. I would like to work on this.

[2017-10-02 20:25] murilodag commented on #3
Hello @AdiChat, could I work on this for JavaScript?

[2017-10-02 20:29] AdiChat commented on #223
Go ahead 👍

To get assigned, you need to join our organization. I have sent an invite.

[2017-10-02 20:46] abhishekjiitr commented on #172
@AdiChat please review!
https://github.com/OpenGenus/cosmos/pull/225

[2017-10-02 20:49] ribhav-pahuja commented on #202
I would like to take this up

[2017-10-02 20:57] abhishekjiitr commented on #202
I can take up the C++ version :)

[2017-10-02 21:00] devshiva619 commented on #120
@AdiChat sure I will start working on this.

[2017-10-02 21:24] prashant0598 opened #229 "Add Boyer_Moore_Algorithm"
Only a Readme is made it in the code. I would like to add it thus creating an issue. Assign it to me. I would add the C++ and Python Implementation.

[2017-10-02 21:31] prashant0598 opened #231 "Add Dijkstra_Algorithm"
Only C++ version is present. I would like to add C and Python Implementation. Thus creating an issue Pls assign it to me.

[2017-10-02 22:07] NishantTanwar commented on #223
Added sieve of erathosthenes. Please review @AdiChat

[2017-10-02 22:12] manish1997 commented on #223
@AdiChat done.

[2017-10-02 22:17] NishantTanwar commented on #214
I may go for javascript.

[2017-10-02 22:40] keyaa commented on #214
I would like to try for a Java version?

[2017-10-02 22:43] NishantTanwar commented on #181
I would go for C version. Please assign @AdiChat

[2017-10-03 02:16] c650 opened #237 "Algorithm X?"
Hi, is there an implementation of algorithm x here? Hard to find considering the word "Algorithm" is everywhere.

If not, I'd like to add it.

[2017-10-03 02:51] Guilhermeslucas commented on #93
I'm writing it in golang!

[2017-10-03 03:29] Vitorvgc opened #243 "Add longest common subsequence solution"
Add the code for `longest common subsequence` problem.

The code should be added at [code/dynamic_programming/longest_common_subsequence](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/longest_common_subsequence)

[2017-10-03 03:33] Vitorvgc commented on #243
**Obs:** Java version is already implemented ([iterative](https://github.com/OpenGenus/cosmos/blob/master/code/dynamic_programming/longest_common_subsequence/LongestCommonSubsequence.java) and [recursive](https://github.com/OpenGenus/cosmos/blob/master/code/dynamic_programming/longest_common_subsequence/LongestCommonSubsequenceRec.java) approaches).

[2017-10-03 03:36] Vitorvgc commented on #243
Added implementation in C++: #242

[2017-10-03 03:57] AdiChat commented on #229
Sure. Go ahead.
To get this assigned, you need to be in the community. I have send you an invite. 👍

[2017-10-03 04:02] AdiChat commented on #237
Sure. Go ahead and add it. 👍

You will have to place your code in a folder named `algorithm_x` under `backtracking` folder.
You may also create a new category folder `decision_problem`

[2017-10-03 04:06] AdiChat commented on #214
@keyaa You may try to add code for some other task. There are several scopes for contribution 😄

[2017-10-03 04:08] AdiChat commented on #202
Sure. Go ahead 👍

[2017-10-03 04:09] AdiChat commented on #181
Go ahead 👍

I have send you an invite

[2017-10-03 04:11] AdiChat commented on #11
Looks good 👍

[2017-10-03 05:06] prashant0598 opened #245 "Added Binary Search Tree"
@AdiChat Pls review #244 . I have implemented it in  python

[2017-10-03 07:04] sudhanshuchopra commented on #187
@AdiChat  please review #247

[2017-10-03 08:47] taakasj opened #254 "Add Z - algorithm for string"

[2017-10-03 08:48] #254 closed

[2017-10-03 10:08] NishantTanwar commented on #181
@AdiChat please review #233 I have added

[2017-10-03 10:31] NishantTanwar commented on #181
Issue #181 Added #233 pls review.

[2017-10-03 10:35] kabiir commented on #245
@AdiChat Is datlang also supported, i can implement it in dat lang.

[2017-10-03 10:38] prashant0598 commented on #245
@AdiChat  Pls review #244

[2017-10-03 10:50] prashant0598 commented on #231
@AdiChat Pls review #257

[2017-10-03 11:03] AdiChat commented on #245
Yes, @kabiir Go ahead. 👍

[2017-10-03 11:06] AdiChat commented on #245
Merged 👍

[2017-10-03 11:15] levifranca opened #259 "Add Minimum Coin algorithm"
Add the minimum coin greedy algorithm under [code/greedy-algorithms/minimum_coins](https://github.com/OpenGenus/cosmos/tree/master/code/greedy-algorithms/minimum_coins) .

[2017-10-03 11:18] levifranca commented on #259
Please, assign it to me. I'll add later tonight versions in JS, Java, Python and C++.

[2017-10-03 11:21] AdiChat commented on #259
Sure @levifranca

You need to be a member of our community to get assigned. I have send you an invite. 👍

[2017-10-03 11:23] AkshGautam commented on #259
@AdiChat may i do this or any other greedy algo?

[2017-10-03 11:23] kabiir commented on #245
@adichat okay I'll be implementing all the algorithms and data structures I can in this repo, one PR at a time when starting with this BST. Just to make sure that no one else starts contributing the same, I'll be starting with BST right now. And open issues for other algo for dart lang.

[2017-10-03 11:32] AdiChat commented on #259
You may focus on categories which does not have any code but you must also have **fun** 🎉 , so, do what looks good to you. 👍

[2017-10-03 11:33] AdiChat commented on #245
Sure 👍

[2017-10-03 11:36] AkshGautam commented on #259
@AdiChat  could you please review PR #184  as well.i made the required changes,if its all good to merge, I would proceed on other algo

[2017-10-03 11:42] AdiChat commented on #259
Looks good 👍
Merged

[2017-10-03 12:10] AdiChat opened #263 "Add Ford fulkerson algorithm"
Add the code for `Ford fulkerson algorithm for maximum flow` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/graph-algorithms/ford_fulkerson_maximum_flow/](https://github.com/OpenGenus/cosmos/tree/master/code/graph-algorithms/ford_fulkerson_maximum_flow)

**Note**: multiple contributors can work on this issue as it has multiple parts (language

[2017-10-03 12:14] levifranca commented on #259
Hi @AdiChat thank you for the invite. I have accepted it. :smiley:

[2017-10-03 12:22] palash25 opened #265 "Add Fermat's primality test"
I would like to add an implementation (in C) of Fermat's primality test to the **mathematical-algorithms** folder or we can have a separate folder named **primality-tests** inside the **mathematical-algorithms** folder in which we can add more primality tests in the future.

[2017-10-03 12:26] sudhanshuchopra commented on #187
Added mergesort for linked_lists written in C++
@AdiChat  please review #266

[2017-10-03 12:27] AdiChat commented on #265
Adding `primality-tests` folder will be better 👍

[2017-10-03 12:43] saurabhchalke commented on #263
I would like to contribute to this.

[2017-10-03 12:44] the-ethan-hunt commented on #263
I am working on the C++ code

[2017-10-03 12:45] saurabhchalke commented on #263
I'll do it in Python

[2017-10-03 12:49] Vitorvgc opened #269 "Add longest increasing subsequence solution"
Add the code for `longest increasing subsequence` problem.

The code should be added at [code/dynamic_programming/longest_increasing_subsequence](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/longest_increasing_subsequence)

[2017-10-03 12:52] Vitorvgc commented on #269
Added implementation in C++: #268

[2017-10-03 12:52] AkshGautam opened #270 "Euler totient in mathematical algorithms"
Can i work on this?

[2017-10-03 12:55] AdiChat commented on #270
Sure. Go ahead 👍

[2017-10-03 13:02] bamsarts commented on #263
#272 added ford fulkerson c++ language

[2017-10-03 13:10] palash25 opened #274 "Add circle sort implementation"
I would like to add the python implementation of [circle sort](https://rosettacode.org/wiki/Sorting_Algorithms/Circle_Sort)

[2017-10-03 13:11] ZoroarkDarkrai opened #275 "Add Prim MST"
I'll do it in c++.

[2017-10-03 13:11] priyalaggarwal commented on #269
Can I proceed to work on this for Java?

[2017-10-03 13:14] AdiChat commented on #275
Sure. Go ahead 👍

[2017-10-03 13:15] AdiChat commented on #269
Sure @priyalaggarwal Go for it 👍

[2017-10-03 13:16] AaronDills commented on #274
I'll take a look at this

[2017-10-03 13:17] AdiChat commented on #274
Sure. Go ahead 👍

[2017-10-03 13:17] AkshGautam commented on #270
@AdiChat  Please review PR #276 .Its done.you may merge and close the issue.
Thanks

[2017-10-03 13:20] Sanskar-Jain opened #277 "Add code for Lonely Integer Problem."
The Famous Lonely Integer Problem
Given an array in which all the no. are present twice except one, find that lonely integer using bit-manipulation.

[2017-10-03 13:24] zamhaq commented on #277
@Sanskar-Jain can I work on this ?

[2017-10-03 13:31] mkfeuhrer commented on #269
I'll implement it in C , good to go ?

[2017-10-03 13:32] mkfeuhrer commented on #275
i'll do  it in C

[2017-10-03 13:37] setupminimal commented on #192
I'd like to do this in Haskell.

[2017-10-03 13:42] AdiChat commented on #275
Sure 👍

[2017-10-03 13:44] AdiChat commented on #277
@zamhaq You can add code for this task in some other language or you can tackle some other task as you wish 👍

[2017-10-03 13:46] zamhaq commented on #277
@AdiChat Ok. I'll add code in another language. Thanks.

[2017-10-03 13:48] AdiChat commented on #269
Sure @mkfeuhrer Go for it 👍

[2017-10-03 13:49] AdiChat commented on #192
Sure. Go for it 👍

[2017-10-03 13:49] ZoroarkDarkrai opened #283 "Add Magic Square"
I'll do it in c++.

[2017-10-03 13:50] AaronDills opened #284 "Add Queue implementation in C using Linked Lists"

[2017-10-03 14:07] mkfeuhrer commented on #269
Added Implementation in C - [](https://github.com/OpenGenus/cosmos/pull/285)

[2017-10-03 14:08] manish1997 commented on #223
@AdiChat  any issue for which you reopened it?

[2017-10-03 14:17] AdiChat commented on #284
@asi7296 : Possibly @AaronDills is working in `C`. You may take up any other language say `C++` or others

[2017-10-03 14:18] AaronDills commented on #284
I am working on it in C

[2017-10-03 14:20] AdiChat commented on #223
@manish1997 : No problem 😄
Other contributors can add code for this task in other languages as well 👍

[2017-10-03 14:24] ZoroarkDarkrai opened #287 "Add exponentiation by squaring"
I'll do it in c++. Should I create a new folder or put it into the exponentiation_power folder?

[2017-10-03 14:29] mkfeuhrer commented on #275
Added Kruskal Mst Implementation in C - [https://github.com/OpenGenus/cosmos/commit/3c135a2f1063386395f907201f385f8c999aa716](url)

[2017-10-03 14:30] mkfeuhrer commented on #283
I'll do it in C

[2017-10-03 14:36] pvgupta24 commented on #245
@AdiChat  I'll implement BST in C?

[2017-10-03 14:36] AdiChat commented on #287
You may place the code in the `exponentiation_power` folder. You may rename or create sub-folders if needed 👍

[2017-10-03 14:39] AdiChat commented on #245
Sure @pvgupta24 Go for it 👍

[2017-10-03 14:45] AkshGautam opened #291 "Adding problems which uses AI algos like genetic algos,Hill climbing approach,simulated annealing and other optimization techniques."
Hey,Can i work on Travelling salesman problem solution with Simulated Annealing and Tabu search? Please assign me the issue if "Yes".
Cheers

[2017-10-03 14:48] mkfeuhrer commented on #283
Added magic square implementation in C - [https://github.com/OpenGenus/cosmos/pull/292](url)

[2017-10-03 14:48] mkfeuhrer commented on #283
#292

[2017-10-03 14:51] mkfeuhrer commented on #269
#285

[2017-10-03 14:53] AdiChat commented on #291
Sure. Go ahead. This will be a great addition 👍

[2017-10-03 14:54] pvgupta24 commented on #245
@AdiChat  please review. #293

[2017-10-03 15:13] saurabhchalke commented on #263
Added the Python implementation for ford fulkerson in #294

[2017-10-03 15:15] manan904 commented on #284
Can I take this up in C++ or Python?

[2017-10-03 15:15] manan904 commented on #198
Can I do this in C?

[2017-10-03 15:18] Sanskar-Jain opened #296 "Add code for Lonely Integer Problem in Python"
The Famous Lonely Integer Problem
Given an array in which all the no. are present twice except one, find that lonely integer using bit-manipulation.

[2017-10-03 15:19] manan904 commented on #287
Can I do this in C?

[2017-10-03 15:20] AdiChat commented on #284
Sure @manan904 👍
Code in `C++` has been implemented. You may want to take up `Python` or any other language 👍

[2017-10-03 15:22] Sanskar-Jain commented on #277
I've added Python code for this problem.
Issue #296
PR #297

[2017-10-03 15:22] AdiChat commented on #287
Sure. Go for it 👍

[2017-10-03 15:22] levifranca commented on #259
Hi @AdiChat could please review the PR #298 ?

I'll be adding the other languages later.

Thank you.

[2017-10-03 15:26] EnankoBasak commented on #296
Hi , Can i Implement this algorithm in Python / C++ ?

[2017-10-03 15:27] mx0c commented on #296
I can do the Python Part.

[2017-10-03 15:31] AdiChat commented on #296
@EnankoBasak @mx0c : A pull request for the `Python` code exists and the `C++` code has been added.

Kindly add code for other tasks or try to add code for this task in some other language 👍

[2017-10-03 15:32] mkfeuhrer commented on #287
can i do this in python ?

[2017-10-03 15:33] AdiChat commented on #198
@manan904 The `C` code already exists ([see]())

Kindly refactor the existing code or add code for other tasks 👍

[2017-10-03 15:33] mx0c commented on #296
Javascript/ java?

[2017-10-03 15:33] ZoroarkDarkrai opened #300 "Add Catalan Number"
I'll do it in c++ again :D.

[2017-10-03 15:34] mkfeuhrer commented on #259
can i do this in C ?

[2017-10-03 15:36] AdiChat commented on #296
Both `JavaScript` and `Java` are available. Go for it 👍

[2017-10-03 15:37] Kartik2016 commented on #287
Can i do it in java?

[2017-10-03 15:37] AdiChat commented on #287
Sure @mkfeuhrer Go for it 👍

[2017-10-03 15:38] manan904 commented on #300
I'll do it in Python.

[2017-10-03 15:38] AdiChat commented on #287
Sure @Kartik2016 Go for it 👍

[2017-10-03 15:38] mkfeuhrer commented on #300
I'll do it in C

[2017-10-03 15:39] AdiChat commented on #259
Sure. Go for it 👍

[2017-10-03 15:39] manan904 commented on #284
I'll do it in Python. Thanks :)

[2017-10-03 15:47] bamsarts commented on #300
i'll do it in java

[2017-10-03 15:47] manan904 commented on #300
Should I create a new folder?

[2017-10-03 15:50] Rhendz commented on #296
I'm writing the code in `Go`!

[2017-10-03 15:53] mkfeuhrer commented on #287
#307 Added python implementation

[2017-10-03 15:56] AkshGautam commented on #291
Please review PR #309 .TSP using simulated annealing added with test cases.

[2017-10-03 15:58] Haxk20 opened #311 "Added code to generate fibonacci numbers"

[2017-10-03 15:59] Haxk20 commented on #311
Referencing this to PR #310

[2017-10-03 16:09] Ilozuluchris commented on #300
Can I do this in Scala

[2017-10-03 16:10] mkfeuhrer commented on #300
#307

[2017-10-03 16:18] AdiChat commented on #300
Sure @Ilozuluchris Go ahead 👍

[2017-10-03 16:32] palash25 opened #313 "Add Bead Sort"
I would like to add bead sorting implementation in C

[2017-10-03 16:37] palash25 opened #314 "Add Morse Code Translator"
I would like to add the python implementation of a program that converts plaintext to morse code and morse code back to plaintext.

[2017-10-03 16:39] mkfeuhrer opened #315 "Add Segment Tree data structure"
Add range minimum query implementing segment tree data structure

[2017-10-03 16:39] mkfeuhrer commented on #315
I'll do it in c++

[2017-10-03 16:39] palash25 opened #316 "Add Solovay-Strassen Primality Test"
I would like to add the C implementation.

[2017-10-03 16:44] mkfeuhrer opened #319 "Backtracking - Subset Sum"

[2017-10-03 16:45] prashant0598 opened #321 "Add Leftist Tree / Leftist Heap"
A leftist tree or leftist heap is a priority queue implemented with a variant of a binary heap.
See #318 @AdiChat

[2017-10-03 16:45] mkfeuhrer commented on #319
I'll do this in c

[2017-10-03 16:48] mkfeuhrer opened #322 "Divide and Conquer - Inversion count"
I'll like to add a c++ implementation for counting inversions

[2017-10-03 16:56] AkshGautam commented on #291
Do suggest changes if any @AdiChat

[2017-10-03 17:05] Rhendz opened #327 "Add Median Sort"
I'll add solutions in C++/Java

[2017-10-03 17:34] ravilkashyap commented on #300
Can I do it in C++?

[2017-10-03 17:37] AdiChat commented on #291
Sure. I will review it soon 👍

[2017-10-03 17:39] AdiChat commented on #300
@ravilkashyap We have a pull request for catalan number in `C++`. Kindly do it in some other language or try out some other task 👍

[2017-10-03 17:39] dysoco opened #331 "Add documentation in README.md inside each algorithm."
So I noticed there's a `README.md` file inside each folder that actually provides no useful information.

What about we change each `README.md` file, for example [cosmos/code/search/ternary_search/README.md](https://github.com/OpenGenus/cosmos/blob/master/code/search/ternary_search/README.md) to explain a bit about the Ternary Search algorithm?

[2017-10-03 17:43] AdiChat commented on #331
This is important and needs to be done for each folder level 👍

Go ahead and add some details 😄

[2017-10-03 18:07] levifranca commented on #259
Added Java version on #334

[2017-10-03 18:09] codyalgorith commented on #327
i have added the cpp implementation. its fast and better for competitive programming.

[2017-10-03 18:11] sirjan13 opened #335 "Add Code for 2 unique numbers"
Find 2 unique Numbers in an array where every number occours twice except 2 numbers.find those two Numbers using bit manupilation

[2017-10-03 18:13] codyalgorith commented on #322
i will add the divide and conquer approach for counting inversions

[2017-10-03 18:13] IAmBullsaw commented on #94
Are solutions for ruby needed? If so I'd like to implement one.

[2017-10-03 18:13] rahulg963 commented on #315
I would like to implement in java @AdiChat

[2017-10-03 18:19] AdiChat commented on #94
Yes @IAmBullsaw Go for it 👍

[2017-10-03 18:27] prashant0598 commented on #321
@AdiChat Pls review and merge #318 :smile:

[2017-10-03 18:33] rahulg963 commented on #315
@AdiChat  Kindly review #341

[2017-10-03 18:37] ravilkashyap opened #342 "Amicable numbers"
Find the sum of all the amicable numbers under 10000.

[2017-10-03 18:46] sirjan13 opened #343 "height of Binary Search Tree"
Program to calculate height of  binary search tree

[2017-10-03 18:49] vaibhavsingh97 commented on #342
Can i take up this issue?

[2017-10-03 18:54] AdiChat commented on #342
Sure. Go for it 👍

[2017-10-03 18:57] ravilkashyap commented on #343
Can i take up this issue??? @AdiChat

[2017-10-03 18:58] AdiChat commented on #343
Sure. Go for it 👍

[2017-10-03 18:59] alphaWizard commented on #343
can i do it in c++?

[2017-10-03 19:00] sirjan13 commented on #343
I am doing it in C++

[2017-10-03 19:01] aasthasona79 commented on #343
Can I do it in C?

[2017-10-03 19:01] sirjan13 commented on #343
So you can do it in c++ i will do it in python then :)

[2017-10-03 19:17] NishantTanwar opened #346 "All the permutations of a string in backtracking section"

[2017-10-03 19:24] sirjan13 commented on #346
Can I take this one?

[2017-10-03 19:27] Tusharbansa1 opened #348 "add insertion , merge , bubble , bucket_sort in php"
i want to add **insertion** ,**quick** ,**bubble** ,**bucket_sort**, **merge  #sort**  in php #330

[2017-10-03 19:28] NishantTanwar commented on #346
yeah you can do this in python and I will do it in c++. @AdiChat please assign

[2017-10-03 21:03] leodevo commented on #331
#360

Added it for the Bubble sort algorithm

[2017-10-03 23:10] levifranca commented on #259
Added Python version on #365

[2017-10-03 23:34] vicennial opened #367 "Add Code to Generate All Possible Subset Sums"
Solution would use bitmasks to generate all sums which can be obtained by picking some subset of a given array and summing up the member elements.

[2017-10-03 23:49] levifranca commented on #331
Can I add for the Minimum Coin algorithm?

[2017-10-04 00:19] c650 commented on #237
I'm all set for merge!

[2017-10-04 02:35] AdiChat commented on #331
Sure. Go for it 👍

[2017-10-04 03:13] Vitorvgc commented on #367
I would like to work on this problem.

[2017-10-04 03:21] aasthasona79 opened #378 "Add Egyptian Fraction Problem"
Egyptian fraction problem in greedy algorithms section

[2017-10-04 03:33] denvaar commented on #202
I'll do a Python version

[2017-10-04 04:00] bsphair commented on #331
Can I add a README.md for the insertion sort?

[2017-10-04 04:43] mkfeuhrer commented on #315
#382 Cpp code added with new folder in data structure

[2017-10-04 04:53] mkfeuhrer commented on #319
#382

[2017-10-04 05:18] prateekiiest commented on #378
@aasthasona79 , I want to work on it.
I will be sending a PR soon for this.

[2017-10-04 05:27] prateekiiest commented on #378
PR #383

[2017-10-04 06:46] LuckehPickle commented on #231
Hey, I'd like to add an implementation in Ruby.

[2017-10-04 07:04] LuckehPickle commented on #245
Hey, I'd like to implement a BST in Ruby

[2017-10-04 07:44] bsemexan commented on #348
my pull request has all of them

[2017-10-04 07:50] rstalekar commented on #343
Can I take up this issue please? I will be doing it in C.

[2017-10-04 08:08] NishantTanwar opened #387 "Nth Magic Number-Bit Manipulation"
A magic number is defined as a number which can be expressed as a power of 5 or sum of unique powers of 5. First few magic numbers are 5, 25, 30(5 + 25), 125, 130(125 + 5), …..

[2017-10-04 08:24] AdiChat commented on #343
Sure @rstalekar Go ahead 👍

[2017-10-04 08:25] AdiChat commented on #331
Sure @bsphair Go ahead 👍

[2017-10-04 08:27] AdiChat commented on #202
Sure. Go ahead 👍

[2017-10-04 08:31] aasthasona79 commented on #343
I have done it in C alreasy

[2017-10-04 08:52] AdiChat commented on #343
Thanks for pointing out @aasthasona79 👍

@rstalekar : A pull request for the `C` exists. Kindly add code in another language or take a look at other scopes of contribution 👍

[2017-10-04 08:58] AdiChat commented on #291
merged 👍
This is a great contribution 🎉

[2017-10-04 09:02] taakasj commented on #172
@AdiChat Please review the code for trie search and addition in C++
#388

[2017-10-04 09:03] taakasj commented on #202
@AdiChat Please review code for trie insertion and search
#388

[2017-10-04 09:11] bhaveshAn opened #390 "Adding [ contributing.md ] as [ .github/CONTRIBUTING.md ]"
@AdiChat I would like to work on this issue ! Please add hacktoberfest label.

[2017-10-04 09:23] bhaveshAn commented on #300
@AdiChat please let me know why the issue is still not closed.

[2017-10-04 09:27] sangeet259 commented on #387
What do I have to do?

[2017-10-04 09:27] AdiChat commented on #300
@bhaveshAn We can add code in other languages as well 👍

[2017-10-04 09:38] rstalekar commented on #343
ok,  but I didn't see in C in the Tree subdirectory

On Wed, Oct 4, 2017 at 2:22 PM, Aditya Chatterjee <notifications@github.com>
wrote:

--
Regards,
Rajendra S.
Mobile :- +91 8452071326

For a successful technology, reality must take precedence over public
relations, for Nature cannot be fooled.
~ Richard P Feynman ~

[2017-10-04 09:40] AdiChat opened #392 "Add B Tree"
Add the code for `B Tree` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The code should be placed under folder `b_tree` located at [code/data_structure](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures)

**Note**: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

[2017-10-04 10:26] bhaveshAn commented on #390
Fixed at #391 @AdiChat

[2017-10-04 10:30] #390 closed

[2017-10-04 10:57] dublevsky commented on #392
Hi! I'd like to work on that.

[2017-10-04 11:02] shashwatjolly commented on #392
Hi! How can I submit the code for this?

[2017-10-04 11:08] AdiChat commented on #392
Sure @dublevsky Go for it 👍

[2017-10-04 11:10] AdiChat commented on #392
@shashwatjolly You need to fork this repository and then, commit code in your local working copy. Thereby, you can submit a pull request which we will review and merge 👍

[2017-10-04 11:50] shaikkamran commented on #346
i will take this one

[2017-10-04 11:53] AdiChat commented on #346
Sure. Go for it 👍

[2017-10-04 11:53] prateekiiest commented on #392
PR #395

[2017-10-04 12:03] shashwatjolly commented on #346
Can I still submit a pr for this?

[2017-10-04 12:04] prateekiiest commented on #283
#397 in python

[2017-10-04 12:05] shaikkamran opened #398 "Print Singly linked list in reverse order (Recursion)"
I want to Contribute for this

[2017-10-04 12:13] AdiChat commented on #398
Sure. Go ahead 👍

[2017-10-04 12:14] AdiChat commented on #346
@shashwatjolly Yes. Sure 👍

[2017-10-04 12:18] Namrata7199 commented on #398
i want to contibute for this

[2017-10-04 12:19] keerthanapolkampally commented on #398
i want to contribute for this

[2017-10-04 12:24] keerthanapolkampally commented on #367
can i work on this problem

[2017-10-04 12:28] AdiChat commented on #367
Sure @keerthanapolkampally Go ahead 👍

[2017-10-04 12:28] AdiChat commented on #398
Sure @Namrata7199 @keerthanapolkampally Go for it 👍

[2017-10-04 12:32] ankushChatterjee commented on #269
I will be working on this in Python

[2017-10-04 12:32] manan904 commented on #398
I'll do it in C++

[2017-10-04 12:37] shaikkamran commented on #392
heyy I would like to do this in Python

[2017-10-04 12:39] shaikkamran opened #403 "Print mirror Image(of the nodes) in the Binary tree (taking mirror as the root node )"
Print mirror Image(of the nodes) in the Binary tree (taking mirror as the root node ) #392

[2017-10-04 12:41] shashwatjolly commented on #93
Has this been done in C++?

[2017-10-04 12:48] RaiVaibhav commented on #93
@shashwatjolly u can check it by going throuh repositories

[2017-10-04 12:55] manan904 commented on #342
I'll do it in python :)

[2017-10-04 12:56] aakash-sopho commented on #403
I will do it.

[2017-10-04 12:58] ravilkashyap opened #409 "Caesar Cipher"
A program to Encrypt and decrypt a string using Caesar Cipher

[2017-10-04 13:00] aakash-sopho commented on #409
I will do it.

[2017-10-04 13:14] aakash-sopho commented on #403
Implemented in C++ and created PR

[2017-10-04 13:21] IAmBullsaw commented on #94
Implemented in Ruby, would you kindly review #413? :smile_cat:

[2017-10-04 13:26] ankushChatterjee commented on #269
PR #415 for Python implementation

[2017-10-04 13:26] qoo2p5 commented on #96
Added a C++ implementation of a _linear_ sieve: #414.

[2017-10-04 13:34] shashwatjolly commented on #69
Wrote in C++ :) #416
@AdiChat Please review

[2017-10-04 13:37] AdiChat commented on #392
Sure. Go ahead 👍

[2017-10-04 13:41] aakash-sopho commented on #409
created PR #417

[2017-10-04 13:44] livace commented on #315
Added spaced for sum #404 in c++

[2017-10-04 13:51] Arunraj97 commented on #403
Is this thing open can I send a Pr

[2017-10-04 13:52] AdiChat commented on #403
Yes @Arunraj97 Go ahead 👍

[2017-10-04 13:53] Arunraj97 commented on #398
Can I do this in C++ without using recursion

[2017-10-04 13:53] AdiChat commented on #398
Sure. Go for it 👍

[2017-10-04 13:53] aakash-sopho opened #418 "Vigenere Cypher"
A program to encrypt alphabetical text.

[2017-10-04 13:55] shashwatjolly opened #420 "Add code for detecting cycle in undirected graph"
I'm working for this in C++ :)

[2017-10-04 13:59] aakash-sopho commented on #420
Can I implement this in python? @AdiChat

[2017-10-04 14:04] AdiChat commented on #420
Sure @aakash-sopho Go ahead 👍

[2017-10-04 14:05] IAmBullsaw commented on #95
Took the liberty to implement it in Ruby.
Would you kindly review #421? :smile_cat:

[2017-10-04 14:08] livace commented on #315
Added persistent #422 in c++

[2017-10-04 14:08] ranjanbinwani commented on #420
I'm working on this in Java

[2017-10-04 14:11] aakash-sopho commented on #418
Here's the Pull Request #423 @AdiChat

[2017-10-04 14:34] aakash-sopho commented on #420
PR #426 .. implementation in python

[2017-10-04 14:39] livace opened #427 "Add salesman algorhitm"
I'll add it on c++

[2017-10-04 14:46] shashwatjolly commented on #420
PR #428 Implemented in C++

[2017-10-04 14:49] aakash-sopho opened #429 "Shortest common supersequence using DP"
I am doing this in C++

[2017-10-04 14:58] aakash-sopho commented on #429
PR #432

[2017-10-04 14:58] ranjanbinwani commented on #420
PR #431 Implemented in Java

[2017-10-04 15:01] ranjanbinwani commented on #429
I'm working on this in Java

[2017-10-04 15:11] rstalekar commented on #403
Implementing in C.

[2017-10-04 15:14] rstalekar commented on #343
Meanwhile , I have done this in C++, should I push it in git repository?

[2017-10-04 15:16] livace commented on #427
realisation in O(n * 2 ^ n), c++ #434

[2017-10-04 15:19] AdiChat commented on #343
Sure 👍

[2017-10-04 15:20] rstalekar commented on #343
should i go and do a git add and then git commit

[2017-10-04 15:21] rstalekar commented on #343
Just want to ensure if it's fine.

[2017-10-04 15:24] imfaizz opened #436 "Check if number is a perfect number"

[2017-10-04 15:28] AdiChat commented on #343
@rstalekar Yes. You should push it into your local copy and then, send a pull request 👍

Flow:
* `git add .`
* `git commit -m "message"`
* `git push`
* Pull request from GitHub UI

If you get stuck, let us know and we will help 👍

[2017-10-04 15:32] imfaizz commented on #436
[perfectnumber.pdf](https://github.com/OpenGenus/cosmos/files/1356393/perfectnumber.pdf)

[2017-10-04 15:36] livace opened #438 "Count of ways of length between n between a and b in graph."
I'll add it on c++

[2017-10-04 15:40] qoo2p5 opened #442 "C++ transitive closure"
I've implemented it: #440.

[2017-10-04 15:48] faisal1337 commented on #418
Here's my PR #443

[2017-10-04 15:51] Arunraj97 opened #444 "Largest sum Continuous Array Problem"

[2017-10-04 15:57] alphaWizard commented on #444
can i do this in c++?

[2017-10-04 15:58] AdiChat commented on #436
Sure. Go for it 👍

[2017-10-04 15:59] AdiChat commented on #444
Sure @alphaWizard Go for it 👍

[2017-10-04 16:00] qoo2p5 opened #446 "The longest path in DAG."
I will implement it in C++.

[2017-10-04 16:02] cmckni3 commented on #444
I wrote this awhile back in JavaScript

[2017-10-04 16:03] ckylee commented on #409
Hi, is this open for Java / Python as well?

[2017-10-04 16:03] qoo2p5 commented on #446
I've implemented it: #447.

[2017-10-04 16:04] AdiChat commented on #444
@cmckni3 Feel free to add a pull request 👍

[2017-10-04 16:04] AlexanderDavid commented on #444
Can I try this in Java?

[2017-10-04 16:05] AK-007 commented on #444
Can I try it in python?

[2017-10-04 16:07] rstalekar commented on #343
I created pull request from the UI, how can I see it?

[2017-10-04 16:10] AdiChat commented on #409
Sure @ckylee Go ahead 👍

[2017-10-04 16:11] AdiChat commented on #444
Sure @AlexanderDavid @AK-007 Go ahead 👍

[2017-10-04 16:16] AdiChat commented on #343
@rstalekar It looks like the pull request has not been created but I see your commit in your local workspace. You can create a pull request from [here](https://github.com/OpenGenus/cosmos/compare/master...rstalekar:master)

Let me know if it worked 👍

[2017-10-04 16:18] qoo2p5 opened #449 "Bipartite checking"
I'll implement it in C++.

[2017-10-04 16:24] rstalekar commented on #343
Yes it worked, you will be able to see it, however should I close the pull
request?

On Wed, Oct 4, 2017 at 9:46 PM, Aditya Chatterjee <notifications@github.com>
wrote:

--
Regards,
Rajendra S.
Mobile :- +91 8452071326

For a successful technology, reality must take precedence over public
relations, for Nature cannot be fooled.
~ Richard P Feynman ~

[2017-10-04 16:26] AdiChat commented on #343
@rstalekar Yes, I see your pull request 🎉
You should not close it. I will review and merge it 👍

[2017-10-04 16:27] rstalekar commented on #343
Ok fine.

[2017-10-04 16:32] qoo2p5 commented on #449
I've implemented it: #452.

[2017-10-04 16:33] rstalekar commented on #343
Let me know once it's done

[2017-10-04 16:36] devAmoghS commented on #409
@AdiChat I am implementing in Python !

[2017-10-04 16:38] AdiChat commented on #95
Looks good. Merged 👍

[2017-10-04 16:39] AdiChat commented on #94
Merged 😄

[2017-10-04 16:42] AdiChat commented on #93
Yes, selection sort has been implemented in `C++` ([see](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/selection_sort/selection_sort.cpp))

@shashwatjolly You can try it in other languages or look at other scopes of contribution 👍

[2017-10-04 16:42] AdiChat commented on #69
Merged 😄

[2017-10-04 16:47] namish800 commented on #444
where do we have to add this file?

[2017-10-04 16:50] AdiChat commented on #444
This code should be placed at [code/dynamic programming/largest sum contiguous subarray](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/largest_sum_contiguous_subarray) 👍

[2017-10-04 16:56] AlexanderDavid commented on #436
I'd like to do this in C++, I can do it in python too. Pretty much whichever language @manan904 doesn't do

[2017-10-04 16:56] devAmoghS commented on #436
@AdiChat Implementing this in Python

[2017-10-04 16:57] livace commented on #438
c++ #456 O(size * size * log len)

[2017-10-04 16:59] devAmoghS commented on #436
@imfaizz Where should i make the PR?

[2017-10-04 17:04] AdiChat commented on #436
Create a folder `perfect_number` under [mathematical_algorithms](https://github.com/OpenGenus/cosmos/tree/master/code/mathematical-algorithms) and add code to this folder

[2017-10-04 17:30] palash25 opened #464 "Add Miller-Rabin Primality Test"
We already have Fermat's and Solovay-Strassen test added. It would be nice to see Miller-Rabin in that folder too.

[2017-10-04 17:32] palash25 commented on #313
I've already merged 4 PR and would like someone else to take a shot at this. Kindly unassign me.

[2017-10-04 17:32] devAmoghS commented on #444
#465 Added in Python and tested the same !!!

[2017-10-04 18:00] AdiChat commented on #313
sure 👍

[2017-10-04 18:00] palash25 commented on #464
I would like someone else to try this. Kindly unassign me.

[2017-10-04 18:06] minijainsahab commented on #444
#471 Added in Java

[2017-10-04 18:07] RajatGarg97 commented on #464
Can I try this @AdiChat ?

[2017-10-04 18:08] SandySingh opened #474 "Head data structure"
Can I add head data structure in python?

[2017-10-04 18:08] codeSG commented on #464
I'll like to do this.

[2017-10-04 18:10] namish800 commented on #444
Review my PR https://github.com/OpenGenus/cosmos/pull/462

[2017-10-04 18:12] RajatGarg97 commented on #464
Please let me do this. This is going to be my first commit.

[2017-10-04 18:13] livace opened #477 "Implement geometry"
#473 - distance between points
#470 - area of triangle
#475 - area of polygon

[2017-10-04 18:14] AK-007 commented on #444
PR #476 Implemented.

[2017-10-04 18:19] AdiChat commented on #474
Sure. That would be great 👍

[2017-10-04 18:21] AdiChat commented on #464
Sure @RajatGarg97 @codeSG Both of you can do this in different languages. Go for it 👍

[2017-10-04 18:23] RajatGarg97 commented on #464
Thanks alot @AdiChat .
I will implement it in C++.

[2017-10-04 18:56] setupminimal commented on #181
I am about to add an implementation in Haskell.

[2017-10-04 19:01] setupminimal commented on #444
I'd like to implement this in Haskell.

[2017-10-04 19:19] SandySingh opened #485 "404 on contributors list"
The contributors list link in README.md is giving a 404 error

[2017-10-04 19:21] AK-007 commented on #474
Can I implement it in C++?

[2017-10-04 19:27] codeSG commented on #464
Please review and merge Pull request #487.

[2017-10-04 19:30] AdiChat commented on #485
A pull request has been made regarding this and will be merged soon 👍

You may add yourself and others to the [Contributors list](https://github.com/OpenGenus/cosmos/blob/master/.github/CONTRIBUTING.md) 😄

[2017-10-04 19:31] AdiChat commented on #474
Sure @AK-007 Go for it 👍

[2017-10-04 19:53] AK-007 commented on #474
Where should i add the file?

[2017-10-04 19:55] SandySingh commented on #485
Added my name but I commit the changes on master branch by mistake and hence it is showing in issue #483

[2017-10-04 19:58] AdiChat commented on #474
The code should be placed in a folder named `Heap` under the `data structures` folder 👍

[2017-10-04 19:58] AdiChat commented on #485
No problem. I will take a look soon 👍

[2017-10-04 20:07] AK-007 commented on #474
Implemented using C++ :)

[2017-10-04 20:10] prashant0598 opened #493 "Add Z_Algorithm"
This algorithm finds all occurrences of a pattern in a text in linear time. Let length of text be n and of pattern be m, then total time taken is O(m + n) with linear space complexity
@AdiChat adding in python

[2017-10-04 20:13] AK-007 commented on #493
Can I try it in C++?

[2017-10-04 20:18] AdiChat commented on #493
Sure @AK-007 Go ahead 👍

[2017-10-04 20:34] prashant0598 commented on #493
Pls Review #492

[2017-10-04 20:53] frazjp65 commented on #436
We now have three directories for this and duplicates in Python and C++.

https://github.com/OpenGenus/cosmos/tree/master/code/mathematical-algorithms/perfect_numbers

https://github.com/OpenGenus/cosmos/tree/master/code/mathematical-algorithms/perfect_number

https://github.com/OpenGenus/cosmos/tree/master/code/mathematical-algorithms/perfect-number

[2017-10-04 20:59] AdiChat commented on #436
Major issue. I will correct it immediately 👍

To avoid this in future, folder name should be decided before pull requests if it does not exist 👍

[2017-10-04 21:01] frazjp65 commented on #436
I was going by:

I made a PR for the python one, but I don't know which of the three C++ ones you want to keep.

[2017-10-04 21:21] AdiChat commented on #436
Resolved 👍

I will set a naming convention to avoid such issues and make corresponding change soon 👍

[2017-10-04 21:27] parth-p commented on #315
i would like to add RMQ in python.

[2017-10-04 21:29] AdiChat commented on #315
Sure @parth-p Go ahead 👍

[2017-10-04 21:33] AK-007 commented on #493
PR #497 Implemented using C++ :)

[2017-10-04 22:01] BrianBohe commented on #444
If you want to check your solution, you can use [hackerrank](https://www.hackerrank.com/challenges/maxsubarray)

[2017-10-05 00:05] drcabral commented on #477
#498

[2017-10-05 00:06] drcabral commented on #477
#498 Java solution for area of triangle, area of polygon and distance between points.

[2017-10-05 03:03] phoenix157 opened #500 "Diameter of binary tree"
Can i implement this in c++

[2017-10-05 03:04] Guilhermeslucas commented on #245
I'll try it on golang.

[2017-10-05 03:16] amitsin6h commented on #327
where should I write the solution ?? I have cloned the repo

[2017-10-05 03:19] phoenix157 commented on #500
I have implemented it for c++ #502

[2017-10-05 03:58] priyalaggarwal commented on #269
PR #503 for Java implementation

[2017-10-05 04:01] rattandeep1998 commented on #300
I've added Catalan Number in Ruby. @AdiChat

[2017-10-05 04:43] AdiChat commented on #327
The code for median sort should be added at [code/sorting/median sort](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/median_sort) 👍

[2017-10-05 04:56] rstalekar commented on #403
Done writing in C, I am adding it in Tree subdirectory.

[2017-10-05 05:07] rstalekar commented on #403
I have pushed it in the git repository am creating a pull request

[2017-10-05 05:09] manan904 commented on #436
@AlexanderDavid What do you mean by manan doesn't do???

[2017-10-05 05:11] edwardrichtofen115 commented on #436
``
[PerfectNumber.txt](https://github.com/OpenGenus/cosmos/files/1358108/PerfectNumber.txt)

C++ file for PerfectNumber

[2017-10-05 05:11] rstalekar commented on #403
I have pushed it in git repository, where can I see the my code being pushed it is mirror_image.c

[2017-10-05 05:28] AdiChat commented on #403
You can create the pull request from [here](https://github.com/OpenGenus/cosmos/compare/master...rstalekar:master) 👍
It exists in your local workspace ([see](https://github.com/rstalekar/cosmos/commit/3d63e6a69c53b5c9721303c1b190a3dd5d60cdd5))

I will review and merge it soon 👍

[2017-10-05 06:00] rstalekar commented on #500
Can I implement this in C?

[2017-10-05 06:05] AdiChat commented on #500
Sure @rstalekar Go for it 👍

[2017-10-05 07:05] 007akk commented on #500
@rstalekar can i implement it in c

[2017-10-05 07:09] AdiChat commented on #500
@007akk You can, alternatively, browse through the code base and implement code for a problem you do not see. Go for it 👍

[2017-10-05 07:13] AdiChat commented on #500
@007akk : @rstalekar might be in the process. You can, alternatively, take a look at other scopes of contribution as well 👍
Let me know if you need any help 👍

[2017-10-05 07:18] AdiChat opened #514 "add pigeonhole sort"
Add the code for `pigeonhole sort` in any language ( `C`, `Java`, `Go`, `Python`, `JavaScript` or any other)

The code should be placed at [code/sorting/pigeonhole sort](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/pigeonhole_sort)

Sample code in `C++`: [see](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/pigeonhole_sort/pigeonhole_sort.cpp)
**Note**: multiple contri

[2017-10-05 07:28] amitsin6h commented on #327
#515 Python based median sort
@AdiChat @codyalgorith

[2017-10-05 07:30] raghav710 commented on #514
I'd like to contribute the python and C# versions for this if thats fine :)

[2017-10-05 07:35] AdiChat commented on #514
Sure @raghav710 Go for it 👍

[2017-10-05 07:42] rstalekar commented on #500
I am done with the implementation and testing, i have pushed the code. How can I create pulll request now

[2017-10-05 07:43] AdiChat commented on #500
@rstalekar You can create the pull request from [here](https://github.com/OpenGenus/cosmos/compare/master...rstalekar:master) 👍

[2017-10-05 07:47] 007akk commented on #514
@AdiChat  i would like to do that in C

[2017-10-05 07:47] AdiChat commented on #514
Sure @007akk Go for it 👍

[2017-10-05 07:50] rstalekar commented on #500
Done

[2017-10-05 07:51] 007akk commented on #500
@AdiChat i m also done with the c code and have created pull request

[2017-10-05 07:53] gravitydestroyer commented on #514
I'd like to do that in python..

[2017-10-05 07:55] AdiChat commented on #514
Sure, Go for it 👍

[2017-10-05 07:56] JonasWG commented on #514
I am writing this in Java right now

[2017-10-05 08:03] grantmwilliams commented on #427
Do you have any specific algorithm requirements for this one? I'd be happy to provide a genetic algorithm

[2017-10-05 08:06] grantmwilliams opened #521 "Creating Optimization Algorithm Section?"
Hi, would it be alright to start a section for optimization algorithms? I'd be happy to add a few gradient descent algorithms and a few heuristic algorithms as well. There are a ton of different possibilities people can add :)

[2017-10-05 08:07] Kuldip397 commented on #500
@AdiChat  I would like to contribute in python.

[2017-10-05 08:10] grantmwilliams commented on #521
Could be cool to implement a number of functions from this group: https://en.wikipedia.org/wiki/Test_functions_for_optimization and then we would have something to compare the algorithms with

[2017-10-05 08:10] Jay9596 commented on #418
PR for Go implementation #519

[2017-10-05 08:10] AdiChat commented on #427
@grantmwilliams It would be nice to have a genetic algorithm. Go for it 👍

[2017-10-05 08:11] Jay9596 commented on #409
Implemented in Go #516

[2017-10-05 08:11] AdiChat commented on #521
Sure. It will be a great addition. Go for it 👍

[2017-10-05 08:12] rstalekar commented on #398
I don't see this done in C, can I do it in C and is it necessary to do with recursion or can I do without it?

[2017-10-05 08:13] AdiChat commented on #500
Sure @Kuldip397 Go for it 👍

[2017-10-05 08:13] parth-p commented on #315
@AdiChat please review #523

[2017-10-05 08:14] AdiChat commented on #398
It is not necessary to use recursion. Go for it 👍

[2017-10-05 08:15] grantmwilliams commented on #521
How do you guys feel about ipython notebooks? Like this: https://github.com/grantmwilliams/optimization_talk/blob/master/notebook.ipynb i was thinking for some of the python implementations i could include a folder with a .py file with the code and an ipython notebook showing a visualization of the algorithm on some different problems.

[2017-10-05 08:18] AdiChat commented on #521
This will be great 😄

[2017-10-05 08:31] 007akk commented on #514
@AdiChat i have made pull request for pigeon_hole_sort.c

[2017-10-05 08:43] JonasWG commented on #514
I have made pull request for java implementation.

[2017-10-05 08:50] AK-007 commented on #500
I am impementing it in java

[2017-10-05 08:56] agnieszka-miszkurka commented on #418
can I implement it in python? :)

[2017-10-05 08:58] rstalekar commented on #398
Great, I will be done with it in C, so please block this for me. Let there be no conflicts

[2017-10-05 09:00] rstalekar commented on #500
Will you be able to review and revert back Aditya?

[2017-10-05 09:01] AK-007 commented on #500
PR #527 Implemented in Java :)

[2017-10-05 09:11] anshul98ks123 commented on #367
I would like to work on this in java.

[2017-10-05 09:14] Kuldip397 commented on #500
Done @AdiChat , PR #529.

[2017-10-05 09:17] anshul98ks123 commented on #343
I would like to work on this in java.

[2017-10-05 09:18] Jay9596 commented on #214
I made a Rust implementation #531

[2017-10-05 09:20] anshul98ks123 commented on #181
I would like to work on this in java.

[2017-10-05 09:22] anshul98ks123 commented on #214
I would like to work on this js.

[2017-10-05 09:23] phoenix157 commented on #474
Can i implement minheap in c++?

[2017-10-05 09:23] AdiChat commented on #418
Sure @agnieszka-miszkurka Go for it 👍

[2017-10-05 09:24] Jay9596 commented on #311
Fibonacci in Rust #533

[2017-10-05 09:25] imfaizz opened #534 "Print first n tribonacci numbers"

[2017-10-05 09:26] AdiChat commented on #367
Sure. Go for it 👍

[2017-10-05 09:26] anshul98ks123 commented on #322
I would like to work on this in java

[2017-10-05 09:28] AdiChat commented on #474
Sure @phoenix157 Go for it 👍

[2017-10-05 09:30] anshul98ks123 commented on #69
I would like to work on this in java

[2017-10-05 09:34] maykillmore commented on #534
I'd like to take this up

[2017-10-05 09:39] AdiChat commented on #534
Go for it 👍

[2017-10-05 09:41] phoenix157 commented on #474
Implemented at #536

[2017-10-05 09:48] bhaveshAn opened #537 "Adding bhaveshAn details at CONTRIBUTING.md"
Yes, would like to work on this issue.

[2017-10-05 09:48] rstalekar commented on #500
Hi Aditya,
Are you done with my review?

[2017-10-05 09:52] ranjanbinwani commented on #534
PR #539

[2017-10-05 09:58] phoenix157 opened #542 "Add square root using babylonian method"

[2017-10-05 09:58] phoenix157 commented on #542
Can i work on this?

[2017-10-05 09:58] AdiChat commented on #542
Sure. Go for it 👍

[2017-10-05 09:59] AdiChat commented on #500
@rstalekar I will review it soon 👍

[2017-10-05 09:59] rstalekar commented on #500
Thanks

[2017-10-05 10:02] imfaizz commented on #542
can I work on this?

[2017-10-05 10:02] AdiChat commented on #542
Sure. Go for it 👍

[2017-10-05 10:04] ivanrein opened #545 "adding sutherland-hodgeman algorithm for geometry clipping"
I'll do this, yay

[2017-10-05 10:05] Jay9596 commented on #436
Perfect number checker in Rust #544

[2017-10-05 10:08] imfaizz commented on #542
C program for sq root using Babylonian method
[babylonian.txt](https://github.com/OpenGenus/cosmos/files/1358878/babylonian.txt)

[2017-10-05 10:30] SandySingh commented on #474
I'll be implementing the min heap in python

[2017-10-05 10:38] pranjal4697 commented on #171
Like to solve these using java :)

[2017-10-05 10:44] rstalekar commented on #398
I have pushed the code in git repository, please create a pull request for review and merging

[2017-10-05 10:56] raghav710 commented on #514
@gravitydestroyer have you started with the python version. If yes, I'd do the C# version alone :)

[2017-10-05 10:57] shashwatjolly opened #556 "Add code for Min Heap"
I am working for this in C++ :)

[2017-10-05 10:59] shashwatjolly commented on #556
Implemented in C++
PR #557
@AdiChat Please review and merge :)

[2017-10-05 11:04] raghav710 commented on #409
@AdiChat open for C# ?

[2017-10-05 11:06] amitXsarkar commented on #429
implemented in python. PR #551

[2017-10-05 11:08] parth-p commented on #275
i would like to implement it in python.

[2017-10-05 11:09] rstalekar commented on #556
What is the meaning of minimum heap, I will implement this in C.

[2017-10-05 11:10] yashkgp commented on #534
Can i implement it in python?

[2017-10-05 11:11] bamsarts commented on #534
added tribonacci numbers implemented c++ #561

[2017-10-05 11:12] phoenix157 commented on #474
Please review #536 :)

[2017-10-05 11:13] yashkgp commented on #556
Can i implement Min Heap in Python @AdiChat ?

[2017-10-05 11:14] chetankm-cs commented on #398
I have added scala code and created pull request #560. Please review and merge.

[2017-10-05 11:23] AdiChat commented on #556
Sure. Go for it 👍

[2017-10-05 12:09] 007akk opened #565 "Binary tree sort"

[2017-10-05 12:13] snehayadavv commented on #556
can i implement min heap in java?

[2017-10-05 12:16] phoenix157 commented on #556
Please review #536 :)

[2017-10-05 12:40] AdiChat commented on #556
Sure @snehayadavv Go for it 👍

@phoenix157 I will review it soon 👍

[2017-10-05 12:41] Inlaik commented on #542
Can I do this in Java?

[2017-10-05 12:42] AdiChat commented on #542
Sure. Go for it 👍

[2017-10-05 12:45] AdiChat commented on #534
@yashkgp Sure. Go for it 👍

[2017-10-05 12:51] codyalgorith commented on #449
i will implement in cpp ,in a manner that will be very shorter to cod. This will help you for contests.
All the Best :)

[2017-10-05 12:51] AdiChat commented on #409
Yes @raghav710 Go for it 👍

[2017-10-05 13:00] the-ethan-hunt opened #568 "Description of each algorithm"
It is also good to include a `readme.md` file in each algorithm to explain how the algorithm functions.

[2017-10-05 13:03] gravitydestroyer commented on #514
yes @raghav710 already filed a PR :)

[2017-10-05 13:05] AK-007 commented on #565
Can I implement it in C++?

[2017-10-05 13:06] codyalgorith commented on #420
my approach deals with checking the cycle using lightweight unionfind set data structure

although @shashwatjolly has already done great work,but his and mine appraoches are quite different.

[2017-10-05 13:07] AdiChat commented on #565
Sure. Go for it 👍

[2017-10-05 13:09] anshul98ks123 commented on #367
I also submitted a PR on tribonacci series and Inversion count in java. Can you review it?

[2017-10-05 13:23] ashutosh97 commented on #568
I'd like to work on this! Should i include the `readme.md` file in the folder which contains the cpp file ?

[2017-10-05 13:28] Arunraj97 opened #576 "No of insertions to make to a string to make it a palindrome"

[2017-10-05 13:33] AdiChat commented on #568
@ashutosh97 Yes, the `readme.md` file exists at the same level as the code 👍

[2017-10-05 13:35] #537 closed

[2017-10-05 13:35] AK-007 commented on #565
PR #578 implemented using C++.
Plz Review :)

[2017-10-05 13:36] Arunraj97 commented on #542
I'm doing this in C++ if it is fine

[2017-10-05 13:38] AK-007 commented on #576
I am implementing it in C++.

[2017-10-05 13:54] Arunraj97 opened #580 "Given inorder and preorder traversal of a tree gets its postorder traversal"

[2017-10-05 14:13] AK-007 commented on #576
where should i add the file?

[2017-10-05 14:14] Jay9596 commented on #214
Added a Go implementation #581

[2017-10-05 14:17] AdiChat commented on #576
The code should be placed under the `minimum_insertion_palindrome` folder within the `dynamic_programming` folder 👍

You need to create the folder 👍

[2017-10-05 14:18] AK-007 commented on #565
@AdiChat  plz review #578

[2017-10-05 14:38] faisal1337 commented on #418
Here's the PR #584 Implemented in 'C'. Fixed the Issues.

[2017-10-05 15:00] RajatGarg97 commented on #464
Please review and merge Pull request #585 .

Thanks for giving me this opportunity @AdiChat

[2017-10-05 15:01] AlabhyaVaibhav commented on #171
Sure go ahead :)

[2017-10-05 15:04] Jay9596 commented on #11
Added Rust implementation #588

[2017-10-05 15:10] Maschmi commented on #274
I'll implement this in C#.

[2017-10-05 15:10] AK-007 commented on #576
PR #590  Implemented using C++ :)

[2017-10-05 15:16] ashutosh97 commented on #568
Created a `readme.md` file for Segment Trees. Please review and merge -
 [https://github.com/OpenGenus/cosmos/pull/591](url)

[2017-10-05 15:18] srpurwaha201 commented on #231
Can i implement this algo in pyhton?

[2017-10-05 15:39] 007akk commented on #580
hi @Arunraj97  i am doing this

[2017-10-05 15:40] arora-72 commented on #565
@AdiChat  implemented sort algo in java please see PR #592
Thanks:)

[2017-10-05 15:43] rstalekar commented on #580
@007akk are you doing this in C?
If so I will do this in C++

[2017-10-05 15:45] rstalekar commented on #398
Hi Aditya,
Can you review my code and , I have already created a pull request for this 5 hours ago

[2017-10-05 15:46] imfaizz opened #594 "Sieve of Eratosthenes"

[2017-10-05 15:50] 007akk commented on #594
can I do this @AdiChat

[2017-10-05 15:53] 007akk commented on #594
@imfaizz can i do this

[2017-10-05 15:53] arora-72 commented on #556
@AdiChat  implemented minHEap algo in swift3 please review

 PR #598
Thanks:)

[2017-10-05 15:56] imfaizz opened #599 "Count trailing zeroes in factorial of a number"

[2017-10-05 16:03] rstalekar commented on #565
I am implementing this in C

[2017-10-05 16:03] imfaizz opened #603 "Replace all ‘0’ with ‘5’ in an input Integer without using arrays for individual digits"

[2017-10-05 16:04] arora-72 commented on #580
@Arunraj97  algo implemented in java
Please review
PR #602
Thanks:)

[2017-10-05 16:06] rstalekar commented on #580
Hi Aditya,
Can you let me know how I can add myself in Contributors list? My name is only shown in members list

[2017-10-05 16:14] AdiChat commented on #594
@007akk This exists in `C++` ([see](https://github.com/OpenGenus/cosmos/blob/master/code/mathematical-algorithms/sieve_of_eratosthenes/sieve_of_eratosthenes.cpp)) 👍

Kindly take a look at other scopes of contribution or refactor the existing code 👍

[2017-10-05 16:18] 007akk commented on #594
@AdiChat  actually i have compact c++ code, i am pulling the request u could have a look on it

[2017-10-05 16:18] AdiChat commented on #580
You need to send a pull request 👍

[2017-10-05 16:18] rstalekar commented on #398
Aditya , are you able to see my name in Contributors list as rstalekar , or
even when I do commit or comment , do you see my name as Contributor?

On Thu, Oct 5, 2017 at 4:44 PM, Chetan Kumar <notifications@github.com>
wrote:

--
Regards,
Rajendra S.
Mobile :- +91 8452071326

For a successful technology, reality must take precedence over public
relations, for Nature cannot be fooled.
~ Richard P F

[2017-10-05 16:19] AdiChat commented on #594
In that case, modify the existing code 👍

[2017-10-05 16:22] 007akk commented on #603
@AdiChat i m doing this

[2017-10-05 16:30] rstalekar commented on #398
I have also raised a pull request, will you be able to review it please?

[2017-10-05 16:41] akritikts commented on #603
#include<iostream.h>
int main()
{
int n;
cin>>n;
while(num!= 0)
{
a = num%10;
If(!a)
{
num = num*10 + 5;
}
else
{
num = num*10 + a;
}
return 0;
}

[2017-10-05 16:41] 007akk commented on #603
where should i place the pull request

[2017-10-05 16:41] 007akk commented on #603
#include <bits/stdc++.h>

using namespace std;

int main(){

	int n; cin >> n;

	int a = 1;

	while( n / a >= 1){

		a = a* 10;

		int temp = n % a - n % (a / 10);

		temp = temp / (a/10);

		int temp2;

		if(temp == 0){

			temp2 = 5 * (a/ 10);

			n = n - temp + temp2;
		}

	}

	cout << n << endl;
}

[2017-10-05 16:43] akritikts commented on #603
I am totally new to this hackathon, I didn't know where to answer that's
why I commented.

On 5 Oct 2017 10:11 p.m., "abhishek kumar" <notifications@github.com> wrote:

[2017-10-05 16:44] AdiChat commented on #603
This should go to the `unclassified` section 👍

[2017-10-05 16:46] fedesassone commented on #599
Hey I can work this out

[2017-10-05 16:49] 007akk commented on #599
I am doing this is in c++

[2017-10-05 16:57] yashkgp commented on #556
Implemented minheap in python
#610
@AdiChat Please review and merge

[2017-10-05 17:03] anshul98ks123 commented on #181
I have added PR on edit distance in java. Please review it.

[2017-10-05 17:03] ivanrein commented on #545
i've [added it](https://github.com/OpenGenus/cosmos/pull/613)

[2017-10-05 17:30] SaiSakethAluru commented on #599
PR #618 done in python

[2017-10-05 17:46] alphaWizard opened #624 "can i add kuhn's algo for maximum bipartite checking?[C++]"
the algorithm finds maximum bipartite matching in the bipartite graph without using maximum flow algorithm and use naive dfs to do that.

[2017-10-05 17:52] phoenix157 opened #627 "Count set bits"
Can i work on this in c++?

[2017-10-05 17:56] anshul98ks123 commented on #599
PR #619 done in Java

[2017-10-05 17:56] ranjan-abhi commented on #580
@AdiChat i have implemented in c.

[2017-10-05 17:59] AdiChat commented on #624
Sure. Go ahead 👍

[2017-10-05 18:00] AdiChat commented on #627
Sure. Go ahead 👍

[2017-10-05 18:01] 007akk commented on #599
PR done in c++

[2017-10-05 18:01] anshul98ks123 commented on #534
Java implementation merged in PR #550

[2017-10-05 18:03] phoenix157 commented on #627
Implemented at #628

[2017-10-05 18:06] SaiSakethAluru commented on #568
I would like to work on this.

[2017-10-05 18:07] SaiSakethAluru commented on #568
PR #629 readme.md for knapsack problem. Please review and merge

[2017-10-05 18:28] Jay9596 commented on #534
Added **Go** and **Rust** implementations #633

[2017-10-05 18:42] mor11235 commented on #477
Can I implement this is C++?

[2017-10-05 18:46] AlexanderDavid commented on #436
@manan904 You said you'd do it in python /or/ C++. So I picked the one you wouldn't do it in

[2017-10-05 18:58] rishav-pandey commented on #418
Can I add Ceaser & Vigenere Cypher in C ??

[2017-10-05 19:04] weirdGuy commented on #436
Will implement in ruby :)

[2017-10-05 19:09] AdiChat commented on #477
Sure. Go ahead 👍

Be sure to check existing implementations 👍

[2017-10-05 19:10] AdiChat commented on #436
Sure. Go ahead 👍

[2017-10-05 19:10] AdiChat commented on #418
Be sure to check existing implementations before making a pull request 👍

[2017-10-05 19:16] AdiChat commented on #398
Yes, your name appears as a contributor 👍

[2017-10-05 19:18] AdiChat commented on #367
merged 👍

[2017-10-05 19:19] AdiChat commented on #275
Sure. Go for it 👍

[2017-10-05 19:19] AdiChat commented on #231
Sure. Go for it 👍

[2017-10-05 19:23] rishav-pandey commented on #418
I would also like to add GAME OF FIFTEEN in C, in Unclassified Section

[2017-10-05 19:25] Rhendz opened #639 "Median of Medians Algorithm"
https://en.wikipedia.org/wiki/Median_of_medians
This is a mathematical algorithm used to find a good pivot point - the median.
I'll write the solution in C++.

[2017-10-05 19:36] Rhendz opened #640 "Quickselect - Selection Algorithm"
https://en.wikipedia.org/wiki/Quickselect
This is a selection algorithm used to find the kth smallest element in an unordered list.
I'll add the implementation in C++.

[2017-10-05 19:42] weirdGuy opened #642 "Infix to Postfix notation conversion"
https://en.wikipedia.org/wiki/Reverse_Polish_notation
This is algorithm used to understand work of processor and manipulation with stack
Reinvented by Dijkstra

[2017-10-05 19:49] AdiChat commented on #418
Sure @rishav-pandey Go for it 👍

[2017-10-05 19:52] yashkgp opened #643 "Counting Inversions using C"

[2017-10-05 20:00] rishav-pandey commented on #418
What should be pull request number for GAME OF FIFTEEN ??

[2017-10-05 20:04] AdiChat commented on #418
It gets assigned serially. Just make a pull request anytime 👍

[2017-10-05 20:45] sirjan13 opened #649 "Unique Number"
Find unique number in an array where every element occours thrice except one.Find that unique Number

[2017-10-05 20:49] fedesassone commented on #649
I can take care of this :D

[2017-10-05 20:54] RajatGarg97 commented on #649
Can I also try this in C++ @sirjan13 ?

[2017-10-05 20:56] AdiChat commented on #649
Sure. Go for it 👍

[2017-10-05 21:04] RajatGarg97 commented on #314
Can I implement this in C++ @AdiChat ?

[2017-10-05 21:19] AdiChat commented on #314
The `C++` implementation exists. Kindly take a look at other scopes of contribution or refactor existing code 👍

[2017-10-05 21:20] ranjan-abhi commented on #640
@Rhendz I have implemented this in c++

[2017-10-05 21:36] sirjan13 opened #652 "Fermat's Little Theorem"
Using Fermat's Little Theorem compute (A^B)%m where 1<=A,B<10^100000

[2017-10-05 22:14] 7Orion7 commented on #649
I would like to do this in python if it is ok.

[2017-10-05 22:15] AdiChat commented on #649
Sure. Go for it 👍

[2017-10-05 22:19] 7Orion7 commented on #627
I wanna try this in python :)

[2017-10-05 22:24] willshiel commented on #649
I could do java

[2017-10-06 02:12] lierluis commented on #133
Hi @AdiChat I noticed there are some warnings and compilation errors from certain Java files in your codebase. May I make fixes to them?

[2017-10-06 02:40] 007akk commented on #652
@AdiChat  i am doing this in c++

[2017-10-06 02:41] 007akk commented on #642
@AdiChat i am doing this in c++

[2017-10-06 02:46] Vitorvgc opened #661 "Add palindrome partition solution"
Add the code for `palindrome partition` problem.

The code should be added at [code/dynamic_programming/palindrome_partition](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/palindrome_partition)

**Problem statement:**
Given a string `s`, determine the minimum number of cuts necessary to partition `s` in a set of palindromes.
For exaple, for string `aaabbba`, minimun cuts

[2017-10-06 02:54] Vitorvgc commented on #661
Added implementation in C++: #660

[2017-10-06 04:03] mittalshravika commented on #474
Hey @AdiChat,

I have added the code for max heap in C. Please review the same at #662

[2017-10-06 04:11] krnbatra commented on #627
Can i do it in C?

[2017-10-06 04:18] krnbatra opened #663 "Euler Phi Function"
Can I contribute euler phi function in C?

[2017-10-06 04:27] krnbatra opened #665 "Euler Phi Sieve"
Can I add implementation of Euler Phi Sieve in C++?

[2017-10-06 04:35] rstalekar commented on #398
Have you been able to review this code which I have written, I have already raised a pull request

[2017-10-06 05:00] AdiChat commented on #663
Sure. Go for it 👍

[2017-10-06 05:01] AdiChat commented on #665
Sure. Go for it 👍

[2017-10-06 05:36] rstalekar opened #669 "Print Nth node of a singly linked list in the reverse manner"
You must be able to fetch the nth node in a singly linked list in the reverse manner
eg:- if there is a list of 100 nodes and node number 10th is  passed, you must be able to return the 10th node from the end of the list.

[2017-10-06 05:37] rstalekar commented on #669
I am implementing this in C.

[2017-10-06 05:48] foobar98 commented on #669
I'd like to implement it in C++.

[2017-10-06 05:52] AdiChat commented on #669
Sure. Go for it 👍

[2017-10-06 05:54] rstalekar commented on #669
Aditya, were you able to review my reverse link list code

[2017-10-06 05:58] AdiChat commented on #669
Which one? Did you make a pull request?

[2017-10-06 05:58] rstalekar commented on #669
Yes of course

[2017-10-06 05:59] AdiChat commented on #669
Yes. I see. I have merged it 🎉

[2017-10-06 06:01] rstalekar commented on #398
Sorry I had asked you for providing me a link for creating pull request

[2017-10-06 06:02] rstalekar commented on #669
Oh is it, why didn't I get a mail then?

[2017-10-06 06:02] krnbatra commented on #665
Added Euler Phi Sieve. #670

[2017-10-06 06:03] AdiChat commented on #669
You should have overlooked. Take a look at the pull request 👍

[2017-10-06 06:03] krnbatra commented on #663
Added Euler Phi in C. #670

[2017-10-06 06:05] krnbatra commented on #627
Added count set bits in C. #670

[2017-10-06 06:15] foobar98 commented on #669
In which directory should I add my file?

[2017-10-06 06:18] AdiChat commented on #669
Create a folder `n_th_node_linked_list` under [here](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/Linked_lists) and place your code there 👍

[2017-10-06 06:24] AdiChat commented on #474
Merged 🎉

[2017-10-06 06:27] foobar98 commented on #669
Made a PR. Kindly review it. #671
Thanks.

[2017-10-06 06:36] AdiChat commented on #133
Sure. Merged your pull request 👍

[2017-10-06 06:37] ThanasisGkanos opened #672 "Red-black Tree"
Basically, a self-balancing binary tree: [https://en.wikipedia.org/wiki/Red%E2%80%93black_tree](url)

I can do the Java implementation :)

[2017-10-06 06:39] AdiChat commented on #672
Sure. Go for it 👍

[2017-10-06 06:41] AdiChat commented on #669
Merged 👍

[2017-10-06 06:45] edwardrichtofen115 commented on #348
do u want it in c++ also ?

[2017-10-06 06:49] AdiChat commented on #348
We have the implementation of the above algorithms in `C++` 👍

Kindly browse through our code base to see which category needs `C++` codes 👍

[2017-10-06 07:03] edwardrichtofen115 commented on #113
Done using c++ , please check #674

[2017-10-06 07:07] MarsMSJ commented on #669
How about a version of this algorithm (PrintNthToLast) as a templated algorithm in c++?

[2017-10-06 08:07] krnbatra opened #675 "Prim MST"
Can I add implementation of Prim's algorithm in C++?

[2017-10-06 08:08] krnbatra opened #676 "Cut vertices"
Can I add implementation of Cut vertices in C++?

[2017-10-06 08:11] krnbatra opened #677 "Bridge Tree"
Can I add implementation of Bridge Tree in C++?

[2017-10-06 08:36] rstalekar commented on #669
Aditya, how can I update the git repository , since when I had cloned earlier there was no directory for the nth node directory

[2017-10-06 08:49] rstalekar commented on #669
I used git pull, but it shows Already up-to-date, but don't see the directory which you created inside Linked_lists. Can I add and commit this in Linked_lists itself.

[2017-10-06 08:51] anku580 commented on #669
I would like to do this in c++

[2017-10-06 08:59] anku580 commented on #565
I would like to do in c++

[2017-10-06 09:04] yashkgp opened #681 "Interval Trees"
Implementation of interval trees

[2017-10-06 09:04] rstalekar commented on #669
I cloned and did a git add of my soruce code in the  n_th_node_linked_list and did a commit, however when i try doing a git push it gives the following error;-
remote: Permission to OpenGenus/cosmos.git denied to rstalekar.
fatal: unable to access 'https://github.com/OpenGenus/cosmos.git/': The requested URL returned error: 403

[2017-10-06 09:20] RajatGarg97 commented on #672
Can I try to implement this in C++ ? @AdiChat

[2017-10-06 09:21] rstalekar commented on #580
I have already mentioned that I will be doing in C

[2017-10-06 09:25] Nairu opened #684 "Pigeonhole Sort"
Requesting to implement Pigeonhole Sort in C#

[2017-10-06 10:19] mor11235 commented on #663
Can I implement in C++?

[2017-10-06 10:21] mor11235 opened #687 "Find the prime factors of a number"
Can I implement in C++?

[2017-10-06 10:26] mor11235 commented on #684
I can do this (in C++ also) if needed

[2017-10-06 10:27] mor11235 opened #688 "Find the gcd and lcm of a number"
Can I implement this in C++?

[2017-10-06 10:38] ivanrein opened #689 "2d line segment intersection algorithm"
I'll implement this in c++

[2017-10-06 11:42] piyush6348 commented on #687
I would like to work on this. It can be implemented using Sieve

[2017-10-06 11:46] ayush1999 commented on #642
I am doing this in Python!

[2017-10-06 11:48] piyush6348 opened #691 "Balanced tree"
Check whether a given tree is height balanced or not.

I would like to implement this in c++

[2017-10-06 11:50] piyush6348 opened #692 "Right View of Binary tree"
I would like to implement this in c++

[2017-10-06 11:51] piyush6348 opened #693 "Left View of Binary tree"
I would like to implement this in c++

[2017-10-06 11:52] piyush6348 opened #694 "Minimum height of binary tree"
I would like to implement this in c++

[2017-10-06 12:28] AdiChat commented on #675
Sure. Go for it 👍

[2017-10-06 12:28] AdiChat commented on #676
Sure. Go for it 👍

[2017-10-06 12:29] AdiChat commented on #694
Sure. Go for it 👍

[2017-10-06 12:29] AdiChat commented on #693
Sure. Go for it 👍

[2017-10-06 12:29] AdiChat commented on #692
Sure. Go for it 👍

[2017-10-06 12:30] AdiChat commented on #691
Sure. Go for it 👍

[2017-10-06 12:30] AdiChat commented on #677
Sure. Go for it 👍

[2017-10-06 12:31] AdiChat commented on #684
Sure. Go for it 👍

[2017-10-06 12:32] AdiChat commented on #688
Sure. Go for it 👍

[2017-10-06 12:32] AdiChat commented on #689
Sure. Go for it 👍

[2017-10-06 13:02] AdiChat commented on #672
Sure @RajatGarg97 Go for it 👍

[2017-10-06 13:03] AdiChat commented on #669
@rstalekar You need to clone this repository and push in your local work-space 👍

[2017-10-06 13:04] AdiChat commented on #663
Sure @mor11235 Go for it 👍

[2017-10-06 13:06] krnbatra commented on #675
Added C++ implementation #699

[2017-10-06 13:20] coderick14 opened #700 "Treaps"
Can I give a CPP implementation of treaps?

[2017-10-06 13:21] AdiChat commented on #700
Sure. Go for it 👍

[2017-10-06 13:27] ayush1999 commented on #688
@AdiChat  I am implementing this in Python!

[2017-10-06 13:30] shubhamdhama opened #703 "Segment Tree with Lazy Propagation"
I would like to work on its implementation in C++.

[2017-10-06 13:31] AdiChat commented on #703
Sure. Go for it 👍

[2017-10-06 13:44] Nairu commented on #684
Added in PR #705

[2017-10-06 13:45] anku580 commented on #694
i would like to implement in c++

[2017-10-06 13:47] anku580 commented on #692
i would like to do in c++

[2017-10-06 13:51] AdiChat commented on #692
Sure @anku580 Go for it 👍

[2017-10-06 13:52] AdiChat commented on #694
Sure @anku580 Go for it 👍

Be sure to check existing implementations 👍

[2017-10-06 13:52] Arunraj97 commented on #693
I would like to do it but where should I add the code for it?

[2017-10-06 13:53] AdiChat commented on #684
Merged 👍

[2017-10-06 13:54] phoenix157 opened #706 "Reverse a queue"
Can i work on this on c++?

[2017-10-06 13:55] AdiChat commented on #565
@anku580 This have been done in `C++`. Kindly browse through the code base to select a particular problem you would like to solve 👍

[2017-10-06 13:56] AdiChat commented on #706
Sure. Go for it 👍

[2017-10-06 13:58] AdiChat commented on #693
@Arunraj97 Kindly place your code in a folder named `binary_tree_left_view` under [here](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/Tree) 👍

[2017-10-06 14:01] phoenix157 commented on #706
Implemented at #708

[2017-10-06 14:06] Gupta-shifali commented on #688
Can I implement it in java

[2017-10-06 14:12] nimit95 opened #710 "Bottom View of Binary Tree"

[2017-10-06 14:14] coderick14 opened #711 "AVL Tree"
Can I add CPP implementation of AVL Tree?

[2017-10-06 14:14] nimit95 opened #712 "Top View of Binary Tree"
I would like to implement in C++

[2017-10-06 14:15] nimit95 opened #713 "Sum of left leaves in Binary Tree"
I would like to implement it in C++

[2017-10-06 14:17] Arunraj97 opened #714 "Next larger number with same digits"
The program must take a number as input and give the next larger number with same digits as output
For eg :- If input is 697 output is 769
               If input is 5674 output is 5746

[2017-10-06 14:21] piyush6348 commented on #694
please review #715

[2017-10-06 14:24] AdiChat commented on #710
Sure, Go for it 👍

Be sure to check existing implementations 👍

[2017-10-06 14:24] AdiChat commented on #713
Sure, Go for it 👍

Be sure to check existing implementations 👍

[2017-10-06 14:24] imfaizz commented on #714
I'd like to take this up

[2017-10-06 14:25] AdiChat commented on #712
Sure, Go for it 👍

Be sure to check existing implementations 👍

[2017-10-06 14:25] AdiChat commented on #714
Sure. Go for it 👍

[2017-10-06 14:26] AdiChat commented on #688
Sure. Go for it 👍

[2017-10-06 14:37] PinkiePie1189 commented on #713
Hi! I like this project a lot and I would really like to help :D. Not sure how is the implementation policy here tho. Should I just write a .cpp with a function sum(int tree[]) in it and make a PR with it?

[2017-10-06 14:46] mukul96 commented on #714
I would like to implement it in python.

[2017-10-06 14:48] AdiChat commented on #713
@PinkiePie1189 Glad you liked it 😍 You can make this great.

There is room for every style of implementation, just make sure there are no duplicate files. Browse through our code base and submit a pull request for any problem which you think should belong here 👍

You can take a look at our [Contribution guidelines](https://github.com/OpenGenus/cosmos/wiki/contribute) as well 👍

[2017-10-06 14:48] AdiChat commented on #714
Sure. Go for it 👍

[2017-10-06 14:51] Maschmi commented on #274
I'll do Java next.

[2017-10-06 14:57] Vitorvgc opened #723 "Add DP version of subset sum"
Add the dynamic programming approach of solving the `subset sum` problem.

The code should be added at [code/dynamic_programming/subset_sum](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/subset_sum).

[2017-10-06 15:01] Vitorvgc commented on #723
Added implementation in C++: #724

[2017-10-06 15:06] mukul96 commented on #714
In which Folder I have to put in the code.

[2017-10-06 15:20] mukul96 commented on #714
please review #727

[2017-10-06 15:22] krnbatra commented on #676
Added code in C++. #728

[2017-10-06 15:34] krnbatra commented on #677
Added code in C++. #730

[2017-10-06 15:36] rstalekar commented on #711
I will code this in C

[2017-10-06 15:39] rstalekar commented on #713
I will do this in C

[2017-10-06 15:41] jnight444 commented on #723
I'd like to take this on in C++

[2017-10-06 15:42] rstalekar commented on #669
What am I doing wrong here as per you?
I did a git clone 'https://github.com/OpenGenus/cosmos.git/ in my home directory
Then I navigated to the Linked_lists/ n_th_node_linked_list and then wrote my code and did git add .
git commit also went through , only when I do git push I get the above error.

[2017-10-06 15:44] AdiChat commented on #723
@jnight444 `C++` implementation has been added. Kindly attempt this in a different language or browse through our code base to find other scopes of contribution 👍

[2017-10-06 15:47] PinkiePie1189 opened #732 "Modular inverse?"
Can I implement an algorithm for finding the modular inverse of a number?

[2017-10-06 15:47] AdiChat commented on #669
You need to clone your local copy that is [this one](https://github.com/rstalekar/cosmos)

[2017-10-06 15:48] AdiChat commented on #732
Sure. Go for it 👍

[2017-10-06 15:50] rstalekar commented on #669
Ok thanks , in the Contributors list i can see my name now, but I can't see how many commits I have made etc and it shows 100 contributors out of 133. I made 4 commits and you have merged all 4, but yet my name does not appear in the 100

[2017-10-06 15:52] rstalekar commented on #669
I cloned it , but yet I don't see the sub-directory that you created for nth node. I will do a push in LInked_lists, please review it.

[2017-10-06 15:53] AdiChat commented on #669
You need to update your clone 👍

[2017-10-06 15:54] rstalekar commented on #669
I did using git pull and is shows
Already up-to-date.

[2017-10-06 15:58] rstalekar commented on #669
I will do a git push in LInked_lists, do you think that is fine?

[2017-10-06 16:02] anku580 commented on #712
i would like to work in c

[2017-10-06 16:02] AdiChat commented on #669
You need to do `git pull origin master`. This will update your local copy 👍

[2017-10-06 16:03] AdiChat commented on #712
Sure. Go for it 👍

[2017-10-06 16:08] jnight444 commented on #706
I'd like to implement this in python

[2017-10-06 16:09] rstalekar commented on #669
$git pull origin master
From https://github.com/rstalekar/cosmos
 * branch            master     -> FETCH_HEAD
Already up-to-date.
Then again I listed
ls
find_nth_node_from_end_of_list.c  reverse_list.c    rotate_list.cpp
merge_sort_linked_list.cpp        reverse_list.cpp

[2017-10-06 16:09] rstalekar commented on #669
Anyways I did a git push from my repository in Linked_lists , can you please review?

[2017-10-06 16:10] jnight444 commented on #706
I'd like to implement this in Java

[2017-10-06 16:11] AdiChat commented on #706
Sure @jnight444 Go for it 👍

[2017-10-06 16:14] AdiChat commented on #669
You can submit a pull request. I will fix the location 👍

[2017-10-06 16:16] rstalekar commented on #713
Yes , I too didn't understand this , does this mean we need to sum all the leaves of the left subtree from the root or is it sum of  the left leaves of the left subtree from the root.
Please clarify.

[2017-10-06 16:20] AdiChat commented on #713
In my opinion, he meant the sum of all leaves having the property of being the left child of its parent node 👍

[2017-10-06 16:22] mor11235 commented on #688
How can I link the code to this discussion? (sorry, I'm new here)
https://github.com/OpenGenus/cosmos/compare/master...mor11235:patch-2#diff-c36332540ecb28ee716877c026364fd8

[2017-10-06 16:23] rstalekar commented on #669
I have already pushed , now can you provide me the link to create pull request?

[2017-10-06 16:24] rstalekar commented on #669
When I go to Pulll requests and I  create new pull request, it goes and shows compare changes

[2017-10-06 16:26] AdiChat commented on #669
You can create a pull request from [here](https://github.com/OpenGenus/cosmos/compare/master...rstalekar:master) 👍

[2017-10-06 16:28] AdiChat commented on #688
You can place the issue number with a `#` (such as `#688`) in the commit message or in the pull request comment 👍

[2017-10-06 16:29] rstalekar commented on #669
I created it, can you see it?

[2017-10-06 16:30] rstalekar commented on #669
I navigated to my repository and created the pull request

[2017-10-06 16:31] PinkiePie1189 commented on #713
@AdiChat if that's the case,doesn't that mean that we only need to all sum even numbered nodes,which makes the implentation trival?

[2017-10-06 16:33] mor11235 opened #737 "Find the greatest digit of a number"
Can I implement this in C++?

[2017-10-06 16:33] mor11235 commented on #688
#736

[2017-10-06 16:36] rstalekar commented on #694
I am implementing this in C

[2017-10-06 16:37] AdiChat commented on #713
@PinkiePie1189 Yes, you are right 👍

In array representation (root at index 1), the solution will be the sum of all even numbered nodes.
In pointer representation, we need to traverse the tree and check if the left child is a leaf or not.

In both cases, the implementation is trivial 😄

[2017-10-06 16:38] mor11235 opened #739 "Convert number to binary and vice versa"
Can I implement in C++?

[2017-10-06 16:39] AdiChat commented on #739
Sure. Go for it 👍

[2017-10-06 16:39] AdiChat commented on #737
Sure. Go for it 👍

[2017-10-06 16:43] Raamyy commented on #737
@AdiChat  How to start in coding in it? 😃

[2017-10-06 16:45] Raghav17 commented on #737
In which folder should I push this?

[2017-10-06 16:47] mor11235 commented on #737
#741

[2017-10-06 16:58] dgarvit commented on #739
Can I implement this in Java?

[2017-10-06 17:01] PinkiePie1189 opened #743 "Partitions of a set with backtracking"
I will implement a generator for all the partitions of a set using backtracking. Would that be ok?

[2017-10-06 17:01] nimit95 commented on #713
@PinkiePie1189 you are right but the array representation would take extra memory in the binary tree.

[2017-10-06 17:03] AdiChat commented on #743
Sure. Go for it 👍

[2017-10-06 17:03] AdiChat commented on #739
Sure @dgarvit Go for it 👍

[2017-10-06 17:04] PinkiePie1189 commented on #743
@AdiChat also partitions of a number if we are there :))

[2017-10-06 17:06] AdiChat commented on #743
Sure 👍

[2017-10-06 17:08] mor11235 commented on #739
#745

[2017-10-06 17:13] rstalekar commented on #694
Created a pull request for the minimum height of tree, please review

[2017-10-06 17:13] ezeq3 commented on #739
Can I implement this in Python?

[2017-10-06 17:18] mukul96 commented on #691
Check whether a given tree is height balanced or not. I would like to implement in java.

[2017-10-06 17:21] Gupta-shifali commented on #642
Can I implement infix to postfix conversion in c++

[2017-10-06 17:25] sidd607 opened #749 "nth Fibonacci Number in O(logN)"
I would like to implement the algorithm for finding the nth Fibonacci number in O(logN) using matrix multiplication.

[2017-10-06 17:25] anku580 commented on #500
may i do this in c?

[2017-10-06 17:29] rstalekar commented on #713
Ok I am implementing in C.

[2017-10-06 17:33] sidd607 commented on #749
which folder do I add it in? There is already a Fibonacci Folder under mathematical-algorithms.

[2017-10-06 17:33] AdiChat commented on #739
Sure @ezeq3 Go for it 👍

[2017-10-06 17:34] mor11235 commented on #687
#750

[2017-10-06 17:34] AdiChat commented on #642
Sure. Go for it 👍

[2017-10-06 17:36] AdiChat commented on #500
@anku580 This has been done in `C`. Kindly browse through the code base to other scopes of contribution 👍

[2017-10-06 17:37] AdiChat commented on #749
Add it there 👍

[2017-10-06 17:48] anku580 commented on #692
i was trying to create a seperate pull request but it merges in one pull request how do i resolve this issue.

https://github.com/OpenGenus/cosmos/compare/master...anku580:master

[2017-10-06 17:50] mukul96 commented on #691
please review #755

[2017-10-06 18:00] mukul96 commented on #710
I would like to implement it in java.

[2017-10-06 18:03] Raamyy opened #757 "Sum of digits"
Calculates sum of digits in a number

[2017-10-06 18:04] Raamyy commented on #757
Where should I put this function ? 😃

[2017-10-06 18:05] AdiChat commented on #757
In the `mathematic-algorithm` section under a folder `sum_of_digits` 👍

[2017-10-06 18:10] Jagrati619 opened #760 "Fenwick Tree"
Implementation in Java

[2017-10-06 18:15] Raamyy commented on #757
#763 Done

[2017-10-06 18:15] Jagrati619 commented on #760
PR #762

[2017-10-06 18:33] mukul96 commented on #710
please review #764

[2017-10-06 18:34] sarthak268 commented on #757
Is this still open?

[2017-10-06 18:34] parimatrix opened #765 "Finding_Square in Python"
Can I submit a PR for this ?

[2017-10-06 18:34] sarthak268 commented on #739
In case this is still open I can do this in python or C++

[2017-10-06 18:35] sarthak268 commented on #737
Is this still open? If yes please assign

[2017-10-06 18:35] AdiChat commented on #732
Other contributors may want to code this in other languages as well 👍

[2017-10-06 18:36] AdiChat commented on #765
Sure. Go for it 👍

[2017-10-06 18:36] sarthak268 commented on #687
Could I implement this in python?

[2017-10-06 18:37] rstalekar commented on #713
I have created pull request, please review.

[2017-10-06 18:39] mukul96 commented on #760
I would like to implement in c++.

[2017-10-06 18:46] rstalekar commented on #710
I will implement this in C, just to clarify is it this way i.e. it will print all the nodes which are the same height starting from bottom to top in a tree?

[2017-10-06 18:48] #765 closed

[2017-10-06 18:56] ivanrein commented on #689
I've [added it](https://github.com/OpenGenus/cosmos/pull/772)

[2017-10-06 18:58] Raamyy commented on #737
#773

[2017-10-06 19:02] Jagrati619 commented on #760
@mukul96 C++ implementation already exists

[2017-10-06 19:13] AdiChat commented on #760
Other contributors can implement this in other languages as well 👍

[2017-10-06 19:13] AdiChat commented on #757
Yes 👍

[2017-10-06 19:13] AdiChat commented on #739
Go ahead @sarthak268 👍

[2017-10-06 19:14] ivanrein commented on #689
sorry, there was a mistake, I forgot to copy my code after writing it on my IDE. please [see my new pull request], it'll write over my old one (https://github.com/OpenGenus/cosmos/pull/776)

[2017-10-06 19:16] AdiChat commented on #689
No problem. Merged 👍

[2017-10-06 19:37] ron-popov commented on #757
I would like to implement this in python

[2017-10-06 19:58] mukul96 commented on #449
I would implement it in java.

[2017-10-06 20:04] AkshayCHD opened #779 "Add quick sort to divide_conquer"

[2017-10-06 20:05] AkshayCHD commented on #779
I would like to work on this issue

[2017-10-06 20:11] AdiChat commented on #779
Sure, go ahead 👍

[2017-10-06 22:13] bamsarts commented on #779
check my PR #796

[2017-10-06 22:31] AdiChat opened #797 "Add fractional knapsack"
Add the code for `fractional knapsack` in any language ( `C`, `Java`, `Go`, `Python`, `JavaScript` or any other)

The code should be placed at [code/greedy algorithms/fractional knapsack](https://github.com/OpenGenus/cosmos/blob/master/code/greedy-algorithms/fractional_knapsack)

Sample `C++` implementation: [see](https://github.com/OpenGenus/cosmos/blob/master/code/greedy-algorithms/fractional_kn

[2017-10-06 23:56] levifranca commented on #331
Hi @AdiChat, sorry for the delay, I had some setbacks that prevented me from update the README before.

Here is the PR with the change #798

Thank you

[2017-10-07 00:04] AdiChat commented on #331
Hello @levifranca 😄 No problem. Hope you are good now 👍

[2017-10-07 02:06] Kuldip397 commented on #749
I'll implement this in C++.

[2017-10-07 03:10] Kuldip397 commented on #749
Done, PR #802.

[2017-10-07 03:35] nathan-castlehow commented on #797
Hey looking at doing a c# one now, going to copy paste comments etc from the cpp one and make it almost identical. Is that cool?

[2017-10-07 04:02] Gupta-shifali commented on #245
Can I update this ll implementation code with inorder preorder and postorder traversals

[2017-10-07 04:06] Gupta-shifali commented on #757
Can I implement it in C

[2017-10-07 04:36] win72 opened #805 "Find the average of array of number"
Can I implement in C++?

[2017-10-07 04:37] win72 opened #806 "Find the standard deviation of array of numbers"
Can I implement in C++?

[2017-10-07 04:38] win72 opened #807 "Find if two numbers are coprime"
Can I implement in C++?

[2017-10-07 04:39] win72 opened #808 "Find the median of array of numbers"
Can I implement in C++?

[2017-10-07 04:43] mukul96 commented on #449
please review #809

[2017-10-07 05:20] chrlee opened #812 "Add 2Sum"
Can I implement this in C++ under mathematical-algorithms?

[2017-10-07 05:35] Raghav17 commented on #797
Hi, I want to do a C implementation, is it alright?

[2017-10-07 06:51] vishesh1042 commented on #797
Doing it in java.

[2017-10-07 06:58] Raghav17 commented on #779
I am doing it in C.

[2017-10-07 07:05] vishesh1042 commented on #797
#818 Added Java implementation

[2017-10-07 07:14] amartyaamp commented on #797
Will add the python code for this.

[2017-10-07 07:42] minijainsahab commented on #808
implemented in java. check #820

[2017-10-07 07:53] ananyasethi56 commented on #757
i would like to take this issue  in c++

[2017-10-07 08:02] ananyasethi56 commented on #712
i would like to take this issue in java

[2017-10-07 08:04] prnvdixit opened #821 "Add Python implementation of Modular Inverse"
In ```mathematical algorithms```, the python implementation of ```modular inverse algorithm``` is missing.

[2017-10-07 08:10] prnvdixit commented on #821
@AdiChat Submitted a PR https://github.com/OpenGenus/cosmos/pull/822

[2017-10-07 08:53] amartyaamp commented on #797
#823 Added for Python implementation.

[2017-10-07 09:07] darsh7807 commented on #760
Can i imlement it in c? I would like to do it in c!

[2017-10-07 09:10] darsh7807 commented on #739
@sarthak268  you are still doing it?   I would like to do this in c++,c!

[2017-10-07 09:15] darsh7807 commented on #737
@AdiChat can i do in c?

[2017-10-07 09:24] rstalekar commented on #398
Hi Aditya,
Though my reverse list is pushed , how can I create pull request. I can only see 6 pull requests, but does not include reverse_list.c , however I have done the commit and pushed it, so is it possible for you to send me the link to create a pull request?

[2017-10-07 09:57] AdiChat commented on #805
Sure. Go for it 👍

[2017-10-07 09:58] AdiChat commented on #812
Sure. Go for it 👍

[2017-10-07 09:58] AdiChat commented on #806
Sure. Go for it 👍

[2017-10-07 09:59] AdiChat commented on #808
Sure. Go for it 👍

[2017-10-07 09:59] AdiChat commented on #807
Sure. Go for it 👍

[2017-10-07 10:00] AdiChat commented on #797
Sure @nathan-castlehow @Raghav17 Go for it 👍

[2017-10-07 10:51] win72 commented on #805
Done. PR #827

[2017-10-07 10:53] Gupta-shifali commented on #805
Can I implement this in java?

[2017-10-07 10:57] win72 commented on #806
Done. PR #828

[2017-10-07 10:58] AdiChat commented on #805
Sure. Go for it 👍

[2017-10-07 10:59] AdiChat commented on #760
Sure @darsh7807 Go for it 👍

[2017-10-07 10:59] AdiChat commented on #757
Sure @ananyasethi56 Go for it 👍

[2017-10-07 11:02] AdiChat commented on #737
Sure @darsh7807 Go for it

[2017-10-07 11:02] AdiChat commented on #712
Sure @ananyasethi56 Go for it

[2017-10-07 11:03] AdiChat commented on #739
Go for it :+1:

[2017-10-07 11:03] win72 commented on #807
Done. PR #829

[2017-10-07 11:09] AdiChat commented on #398
@rstalekar Your `reverse_list.c` code has been pushed and it exists in **Cosmos** 👍

[2017-10-07 11:11] AdiChat commented on #245
Sure @Gupta-shifali Go for it 👍

[2017-10-07 11:13] win72 commented on #808
Done. PR #830 (In C++).

[2017-10-07 11:49] rstalekar commented on #398
However in my profile I only see 6 closed those are
  6 Closed
<https://github.com/pulls?q=is%3Apr+author%3Arstalekar+is%3Aclosed>
Visibility
Organization
Sort

   -
   OpenGenus/cosmos  <https://github.com/OpenGenus/cosmos>Added sum of left
   leaves in the tree. <https://github.com/OpenGenus/cosmos/pull/766>
   #766 by rstalekar
   <https://github.com/issues?q=is%3Apr+author%3Arstalekar> was mer

[2017-10-07 11:51] Raghav17 commented on #808
Where to place the code?

[2017-10-07 11:52] rstalekar opened #835 "Create right thread binary tree"
In this the right ptr of leaf node points to it's inorder predecessor and the rightmost leaf of the right sub-tree from the root will have both left and right ptrs as NULL
Thus this eliminates the overhead of building a stack, since traversal can be done via loop, instead of recursion.

[2017-10-07 11:53] rstalekar commented on #835
I will implement this in C

[2017-10-07 11:53] AdiChat commented on #398
You need to see the pull request content. Do not worry. It is there 👍

[2017-10-07 12:16] Raghav17 commented on #807
I am doing it in C.

[2017-10-07 12:34] Raghav17 commented on #807
Done. PR #836

[2017-10-07 12:43] darsh7807 commented on #760
@AdiChat  my pull request  #837

[2017-10-07 13:01] darsh7807 commented on #737
@AdiChat  For greatest digit my pull request  #838

[2017-10-07 13:10] darsh7807 commented on #737
@AdiChat  for smallest digit my pull request #839

[2017-10-07 13:13] livace opened #840 "Maybe add codestyle specification?"
Now code looks very different with different indents, variable names and another stuff. So maybe it's better to add codestyle specification to make code standartized?

[2017-10-07 13:19] minijainsahab commented on #808
@Raghav17 add your code here(code/dynamic_programming/Array_Median)

[2017-10-07 13:21] AdiChat commented on #840
This is a must requirement 👍

[2017-10-07 13:34] darsh7807 commented on #739
@AdiChat  my pull request in c++ #842

[2017-10-07 14:13] ahhmarr opened #844 "Add Sleep Sort"
Add the code for Sleep sort in any language ( C, C++, Java, Go, Python or any other)

The code should be placed at [code/sorting/Sleep_sort](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/Sleep_Sort)

Note: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For contribution guidelines, see [

[2017-10-07 14:18] ahhmarr commented on #844
#845
for JavaScript

[2017-10-07 14:27] ahhmarr opened #847 "Add Cycle Sort"
Add the code for Cycle sort in any language ( C, C++, Java, Go, Python or any other)

The code should be placed at [code/sorting/cycle_sort](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/cycle_sort)

Note: multiple contributors can work on this issue as it has multiple parts (languages)

Your pull request will be reviewed by maintainers instantly.

For contribution guidelines, see [

[2017-10-07 14:38] ahhmarr commented on #847
#848
for JavaScript

[2017-10-07 15:11] kusti8 commented on #840
Hi, I'm willing to work on this. What I would suggest is to add linting for each language, and then use CI to check for that. Flake8 would work for python, prettier is good for JS. For languages like C++, adopting an existing code style like https://google.github.io/styleguide/cppguide.html would really be the only option. I'll make a PR for this to discuss what I propose.

[2017-10-07 15:27] raghav710 commented on #409
I've added a PR for C# #853 . Thanks for the oppotunity

[2017-10-07 15:33] Jay9596 commented on #808
Rust implementation #858

[2017-10-07 15:34] Jay9596 commented on #807
Rust implementation #857

[2017-10-07 15:35] Jay9596 commented on #805
Rust implementation #856

[2017-10-07 15:42] parthsharma2 commented on #847
#860 implemented in python

[2017-10-07 15:59] ntrinquier commented on #812
I opened a [pull request](https://github.com/OpenGenus/cosmos/pull/861) to implement it in Python

[2017-10-07 16:24] amirkarimi commented on #847
#865 Go implementation

[2017-10-07 16:27] shaikkamran commented on #737
I will do this with python

[2017-10-07 16:32] foobar98 commented on #805
C++ and Python 3.5 implementation #867
Kindly review @AdiChat
Thanks. :)

[2017-10-07 16:34] Abishek10 commented on #710
Please review #868

[2017-10-07 17:05] Abishek10 commented on #812
I have implemented it in Cpp. Please review #874

[2017-10-07 17:16] Abishek10 commented on #693
I would like to implement this in Java

[2017-10-07 17:47] ArjitJ commented on #807
i can solve this in c++ using recursion technique
#879

[2017-10-07 17:52] Abishek10 commented on #694
I have implemented this in Python. Please review #881 .

[2017-10-07 18:11] Abishek10 commented on #692
I have implemented it in Python. Please review #884

[2017-10-07 18:47] Josh5231 commented on #757
I can do this in javascript

[2017-10-07 18:49] AdiChat commented on #757
Sure. Go for it 👍

Place your code [here](https://github.com/OpenGenus/cosmos/tree/master/code/mathematical-algorithms/sum_of_digits) 👍

[2017-10-07 19:44] Josh5231 commented on #409
I've made a pull request for javascript. #893

[2017-10-07 19:51] Jecoms commented on #847
I'll implement this in C#

[2017-10-07 21:15] Josh5231 commented on #739
Just submitted javascript version. #898

[2017-10-07 23:08] ntrinquier commented on #806
Done in python as well in #901 :)

[2017-10-08 00:50] Vitorvgc opened #903 "Add egg dropping puzzle solution"
Add the code for the `egg dropping puzzle` problem.

Description of the problem can be found [here](https://en.wikipedia.org/wiki/Dynamic_programming#Egg_dropping_puzzle).

[2017-10-08 00:53] Vitorvgc commented on #903
Added implementation in C++: #904.

[2017-10-08 01:11] amp180 commented on #808
Python implementation in pr #906.

[2017-10-08 01:26] utk-spartan commented on #599
PR #908  done in scala

[2017-10-08 02:25] eaho1 opened #909 "Add Anagram Search"
Can I add anagram_search to compare two strings if they are anagrams in C++ and Python?

Add to: code/string-algorithms/anagram_search

[2017-10-08 02:45] Rhendz opened #910 "Add Integer Conversion -> Binary, Hexadecimal, Octal"
Added the C++ Implementation

[2017-10-08 02:59] jenkassim commented on #847
I'll work on the C++ implementation

[2017-10-08 03:08] AdiChat commented on #909
Sure. Go for it 👍

[2017-10-08 03:14] Jerrgree commented on #909
I'd like to add in this search in C#

[2017-10-08 03:45] mor11235 commented on #910
I think that this can be merged with #739

[2017-10-08 04:11] Rhendz commented on #910
@mor11235 #739 only addresses Binary conversions, whereas this issue addresses hexadecimal and octal on top of binary.

[2017-10-08 04:31] rstalekar commented on #398
Ok cool

On Sat, Oct 7, 2017 at 5:23 PM, 阿迪亞 查特吉 <notifications@github.com> wrote:

--
Regards,
Rajendra S.
Mobile :- +91 8452071326

For a successful technology, reality must take precedence over public
relations, for Nature cannot be fooled.
~ Richard P Feynman ~

[2017-10-08 04:54] eaho1 commented on #909
Added Python implementation at pr #914

[2017-10-08 06:29] AdiChat opened #918 "Add Splay tree in any language"
Add the code for `Splay tree` in any language ( `C`, `C++`, `Go`, `Python`, `JavaScript`, `Swift` or any other)

The code should be placed at [code/data structures/ splay tree](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/splay_tree)

Sample code in `Java`: [see](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/splay_tree/splay_tree.java)

**Note**: mult

[2017-10-08 06:30] riyapannu7 opened #919 "Add Tower of Hanoi"
Can i add a program of Tower of Hanoi using recursion, C++ implementation?
Add to : code/data_structures/recursion/towe_of_hanoi

[2017-10-08 06:33] riyapannu7 opened #920 "Implementation of stacks using linked lists"
Can i add implementation of stacks (push and pop operations) using linked lists?
C++ implementation

[2017-10-08 06:38] AdiChat commented on #920
Sure. Duplicate issue. Kindly browse through previous issues 👍

[2017-10-08 06:39] AdiChat commented on #919
Sure. 👍
Duplicate issue. Kindly browse through previous issues 👍

[2017-10-08 06:46] riyapannu7 commented on #918
Can i implement this using C++?

[2017-10-08 06:47] AdiChat commented on #918
Sure @riyapannu7  Go for it 👍

[2017-10-08 07:11] eaho1 commented on #909
Implemented in C++ (PR #924) and Python (PR #925)

[2017-10-08 07:12] akhil117 commented on #918
Can I implement in C?

[2017-10-08 07:13] AdiChat commented on #918
Sure @akhil117 Go for it 👍

[2017-10-08 07:21] akhil117 commented on #642
Can I do this in java??

[2017-10-08 07:53] akhil117 commented on #642
@AdiChat  Can I implement in java??

[2017-10-08 08:32] coderaavan commented on #627
Can I implement this in Python?

[2017-10-08 08:33] akhil117 commented on #642
I added solution java Could you please review it https://github.com/OpenGenus/cosmos/pull/928

[2017-10-08 09:04] ananyasethi56 commented on #712
i want to do in c++

[2017-10-08 09:06] ananyasethi56 commented on #627
i want to take this issue

[2017-10-08 09:22] j3r3mias commented on #847
#930 implemented in C.

[2017-10-08 10:16] AdiChat commented on #627
Sure. Go for it 👍

[2017-10-08 10:17] AdiChat commented on #712
Sure. Go for it 👍

[2017-10-08 10:17] AdiChat commented on #642
Merged 👍

[2017-10-08 10:32] hackbansu commented on #919
can i add tower of hanoi in java via recursion in directory code/recursion/tower_of_hanoi?

[2017-10-08 10:35] AdiChat commented on #919
@hackbansu That would be consider as duplicate as we already have a category for `tower_of_hanoi` at the mathematics section. You can always add alternative implementations of existing codes in the same location with the filename reflecting it 👍

[2017-10-08 10:54] palash25 opened #933 "Add a pangram checker"
A good first timers issue.

[2017-10-08 10:54] palash25 opened #934 "Add a lipogram checker"

[2017-10-08 11:27] hackbansu commented on #920
can i add stack using linked list in java in directory code/data_structures/stack/stack_using_linked_list/ ?

[2017-10-08 11:38] AdiChat commented on #920
Sure 👍

[2017-10-08 11:43] ron-popov commented on #933
I would like to implement this in python , where should i place this file ?

[2017-10-08 11:47] AdiChat commented on #933
Under a folder named `pangram checker` in `string algorithms` 👍

[2017-10-08 12:26] hackbansu commented on #920
added java implementation of stack using linked list having generic data type in directory code/data_structures/stack/stack_using_linked_list/java_implementation
Resolving issue #920

[2017-10-08 13:30] hackbansu commented on #919
i have made a pull request for java implementation of tower of hanoi with commented code. please accept PR #932

[2017-10-08 19:10] karanchawla opened #956 "Add Find Unique Number"
How about adding this to bit manipulation?
Given an array of numbers where each number exists a multiple number of times, save one. Find this number using constant space and linear time worst case.

[2017-10-08 19:51] ankitjain28may commented on #757
I can do this in php

[2017-10-08 20:32] iBlackShadow opened #960 "k-d tree"
hi, would you be interested in an implementation of this data structure?

i used it to solve this <a href="http://coj.uci.cu/24h/problem.xhtml?pid=2067">problem</a>

[2017-10-08 20:36] sebasrp opened #961 "Add Queue implementation with Stacks"
Can I add an implementation in Java and Python?

[2017-10-08 20:43] AdiChat commented on #961
Sure. Go for it 👍

[2017-10-08 20:43] AdiChat commented on #960
Sure. Go for it 👍

[2017-10-08 20:59] arnavb opened #963 "Why are a lot of the data structures written in a C style format for C++?"
When  I look in the data structures folder, other than a few of them (such as B tree), I find they have a sort of C style interface for C++ files. I mean, if using C++, it would probably be better to use an object oriented style interface so it makes sense with C++. The C style interface is weird for C++ developers, and doesn't make sense for the language. Is someone willing to rewrite some of the

[2017-10-08 21:15] vaibhavsingh97 commented on #956
@karanchawla Adding code in python

[2017-10-08 21:21] vaibhavsingh97 commented on #956
This Will come under unclassified right?

[2017-10-08 21:26] karanchawla commented on #956
I guess.

[2017-10-08 21:26] vaibhavsingh97 commented on #956
I am adding PR, Please review

[2017-10-08 21:31] AdiChat commented on #963
You are right 👍

This indicates that our contributor base who have contributed `C++` codes are more accustomed to `C` style of coding. Imposing a particular coding style is certainly on our roadmap and will come to reality in the near future. Our first objective is to keep Cosmos contributor and user friendly, so, it has been postponed to a later date.

At the same time, it is critical to ensure t

[2017-10-08 21:33] c650 opened #965 "Add C++ Pangram Checker"
I saw [this](https://github.com/OpenGenus/cosmos/issues/933)

I'd like to submit a C++ version.

[2017-10-08 21:41] vaibhavsingh97 opened #967 "Python files are not PEP8 Compliant"
**Expected behavior:**
All Python files shuould be PEP 8 compliants

**Yes, I would like to work on the issue**

[2017-10-08 21:41] arnavb commented on #963
Ok, so for now it stays. However unfortunate that may be, it is what it is 😛 , so, whatever. Should I close this issue?

[2017-10-08 22:03] c650 commented on #808
This should really be done with [Quickselect](https://en.wikipedia.org/wiki/Quickselect). It'll be faster in the average-case [O(n)] than sorting the array [O(nlogn)] and _then_ finding the median.

[2017-10-08 23:18] chase commented on #918
#978 Implementation in Kotlin

[2017-10-09 01:10] karanchawla commented on #956
https://github.com/OpenGenus/cosmos/pull/983
Adding cpp version using XOR.

[2017-10-09 01:47] Vitorvgc commented on #198
Added implementation in Swift: #984.

[2017-10-09 04:48] AdiChat opened #991 "Add Shaker sort in any language"
Add the code for `Shaker sort` in any language ( `C`, `Java`, `Go`, `Python`, `JavaScript`, `Swift` or any other)

The code should be placed at [code/sorting/shaker_sort](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/shaker_sort)

Sample code in `C++`: [see](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/shaker_sort/shaker_sort.cpp)

**Note**: multiple contributors can

[2017-10-09 05:36] Jecoms commented on #991
I'll implement in C#.

[2017-10-09 05:43] etrexel commented on #991
I will do a python implementation.

[2017-10-09 05:58] protostellarsun commented on #991
Ah, Python is taken, I'll do Java then! Do you guys want any functional language implementations, e.g. OCaml?

[2017-10-09 06:27] 948080952 commented on #991
I will do a Objective-C implementation

[2017-10-09 06:35] arpank10 commented on #991
I will do a C implementation

[2017-10-09 08:14] AdiChat commented on #991
Sure @protostellarsun functional languages will be great 😄

[2017-10-09 08:16] AdiChat commented on #237
Keeping this open as other contributors can implement it in other languages 👍

[2017-10-09 08:34] 948080952 commented on #991
@AdiChat I already finish the shaker implementation in Objective-C

[2017-10-09 11:36] riyapannu7 commented on #920
Added C++ implementation of stacks using linked list with comments in directory code/data_structures/stack/stack_using_linked_lists
Kindly accept pull request.

[2017-10-09 12:51] arnavb opened #1008 "C++ member functions are undeclared for code/data_structures/B_tree/B_tree.cpp"
A lot of the member functions that are listed there have no declaration, but are still defined in the implementation, such as `search()` and `insert()`, and thus the code would not compile as is.

[2017-10-09 12:57] JorgeAndd commented on #991
Doing javascript implementation

[2017-10-09 13:38] priyalaggarwal commented on #694
Can I proceed to implement this for Java?

[2017-10-09 13:39] masquerade817 commented on #1008
I would like to take this up!

[2017-10-09 13:41] arnavb commented on #1008
@masquerade817  Go for it!

[2017-10-09 13:46] LesnyRumcajs commented on #119
Given the number of contributors and range of topics, I'd suggest WTFPL.
https://en.wikipedia.org/wiki/WTFPL

[2017-10-09 13:55] twify93 commented on #812
I've implemented it with Rust. PR #1013

[2017-10-09 13:56] likecs opened #1014 "Duplicate Folders : Pascal Triangle & Binomial Coeffcients"
Pascal triangle calculates binomial coefficients and there are separate folder for both of them. I feel it is not necessary to keep both of them.

[2017-10-09 13:57] likecs opened #1015 "Duplicate Folders : prime_factors and prime_factors_of_n"
There are 2 different folders with the same algorithm content. Although methods and complexity of codes are different, I think these folders should be merged into one and given the name "Factorisation"

[2017-10-09 14:20] amitsin6h commented on #844
#1018 Sleep Sort using php @AdiChat

[2017-10-09 14:23] satyamvats5 commented on #920
Can i implement it in C?

[2017-10-09 14:44] varishtsg commented on #134
Making one in C.

[2017-10-09 15:00] etrexel opened #1023 "Swap boolean never reset in shaker sort"
The C++ implementation of shaker sort has an error where the value of the swap boolean is never reset inside the loop. Therefore even if all values are sorted early it will still execute the maximum number of loop counts.

[2017-10-09 15:02] karanchawla commented on #963
Can you link me to a few examples? I am willing to write them up in CPP style.

Cheers!

[2017-10-09 15:13] arnavb commented on #963
- [AVL_tree.cpp](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/AVL_tree/AVL_tree.cpp)
- [Stack](https://github.com/OpenGenus/cosmos/tree/master/code/data_structures/Stack)
- [LeftistPriorityQueue.cpp](https://github.com/OpenGenus/cosmos/blob/master/code/data_structures/Leftist_Tree/LeftistPriorityQueue.cpp)
- [Tree](https://github.com/OpenGenus/cosmos/tree/master/code/data_s

[2017-10-09 15:35] Ondama commented on #991
I'm doing it in rust

[2017-10-09 15:43] saiprasanna94 opened #1027 "Dynamic Programming/CoinChange.cpp"
For the following input,
int coins[] = {1,2,3};
    int amount = 4;

Expected Output : 4     .....({1,1,1,1},{1,1,2},{1,3},{2,2})

Actual Result : 7

Correct me if I am wrong.

[2017-10-09 15:58] kapillamba4 opened #1028 "Add graham scan to computational geometry."
I would like to add graham scan to computational geometry section.

[2017-10-09 16:36] deziev commented on #418
PR for JS implementation #1031

[2017-10-09 16:48] arnavb opened #1033 "Add algorithms to check if strings are palindromes?"
Can I do this in Python and C++? I will place it in a new folder called `palindrome` in the string algorithms section. I plan on doing it in two ways, either by checking equality with the reverse of a string, by recursion, or by a loop.

[2017-10-09 16:52] raghav710 commented on #514
@AdiChat added the C# one. better late than never :)

[2017-10-09 17:37] mrmorais opened #1038 "Create Affine cipher algorithm"
https://en.wikipedia.org/wiki/Affine_cipher

It maps each letter in an alphabet using a mathematical function

I'm working on it in C++

[2017-10-09 17:44] kapillamba4 commented on #1028
@AdiChat Is there some problem with #1029,  why reopen this?

[2017-10-09 17:45] mrmorais commented on #1038
Finished on #1040

[2017-10-09 17:46] AdiChat commented on #1028
No problem 😄
Other contributors can add code in other languages as well 👍

[2017-10-09 18:07] amitsin6h commented on #1033
#1042 Implemented using python

[2017-10-09 18:10] AdiChat commented on #694
Sure 👍

[2017-10-09 18:14] dhruvmalik007 commented on #1038
Created C++ code

[2017-10-09 18:15] dhruvmalik007 commented on #1038
Tell me how to get my merge count for hacktoberfest

[2017-10-09 18:15] amitsin6h commented on #1033
@AdiChat are you merging my PR or should I close it because @arnavb has also done it with python but his solution is contains lots of code. let me know regarding this

[2017-10-09 18:41] amitsin6h commented on #1033
@AdiChat #1042 also added JavaScript solution. please review and merge it

[2017-10-09 18:48] arnavb commented on #1033
@amitsin6h I actually have **3** python solutions in one file. One of my solutions is only 3 lines of code.

[2017-10-09 18:59] amitsin6h commented on #1033
@arnavb yeah bro thats awesome. 👍 . Thanks for the info i wrnt for sleep now I will update it at morning. Thanks again

[2017-10-09 19:08] amitsin6h commented on #1033
#1042 merge it

[2017-10-09 19:22] AdiChat commented on #1033
merged 👍

[2017-10-09 19:36] keeferrourke commented on #119
The WTFPL is a great license :joy: but it was started as satire and is rather unprofessional. Its legal holding has been challenged in the past, and I only reserve its usage for joke projects. The ISC License is functionally equivalent.

[2017-10-09 19:46] arpank10 commented on #835
I will implement in c++

[2017-10-09 20:04] #1008 closed

[2017-10-09 20:08] arnavb opened #1047 "3 Different QuickSorts"
There are apparently three different quick sort implementations, located in various places. One is:

1. [code/divide_conquer/Quick_Sort](https://github.com/OpenGenus/cosmos/tree/master/code/divide_conquer/Quick_Sort)
2. [code/divide_conquer/quick_sort](https://github.com/OpenGenus/cosmos/tree/master/code/divide_conquer/quick_sort)
3. [code/sorting/quick_sort](https://github.com/OpenGenus/cosmos/tr

[2017-10-09 21:33] driesvb commented on #991
I'll do a VB.net implementation.

[2017-10-09 21:51] cenaion commented on #1038
I am doing in Java

[2017-10-09 21:58] AlabhyaVaibhav commented on #934
adding python version of it :)

[2017-10-09 22:19] AlabhyaVaibhav commented on #1038
trying this using python :)

[2017-10-09 23:22] JeffreyCA commented on #991
I can do Swift!

[2017-10-09 23:31] Clorophila commented on #991
I can do Golang.

[2017-10-10 00:21] rizkiprof opened #1059 "Diophantine ?"
if it is not there I will do it

[2017-10-10 01:02] Vitorvgc commented on #1027
Yes, the code needs fixing. The problem is that current solution is considering different permutations of the same subset as different solutions. This way it is returning 7 because it is counting all these solutions:  {1, 1, 1, 1}, {1, 1, 2}, {1, 2, 1}, {2, 1, 1}, {1, 3}, {3, 1}, {2, 2}, while {1, 2, 1}, {2, 1, 1} and {3, 1} shouldn't be counted.

[2017-10-10 02:10] 948080952 opened #1065 "There are two implementation of heap sort in JavaScript"
They are [heap_sort.js](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/heap_sort/heap_sort.js) and [heapSort.js](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/heap_sort/heapSort.js)

[2017-10-10 02:40] ivanrein opened #1066 "Adding quickhull algorithm"
I'll do this in c++

[2017-10-10 04:11] kapillamba4 opened #1068 "Add Jarvis March/Gift Wrapping computational geometry algorithm"
I would like to do this.

[2017-10-10 04:37] Lawih commented on #335
Does these numbers have a range?

[2017-10-10 05:33] ivorynoise opened #1069 "Add Painter's problem"
Can I write an algorithm that extends the use of binary search to solve real life problems. The description of the problem can be found [here](https://www.interviewbit.com/problems/painters-partition-problem/)

I ll add it to code/search/binary_search/partition_problem.cpp

[2017-10-10 06:45] likecs opened #1072 "Duplicate files and folders"
There are many files and folders which are duplicated. For example : Dijkstra's algorithm which is both a graph and greedy algorithm exists in both the folders. Similar is case with many other files like bellman ford, binomial coefficient and so on.

According to me, only one place should be given to all of them. This will also prevent addition of code (through pull requests) on the same topic sin

[2017-10-10 06:47] likecs opened #1073 "README content for algorithms"
Most of the folders contain an README file which is just a copy of one original file containing "cosmos libray".

I feel a small description of the problem or algorithm the code is trying to solve should be present in the README and this should be done for all the folders, even the ones which do not have a README currently. This will improve the overall knowledge base the repository provides and i

[2017-10-10 07:22] AdiChat commented on #1068
Sure. Go for it 👍

[2017-10-10 07:23] AdiChat commented on #1069
Sure. Go for it 👍

[2017-10-10 07:37] gauravarora011 opened #1078 "Directory for searching"
There's a need for directory which will enable the users for easy searching for algos.
Suggestion required.

[2017-10-10 07:40] gauravarora011 opened #1079 "Recursion Directory"
what about a directory for recursive algos:

[code]

[2017-10-10 07:42] akhil117 commented on #808
Can I implement in c??

[2017-10-10 07:47] AdiChat commented on #1079
Recursion is more of an implementation technique rather than a domain in itself. More over all the problems can be incorporated in other sections.

If we create a category for recursion, then the problem of duplicate code at multiple locations will be more severe.

Currently, we do accept codes in the same language for the same problem expressing different implementation techniques. So, the need f

[2017-10-10 07:51] AdiChat commented on #1072
The purpose of duplicate codes at multiple location is to keep each category self satisfying in itself.

GitHub does not have the feature to setup links between folders of the repository. Currently, we have to maintain this manually but an efficient way to manage this is in progress and will soon be incorporated in Cosmos 👍

[2017-10-10 07:53] AdiChat commented on #1073
Yes, this is required and has been incorporated in a small section of categories.

[2017-10-10 07:56] AdiChat commented on #1078
Searching tools for Cosmos are in progress and will be incorporated soon 👍

[2017-10-10 07:58] AdiChat commented on #991
Sure @Clorophila Go for it 👍

[2017-10-10 08:10] akhil117 commented on #808
pull for https://github.com/OpenGenus/cosmos/pull/1082 in c

[2017-10-10 08:38] ansh997 commented on #1038
how can I contribute in this?

[2017-10-10 09:02] #1079 closed

[2017-10-10 09:03] #1078 closed

[2017-10-10 09:12] kapillamba4 opened #1083 "Inconsistent "Case" of names of different sections."
Example: graph-algorithms is spinal case while computational_geometry is snake Case.

[2017-10-10 10:16] AdiChat commented on #1038
@ansh997 You can code a problem in any language (provided it is not in our code base) in your local working copy and create a pull request 👍

[2017-10-10 12:04] arnavb commented on #1083
This is the kind of problem that comes up when there is no coding standard. (Yet)

[2017-10-10 12:04] amartyaamp opened #1093 "Add 0/1 knapsack implementations in other Languages."
Currently implemented with C and C++ only.

[2017-10-10 12:05] amartyaamp commented on #1093
I will be going ahead with python implementation for the same.

[2017-10-10 12:07] kapillamba4 commented on #1083
Maybe we can just add a link to the google style guide.

[2017-10-10 12:07] arnavb commented on #1073
Can I fix some README's for a small subset of algorithms?

[2017-10-10 12:11] arnavb commented on #1083
@kapillamba4 That's a pretty good idea, but it is just _one_ possibility. Right now, someone has to be willing to actually go and refactor _every_ single file so it conforms to the style guide. A bigger problem than this right now is the actual organization of this project, which is inconsistent.

[2017-10-10 12:53] kapillamba4 commented on #1083
@arnavb The bigger problem is people copy pasting code from geeksforgeeks (and some other sites) which has alot of poorly written code.

[2017-10-10 12:55] arnavb commented on #1083
@kapillamba4 Their code is not poorly written, it's just that they have their own style.

[2017-10-10 13:10] arnavb commented on #1047
This is now partially resolved in #1097

[2017-10-10 13:11] ReimuA opened #1099 "Add C sudoku solver"
I saw [this](https://github.com/OpenGenus/cosmos/blob/master/code/backtracking/sudoku_solve/SudokuSolve.cpp).

I'd like to add my C version of that problem.

[2017-10-10 13:20] bamsarts commented on #1093
check my PR #1100

[2017-10-10 13:21] darioTecchia commented on #1093
Hi! Check my PRs #1101 and #1098

[2017-10-10 13:25] kapillamba4 commented on #1083
@arnavb yes and @AdiChat i have an idea which can help improve code quality, can you integrate this project with travis ci?

[2017-10-10 13:40] priyalaggarwal commented on #694
#1103 for Java

[2017-10-10 13:51] arnavb commented on #1083
I see what you are trying to say @kapillamba4, but what would a "build" for this repo be?

[2017-10-10 14:01] kapillamba4 commented on #1083
@arnavb @AdiChat  I believe we can use code linters and google style checking "scripts" for different languages for continuous integration. Although i don't have time to search for those on the web and I don't know if travis ci supports such a thing.

[2017-10-10 14:04] arnavb commented on #1083
Travis CI does support this, but it is a **build system**.

[2017-10-10 14:20] amartyaamp commented on #1093
Raised #1106 for python implementation.

[2017-10-10 14:56] AdiChat commented on #1083
We have a naming convention in the Contributing guideline wiki which very few contributors have complied to.

We have impose simple rules in the guidelines which are not so important but it has been seen that contributors had difficulty adjusting to it. In such a scenario, coding guidelines will only discourage contributions. For instance, even @kapillamba4's code does not comply to present guidel

[2017-10-10 14:56] #1083 closed

[2017-10-10 15:34] arnavb commented on #1065
I created a PR for this (PR #1107)

[2017-10-10 16:35] SarahLizDettloff commented on #1066
Hello Ivarein! I'll start the quickhull algorithm in C++ tonight.

[2017-10-10 18:00] #689 closed

[2017-10-10 18:00] #545 closed

[2017-10-10 18:28] #1066 closed

[2017-10-10 18:41] Josh5231 opened #1115 "Shuffle Array"
I just added a pull request for the javascript version of this. #1114

[2017-10-10 19:00] amartyaamp commented on #1027
Please check PR #1116  - this fixes the above issue. Also added python implementation.

[2017-10-10 21:26] tbhaxor opened #1119 "Create reverse_stack.cs"
I just created a stack problem in c sharp at **/code/data_structures/stack/reverse_stack**

[2017-10-10 22:00] AdiChat commented on #229
Keeping this open, as others may contribute in other languages as well 👍

[2017-10-10 22:04] AdiChat opened #1120 "Add code for 2D line intersection in any language"
Add the code for `2d line intersection` in any language ( `C`, `JavaScript`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/computational geometry/2d_line_intersection](https://github.com/OpenGenus/cosmos/tree/master/code/computational_geometry/2d_line_intersection)

Sample code in `C++`: [see](https://github.com/OpenGenus/cosmos/blob/master/code/computational_geometry/2d

[2017-10-10 22:39] #1099 closed

[2017-10-10 22:42] tbhaxor opened #1122 "Create hashtable in any language"
creating file hashtable.cs in **/code/data_structures/hash_table**

[2017-10-10 22:43] dfarley1 commented on #1120
Added C implementation: #1123

[2017-10-10 23:01] imiordanov commented on #910
I got it in JavaScript, it supports conversion to any base from 2 to 16. Easily extendable even further, but I think it should be OK as-is. I will fork, push and submit a pull request asap.

[2017-10-10 23:10] tbhaxor commented on #1122
@AdiChat thanks bro 👍

[2017-10-10 23:34] tbhaxor opened #1127 "Create reverse_stack.py"
creating code for **code/data_structures/stack/reverse_stack**

[2017-10-10 23:45] FrankKair commented on #1033
Just opened a PR for a Ruby implementation (#1126)

[2017-10-11 01:01] vedhasp commented on #1122
I'll do it :)

[2017-10-11 02:46] junaid1460 opened #1136 "How about listing out Python built-in functions and classes? With a small usage example"
I think people should know about Python's built-in modules which are helpful. What about this?

[2017-10-11 02:51] #1065 closed

[2017-10-11 03:14] karanchawla commented on #1136
IMO the documentation does a really good job at that.

[2017-10-11 03:22] hwchiu opened #1138 "Binary Tree related category issues."
There's a category `binary_search_tree_height` in `code/data_structures/Tree` now. That's weird for me because I think there's no different between `binary_search_tree_height ` and `binary_tree_height`.
I think maybe we can rename `binary_search_tree_height` to `binary_tree_height` to make it more general.

Besides, do we need to rename the directory `Tree` to `tree` for consistency style ?

[2017-10-11 03:30] AdiChat commented on #1138
Yes, the above two categories can be merged 👍
The directory `tree` exists in lower case 👍

[2017-10-11 03:37] AdiChat commented on #1136
Most of the documentations are available **offline** in the form of docsets. In installation guidelines, we will point to them 👍

[2017-10-11 03:47] hwchiu commented on #1138
Thanks, there're some problem in my environment so I still see some upper case directory name, such as Stack/Tree. lol.
So, Should I rename `binary_search_tree_height` to `binary_tree_height` or `binary_tree_maximum_height` since there's a `binary_tree_minimum_height` category.

[2017-10-11 04:25] AdiChat commented on #1138
`binary_tree_maximum_height` should be consistent 👍

There were multiple directories with both upper and lower case. I merged them yesterday.
The problem was that windows is case-insensitive and git seems to be case-sensative 👍

[2017-10-11 05:42] junaid1460 commented on #1136
Okay fine

[2017-10-11 05:42] #1136 closed

[2017-10-11 05:44] kapillamba4 opened #1148 "Add quick hull computational geometry algorithm in java."
I would like to do this.

[2017-10-11 06:49] AdiChat opened #1152 "Add code for Lexicographic rank of a string in any language"
Add the code for `Lexicographic rank of a string` in any language ( `C`, `C++`, `Java`, `Go`, `Python` or any other)

The lexicographic rank of a string is the rank of the string among all permutations of its characters sorted lexicographically.

The code should be placed at [code/mathematical-algorithms/lexicographic_string_rank](https://github.com/OpenGenus/cosmos/tree/master/code/mathematical-a

[2017-10-11 07:04] IAmBullsaw commented on #1115
Made an implementation for shuffling arrays in ruby, please revise #1153 :smirk_cat:

[2017-10-11 07:40] bamsarts commented on #1152
check my PR #1158

[2017-10-11 07:41] tbhaxor opened #1159 "Create reverse_stack.cpp"
creating reverse_stack.cpp in **/code/data_structures/stack/reverse_stack**

[2017-10-11 08:19] ranjan-abhi commented on #1159
@AdiChat  i m doing this

[2017-10-11 08:20] tbhaxor commented on #1159
@ranjan-abhi  ohk bro

[2017-10-11 08:22] tbhaxor commented on #1159
@ranjan-abhi  i hv uploaded bro

[2017-10-11 08:58] bitbrain-za commented on #1122
Added one in c

[2017-10-11 09:03] 948080952 commented on #1122
I'll do Objective-C and Swift part

[2017-10-11 10:05] tbhaxor opened #1169 "create reverse_stack in any language"
I have created **reverse_stack.php** in _/code/data_structures/stack/reverse_stack_

[2017-10-11 10:07] tbhaxor commented on #1122
i am doing in PHP

[2017-10-11 10:13] tanmaydarmorha commented on #1033
Can i do this in Java?

[2017-10-11 13:31] tbhaxor commented on #1169
@AdiChat  some pulls are [here](https://github.com/OpenGenus/cosmos/pull/1165)

[2017-10-11 15:17] lazyc97 commented on #956
Wait, the xor method only work if other elements appear "an even number of times" not "multiple number of times".

[2017-10-11 16:11] ivanrein opened #1194 "2d Separating Axis Test for collision detection between convex shapes"
I [added](https://github.com/OpenGenus/cosmos/pull/1193) c++ implementation

[2017-10-11 16:23] #1194 closed

[2017-10-11 16:41] AdiChat commented on #1033
Sure 👍

[2017-10-11 16:41] tbhaxor commented on #1169
@AdiChat bro i am going to make reverse stack in c

[2017-10-11 16:48] sinAshish opened #1201 "Improve the documentation of the readme."
I created a PR. Please review it.

[2017-10-11 17:00] GelaniNijraj commented on #199
I've tried to create a port for C from python implementation. #1205

[2017-10-11 17:06] Z-Fikar commented on #1169
I tried to create it in Java.

@AdiChat would you be kind to review my PR #1206 , please.

[2017-10-11 17:16] Z-Fikar commented on #1115
Can I use the Shuffle function from library (if it provided)? or I have to use some kind algorithms, like Fisher-Yates?

[2017-10-11 17:52] itaditya opened #1210 "Request to add my project to your Readme"
Hey ! I really liked this project and thus wanted to contribute to it. I noticed that you have intended the project to serve as an offline dictionary.
However the project has quickly evolved and the algorithms range has expanded. Due to this finding of algorithms becomes tedious for a user.
To remedy this I have made an online interface for cosmos.
Code - https://github.com/itaditya/cosmos-web-int

[2017-10-11 17:54] agrim123 opened #1211 "Binary search in Ruby and Haskell"
Shall I implement this?

[2017-10-11 18:19] AdiChat commented on #1211
Sure 👍

[2017-10-11 18:21] agrim123 opened #1215 "Insertion Sort in Ruby and Haskell"

[2017-10-11 18:24] AdiChat commented on #1210
We have a realtime search tool in progress in which some of our contributors are working. Your interface is good but quite far from what we are looking for. We believe it can be evolved.

Join [Slack](http://slack.opengenus.org/) and get in touch 👍

[2017-10-11 18:24] #1210 closed

[2017-10-11 18:25] agrim123 opened #1217 "Doubly Linked Lists in Golang"
Shall I go forward with this?

[2017-10-11 18:27] AdiChat commented on #1217
Sure 👍

[2017-10-11 18:32] choudhary001 commented on #8
Please review https://github.com/OpenGenus/cosmos/pull/1219

[2017-10-11 18:37] dgisser commented on #1148
Close pls

[2017-10-11 18:44] itaditya commented on #1210
Ok great

[2017-10-11 18:45] agrim123 opened #1222 "Queue in Javascript"

[2017-10-11 18:51] RajatGarg97 commented on #1059
May I implement this @AdiChat ?

[2017-10-11 18:52] AdiChat commented on #1148
Other contributors can add code in other languages as well 👍

[2017-10-11 18:52] AdiChat commented on #1059
Sure @RajatGarg97 Go ahead 👍

[2017-10-11 18:54] RajatGarg97 commented on #1059
so what type of diophantine equation should I implement @AdiChat  ?

[2017-10-11 19:54] mlodato517 commented on #1222
Hello! I'm relatively new to GitHub and was wondering if I could give this one a shot!

[2017-10-11 20:04] ilcapo1 opened #1230 "Vigenère Cipher in PHP"
#1229 Vigenère Cipher implementation in PHP.

[2017-10-11 20:20] tbhaxor opened #1231 "Create armstrong number in c sharp and php and js"
i am creating armstrong number program in c sharp and php at _/code/mathematical-algorithms/armstrong_numbers_

[2017-10-11 20:26] agrim123 commented on #1222
@mlodato517 I have already submitted pull request for this issue #1223

[2017-10-11 20:31] SarasArya commented on #1222
I too have submitted a PR implementation [#1232]( https://github.com/OpenGenus/cosmos/pull/1232)

[2017-10-11 20:35] Z-Fikar commented on #706
I have implemented it in Python #1233
@AdiChat Please review it when you have time, don't have to rush it as I see the PR counter keep increasing.

[2017-10-11 21:11] #1230 closed

[2017-10-11 21:51] tbhaxor commented on #1231
@AdiChat
some pulls are [here](https://github.com/OpenGenus/cosmos/pull/1165)

[2017-10-11 22:21] AdiChat opened #1237 "Add Sutherland hodgeman clipping algorithm in any language"
Add the code for `Sutherland hodgeman clipping algorithm` in any language ( `C`, `Swift`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/computational_geometry/sutherland_hodgeman_clipping](https://github.com/OpenGenus/cosmos/tree/master/code/computational_geometry/sutherland_hodgeman_clipping)

Sample `C++` code: [here](https://github.com/OpenGenus/cosmos/blob/master/cod

[2017-10-11 23:19] cameronbroe opened #1239 "Add linked list in Ruby"
An implementation of a singly linked list in Ruby is currently missing. Attaching a PR to this issue to add an implementation.

[2017-10-12 00:33] Rhendz opened #1242 "Add Conway's Game of Life"
https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life
Added an implementation in C++

[2017-10-12 00:41] FrankKair commented on #1033
Just opened a PR for a Rust implementation (#1243)

[2017-10-12 01:13] LuckehPickle opened #1245 "Add Rail Fence Cipher"
I'll be adding a ruby implementation soon.

[2017-10-12 01:37] hi15 commented on #965
I will work on it! =D

[2017-10-12 02:09] RajatGarg97 commented on #1059
I mean please elaborate the pull request @AdiChat

[2017-10-12 03:34] AdiChat commented on #1059
@RajatGarg97 You can attempt to solve linear Diophantine equations as a first step. You can always base your solution on specific higher order equations as well. The task is flexible 👍

[2017-10-12 04:01] shubhamnishad97 commented on #1237
I am working on the C implementation

[2017-10-12 05:23] shubhamnishad97 commented on #1237
The program works the following way

Coordinates of rectangular clip window :
xmin,ymin             :200 200
xmax,ymax             :400 400

Polygon to be clipped :
Number of sides       :3
Enter the coordinates :150 300
300 150
300 300

Before clipping:
![image](https://user-images.githubusercontent.com/25482994/31480413-5d5a0a88-af3b-11e7-9f2a-5f278dff2a16.png)

After clipping:
![image](https://

[2017-10-12 05:36] AdiChat commented on #1237
@shubhamnishad97 Kindly add the above description in the `readme` for this category 👍

[2017-10-12 06:10] shubhamcr commented on #1152
I am working on the C++ implementation of this.

[2017-10-12 06:48] shubhamnishad97 commented on #1237
added it to the readme for this category

[2017-10-12 07:53] IAmBullsaw commented on #1239
I'm on it :)

[2017-10-12 08:32] IAmBullsaw commented on #844
Implemented a sleep sort in ruby, please revise #1266 :smirk_cat:

[2017-10-12 08:42] shubhamcr commented on #1152
Check my PR #1267

[2017-10-12 09:04] shubhamcr opened #1269 "Create sort_stack in any language"
In code/data_structures/stack we could also create an efficient program for sorting a stack.

[2017-10-12 09:46] ilcapo1 opened #1273 "Baconian cipher implementation in PHP"
#1272 Baconian cipher implementation in PHP

[2017-10-12 10:28] sourabhjagtap95 commented on #1269
I have made a PR [https://github.com/OpenGenus/cosmos/pull/1274](url)

[2017-10-12 10:46] arpank10 commented on #1269
I will do it in c++

[2017-10-12 13:57] GelaniNijraj commented on #1127
Shouldn't this issue be closed?

[2017-10-12 14:08] #1273 closed

[2017-10-12 14:19] shubhamcr commented on #1269
Added sort_stack.cpp PR #1278. Please check it.

[2017-10-12 14:35] tbhaxor opened #1280 "create factorial.php"
I am creating factorial.php **/code/mathematical-algorithms/factorial**

[2017-10-12 14:36] shubhamcr commented on #1120
I am working on its Python implementation.

[2017-10-12 14:38] arpank10 opened #1281 "Adding NcR(modulo"

[2017-10-12 15:20] Anirudh5 commented on #1120
Working on c++ implementation

[2017-10-12 16:15] pBuddhi commented on #1281
I will do it.

[2017-10-12 16:30] arpank10 commented on #1281
I have already added it.

[2017-10-12 16:32] the-ethan-hunt opened #1292 "Add Langton's Ant"
Like Conway's game of life, Langton's ant is another cellular automation. Check out [this](https://en.wikipedia.org/wiki/Langton%27s_ant) for more details

[2017-10-12 17:42] candalo opened #1296 "Add stack implementation in PHP"
I'm creating a stack implementation in PHP.

[2017-10-12 17:46] shubhamcr opened #1297 "Check whether a number is a power of 2 using bit manipulation"
To check efficiently whether a number is power of 2 using bit manipulation

[2017-10-12 17:51] shubhamcr commented on #1297
Check PR #1298

[2017-10-12 17:58] #1047 closed

[2017-10-12 18:40] ayushkalani commented on #1280
I'm interested in doing it.

[2017-10-12 18:55] candalo commented on #1296
Check PR #1301 :)

[2017-10-12 18:55] andreigasparovici opened #1302 "Adding a majority element algoritm"

[2017-10-12 19:15] andreigasparovici commented on #1302
Code: [#1304](https://github.com/OpenGenus/cosmos/pull/1304)

[2017-10-12 19:15] ayushkalani commented on #1302
I'm interested in doing it, please share the details.

[2017-10-12 19:17] andreigasparovici commented on #1302
I already did it. See [Pull request #1304](https://github.com/OpenGenus/cosmos/pull/1304)

[2017-10-12 19:27] #1302 closed

[2017-10-12 19:35] candalo opened #1308 "Add recursive factorial implementation in PHP"
I'm creating a recursive factorial implementation in PHP.

[2017-10-12 20:01] andreigasparovici commented on #1308
Done. [PR #1308](https://github.com/OpenGenus/cosmos/issues/1308)

[2017-10-12 20:25] tbhaxor commented on #1231
@AdiChat  adding new code of js in **/code/mathematical-algorithms/armstrong_numbers**

[2017-10-12 20:28] candalo commented on #1308
Check PR ##1313 :)

[2017-10-12 20:34] andreigasparovici opened #1314 "Add Van Emde Boas tree implementation"
Data structure details: [Wikipedia](https://en.wikipedia.org/wiki/Van_Emde_Boas_tree)

[2017-10-12 20:37] andreigasparovici opened #1315 "Add Soft heap implementation"
More about this DS [here](https://en.wikipedia.org/wiki/Soft_heap) and [here](https://www.cs.princeton.edu/~chazelle/pubs/sheap.pdf)

[2017-10-12 21:29] tbhaxor opened #1318 "create lapindrome_checker in any language"
i am creating lapindrome checker in **code/string-algorithms/** in any language

_Lapindrome is defined as a string which when split in the middle, gives two halves having the same characters and same frequency of each character. If there are odd number of characters in the string, we ignore the middle character and check for lapindrome. ... Given a string, you need to tell if it is a lapindrome_

[2017-10-12 21:39] Vitorvgc opened #1319 "Add longest palindromic sequence solution in any language"
Add the code for the `longest palindromic sequence` problem in any language.

**Problem statement:**
Given a string `S`, find the longest subsequence of `S` that is a palindrome.

The code should be placed at [code/dynamic_programming/longest_palindromic_sequence](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/longest_palindromic_sequence).

For contribution guidelines, s

[2017-10-12 21:42] Vitorvgc commented on #1319
Added C++ implementation: #1320

[2017-10-12 21:43] tbhaxor commented on #1318
i am creating in _cpp_ and _python_ and _php_

[2017-10-12 21:45] AdiChat commented on #1318
Sure 👍

[2017-10-12 22:15] tbhaxor commented on #1318
@AdiChat  i have added _cpp_ of the same

[2017-10-12 22:46] JonNRb commented on #1315
Hey this seems pretty cool. Mind if I pick this up for Hacktoberfest?

[2017-10-12 22:47] AdiChat commented on #1315
Sure. Go for it 👍

[2017-10-12 23:01] tbhaxor commented on #1318
@AdiChat _PHP_ version is also added

kindly check and merge all these

[2017-10-13 01:32] Perruci commented on #1319
Hey,

I'm working on a longest_palindromic_sequence.py implementation.
My plan is to merge both of these solutions into ours. ([here](https://stackoverflow.com/questions/17331290/how-to-check-for-palindrome-using-python-logic), and [here](https://stackoverflow.com/questions/22469997/how-to-get-all-the-contiguous-substrings-of-a-string-in-python)).

I hope to be able to help.

[2017-10-13 01:39] Vitorvgc commented on #1319
An efficient algorithm to solve this problem uses dynamic programming.
You can check an explanation on this problem [here](http://www.geeksforgeeks.org/dynamic-programming-set-12-longest-palindromic-subsequence/).

[2017-10-13 01:56] Perruci commented on #1319
Wow,
Thanks for the heads up and nice reference.

[2017-10-13 02:15] nickdex commented on #1120
Hi, just created PR in python. Refer to #1330
Working on JS implementation now

[2017-10-13 02:21] IgorAntun commented on #1318
Just sent an improvement of the current JS version :)
#1331

[2017-10-13 03:47] #1308 closed

[2017-10-13 03:54] candalo opened #1340 "Add factorial implementation in Clojure"
I'm creating a factorial implementation in Clojure.

[2017-10-13 04:05] candalo commented on #1340
Clojure Implementation in #1342

[2017-10-13 04:21] Perruci commented on #1319
Let me know if there may be any improvements on the pull request.

[2017-10-13 04:32] MarsMSJ commented on #1115
I thought we were implementing the algorithms, not using code already in the standard library? ( shuffle_array.cpp )

[2017-10-13 05:42] Z-Fikar commented on #1115
@MarsMSJ that is exactly the reason why I asked before.

[2017-10-13 05:47] Z-Fikar commented on #706
@AdiChat  #1233 Ready to merge.

perhaps.

[2017-10-13 10:09] flavian11 opened #1380 "add doubly linked list implementation in C"
hi, i would like to implement a doubly linked list in C.

[2017-10-13 11:42] vshelke commented on #1380
This is interesting. Can i complete this ?

[2017-10-13 11:45] AdiChat commented on #1380
@vshelke Possibly, @flavian11 is working on it. You can browse through our code base to see scopes of contribution 👍

[2017-10-13 12:21] AdiChat commented on #706
Merged 👍

[2017-10-13 13:01] Z-Fikar opened #1389 "Automorphic Numbers in Any Language"
Well, I said in any language but I only implented it in `Java` here #1387, and it already had `C++` and `Python`.

And I also tried  to make the `README.md` file for it, I don't know if it's good enough.

Please review it, @AdiChat and thank you for all your hard work.

[2017-10-13 13:09] nickdex commented on #1120
Created PR for JS implementation. Refer to #1388
Working on Java implementation

[2017-10-13 13:15] gummaph opened #1391 "java code for "FindingSquare" alogrithm incorrect"
since the variable 'i' that is used in =the for loop has integer data type; values like 5 is being treated as Perfect square(Incorrect behaviour).

'i' needs to be float

Also you have unused variables.

[2017-10-13 13:41] dusty-wil commented on #1391
Can I look at this?

[2017-10-13 14:20] dusty-wil commented on #1391
@gummaph @AdiChat and, can I add a python version?

[2017-10-13 14:37] tbhaxor commented on #1318
@AdiChat  created same in python too

kindly merge them :D

[2017-10-13 14:56] divyam3897 opened #1403 "Issue and Pull request template"
I couldn't find an Issue and Pull request template in .github, it can make the issues and Pull requests more organized?

[2017-10-13 14:57] divyam3897 commented on #1403
I can add them following https://github.com/blog/2111-issue-and-pull-request-templates

[2017-10-13 15:59] candalo opened #1406 "Add fibonacci implementation in Clojure"
I'll create a fibonacci implementation in Clojure

[2017-10-13 16:45] raghav710 commented on #11
@AdiChat the C# code wasnt compiling, made it compile and refactored it a bit!

[2017-10-13 16:47] AdiChat commented on #1403
Sure @divyam3897 Go ahead and add one 👍

[2017-10-13 16:48] AdiChat commented on #1391
Sure @dusty-wil Go for it 👍

[2017-10-13 16:56] candalo commented on #1318
I have added a palindrome checker implementation in Clojure
#1413

[2017-10-13 17:03] arvchristos opened #1415 "Contribute implementation that already exists"
I wrote a max heap implementation in c++ that is generic and sorts pairs of (data,key) based on their key. There is already a max heap implementation. Should I contribute my code and if so how should I do so that it does not conflict with the other commit?

[2017-10-13 17:05] shubhamcr commented on #688
Added C implementation PR #1414

[2017-10-13 17:05] sgrG24 commented on #1315
can i also complete this??

[2017-10-13 17:05] AdiChat commented on #1415
You can modify the existing implementation 👍

[2017-10-13 17:07] arvchristos commented on #1415
@AdiChat  this would be more of a replacement rather than modification but I will do so. Thank you for the immediate response.

[2017-10-13 17:17] dusty-wil commented on #1391
@AdiChat Thanks! Just created the PR. It looks like someone already made a python version, so I won't attempt to duplicate their effort.

[2017-10-13 17:22] sgrG24 commented on #1245
Working on c++ implementation, i will upload soon.

[2017-10-13 17:39] sgrG24 commented on #1169
i will implement it in cpp

[2017-10-13 17:46] AdiChat commented on #1315
Sure. Go for it 👍

[2017-10-13 18:12] #1406 closed

[2017-10-13 18:13] Rishabh570 commented on #1380
can i do this....?

[2017-10-13 18:16] AdiChat commented on #1380
Sure @Rishabh570 Go for it 👍

[2017-10-13 18:22] Rishabh570 commented on #714
can i do this in c ??

[2017-10-13 18:25] Rishabh570 commented on #706
can i do this in c ??

[2017-10-13 18:30] Rishabh570 commented on #199
can i do this in c or it is done..?

[2017-10-13 18:33] Rishabh570 commented on #38
can i do this in c

[2017-10-13 18:35] Rishabh570 commented on #11
i can do this in c..

[2017-10-13 18:39] Rishabh570 commented on #3
i will do it in c

[2017-10-13 18:47] danielcarletti commented on #26
Added code in Ruby

[2017-10-13 19:26] AdiChat commented on #38
Sure @Rishabh570 Go for it 👍

[2017-10-13 19:29] AdiChat commented on #706
The `C` code has been done 👍 Kindly take a look at other scopes of contribution 😄

[2017-10-13 19:30] AdiChat commented on #714
Sure 👍

[2017-10-13 19:30] AdiChat commented on #706
Sure 👍

[2017-10-13 19:31] AdiChat commented on #199
The `C` code exists 👍 Kindly take a look at other scopes of contribution 😄

[2017-10-13 19:32] UtkarshGupta-CS commented on #1093
I will be going ahead with Javascript implementation for the same.

[2017-10-13 19:55] rishav-pandey commented on #1380
@AdiChat
You just stopped to vshelke for doing this and welcomed to Rishabh70
What's the scenario??

[2017-10-13 20:04] AdiChat commented on #1380
Oh. I did not notice that the issue is in C. Sorry for the confusion 👍

@vshelke @Rishabh570 You can work on this in any language other than `C` 👍

[2017-10-13 20:26] faiyaz26 opened #1429 "Quicksort implementation is duplicated"
Quicksort implementation is given both [here](https://github.com/OpenGenus/cosmos/tree/master/code/sorting/quick_sort), [here](https://github.com/OpenGenus/cosmos/tree/master/code/divide_conquer/Quick_Sort) and [here](https://github.com/OpenGenus/cosmos/tree/master/code/divide_conquer/quick_sort)

I think rather having two different directories for the same thing is redundant. Rather this [directo

[2017-10-13 20:29] faiyaz26 opened #1430 "Add implementation for Inversion count in any language"
Add python implementation for Inversion count problem [here](https://github.com/OpenGenus/cosmos/tree/master/code/divide_conquer/inversion_count)

[2017-10-13 21:42] faiyaz26 opened #1433 "Python implementation of Trie is not runnable"
There is an undefined variable [here](https://github.com/OpenGenus/cosmos/blob/65a75134a92629687ecdbd5537e5b1f35ea87805/code/data_structures/trie/Trie.py#L15)

Also the implementation doesn't provide the way of using the implementation

[2017-10-13 22:21] #1433 closed

[2017-10-13 22:42] nikw92 commented on #1430
I'd like to take this.

[2017-10-13 22:59] AdiChat commented on #1430
Sure @nikw92 Go for it 👍

[2017-10-14 00:03] LuckehPickle commented on #1245
@sgrG24 Hey, just FYI, I believe there is already a C++ implementation.

[2017-10-14 00:33] AdiChat opened #1437 "Add code for longest bitonic sequence in any language"
Add the code for `longest bitonic sequence` in any language ( `C`, `JavaScript`, `Java`, `Go`, `Python` or any other)

A bitonic Sequence is a sequence of numbers which is first strictly increasing then after a point strictly decreasing.

The code should be placed at [code/dynamic_programming/longest_bitonic_sequence](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/longest

[2017-10-14 01:04] FrankKair commented on #1429
You're right. I can see why there are two paths for Quicksort, since it does belong to divide and conquer, but also, err... it's a sorting algorithm.

I agree with you in the sense that we should have only one directory, but I don't think it should be the one you suggested. The directory doesn't follow the naming convention that this project uses. And the other one has more files already... I mean

[2017-10-14 01:14] FrankKair commented on #967
I commented on your PR. This is great!

[2017-10-14 01:50] sidmishraw opened #1439 "There are 2 python files for longest_palindromic_sequence"
`Longest_palindromic_sequence.py` and `longest_palindromic_sequence.py`. Which is the correct one?
![screen shot 2017-10-13 at 6 47 30 pm](https://user-images.githubusercontent.com/16849827/31571409-021b200a-b047-11e7-9a48-6ddb9da0bf0b.png)

- Sid

[2017-10-14 02:00] sidmishraw commented on #1439
Well, these files sure did a number on my fork😞

I'll wait for your merge then.

[2017-10-14 02:00] AdiChat commented on #1429
We work as a community :family_man_woman_girl_boy: . If some of us think that it should be merged, then it will be merged 😃

The idea behind duplicate categories in different paths is to keep each path complete in itself. I think it will distract a user if he or she has to navigate from one path to another to gain knowledge of a particular category.

One possible solution is to maintain a list of

[2017-10-14 02:05] Vitorvgc commented on #1439
I think that the `longest_palindromic_sequence.py` is also more enhanced, as it uses only O(n) space instead of the other implementation that uses O(n^2).

[2017-10-14 02:11] AdiChat commented on #1439
Yes, it is 👍
I have fixed it 👍

[2017-10-14 02:29] sidmishraw commented on #1439
Fixed my fork, thanks 👍

[2017-10-14 02:29] #1439 closed

[2017-10-14 02:30] smb564 commented on #1437
Hi @AdiChat I would like to work on this issue. I can implement the algorithm in python. I am planing to use dynamic programming. I'll be storing Longest Increasing Subsequence and Longest Decreasing Subsequence as stored values and compute the output, which I think is an efficient approach for solving this.

[2017-10-14 02:36] AdiChat commented on #1437
Sounds good, Go for it 👍

[2017-10-14 02:53] Vitorvgc commented on #1437
Added C implementation: #1442

[2017-10-14 03:09] smb564 commented on #1437
I have added the the python implementation. Please let me know if there's any issues. Btw this is my first contribution to open source :)

[2017-10-14 03:23] Rishabh570 commented on #3
I have implemented exponential search in c
Kindly review it #1447 .

[2017-10-14 03:26] smb564 opened #1448 "Add Millar Rabin algorithm in python"
Currently this is only implemented in cpp. I would like to implement it in python.

[2017-10-14 03:31] smb564 commented on #1448
Hi @AdiChat if the issues sounds okay, it would be so nice if you can label this as Hacktoberfest :) I am participating in that.

[2017-10-14 03:52] #1448 closed

[2017-10-14 04:12] Rishabh570 commented on #812
i will do it in c but where do i put code...?

[2017-10-14 04:28] Rishabh570 commented on #1340
can i do it in c...?

[2017-10-14 04:32] Rishabh570 commented on #1318
i can do it in c...working on it.

[2017-10-14 06:04] Rishabh570 commented on #687
done it in c

[2017-10-14 06:24] nickdex commented on #1120
Created PR for Java implementation. Refer to #1449.

[2017-10-14 06:44] rishav-pandey opened #1453 "program in shell scripting"
Can you please inform that shell script codes can be uploaded here??

As this is also very important for linux users and to be a successful programmer being familiar with linux is also very necessary.

[2017-10-14 07:55] AdiChat commented on #1453
Yes, shell scripting has a central position at **Cosmos** 👍

We need shell scripts to solving problems 😃

[2017-10-14 08:00] rishav-pandey commented on #1453
I have made few codes in shell script which support *bash shell execution.
After writing more programs I will upload it.
This will give a conceptual knowledge on working with shell script.
Thank you.

[2017-10-14 08:01] AdiChat commented on #1453
Sounds great 😍

[2017-10-14 08:18] AdiChat commented on #1340
Sure @Rishabh570 Go for it 👍

[2017-10-14 08:22] AdiChat commented on #1318
@Rishabh570 You need to create a folder `lapindrome` under _code/string-algorithms/_ and place your code there 👍

[2017-10-14 08:28] AdiChat commented on #812
@Rishabh570 The code is to be place at _code/unclassified/2sum/_ 👍

[2017-10-14 08:39] gummaph commented on #1391
closing issue. thanks.

[2017-10-14 08:39] #1391 closed

[2017-10-14 08:50] amankh99 commented on #181
@AdiChat, We have another version of edit distance which is space efficient version used to align dna sequences, as they are very large so we can not use just O(mn) space (m, n- length of two strings), so I want to add code in C++ of O(2*m) space, also in both versions of code I want to like to add backtracking part, means finally what are aligned sequences are? Please assign me this work.

[2017-10-14 09:11] fisian commented on #1292
If there are more implementations of cellular automata it would be nice if they would not be categorized in the 'uncategorized' section.

[2017-10-14 10:04] bvwells commented on #806
Added in Go.

[2017-10-14 10:16] AdiChat commented on #1292
Yes @fisian We can create a new root category named `cellular_automata` 👍

[2017-10-14 10:19] AdiChat commented on #181
Yes, @amankh99 Go ahead and make a pull request 👍

[2017-10-14 12:24] sgrG24 commented on #1245
@LuckehPickle  Thanks for pointing this.

[2017-10-14 13:48] suve commented on #1318
Sorry to burst in uninvited, but it's "palindrome", not "lapindrome".

[2017-10-14 14:06] adithyabhatkajake commented on #1453
I have some bash scripts.
1. A script to download a link that you have copied.
2. A script to convert a given format media files to mp3 in the given folder.
Can I upload them here?

[2017-10-14 14:12] AdiChat commented on #1318
@suve You are always invited 😄

It is `lapindrome`. We do have a section for `palindrome` under `string-algorithms` as well 👍

Lapindrome is a string which when split in the middle, gives two halves having the same characters and same frequency of each character. If there are odd number of characters in the string, we ignore the middle character 👍

[2017-10-14 14:13] AdiChat commented on #1453
@adithyabhatkajake You can place them in a folder named `utilities` under `unclassified`

[2017-10-14 14:31] AdiChat opened #1468 "Add code for matrix chain multiplication in any language"
Add the code for `matrix chain multiplication` in any language ( `C`, `Swift`, `Java`, `Go`, `Python` or any other)

The code should be placed at [code/dynamic_programming/matrix_chain_multiplication](https://github.com/OpenGenus/cosmos/tree/master/code/dynamic_programming/matrix_chain_multiplication)

Sample `C++` code: [see](https://github.com/OpenGenus/cosmos/blob/master/code/dynamic_programmin

[2017-10-14 14:43] Jiraphapa commented on #1430
I've tried adding javascript implementation for Inversion count problem. Apologize if there are any mistakes, this is my very first pull request !

[2017-10-14 15:09] ansonb commented on #665
I would like to implement this in python

[2017-10-14 15:10] AdiChat commented on #665
Sure @ansonb Go for it 👍

[2017-10-14 15:13] talsperre commented on #1468
@AdiChat
I will look into it

[2017-10-14 15:17] AdiChat commented on #1468
Sure. Do it in `C` or any other language as `C++` implementation exists. Go for it 👍

[2017-10-14 15:32] Texla opened #1481 "Add code postfix_evaluation.sh in /code/data_structures/stack/postfix_evaluation"
i am adding bash script in _/code/data_structures/stack/postfix_evaluation_

[2017-10-14 15:35] beingadityak commented on #1468
Please assign this to me. I'm working on this in python (Dynamic Programming)

[2017-10-14 15:35] rishav-pandey commented on #1453
@AdiChat
I think code for shell scripting should be in a seperate folder in code itself. As this is also very important, because in Unclassified folder we generally put those code which don't belong to separate topic. But Shell Script should be separate topic here.

[2017-10-14 15:38] AdiChat commented on #1468
Sure. Go for it 👍

[2017-10-14 15:45] beingadityak commented on #1468
Please review the PR #1483

[2017-10-14 15:50] Jiraphapa commented on #1297
Implemented power of 2 in javascript #1484

[2017-10-14 16:09] amankh99 commented on #181
Please review the [pull request](https://github.com/OpenGenus/cosmos/pull/1486l) and suggest any changes.

[2017-10-14 16:37] beingadityak commented on #1437
Please assign this to me. I am coding it in Java.

[2017-10-14 16:40] AdiChat commented on #1437
Sure. Go for it 👍

[2017-10-14 16:41] beingadityak commented on #1437
Please review PR #1491

[2017-10-14 16:44] anshullahoti commented on #1389
I will implement in c.

[2017-10-14 16:50] nickdex commented on #1297
Add C# implementation to check power of 2. Refer #1492

[2017-10-14 16:55] AdiChat commented on #1389
Sure @anshullahoti Go for it 👍

[2017-10-14 17:14] ansonb commented on #665
kindly review the python implementation #1497

[2017-10-14 17:37] beingadityak commented on #1245
I'm writing a solution in python

[2017-10-14 17:55] vaibhavsingh97 opened #1503 "Add Codacy and Hound CI to inspect PR"
- This will help to maintaing code quality
- Hound CI comments on style violations in GitHub pull requests, allowing us to better review and maintain a clean codebase.

[2017-10-14 18:03] nickdex commented on #1120
Created PR for C# implementation. Refer to #1505

[2017-10-14 18:16] beingadityak commented on #1245
Please, review the PR #1510

[2017-10-14 18:32] UtkarshGupta-CS commented on #661
Added implementation in JS: #1518

[2017-10-14 18:34] vaibhavsingh97 commented on #1503
These are the issues suggested by codacy
![image](https://user-images.githubusercontent.com/8705386/31578303-2ba480e8-b10e-11e7-8c73-248d4cfb72ed.png)
![image](https://user-images.githubusercontent.com/8705386/31578304-3535e82c-b10e-11e7-9f33-b00595a2fd26.png)

[2017-10-14 18:34] vaibhavsingh97 commented on #1503
@AdiChat Just enabled that and open issue to add codacy badge in readme. This will fix the issue and in the mean time i will add hound ci config

[2017-10-14 18:50] FrankKair commented on #1503
This is awesome @vaibhavsingh97 ! 😄

[2017-10-14 19:00] Gupta-shifali commented on #1380
Can I implement this in c++ @AdiChat?

[2017-10-14 19:10] vaibhavsingh97 commented on #1468
will add in python 😄

[2017-10-14 19:39] Texla opened #1536 "Add Code queue_using_stacks.sh in /code/data_structures/queue/queue_using_stacks"

[2017-10-14 19:50] yatharthshahjpr commented on #1468
I have added the code for the same in java may kindly review the PR #1537

[2017-10-14 19:55] yatharthshahjpr commented on #1380
@AdiChat , Please review Create DoublyLinkedList.java #1539 ! 👍

[2017-10-14 20:03] abhishekjiitr opened #1541 "add bloom-filter implementation in various languages"
would like to add bloom filter code in **_data_structures/bloom-filter_**

[2017-10-14 20:16] kanaygupta commented on #732
Can i code this in c++?

[2017-10-14 20:32] kanaygupta commented on #1152
Can i work on the java implementation of this ?

[2017-10-14 20:40] kanaygupta commented on #1152
check my PR #1544

[2017-10-14 20:54] UtkarshGupta-CS commented on #269
Added Javascript implementation in PR #1545

[2017-10-14 21:11] JonNRb commented on #1315
Updated PR: https://github.com/OpenGenus/cosmos/pull/1499

[2017-10-14 21:42] abhishekjiitr commented on #1541
@AdiChat

[2017-10-15 02:23] AdiChat commented on #1541
Sure. Go for it 👍

[2017-10-15 03:41] UtkarshGupta-CS commented on #1437
Added JS Implementation: PR #1559

[2017-10-15 04:25] karanchawla opened #1562 "Adding max sub matrix sum"
Hey I'd like to add maximum sub matrix sum in the a matrix to the repo? Basically use Kadane's algorithm for each column to find the coordinates of the sub matrix.

[2017-10-15 05:28] daipeihust opened #1565 "Duplicate files in quick_sort, bead_sort"

[2017-10-15 06:17] tiagorlampert opened #1568 "Add code "Power Of 2 in Go" /code/bit-manipulation/power_of_2/PowerOf2.go"
[PR #1549](https://github.com/OpenGenus/cosmos/pull/1549)

Added code _PowerOf2.go_ ready to be merged.

`/code/bit-manipulation/power_of_2/PowerOf2.go`

[2017-10-15 07:10] iattempt opened #1577 "add tool: use 'uncrustify' to auto format code in c-like languages"
[uncrustify](https://github.com/uncrustify/uncrustify)

an example config in cpp
[uncrustify-config.txt](https://github.com/iattempt/cosmos/commit/cd1d2d2fbc186419bedd8e997fa37d461e725ba4)

[2017-10-15 08:08] AdiChat commented on #732
Sure @kanaygupta Go for it 👍

[2017-10-15 08:11] AdiChat commented on #1033
Sure @varishtsg Go for it 👍

[2017-10-15 08:29] amankh99 commented on #181
@AdiChat , For adding backtracking part means getting the aligned sequences in edit_distance problem having O(m*n) space complexity (m, n - length of strings) should I make a new file or should modify the existing file made by Vitorvgc.

[2017-10-15 10:22] ron-debajyoti commented on #1468
I have added the code for the same in python.
Kindly review the PR #1589

[2017-10-15 10:33] ron-debajyoti commented on #1292
I can add Langton's Ant in python using turtle package

[2017-10-15 11:56] rajatbajaj000 commented on #1380
@flavian11 can i work on this?

[2017-10-15 12:33] ritwik12 commented on #909
Added implementation in C
PR #1598

[2017-10-15 13:16] AdiChat commented on #1380
Sure @rajatbajaj000 Go for it 👍

[2017-10-15 13:46] vaibhavsingh97 commented on #1468
@ron-debajyoti You should wait for my PR atleast for a day and then you could asked me if i wasa working or not. I was about to send PR. Can we follow FOSS best practices.

[2017-10-15 14:22] Trion129 commented on #1314
I would like to do this!

[2017-10-15 14:40] canberkkoc opened #1603 "Adding K_means algorithm example"
Hello all ,

I want to add a small examle for K-means algorithm.

[2017-10-15 15:22] tbhaxor opened #1608 "some new stuff"
@AdiChat some new stuff

[2017-10-15 15:35] ron-debajyoti commented on #1468
@vaibhavsingh97 Very sorry for not asking you. Will not happen again for sure.

[2017-10-15 17:08] AdiChat commented on #1314
Sure @Trion129 Go for it 👍

[2017-10-15 17:10] AdiChat commented on #1468
No problem @ron-debajyoti 😄 Take a look at other scopes of contribution. We have plenty 🎉

[2017-10-15 17:30] canberkkoc opened #1616 "Quick Sort Algorithm with Rust"
Hey,
I want to add quicksort.rs

[2017-10-15 17:52] beingadityak commented on #1562
Can I know where's the source file to be kept for this problem? I'm coding the solution in Java

[2017-10-15 18:13] #1568 closed

[2017-10-15 18:16] canberkkoc opened #1621 "Radix sort README.md"
Hello,

I want to add README.md for radix sort

[2017-10-15 18:21] AdiChat commented on #1562
@beingadityak You need to create a new directory named `maximum_sub_matrix_sum` under `dynamic_programming` 👍

[2017-10-15 18:29] beingadityak commented on #1562
Please refer PR #1624

[2017-10-15 18:54] kbrgl opened #1626 "Adding Haskell palindrome checker"
I'm adding a palindrome checker in Haskell.

[2017-10-15 19:19] #1562 closed

[2017-10-15 19:27] kbrgl opened #1632 "Adding Ruby array shuffle"
I'm adding a Ruby array shuffle algorithm.

[2017-10-15 19:30] prashant0598 opened #1634 "Issue & PR template"
@AdiChat I was thinking that as our community is growing it is better to have an issue and PR template for new contributors.

[2017-10-15 19:40] kbrgl opened #1635 "Adding Ruby bogosort"

[2017-10-15 20:02] kbrgl opened #1637 "Adding Golang coprime"

[2017-10-15 20:29] VibhuKesar commented on #711
Hello, I uploaded avl code in java. It would be very kind of you, if you could review it. https://github.com/OpenGenus/cosmos/pull/1639
Thanks

[2017-10-15 20:48] AdiChat commented on #1634
Yes, we need one and we have [a pull request](https://github.com/OpenGenus/cosmos/pull/1419) for this. You can help to make it more central to _Cosmos_ 👍

[2017-10-15 22:03] derekmartinez18 commented on #314
Can I implement in JavaScript?

[2017-10-16 01:08] gustavokath commented on #556
Implemented minheap in Ruby #1660
Please Review 😄

[2017-10-16 01:38] jdalrymple commented on #1637
Ill look into this one! :D

[2017-10-16 02:50] cameronbroe opened #1667 "Adding Racket binary search"
I noticed that there was no Racket (or any Lisp) implementation of binary search. Adding a PR for this to go along with this issue.

[2017-10-16 02:57] accakks commented on #1380
@AdiChat Can I work on this using python?

[2017-10-16 05:13] alphaguy4 opened #1670 "There is no repository for Machine learning algorithms"
Hi
There should be repository for different machine learning algorithms.
Can i add some ml algos ?

[2017-10-16 05:25] prashant0598 commented on #1670
@alphaguy4 you can go ahead & do it. What say @AdiChat

[2017-10-16 05:47] the-ethan-hunt commented on #1670
Actually,we have added some ML algos in the artificial intelligence folder. Check them out!

[2017-10-16 06:59] #1536 closed

[2017-10-16 07:00] #1481 closed

[2017-10-16 07:02] #1608 closed

[2017-10-16 07:54] tharun208 opened #1676 "Adding Palindrome Checker In PureScript"

[2017-10-16 07:55] tharun208 commented on #1676
Assing this Issue to me

[2017-10-16 08:10] tbhaxor opened #1677 "add lapindrome_checker in any language"
add code for lapindrome_checker in **/code/string-algorithms**
I am coding in `cpp` `csharp` `python3`

### What is Lapindrome ?
_Lapindrome is defined as a string which when split in the middle, gives two halves having the same characters and same frequency of each character. If there are odd number of characters in the string, we ignore the middle character and check for lapindrome_

[2017-10-16 09:13] ritwik12 opened #1680 "Duplicate quicksort.cs"
I can see two implementations of quicksort for C#.
One as [quickSort.cs](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/quick_sort/quickSort.cs) and another as [quick_sort.cs](https://github.com/OpenGenus/cosmos/blob/master/code/sorting/quick_sort/quick_sort.cs).
According to me, we should choose the best of them whenever we have two codes for the same language.
Rest is on you guys :

[2017-10-16 09:20] ritwik12 commented on #1072
@AdiChat I agree with you, but I have a suggestion for this.
Instead of duplicating the files and directories to keep each category in self-satisfying in itself.
What we can do is, we can keep the files where they are most suited and for other categories, we can just give links to them using a README.md in each category.

[2017-10-16 11:03] rkaranam commented on #1677
@tbhaxor Can I work on **Java** solution for this problem?

[2017-10-16 11:12] tbhaxor commented on #1677
@rkaranam :+1:

[2017-10-16 12:25] AdiChat commented on #1676
Sure @tharun208 Go for it 👍

[2017-10-16 12:27] AdiChat commented on #1670
Sure @alphaguy4 Go for it 👍

Actually, we included `machine learning` algorithms in `artificial intelligence` directory as it is a subset but we can create a root directory for it due to its importance 👍

[2017-10-16 14:25] alphaguy4 commented on #1670
@AdiChat @the-ethan-hunt
all the basic algos of `machine learning ` has already been included in `artificial intelligence` directory.
Don't you think those algos must be in a separate directory named `machine learning`.

[2017-10-16 15:19] Mumbaikar007 commented on #1677
I would like to try a c++ solution if you don't mind :yum:

[2017-10-16 16:17] arnavb commented on #1680
I vote keeping the second one, since it is more generic.

[2017-10-16 16:34] #1318 closed

[2017-10-16 16:40] tbhaxor commented on #1677
@AdiChat bro kindly review this too 😮

[2017-10-16 16:47] Mumbaikar007 commented on #1677
@tbhaxor  okk pal :sweat_smile:

[2017-10-16 17:00] arnavb commented on #1680
This issue can be closed now

[2017-10-16 17:57] jonnrb opened #1702 "Add a standard build system to Cosmos"
With most of the code in this repository being written in compiled languages (Java, C++, C, and Go make up over 75% of the codebase) we should have a standard build system.

1. A standard build system lets us run CI on the codebase to make sure all PRs actually build before they are merged.
2. If we have a build system, we can build more complex data structures and algorithms on top of simpler one

[2017-10-16 18:01] arnavb commented on #1702
This would also allow the creation of a coding standard, since CI's allow that. I personally agree, but it is really up to AdiChat.

[2017-10-16 18:06] JonNRb commented on #672
I have a pure C implementation that works like a min-heap and has push and pop functions. I wouldn't mind contributing it.

[2017-10-16 18:27] busraselinpekisci opened #1704 "Creating Readme for Hash Table"
Hey,

I want to add a little readme for Hash Table data structure.

[2017-10-16 19:43] divyam3897 commented on #1634
there is already an issue for this https://github.com/OpenGenus/cosmos/issues/1403 , so this can be closed.

[2017-10-16 19:54] divyam3897 opened #1711 "Operating system algorithms"
I couldn't find any OS algorithms. They can probably be added too.

[2017-10-16 20:03] setupminimal commented on #259
I'd like to add this in Haskell.

[2017-10-16 20:37] AdiChat commented on #1711
Yes, this will be any important section 👍

[2017-10-16 20:43] divyam3897 commented on #1711
will start with a few and then create separate issues for each one of them like FCFS, Priority scheduling to start with a few 👍

[2017-10-16 20:44] tbhaxor commented on #1711
@AdiChat i know about FCFC (First Come First Serve) algo
Can i make it? 😕

[2017-10-16 21:00] AdiChat commented on #1711
Sure. Go for it 👍

[2017-10-16 21:16] leodevo commented on #331
#1717

Added it for the quicksort algorithm

[2017-10-16 21:18] vaibhavdaren commented on #1711
Can i work on  it?

[2017-10-16 22:00] #1634 closed

[2017-10-16 22:06] prashant0598 commented on #1403
@divyam3897 in pull request template u can add  a checklist whether the code is properly commented and also whether the branch is up-to-date or not with master branch.

[2017-10-17 01:41] gabimsaraujo commented on #1677
Hi, what about a solution in C? I could give it a try.

[2017-10-17 03:23] AdiChat commented on #1677
Syre @gabimsaraujo Go for it 👍

[2017-10-17 04:25] vshelke opened #1744 "Add morse code generator."
A program which converts input string to morse code.

[2017-10-17 05:01] chrlee opened #1745 "Add DP Algorithm"
I would like to implement an algorithm to find the number of possible paths from (0,0) to (M,N) in an MxN matrix where the only moves are right and down (so +1 on x or y) in C++. This would go under Dynamic Programming. Thanks.

[2017-10-17 05:42] williamfiset commented on #1745
I would change the issue name to "Finding paths of a lattice grid". Also, you can also solve this with combinatorics, no need for DP. Use nCr where n = N+M and r = either N or M.

[2017-10-17 05:59] antonmedv opened #1747 "Wrong implementation of Hash Table in JS"
https://github.com/OpenGenus/cosmos/commit/3a79981fa79c5bf873c9bf2e995deac70bb6e8ec#diff-672c4e5c26f39be324017d87e8ca749eR3

This is not hash table implementation. You are reusing object hash table. Same way you can just use `Map`.

[2017-10-17 06:05] chrlee commented on #1745
@williamfiset Updated the issue name

[2017-10-17 07:58] pritamnegi commented on #1711
Can I also add code of some scheduling algorithms and classical problems in OS?

[2017-10-17 08:00] #1280 closed

[2017-10-17 08:01] #1231 closed

[2017-10-17 08:01] #1169 closed

[2017-10-17 08:01] #1159 closed

[2017-10-17 08:01] #1127 closed

[2017-10-17 08:01] #1122 closed

[2017-10-17 08:02] #1119 closed

[2017-10-17 08:09] Mumbaikar007 commented on #1711
@divyam3897
I have SSTF of disk scheduling and a few like Banker Algorithm - Safety Algorithm in C
May I request a pull for them ?

[2017-10-17 08:31] divyam3897 commented on #1711
@Mumbaikar007 sure, I am adding priority scheduling and round robin scheduling 👍

[2017-10-17 10:26] michaelkrone commented on #1744
I would like to add this in JavaScript. Where should this be located in the folder structure?

[2017-10-17 10:51] AdiChat commented on #1744
@michaelkrone The code shall be placed at `code/cryptography/morse_cipher/` 👍

[2017-10-17 10:56] abhishekjiitr commented on #1541
#1762 python implementation done!

[2017-10-17 10:58] abhishekjiitr commented on #172
since a lot of advanced data structures have been accommodated, shall we close this issue @AdiChat ?

[2017-10-17 11:01] coffe2code commented on #172
Can I add code in C++ for AVL trees, Red-Black Trees etc.

[2017-10-17 11:10] coffe2code commented on #1745
@chrlee  I have a solution to the issue. I am however new to the issue, could you tell me in brief how to post the solution. Thanks

[2017-10-17 11:44] ritwik12 commented on #909
Implemented in Java.
PR #1766

[2017-10-17 11:58] abhishekjiitr commented on #172
sure, just make sure these things are not done by someone else already!

[2017-10-17 12:01] abhishekjiitr commented on #1670
separate directory would be better :+1:

[2017-10-17 13:01] abdouskamel opened #1769 "Add the median of medians algorithm"
Hello everybody, i'm new here and i'd like to give a small contribution to this project.
I noticed that there's no code for the median of medians algorithm, a deterministic algorithm for selecting with linear complexity. I wrote it, and i'd be glad to add it to the project. So i'm asking you if that algorithm would be helpful.

Thanks for reading (sorry for bad english).

[2017-10-17 13:02] AliKarpuzoglu commented on #427
I have a java implementation using a hillclimber and simulated annealing to optimize it

[2017-10-17 13:11] Nufflee opened #1770 "What about C#?"
Hello everyone, I just wanted to ask do you accept C# contributions because I don't see any in the repo.

[2017-10-17 13:15] AdiChat commented on #1769
Sure @abdouskamel Go and add it 👍